Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Remove unused i18n keys
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
Owners: @cmcewen, @jmrossy

More tweaks
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/escrow/ReclaimPaymentConfirmationCard.tsx
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationCard.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/PaymentRequestReviewCard.tsx
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestConfirmation.test.tsx.snap
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/send/__snapshots__/SendConfirmation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
Owners: @cmcewen, @jmrossy

Update snapshot
  packages/react-components/components/__snapshots__/ReviewFrame.test.tsx.snap
Owners: @cmcewen, @jmrossy

Update verifier snapshot
  packages/verifier/src/components/TransactionReview/__snapshots__/VerificationReviewScreen.test.tsx.snap
Owners: @jmrossy, @cmcewen

Tweak default wording for notifications
  packages/mobile/locales/en-US/inviteFlow11.json
  packages/mobile/locales/en-US/paymentRequestFlow.json
  packages/mobile/locales/es-419/inviteFlow11.json
Owners: @cmcewen, @jmrossy

updated based on comments
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

adds tagged feature to ArticlesData to fetch only medium posts with specific tag
  packages/web/server/index.ts
  packages/web/src/community/connect/ArticleData.tsx
Owners: @cmcewen, @aaronmgdr

Economic Currency Language (#3093)
  packages/web/public/static/locales/en/applications.json
  packages/web/public/static/locales/en/dev.json
  packages/web/public/static/locales/en/home.json
  packages/web/public/static/locales/en/technology.json
Owners: @cmcewen, @aaronmgdr

Fix snapshot
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
Owners: @cmcewen, @jmrossy

WIP
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
Owners: @timmoreton

Fix error sorting data on Validator Explorer
  packages/web/src/dev/ValidatorsList.tsx
Owners: @cmcewen, @aaronmgdr

Fix error sorting data on Validator Explorer (#3096)
  packages/web/src/dev/ValidatorsList.tsx
Owners: @cmcewen, @aaronmgdr

[Wallet] Upgrade version to 1.6.2 (#3087)
  packages/mobile/android/app/build.gradle
  packages/mobile/android/gradle.properties
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/package.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
Owners: @cmcewen, @jmrossy

use async support in react-native-tcp for connectIPC
  packages/mobile/package.json
Owners: @cmcewen, @jmrossy

forgot to add yarn.lock
  yarn.lock
Owners: @timmoreton

Update values according to spreasheet
  packages/celotool/src/lib/genesis_constants.ts
Owners: @timmoreton

Fetch alliance articles for alliance page, add error states, fix breakage when only one article found
  packages/web/server/index.ts
  packages/web/server/mediumAPI.ts
  packages/web/src/alliance/Main.tsx
  packages/web/src/community/connect/ArticleData.tsx
Owners: @cmcewen, @aaronmgdr

remove frozenGold since it requires reserve to have a balance greater than it, will require a governance proposal to initialize after the transfer of gold to reserve
  packages/dev-utils/src/migration-override.json
  packages/protocol/migrations/08_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
Owners: @timmoreton, @asaj, @m-chrzan

bumped double signing slashing penalty to 9k
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Adding env and mnemonic
  .env.mnemonic.rc0.enc
  .env.rc0
  scripts/key_placer.sh
Owners: @timmoreton

Remove Creative Commons License
  packages/web/public/static/locales/en/brand.json
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/common/CCLicense.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/shared/InlineAnchor.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Adding contract proxy owners as contract deployer address
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

self review
  packages/web/server/mediumAPI.ts
  packages/web/src/community/connect/ArticleData.tsx
Owners: @cmcewen, @aaronmgdr

Addressing review
  .env.rc0
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
Owners: @timmoreton

Committing genesis block
  packages/celotool/genesis_rc0.json
Owners: @timmoreton

Removing unnecessary changes
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
  scripts/key_placer.sh
Owners: @timmoreton

Reverting
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Adding genesis creation script
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
  scripts/key_placer.sh
Owners: @timmoreton

Fixing genesis block to avoid validator balances
  packages/celotool/genesis_rc0.json
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Unmerging
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Reverting
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Better variable name
  packages/mobile/src/components/LineItemRow.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationCard.tsx
Owners: @cmcewen, @jmrossy

Add note about null balance and loading state
  packages/mobile/src/navigator/Headers.tsx
Owners: @cmcewen, @jmrossy

adding EpochRewardsWrapper
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/wrappers/EpochRewardsWrapper.ts
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @timmoreton, @nambrot

Allow MoneyAmount value to accept BigNumber.Value instead of only string to simplify usage
  packages/mobile/codegen.yml
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/components/TotalLineItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentListItem.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeRate.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/paymentRequest/PaymentRequestReviewCard.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Owners: @cmcewen, @jmrossy

fix typescript errors
  packages/transaction-metrics-exporter/package.json
  packages/transaction-metrics-exporter/src/blockchain.ts
  yarn.lock
Owners: @nambrot, @timmoreton

fix contractkit version
  packages/transaction-metrics-exporter/package.json
  yarn.lock
Owners: @nambrot, @timmoreton

Unify PIN pad view
  packages/mobile/src/pincode/Pincode.tsx
  packages/mobile/src/pincode/PincodeEnter.tsx
  packages/mobile/src/pincode/PincodeSet.test.tsx
  packages/mobile/src/pincode/PincodeSet.tsx
  packages/mobile/src/pincode/__snapshots__/PincodeEnter.test.tsx.snap
  packages/mobile/src/pincode/__snapshots__/PincodeSet.test.tsx.snap
Owners: @cmcewen, @jmrossy

updates based on feedback
  packages/protocol/migrations/08_reserve.ts
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Addressing trevors comments
  .env.rc0
Owners: @timmoreton
