Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @celo-org/default-owners, @celo-org/devopsre, @celo-org/primitives, @celo-org/mento

Remove deprecated codecov integration (#10954)
  .github/workflows/cron-protocol-test-with-coverage.yml
  README.md
  codecov.yml
  package.json
  yarn.lock
Owners: @celo-org/devopsre, @celo-org/default-owners

More constitution
  packages/protocol/contracts-0.8/common/UsingRegistry.sol
  packages/protocol/contracts/EpochSizePrecompile.sol
  packages/protocol/contracts/common/interfaces/IFeeHandler.sol
  packages/protocol/contracts/governance/BlockchainParameters.sol
  packages/protocol/contracts/governance/interfaces/IGovernanceInitializer.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/identity/interfaces/IOdisPayments.sol
  packages/protocol/contracts/identity/interfaces/IOdisPaymentsInitializer.sol
  packages/protocol/governanceConstitution.json
  packages/protocol/migrations_sol/Migration.s.sol
  packages/protocol/migrations_sol/migrationsConfig.json
  packages/protocol/migrations_sol/start.sh
  packages/protocol/migrations_sol/start_anvil.sh
Owners: @celo-org/primitives

Removal of Governance hotfix
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test-sol/governance/network/Governance.t.sol
Owners: @celo-org/primitives

++ some downtime slasher test
  packages/protocol/test-sol/governance/validators/DowntimeSlasher.t.sol
  packages/protocol/test/governance/validators/downtimeslasher.ts
Owners: @celo-org/primitives

small fixes
  packages/protocol/test-sol/governance/validators/DoubleSigningSlasher.t.sol
  packages/protocol/test-sol/governance/validators/Validators.t.sol
Owners: @celo-org/primitives

++ @celo/dev-utils to dev dependencies
  packages/celotool/package.json
  packages/celotool/src/cmds/local_testnet.ts
  packages/protocol/package.json
  yarn.lock
Owners: @celo-org/devopsre, @celo-org/primitives, @celo-org/default-owners

- updated to use CR 11 instead of 10 - removed general test
  .github/workflows/celo-monorepo.yml
  .github/workflows/protocol-devchain.yml
Owners: @celo-org/devopsre

Bump lockedGold contract version
  packages/protocol/contracts/governance/LockedGold.sol
Owners: @celo-org/primitives

++ tests
  packages/protocol/test-sol/governance/validators/DowntimeSlasher.t.sol
  packages/protocol/test/governance/validators/downtimeslasher.ts
Owners: @celo-org/primitives

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# default owners, overridden by package specific owners below
* @celo-org/default-owners

# directory and file-level owners. Feel free to add to this!

.github/actions/ @celo-org/devopsre
.github/workflows/ @celo-org/devopsre

/dockerfiles/ @celo-org/devopsre

/packages/celotool/ @celo-org/devopsre
/packages/env-tests/ @celo-org/primitives
/packages/helm-charts/ @celo-org/devopsre
/packages/helm-charts/mock-oracle/ @celo-org/mento  @celo-org/devopsre
/packages/helm-charts/oracle-rbac/ @celo-org/mento  @celo-org/devopsre
/packages/helm-charts/oracle/ @celo-org/mento  @celo-org/devopsre
/packages/metadata-crawler/ @celo-org/devopsre
/packages/protocol/ @celo-org/primitives
