Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asaj, @cmcewen, @timmoreton, @jmrossy, @nambrot, @codyborn, @i1skn, @jeanregisser, @mcortesi, @gastonponti, @aaitor, @annakaz, @nategraf, @aaronmgdr, @tkporter, @cla-bel, @bohan-zhang, @pranaymohan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# default owners, overridden by package specific owners below
* @asaj @cmcewen @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/attestation-proxy/ @jmrossy 
/packages/attestation-service/ @nambrot
/packages/azure/ @codyborn
/packages/blockchain-api/ @jmrossy @cmcewen @i1skn @jeanregisser
/packages/celotool/ @asaj
/packages/cli/ @mcortesi @gastonponti
/packages/contractkit/ @mcortesi @gastonponti
/packages/dappkit/ @cmcewen
/packages/dev-utils/ @mcortesi
/packages/docs/ @timmoreton
/packages/faucet/ @jmrossy
/packages/helm-charts/ @nambrot @timmoreton
/packages/metadata-crawler/ @aaitor
/packages/mobile/ @jeanregisser @cmcewen @jmrossy @i1skn 
/packages/moonpay-auth/ @annakaz @i1skn 
/packages/notification-service/ @annakaz @cmcewen @i1skn @jeanregisser
/packages/phone-number-privacy/ @jmrossy
/packages/protocol/ @asaj @nategraf
/packages/react-components/ @jmrossy @aaronmgdr
/packages/reserve-site/ @aaronmgdr
/packages/terraform-modules-public/ @tkporter
/packages/terraform-modules/ @tkporter
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/web/validator-badges @cla-bel @bohan-zhang @pranaymohan
/packages/web/openpgpkey @nategraf
/packages/web/ @aaronmgdr

Cleanup
  packages/protocol/lib/compatibility/ast-version.ts
  packages/protocol/lib/compatibility/categorizer.ts
  packages/protocol/scripts/truffle/deployedGrants.json
  packages/protocol/scripts/truffle/releaseGoldExampleConfigs.json
Owners: @asaj, @nategraf

WIP
  packages/protocol/lib/compatibility/ast-version.ts
  packages/protocol/lib/compatibility/categorizer.ts
  packages/protocol/lib/compatibility/version.ts
  packages/protocol/package.json
Owners: @asaj, @nategraf

Bump major version numbers
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/stability/Exchange.sol
Owners: @asaj, @nategraf

Only show terms once and restore to onboarding education if the user didn't go far enough
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/onboarding/registration/NameAndNumber.test.tsx
  packages/mobile/src/onboarding/registration/NameAndNumber.tsx
  packages/mobile/src/onboarding/welcome/Welcome.test.tsx
  packages/mobile/src/onboarding/welcome/Welcome.tsx
Owners: @jeanregisser, @cmcewen, @jmrossy, @i1skn

Add analytics for create/restore account and cancel action
  packages/mobile/src/analytics/Events.tsx
  packages/mobile/src/analytics/Properties.tsx
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/onboarding/UseBackToWelcomeScreen.tsx
  packages/mobile/src/onboarding/welcome/Welcome.tsx
Owners: @jeanregisser, @cmcewen, @jmrossy, @i1skn

[Wallet] some minor cleanup
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/config.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/fees/CalculateFee.tsx
  packages/mobile/src/flags.ts
  packages/mobile/src/home/NotificationBox.test.tsx
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/selectors.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/missingGlobals.ts
  packages/mobile/src/utils/Logger.ts
  packages/mobile/src/utils/linking.ts
Owners: @jeanregisser, @cmcewen, @jmrossy, @i1skn

Use contractkit for DEK signing
  packages/contractkit/src/utils/phone-number-lookup/phone-number-lookup.ts
  packages/mobile/src/identity/commentEncryption.ts
  packages/mobile/src/web3/dataEncryptionKey.ts
  packages/phone-number-privacy/combiner/src/common/identity.ts
  packages/phone-number-privacy/combiner/src/match-making/get-contact-matches.ts
  packages/phone-number-privacy/combiner/src/salt-generation/get-threshold-salt.ts
  packages/phone-number-privacy/signer/.gitignore
  packages/phone-number-privacy/signer/src/salt-generation/get-salt.ts
Owners: @mcortesi, @gastonponti, @jeanregisser, @cmcewen, @jmrossy, @i1skn

Fix tests
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/lib/compatibility/version.ts
  packages/protocol/test/compatibility/ast-version.ts
  packages/protocol/test/compatibility/version.ts
Owners: @asaj, @nategraf

Add one line fix from Ivan
  packages/mobile/src/verify/VerificationFailedModal.tsx
Owners: @jeanregisser, @cmcewen, @jmrossy, @i1skn
