Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Minor baklava docs reconnection fixes
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Update walletkit gateway fee to fix transactions in forno mode (#2211)
  packages/walletkit/src/contract-utils.ts
Owners: @ashishb, @yerdua

Minor baklava docs reconnection fixes (#2215)
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Update packages/cli/src/commands/election/activate.ts
  packages/cli/src/commands/election/activate.ts
Owners: @mcortesi, @asaj

Update packages/docs/getting-started/running-a-validator.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Update packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/election.md
Owners: @timmoreton, @cla-bel

Wait for only waitTime - 1 blocks (#2207)
  packages/contractkit/src/wrappers/Attestations.ts
Owners: @timmoreton

Update packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/election.md
Owners: @timmoreton, @cla-bel

Various fixes
  baklava_genesis_balances.json
  packages/cli/src/commands/election/list.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/governance/validators.ts
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan

Optimize election:list
  packages/contractkit/src/wrappers/Election.ts
Owners: @timmoreton

Upgrade TS version (#2196)
  package.json
  packages/blockchain-api/package.json
  packages/celotool/src/cmds/deploy/upgrade/ethstats.ts
  packages/celotool/src/cmds/deploy/upgrade/leaderboard.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/cli/package.json
  packages/notification-service/package.json
  packages/react-components/analytics/wrapper.tsx
  packages/react-components/components/TextInput.tsx
  yarn.lock
Owners: @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz

Doc changes to address frequently asked questions (#2209)
  packages/cli/src/commands/election/activate.ts
  packages/cli/src/utils/checks.ts
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/proof-of-stake/README.md
  packages/docs/command-line-interface/election.md
  packages/docs/getting-started/running-a-validator.md
  packages/docs/getting-started/using-the-wallet.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Fix bignumber display in CLI (#2212)
  packages/cli/package.json
  packages/cli/src/utils/cli.ts
Owners: @mcortesi, @asaj

Update packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Instance type as variable
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/startup.sh
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Owners: @timmoreton

upload 0% if no attestation requests
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

Add Reward objects and remove last helper
  packages/cli/src/commands/rewards/show.ts
Owners: @mcortesi, @asaj

adapt code to master
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

leaderboard-fix-connection
  packages/leaderboard/src/board.ts
Owners: @timmoreton

Fix/protocol test flakyness (#2155)
  .prettierignore
  packages/protocol/lib/test-utils.ts
  packages/protocol/runTests.js
  packages/protocol/test/baklava/freezable.ts
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/common/gaspriceminimum.ts
  packages/protocol/test/common/linkedlist.ts
  packages/protocol/test/governance/blockchainparams.ts
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/lockedgold.ts
  packages/protocol/test/governance/validators.ts
  packages/protocol/test/identity/attestations.ts
  packages/protocol/test/identity/random.ts
  packages/protocol/test/stability/exchange.ts
  packages/protocol/test/stability/reserve.ts
  packages/protocol/test/stability/sortedoracles.ts
  packages/protocol/test/stability/stabletoken.ts
  packages/protocol/tsconfig.json
Owners: @timmoreton, @asaj, @m-chrzan

Improve reliability of e2e governance test (#2208)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Fix ts-ignore for TS#3.7.3
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
Owners: @cmcewen, @jmrossy

Updated blockscout and leadeboard versions
  .env.baklava
Owners: @timmoreton

[BlockchainApi] Add ability to get exchange rates from/to cGLD or cUSD (#2005)
  packages/blockchain-api/.env
  packages/blockchain-api/.gcloudignore
  packages/blockchain-api/.gitignore
  packages/blockchain-api/__mocks__/@celo/contractkit.ts
  packages/blockchain-api/__mocks__/firebase-admin.ts
  packages/blockchain-api/app.alfajores.yaml
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.integration.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
  packages/blockchain-api/package.json
  packages/blockchain-api/serviceAccountKey.json.enc
  packages/blockchain-api/src/apolloServer.ts
  packages/blockchain-api/src/config.ts
  packages/blockchain-api/src/currencyConversion.ts
  packages/blockchain-api/src/currencyConversion/CurrencyConversionAPI.test.ts
  packages/blockchain-api/src/currencyConversion/CurrencyConversionAPI.ts
  packages/blockchain-api/src/currencyConversion/ExchangeRateAPI.test.ts
  packages/blockchain-api/src/currencyConversion/ExchangeRateAPI.ts
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.test.ts
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.ts
  packages/blockchain-api/src/currencyConversion/consts.ts
  packages/blockchain-api/src/firebase.ts
  packages/blockchain-api/src/schema.ts
  packages/mobile/src/firebase/db-rules.json
  packages/notification-service/src/config.ts
  scripts/key_placer.sh
  yarn.lock
Owners: @jmrossy, @cmcewen, @annakaz, @timmoreton

Address feedback
  packages/mobile/package.json
  packages/mobile/scripts/run_app.sh
Owners: @cmcewen, @jmrossy

Update packages/docs/celo-codebase/protocol/proof-of-stake/carbon-offsetting-fund.md
  packages/docs/celo-codebase/protocol/proof-of-stake/carbon-offsetting-fund.md
Owners: @timmoreton, @cla-bel

Adding link to governance process.
  packages/docs/celo-codebase/protocol/proof-of-stake/carbon-offsetting-fund.md
Owners: @timmoreton, @cla-bel

Address comments
  packages/mobile/src/app/ErrorBoundary.tsx
  packages/mobile/src/app/ErrorScreen.tsx
  packages/mobile/src/app/UpgradeScreen.tsx
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentLineItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/PaymentRequestNotificationInner.tsx
  packages/mobile/src/send/Fee.tsx
  packages/mobile/src/send/FeeEducation.tsx
  packages/mobile/src/transactions/NoActivity.tsx
Owners: @cmcewen, @jmrossy

Improvement facilitating to run a full node (#2130)
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

Fix crash when segment is enabled
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Owners: @cmcewen, @jmrossy

fix massive gas overspending
  packages/protocol/lib/web3-utils.ts
Owners: @asaj, @m-chrzan

Update documentation wrt. epoch rewards fractions (#2182)
  packages/docs/celo-codebase/protocol/proof-of-stake/carbon-offsetting-fund.md
  packages/docs/celo-codebase/protocol/proof-of-stake/community-fund.md
Owners: @timmoreton, @cla-bel

Updated example with baklava reset
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/main.tf
Owners: @timmoreton

[Wallet] Fix crash on iOS when segment is enabled (#2222)
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Owners: @cmcewen, @jmrossy

Fix old int firebase db references
  .env.baklava
  .env.baklavastaging
  packages/blockchain-api/.env
  packages/blockchain-api/app.integration.yaml
  packages/notification-service/config/config.local.env
  packages/notification-service/config/config.test.env
Owners: @timmoreton, @jmrossy, @cmcewen, @annakaz

Disable skip button when the user enable contact access
  packages/mobile/src/import/ImportContacts.tsx
Owners: @cmcewen, @jmrossy

Add some missing types.
  packages/cli/src/commands/rewards/show.ts
Owners: @mcortesi, @asaj

Use totalGroupVotes to calculate myVoterReward
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
Owners: @mcortesi, @asaj, @timmoreton

Fix ts-ignore after pretty #2
  packages/contractkit/src/wrappers/Election.ts
Owners: @timmoreton

adapting to new version of the instructions
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
