Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

so much nicer using these matchers
  packages/web/src/community/connect/FellowshipForm.test.tsx
Owners: @cmcewen, @aaronmgdr

fix spelling of acquire
  packages/web/public/static/locales/en/alliance.json
Owners: @cmcewen, @aaronmgdr

Adding changes to use native transfers in RG init script
  packages/protocol/lib/proxy-utils.ts
  packages/protocol/lib/web3-utils.ts
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

lint
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

FIxing devchain
  packages/protocol/scripts/devchain.ts
Owners: @asaj, @m-chrzan

Adding null check:
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

Fix tests
  packages/mobile/__mocks__/@celo/contractkit/index.ts
  packages/mobile/__mocks__/src/web3/contracts.ts
  packages/mobile/__mocks__/web3.js
  packages/mobile/src/identity/contactMapping.test.ts
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/web3/saga.test.ts
Owners: @cmcewen, @jmrossy

Removing from
  packages/protocol/scripts/devchain.ts
Owners: @asaj, @m-chrzan

Addressing new changes
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

Create reserve wrapper function and use it
  packages/contractkit/src/wrappers/Reserve.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reserve_.reservewrapper.md
  packages/mobile/__mocks__/@celo/contractkit/index.ts
  packages/mobile/src/exchange/saga.test.ts
  packages/mobile/src/exchange/saga.ts
Owners: @timmoreton, @cla-bel, @cmcewen, @jmrossy

[ContractKit] fix nonce parsing, fix gatewayFee default
  packages/contractkit/src/utils/tx-params-normalizer.ts
  packages/contractkit/src/utils/tx-signing.test.ts
Owners: @timmoreton

fix
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
Owners: @asaj, @m-chrzan

Use utils lib
  packages/contractkit/src/utils/tx-params-normalizer.ts
Owners: @timmoreton

Exchange tests working
  packages/celotool/src/e2e-tests/tracer_tests.ts
  packages/contractkit/src/explorer/assets.ts
Owners: @timmoreton

parse int with radix
  packages/contractkit/src/utils/tx-params-normalizer.ts
  packages/contractkit/src/utils/tx-signing.test.ts
Owners: @timmoreton

add rewards activate to timeline (#3166)
  packages/web/public/static/locales/en/alliance.json
  packages/web/public/static/locales/en/home.json
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/roadmap/milestones.ts
Owners: @cmcewen, @aaronmgdr

wait 300ms before transitioning out of page is turning mode so that we always at least see a glimmer of a progress bar. this helps satisfy the 'something should change when i press button" feeling
  packages/web/src/shared/Progress.tsx
Owners: @cmcewen, @aaronmgdr

update docs
  packages/docs/developer-resources/contractkit/reference/classes/_utils_tx_params_normalizer_.txparamsnormalizer.md
Owners: @timmoreton, @cla-bel

Fix tx-params-normalizer test
  packages/contractkit/src/utils/tx-params-normalizer.test.ts
Owners: @timmoreton

[ContractKit] fix nonce parsing, fix gatewayFee default (#3169)
  packages/contractkit/src/utils/tx-params-normalizer.test.ts
  packages/contractkit/src/utils/tx-params-normalizer.ts
  packages/docs/developer-resources/contractkit/reference/classes/_utils_tx_params_normalizer_.txparamsnormalizer.md
Owners: @timmoreton, @cla-bel

upgrading pg and fixing async
  packages/metadata-crawler/package.json
  packages/metadata-crawler/src/crawler.ts
Owners: @timmoreton

debugged
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/GovernanceSlasher.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

cleanup
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/GovernanceSlasher.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

[ContractKit] Upgrade version to 0.3.2-dev
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy

Reserve spend limits should not apply to CP-DOTO
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

[ContractKit] Upgrade version to 0.3.2-dev (#3171)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy

update accounts and lockedgold spec
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/specs/LockedGoldExpected.json
  packages/protocol/specs/accounts.spec
  packages/protocol/specs/harnesses/AccountsHarness.sol
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

Fund release gold signing keys
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGold.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

[Faucet] Upgrade ContractKit version in Faucet Remove dead code Remove duplication with code in @celo/utils Remove unneeded yarn.lock file Tighten up firebase db access rules
  packages/faucet/.gitignore
  packages/faucet/README.md
  packages/faucet/database-rules.bolt
  packages/faucet/package.json
  packages/faucet/scripts/cli.ts
  packages/faucet/scripts/test-celo-adapter.ts
  packages/faucet/src/celo-adapter.ts
  packages/faucet/src/config.ts
  packages/faucet/src/database-helper.ts
  packages/faucet/src/protocol/signing-utils.ts
  packages/faucet/src/test-driver.ts
  packages/faucet/src/tx.ts
  packages/faucet/src/utils.ts
  packages/faucet/yarn.lock
  packages/utils/src/async.ts
  yarn.lock
Owners: @timmoreton, @jmrossy

Addressing review
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/lib/proxy-utils.ts
  packages/protocol/lib/web3-utils.ts
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/devchain.ts
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

Use bootnodes for the local machine (#2430)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Add -t flag to Docker stop commands (#2481)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Recommend only opening RPC port locally
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

remove outdated reconnect to the network guide
  packages/docs/getting-started/reconnecting-to-network.md
Owners: @timmoreton, @cla-bel

add the @baklava tag to npm install commands
  packages/contractkit/README.md
  packages/docs/command-line-interface/introduction.md
  packages/docs/developer-resources/contractkit/setup.md
Owners: @timmoreton, @cla-bel

Add docs about securing nodes and services (#2746)
  packages/docs/SUMMARY.md
  packages/docs/operations-manual/securing-nodes-and-services.md
Owners: @timmoreton, @cla-bel

add link to list of contributors to docs (#2576)
  packages/docs/community/contributing.md
Owners: @timmoreton, @cla-bel

Add link to more detailed explanation
  packages/docs/celo-codebase/protocol/stability/doto.md
Owners: @timmoreton, @cla-bel

add tests for states of EmailForm
  packages/web/src/forms/EmailForm.test.tsx
Owners: @cmcewen, @aaronmgdr

[Wallet] Add Colombian pesos to local currency list
  packages/mobile/src/localCurrency/consts.ts
Owners: @cmcewen, @jmrossy
