Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Extract _setBeneficiary
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

[protocol] add multisig to governance approver and reserve spender (#2910)
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/cli/package.json
  packages/contractkit/package.json
  packages/contractkit/src/wrappers/Governance.ts
  packages/dev-utils/src/migration-override.json
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/protocol/contracts/common/proxies/MultiSigProxy.sol
  packages/protocol/contracts/governance/GovernanceApproverMultiSig.sol
  packages/protocol/contracts/governance/proxies/GovernanceApproverMultiSigProxy.sol
  packages/protocol/contracts/stability/ReserveSpenderMultiSig.sol
  packages/protocol/contracts/stability/proxies/ReserveSpenderMultiSigProxy.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/07_reserve_spender_multisig.ts
  packages/protocol/migrations/08_reserve.ts
  packages/protocol/migrations/09_stabletoken.ts
  packages/protocol/migrations/10_exchange.ts
  packages/protocol/migrations/11_accounts.ts
  packages/protocol/migrations/12_lockedgold.ts
  packages/protocol/migrations/13_validators.ts
  packages/protocol/migrations/14_election.ts
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrations/16_random.ts
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrations/18_escrow.ts
  packages/protocol/migrations/19_blockchainparams.ts
  packages/protocol/migrations/20_governance_slasher.ts
  packages/protocol/migrations/21_double_signing_slasher.ts
  packages/protocol/migrations/22_downtime_slasher.ts
  packages/protocol/migrations/23_governance_approver_multisig.ts
  packages/protocol/migrations/24_governance.ts
  packages/protocol/migrations/25_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/scripts/build.ts
  packages/protocol/test/common/integration.ts
Owners: @timmoreton, @mcortesi, @asaj, @cla-bel, @m-chrzan

adds GoldWhitelist
  packages/protocol/contracts/common/Freezer.sol
  packages/protocol/contracts/common/GoldWhitelist.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/03_goldwhitelist.ts
  packages/protocol/test/common/goldwhitelist.ts
Owners: @asaj, @m-chrzan

Use toFixed().toFixed()
  packages/protocol/migrations/07_reserve.ts
Owners: @asaj, @m-chrzan

Update security.md
  SECURITY.md
Owners: @timmoreton

Fix indentation
  packages/protocol/contracts/common/libraries/ReentrancyGuard.sol
Owners: @asaj, @m-chrzan

update snaps
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
Owners: @cmcewen, @jmrossy

Fix import
  packages/mobile/src/account/Account.tsx
Owners: @cmcewen, @jmrossy

adds GoldWhitelist
  packages/protocol/contracts/common/Freezer.sol
  packages/protocol/contracts/common/GoldWhitelist.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/03_goldwhitelist.ts
  packages/protocol/test/common/goldwhitelist.ts
Owners: @asaj, @m-chrzan

update snaps
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
Owners: @cmcewen, @jmrossy

rename collective -> alliance
  packages/web/pages/alliance.tsx
  packages/web/pages/collective.tsx
  packages/web/public/static/locales/en/alliance.json
  packages/web/src/alliance/Benefits.tsx
  packages/web/src/alliance/ColLogo.tsx
  packages/web/src/alliance/Collective.tsx
  packages/web/src/alliance/CollectiveForm.tsx
  packages/web/src/alliance/CollectiveMission.tsx
  packages/web/src/alliance/Sweep.tsx
  packages/web/src/i18n.ts
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Fix unit test
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

Contractkit tests
  packages/contractkit/src/wrappers/Exchange.test.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
Owners: @timmoreton

[M12] There is no security policy (#2906)
  SECURITY.md
Owners: @timmoreton

Adding multisig proxy and transferring balance
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/governance/ReleaseGoldMultiSig.sol
  packages/protocol/contracts/governance/proxies/ReleaseGoldMultiSigProxy.sol
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/scripts/truffle/releaseGoldContracts.json
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

bigger badder sweeper
  packages/web/src/alliance/Collective.tsx
  packages/web/src/alliance/Sweep.tsx
  packages/web/src/header/Header.3.tsx
Owners: @cmcewen, @aaronmgdr

[phone number privacy] add firebase app for phone number privacy
  packages/phone-number-privacy/.firebaserc
  packages/phone-number-privacy/.gitignore
  packages/phone-number-privacy/README.md
  packages/phone-number-privacy/firebase.json
  packages/phone-number-privacy/package.json
  packages/phone-number-privacy/src/config.ts
  packages/phone-number-privacy/src/index.ts
  packages/phone-number-privacy/tsconfig.json
  packages/phone-number-privacy/tslint.json
Owners: @timmoreton

Remove GoldToken as a FeeCurrencyWhitelist
  packages/protocol/migrations/04_goldtoken.ts
Owners: @asaj, @m-chrzan

Adjust transfer tests for increased gas cost
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

addressed PR comment
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @nambrot, @timmoreton

refactor menu links
  packages/web/src/community/connect/ArticlesSection.tsx
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/menu-items.ts
  packages/web/src/terms/TermsPortal.tsx
Owners: @cmcewen, @aaronmgdr

[M10] Not using OpenZeppelin contracts (#2877)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/common/SafeCast.sol
  packages/protocol/contracts/common/SafeCastTest.sol
  packages/protocol/contracts/common/Signatures.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IERC20Token.sol
  packages/protocol/contracts/common/libraries/AddressesHelper.sol
  packages/protocol/contracts/common/libraries/ReentrancyGuard.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/Escrow.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/contracts/stability/test/MockReserve.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/package.json
  packages/protocol/test/common/safecast.ts
  yarn.lock
Owners: @timmoreton, @asaj, @m-chrzan

add yarn.lock changes
  yarn.lock
Owners: @timmoreton

Fix mock
  packages/react-components/components/__snapshots__/BaseNotification.test.tsx.snap
  packages/react-components/jest_setup.js
Owners: @cmcewen, @jmrossy

Add docs about SIM swaps
  packages/docs/celo-codebase/protocol/identity/README.md
Owners: @timmoreton, @cla-bel

Check in docs
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_accounts_.accountswrapper.md
Owners: @timmoreton, @cla-bel

Fix setAssetAllocation unit tests
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Remove deleted import
  packages/protocol/contracts/common/UsingRegistry.sol
Owners: @asaj, @m-chrzan

addresses comments
  packages/protocol/contracts/common/TransferWhitelist.sol
  packages/protocol/migrations/03_goldwhitelist.ts
  packages/protocol/migrations/03_transferwhitelist.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/transferwhitelist.ts
Owners: @asaj, @m-chrzan

Monorepo changes for geth 1.9 (#2705)
  packages/celotool/src/cmds/geth/run.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

changed gas limit for truffle migrations
  packages/protocol/lib/web3-utils.ts
  packages/protocol/truffle-config.js
Owners: @asaj, @m-chrzan

Fix azure README.md typo
  packages/azure/README.md
  packages/azure/README.mustache
Owners: @timmoreton

Update packages/protocol/migrationsConfig.js
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Update packages/protocol/migrationsConfig.js
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Fix slashing e2e tests
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

Wallet design polish (#2948)
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/components/Carousel.tsx
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
  packages/react-components/components/BaseNotification.tsx
  packages/react-components/components/__snapshots__/BaseNotification.test.tsx.snap
  packages/react-components/jest_setup.js
  packages/react-components/services/ReactNativeLogger.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Update packages/docs/celo-codebase/protocol/identity/README.md
  packages/docs/celo-codebase/protocol/identity/README.md
Owners: @timmoreton, @cla-bel

unused function
  packages/mobile/src/invite/saga.test.ts
Owners: @cmcewen, @jmrossy

Fix azure README.md typo (#2958)
  packages/azure/README.md
  packages/azure/README.mustache
Owners: @timmoreton

Update transfer_tests stableTokenTransferGasCost
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton
