Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Add react-testing-library
  packages/web/package.json
  packages/web/src/header/BlueBanner.test.tsx
  packages/web/src/header/BlueBanner.tsx
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Remove Jest-dom assertions line as I never to it working
  packages/web/src/header/BlueBanner.test.tsx
Owners: @cmcewen, @aaronmgdr

Add mapAddressIndex
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/utils/src/address.ts
Owners: @mcortesi, @asaj, @timmoreton, @jmrossy

Blockscout deploy
  .env.baklava
Owners: @timmoreton

Add migration override for test since test epochlen is hard-coded
  packages/protocol/runTests.js
Owners: @asaj, @m-chrzan

Remove --rm
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Remove start at migration 12
  packages/protocol/scripts/bash/init_network.sh
Owners: @asaj, @m-chrzan

Add mapAddressListDataOnto
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/utils/src/address.ts
Owners: @mcortesi, @asaj, @timmoreton, @jmrossy

Add baklavastaging
  .env.baklavastaging
Owners: @timmoreton

Update running-a-validator.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

minor doc nits
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

remove account flag
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Switch asset weights to use a mapping
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Add test for mobile menu
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/brandkit/common/MobileMenu.test.tsx
  packages/web/src/brandkit/common/MobileMenu.tsx
  packages/web/src/header/BlueBanner.test.tsx
  packages/web/src/shared/Triangle.tsx
Owners: @cmcewen, @aaronmgdr

Sets asset allocation in tobin tax tests
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Include non-gold reserve assets in the reserve ratio
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Fixes tobin tax threshold
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Docs nits (#2424)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Fix documentation link (#2404)
  README.md
Owners: @timmoreton

Test for Team.tsx
  packages/web/src/about/Team.test.tsx
  packages/web/src/about/Team.tsx
  packages/web/src/brandkit/common/MobileMenu.test.tsx
Owners: @cmcewen, @aaronmgdr

Fix a deprecation warning about Link needing a, `a` child
  packages/web/src/privacy/Privacy.tsx
Owners: @cmcewen, @aaronmgdr

Update running-a-validator.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

blah
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

[WiP] Use MoneyAmount type in the transfer confirmation card
  packages/mobile/src/components/AccountOverview.tsx
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
Owners: @cmcewen, @jmrossy

Add proper Spanish translations
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/locales/es-419/paymentRequestFlow.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/components/Avatar.tsx
Owners: @cmcewen, @jmrossy

[Wallet]: Historic Gold prices chart (#2345)
  packages/mobile/jest.config.js
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/package.json
  packages/mobile/src/components/AccountOverview.test.tsx
  packages/mobile/src/components/AccountOverview.tsx
  packages/mobile/src/components/Avatar.tsx
  packages/mobile/src/components/__snapshots__/AccountOverview.test.tsx.snap
  packages/mobile/src/exchange/CeloGoldHistoryChart.test.tsx
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.test.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.test.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/CeloGoldHistoryChart.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/CeloGoldOverview.test.tsx.snap
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/hooks.ts
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/exchange/selectors.ts
  packages/mobile/src/firebase/db-rules.json
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/home/CeloDollarsOverview.tsx
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/__snapshots__/CeloDollarsOverview.test.tsx.snap
  packages/mobile/src/home/__snapshots__/WalletHome.test.tsx.snap
  packages/mobile/src/localCurrency/hooks.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/src/utils/currencyExchange.ts
  packages/mobile/src/utils/formatting.ts
  packages/mobile/test/schemas.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

[WiP] Make CurrencyDisplay handle more currency display use cases
  packages/mobile/src/components/AccountOverview.tsx
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
Owners: @cmcewen, @jmrossy

Save gas and add comments
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

[WiP] Simplify ExchangeFeedItem by using CurrencyDisplay
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/react-components/styles/fonts.tsx
Owners: @cmcewen, @jmrossy

Fix lint
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/mobile/src/home/TransactionsList.tsx
  packages/protocol/test/governance/governance.ts
  packages/web/src/about/Tetris.tsx
Owners: @mcortesi, @asaj, @timmoreton, @cmcewen, @jmrossy, @m-chrzan, @aaronmgdr

Fix non immutable redux state update
  packages/mobile/src/transactions/reducer.ts
Owners: @cmcewen, @jmrossy

Upload correct bootnode IP address on internal testnet (#2402)
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/helm_deploy.ts
Owners: @timmoreton

use some concurrency
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
Owners: @timmoreton, @nambrot

break voting out of main function
  packages/celotool/src/cmds/bots/auto-vote.ts
Owners: @timmoreton

Fix test:reset check for failed migrations. Add override for slashableDowntime for CLI/CK tests.
  packages/dev-utils/src/migration-override.json
  packages/protocol/scripts/devchain.ts
Owners: @timmoreton, @asaj, @m-chrzan

Add view commands for governance
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/viewhotfix.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Add separate list and view for proposals
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/view.ts
Owners: @mcortesi, @asaj

added suggested adjustments
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingFactory.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
  packages/protocol/contracts/governance/test/MockElection.sol
Owners: @asaj, @m-chrzan

Add migration override for e2e tests
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

removed revoked flag
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
