Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Add TransferWhitelist contract (#2953)
  packages/protocol/contracts/common/TransferWhitelist.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/03_transferwhitelist.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/test/common/transferwhitelist.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Updating to openzeppelin ierc20
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
Owners: @asaj, @m-chrzan

[phone number privacy] add skeleton firebase function for phone number privacy (#2955)
  packages/phone-number-privacy/.firebaserc
  packages/phone-number-privacy/.gitignore
  packages/phone-number-privacy/README.md
  packages/phone-number-privacy/firebase.json
  packages/phone-number-privacy/package.json
  packages/phone-number-privacy/src/config.ts
  packages/phone-number-privacy/src/index.ts
  packages/phone-number-privacy/tsconfig.json
  packages/phone-number-privacy/tslint.json
  yarn.lock
Owners: @timmoreton

added a test with repeated items
  packages/protocol/test/common/heap.ts
Owners: @asaj, @m-chrzan

Update docs
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_escrow_.escrowwrapper.md
Owners: @timmoreton, @cla-bel

Create 'Hello Contract (Truffle + Remote Node)'
  packages/docs/developer-resources/walkthroughs/hello-contract-remote-node.md
Owners: @timmoreton, @cla-bel

Adding new functions to expected accountns
  packages/protocol/specs/AccountsExpected.json
Owners: @asaj, @m-chrzan

Update ethers.js to web3.js (#2966)
  packages/docs/developer-resources/walkthroughs/hellocelo.md
Owners: @timmoreton, @cla-bel

Update News Link + various fixes (#2917)
  packages/web/public/static/locales/en/faucet.json
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/community/connect/ArticlesSection.tsx
  packages/web/src/community/connect/CoverArea.tsx
  packages/web/src/forms/EmailForm.tsx
  packages/web/src/press/Press.tsx
  packages/web/src/shared/ConnectionFooter.tsx
Owners: @cmcewen, @aaronmgdr

Rebuild Azure template.json (#2967)
  packages/azure/template.json
Owners: @timmoreton

remove mobile test not in master
  .circleci/config.yml
Owners: @timmoreton

Styling
  packages/protocol/specs/accounts.spec
  packages/protocol/specs/lockedGold.spec
  packages/protocol/specs/locked_gold_linked.spec
Owners: @asaj, @m-chrzan

Added env files for chaos testnets
  .env.scenario1
  .env.scenario2
Owners: @timmoreton

Small adjustments to migrations config
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Comment
  .codecov.yml
Owners: @timmoreton

registers whitelist with migration
  packages/protocol/migrations/03_transferwhitelist.ts
Owners: @asaj, @m-chrzan

wIP
  packages/web/package.json
  packages/web/src/alliance/Sweep.tsx
Owners: @cmcewen, @aaronmgdr

Remove codecov for protocol until coverage working again (#2947)
  .codecov.yml
Owners: @timmoreton

uses CeloContractName
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/03_transferwhitelist.ts
Owners: @asaj, @m-chrzan

PromiEvent fix
  packages/contractkit/src/test-utils/PromiEventStub.ts
Owners: @timmoreton

adds TransferWhitelist to hasEntryInRegistry
  packages/protocol/lib/registry-utils.ts
Owners: @asaj, @m-chrzan

ensure we revert to still graphic if video fails to play
  packages/web/src/home/HomeAnimation.tsx
Owners: @cmcewen, @aaronmgdr

fixes error
  packages/protocol/migrations/03_transferwhitelist.ts
Owners: @asaj, @m-chrzan

Fix report issue on iOS
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/utils/Logger.ts
Owners: @cmcewen, @jmrossy

remove next cache before deploy
  packages/web/package.json
Owners: @cmcewen, @aaronmgdr

update bls12377js
  packages/azure/template.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/protocol/package.json
  packages/utils/package.json
  yarn.lock
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan, @jmrossy

change ci
  .circleci/config.yml
Owners: @timmoreton

Start of releasegold cli
  packages/cli/package.json
  packages/cli/src/commands/releasegold/info.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
Owners: @mcortesi, @asaj, @timmoreton

Implement retry, timeout, and cancel (optional) for all sent transactions
  packages/mobile/src/app/Debug.tsx
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
  packages/mobile/src/transactions/saga.ts
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/privateKey.test.ts
  packages/mobile/src/web3/privateKey.ts
  packages/mobile/src/web3/saga.test.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/utils.ts
  packages/walletkit/src/contract-utils.ts
Owners: @cmcewen, @jmrossy, @ashishb, @yerdua

that rainbow
  packages/web/src/alliance/Collective.tsx
  packages/web/src/alliance/Sweep.tsx
Owners: @cmcewen, @aaronmgdr

replace graphql with static json
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/dev/LeaderBoardLoading.tsx
  packages/web/src/dev/stakeOffLeaderResults.json
Owners: @cmcewen, @aaronmgdr

Fix DomException on video playing (#2975)
  packages/web/package.json
  packages/web/src/home/HomeAnimation.tsx
Owners: @cmcewen, @aaronmgdr

removes transferWhitelist from hasEntryInRegistry
  packages/protocol/lib/registry-utils.ts
Owners: @asaj, @m-chrzan

Keep fixing types
  packages/contractkit/src/explorer/base.ts
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/explorer/log-explorer.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/kit.test.ts
  packages/contractkit/src/types.d.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/types/web3-celo.d.ts
  packages/protocol/package.json
  packages/protocol/scripts/build.ts
  packages/walletkit/bin/build-sdk.js
  packages/walletkit/package.json
  yarn.lock
Owners: @timmoreton, @asaj, @m-chrzan, @ashishb, @yerdua

Replace graphql with static json (#2980)
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/dev/LeaderBoardLoading.tsx
  packages/web/src/dev/stakeOffLeaderResults.json
Owners: @cmcewen, @aaronmgdr

add start of signup form
  packages/web/src/alliance/SignupForm.tsx
Owners: @cmcewen, @aaronmgdr

Info cli command
  packages/cli/src/commands/releasegold/info.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
Owners: @mcortesi, @asaj, @timmoreton

registers whitelist with migration (#2973)
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/03_transferwhitelist.ts
Owners: @asaj, @m-chrzan

Keep fixing types 2
  packages/contractkit/src/governance/proxy.ts
  packages/protocol/lib/proxy-utils.ts
  packages/protocol/lib/signing-utils.ts
  packages/protocol/lib/test-utils.ts
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrations/24_elect_validators.ts
  packages/protocol/package.json
  packages/protocol/scripts/build.ts
  packages/protocol/scripts/truffle/invite.ts
  packages/protocol/test/governance/vesting.ts
  packages/protocol/test/identity/attestations.ts
  packages/protocol/types/web3-celo.d.ts
Owners: @timmoreton, @asaj, @m-chrzan

DOUBLE CHECK this commit (verify that's working)
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
