Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nambrot, @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz, @m-chrzan, @ashishb, @yerdua, @tkporter, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/cli/ @mcortesi @asaj
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/walletkit/ @ashishb @yerdua
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/web/ @cmcewen @aaronmgdr

Get build working
  packages/mobile/__mocks__/react-native-device-info.ts
  packages/mobile/package.json
  packages/mobile/src/account/Education.tsx
  packages/mobile/src/app/Debug.tsx
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/globals.ts
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/language/Language.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/utils/Logger.ts
  packages/mobile/test/utils.ts
  packages/mobile/test/values.ts
  packages/mobile/tsconfig.json
  packages/react-components/analytics/CeloAnalytics.tsx
  packages/react-components/components/PhoneNumberInput.tsx
  packages/react-components/package.json
  packages/verifier/package.json
  packages/verifier/src/App.tsx
  packages/verifier/src/components/NUX/LanguageScreen.tsx
  packages/verifier/src/components/NUX/SetupAccountScreen.tsx
  yarn.lock
Owners: @cmcewen, @jmrossy

Fix tests
  packages/mobile/jest.config.js
  packages/react-components/__mocks__/country-data.js
  packages/react-components/__mocks__/react-native-device-info.js
  packages/react-components/analytics/CeloAnalytics.tsx
  packages/react-components/components/__snapshots__/BaseNotification.test.tsx.snap
  packages/react-components/components/__snapshots__/Button.test.tsx.snap
  packages/react-components/components/__snapshots__/CircleButton.test.tsx.snap
  packages/react-components/components/__snapshots__/FullscreenCTA.test.tsx.snap
  packages/react-components/components/__snapshots__/LanguageSelectUI.test.tsx.snap
  packages/react-components/components/__snapshots__/ReviewFrame.test.tsx.snap
  packages/react-components/components/__snapshots__/SelectionOption.test.tsx.snap
  packages/react-components/components/__snapshots__/SmartTopAlert.test.tsx.snap
  packages/react-components/jest.config.js
  packages/verifier/jest.config.js
  packages/verifier/src/app/__snapshots__/reducer.test.ts.snap
  packages/verifier/src/components/HomeScreen/__snapshots__/SwitchButton.test.tsx.snap
  packages/verifier/src/components/NUX/__snapshots__/EducationScreen.test.tsx.snap
  packages/verifier/src/components/NUX/__snapshots__/LanguageScreen.test.tsx.snap
  packages/verifier/src/components/TransactionReview/__snapshots__/VerificationReviewScreen.test.tsx.snap
  packages/verifier/src/components/__snapshots__/MessageBanner.test.tsx.snap
  packages/verifier/src/components/__snapshots__/PhoneNumberInput.test.tsx.snap
Owners: @cmcewen, @jmrossy

Lint checks
  packages/mobile/src/account/saga.ts
Owners: @cmcewen, @jmrossy

Conditional import + fix test TZ
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/android/settings.gradle
  packages/mobile/react-native.config.js
  packages/verifier/src/components/TransactionReview/__snapshots__/VerificationReviewScreen.test.tsx.snap
Owners: @cmcewen, @jmrossy

bulk phonehash support
  packages/mobile/package.json
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/identity.ts
  packages/utils/src/identity.ts
  yarn.lock
Owners: @cmcewen, @jmrossy

Try fixing mobile build
  patches/@react-native-community/cli-platform-android+3.0.0-alpha.2.patch
Owners: none

pod install works
  packages/mobile/ios/Podfile.lock
Owners: @cmcewen, @jmrossy

escrow fix
  packages/blockchain-api/src/schema.ts
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/receiveFlow8.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/receiveFlow8.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/src/transactions/transferFeedUtils.ts
Owners: @jmrossy, @cmcewen

escrow minor fix
  packages/blockchain-api/src/schema.ts
Owners: @jmrossy, @cmcewen

remove stale test escrow
  packages/blockchain-api/test/blockscout.test.ts
Owners: @jmrossy, @cmcewen

Add infura-like setup
  packages/celotool/src/cmds/deploy/initial/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/output.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules/testnet/outputs.tf
  packages/terraform-modules/testnet/variables.tf
Owners: @tkporter

Add vm fail check in testnet destroy, remove port 80 firewall rule
  packages/celotool/src/cmds/deploy/destroy/testnet.ts
  packages/terraform-modules/testnet/main.tf
Owners: @tkporter

Ran terraform fmt
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
Owners: @tkporter

Add comment about the two instance groups
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
Owners: @tkporter

Change func name to get internal tx node lb
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/transaction-metrics-exporter.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Owners: none

Expose geth metrics from vm nodes
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/bootnode/main.tf
  packages/terraform-modules/testnet/modules/tx-node/main.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
  packages/terraform-modules/testnet/modules/validator/variables.tf
  packages/terraform-modules/testnet/variables.tf
Owners: @tkporter

Create prom-to-sd pods to export vm geth metrics
  packages/celotool/src/cmds/deploy/destroy/vm-testnet.ts
  packages/celotool/src/cmds/deploy/initial/vm-testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/prometheus-to-sd/templates/deployment.yaml
  packages/helm-charts/prometheus-to-sd/values.yaml
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/tx-node/main.tf
  packages/terraform-modules/testnet/modules/tx-node/outputs.tf
  packages/terraform-modules/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/modules/tx-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/outputs.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
  packages/terraform-modules/testnet/outputs.tf
Owners: @nambrot, @timmoreton, @tkporter

Expose geth metrics from vm nodes
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/bootnode/main.tf
  packages/terraform-modules/testnet/modules/tx-node/main.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
  packages/terraform-modules/testnet/modules/validator/variables.tf
  packages/terraform-modules/testnet/variables.tf
Owners: @tkporter

Create prom-to-sd pods to export vm geth metrics
  packages/celotool/src/cmds/deploy/destroy/vm-testnet.ts
  packages/celotool/src/cmds/deploy/initial/vm-testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/prometheus-to-sd/templates/deployment.yaml
  packages/helm-charts/prometheus-to-sd/values.yaml
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/tx-node/main.tf
  packages/terraform-modules/testnet/modules/tx-node/outputs.tf
  packages/terraform-modules/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/modules/tx-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/outputs.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
  packages/terraform-modules/testnet/outputs.tf
Owners: @nambrot, @timmoreton, @tkporter

Scale prom to sd exporters down and up, switch to cluster
  packages/celotool/src/cmds/deploy/destroy/vm-testnet.ts
  packages/celotool/src/cmds/deploy/initial/vm-testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/celotool/src/lib/prom-to-sd-utils.ts
Owners: none

WIP
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
Owners: @cmcewen, @jmrossy

Use precompiles in Attestations directly
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/test/TestAttestations.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

[Wallet] Enable firebase on iOS (#1344)
  packages/mobile/.gitignore
  packages/mobile/ios/GoogleService-Info.plist.enc
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/AppDelegate.m
  patches/react-native-firebase+5.5.4.patch
  scripts/key_placer.sh
Owners: @cmcewen, @jmrossy

Mobile e2e test script fix to kill the previously spawned servers
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/unlock.sh
Owners: @cmcewen, @jmrossy

add minVersion support to app version deprecated check
  packages/mobile/src/firebase/firebase.ts
Owners: @cmcewen, @jmrossy

Fix Metadata registration during contract deploy (#1346)
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/cli/src/commands/identity/create-metadata.ts
  packages/contractkit/src/identity/metadata.ts
  packages/utils/src/async.ts
Owners: @mcortesi, @asaj, @jmrossy

Document use of test contract
  packages/protocol/contracts/identity/test/TestAttestations.sol
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

fix firebase requirement deprecation check"
  packages/mobile/src/app/saga.ts
  packages/mobile/src/firebase/firebase.ts
Owners: @cmcewen, @jmrossy

Add env upgrade to upgrade script as well:
  packages/celotool/src/cmds/deploy/upgrade/blockchain-api.ts
Owners: none

Address comments
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan

Call deploy initial in deploy upgrade
  packages/celotool/src/cmds/deploy/upgrade/blockchain-api.ts
Owners: none

Move precompile usage to separate contract
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/test/TestAttestations.sol
Owners: @asaj, @m-chrzan

[wallet]Add documentation for ZeroSync mode
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Fix tests, linting
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: none

Stop storing account in web3 keystore separately
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Remove zerosync logic
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Remove zerosync file
  packages/mobile/src/web3/zeroSync.ts
Owners: @cmcewen, @jmrossy

[wallet]Add documentation for ZeroSync mode (#1361)
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Revert logic changes to save for diffrerent pr
  packages/mobile/.env
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.test.ts
Owners: @cmcewen, @jmrossy

Remove some unused styles
  packages/mobile/src/account/Analytics.tsx
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/account/EditProfile.tsx
  packages/mobile/src/account/Education.tsx
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/account/Profile.tsx
Owners: @cmcewen, @jmrossy
