Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

[Wallet] Add null check to import screen nav prop
  packages/mobile/src/import/ImportWallet.tsx
Owners: @cmcewen, @jmrossy

updates to lockedgold spec and clenaup
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/specs/harnesses/GoldTokenHarness.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

Update member.ts
  packages/cli/src/commands/validatorgroup/member.ts
Owners: @mcortesi, @asaj

Update validatorgroup.md
  packages/docs/command-line-interface/validatorgroup.md
Owners: @timmoreton, @cla-bel

drop trailing period
  packages/cli/src/commands/validatorgroup/member.ts
Owners: @mcortesi, @asaj

link to goldtoken in a nicer way, update the totalpreserve rule
  .circleci/config.yml
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/lockedGold.conf
  packages/protocol/specs/LockedGoldExpected.json
  packages/protocol/specs/harnesses/GoldTokenHarness.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
Owners: @timmoreton, @asaj, @m-chrzan

address PR comments
  packages/mobile/src/account/Security.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/NavigatorWrapper.tsx
Owners: @cmcewen, @jmrossy

[Wallet] Add null check to import screen nav prop (#2791)
  packages/mobile/src/import/ImportWallet.tsx
Owners: @cmcewen, @jmrossy

added a parameter to limit number of attestations, improved worst case complexity
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/Escrow.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/contracts/identity/test/MockAttestations.sol
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

forbid committing zero randomness
  packages/protocol/contracts/identity/Random.sol
Owners: @asaj, @m-chrzan

calculate quorum the same way as minQuorumSize in geth
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Governance.sol
Owners: @asaj, @m-chrzan

donot overwrite escrows
  packages/protocol/contracts/identity/Escrow.sol
Owners: @asaj, @m-chrzan

some more tweaks to tbhe auto-vote command
  .env.baklava
  packages/celotool/src/cmds/bots/auto-vote.ts
Owners: @timmoreton

oops
  packages/protocol/contracts/identity/Escrow.sol
Owners: @asaj, @m-chrzan

fixing tests
  packages/protocol/contracts/governance/test/GovernanceTest.sol
Owners: @asaj, @m-chrzan

Fix yarn install cache miss
  .circleci/config.yml
Owners: @timmoreton

We still need postinstall
  .circleci/config.yml
Owners: @timmoreton

remove deeplinks and fix iOS
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo.xcscheme
  packages/mobile/src/app/saga.ts
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/reducer.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/utils/appstore.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

fix link
  packages/mobile/src/firebase/dynamicLinks.test.ts
Owners: @cmcewen, @jmrossy

Fix build issues
  packages/mobile/ios/Podfile.lock
  packages/mobile/locales/es-419/sendFlow7.json
Owners: @cmcewen, @jmrossy

Bump invite fee higher (#2774)
  packages/mobile/android/gradle.properties
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
Owners: @cmcewen, @jmrossy

Use all relevant package.json as part of the cache key so we can spot uncommitted yarn.lock changes
  .circleci/config.yml
Owners: @timmoreton

Fix GNU find warning about maxdepth option
  .circleci/config.yml
Owners: @timmoreton

[docs] re-organize references
  packages/contractkit/package.json
  packages/contractkit/scripts/linkdocs.ts
  packages/docs/SUMMARY.md
Owners: @timmoreton, @cla-bel

Change sandbox url to celoOrg real PR feed back fixes
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/DevelopersPage.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/Sandbox.tsx
  packages/web/src/react-native-aug.d.ts
Owners: @cmcewen, @aaronmgdr

Fix blend mode
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/CodeEditor.tsx
Owners: @cmcewen, @aaronmgdr

Increment ContractKit ver to 0.2.13 and Utils to 0.1.18
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy, @m-chrzan, @nambrot, @ashishb, @yerdua

Increment ContractKit ver to 0.2.13 and Utils to 0.1.18 (#2799)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy, @m-chrzan, @nambrot, @ashishb, @yerdua

[docs] re-order. Rename cDollar -> cUsd, cGold -> cGLD
  packages/cli/src/utils/checks.ts
  packages/contractkit/README.md
  packages/contractkit/scripts/linkdocs.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/README.md
  packages/docs/developer-resources/contractkit/examples.md
  packages/docs/developer-resources/contractkit/reference/README.md
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_exchange_.exchangewrapper.md
  packages/docs/developer-resources/contractkit/setup.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Don't enable istanbul hardfork on e2e
  packages/celotool/src/lib/genesis_constants.ts
Owners: @timmoreton

Update summary with desired path for tutorials
  packages/docs/SUMMARY.md
Owners: @timmoreton, @cla-bel

Celo collective benefits area
  packages/web/public/static/locales/en/collective.json
  packages/web/src/collective/Benefits.tsx
  packages/web/src/collective/Collective.tsx
  packages/web/src/collective/Sweep.tsx
  packages/web/src/header/Header.3.tsx
Owners: @cmcewen, @aaronmgdr

Update tutorial link
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/CoverActions.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Increment ContractKit version to 0.2.14
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/.npmignore
  packages/cli/package.json
  packages/contractkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy

Spreading Stylesheets does not work
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/FullStack.tsx
Owners: @cmcewen, @aaronmgdr

Increment ContractKit version to 0.2.15 (#2801)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/.npmignore
  packages/cli/package.json
  packages/contractkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy

Add Earn to account screen
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Owners: @cmcewen, @jmrossy

Feature flag Earn screen
  packages/mobile/src/flags.ts
Owners: @cmcewen, @jmrossy

Fig8 account sags
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
Owners: @cmcewen, @jmrossy

Update env to be pilot
  packages/mobile/.env
Owners: @cmcewen, @jmrossy

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
