Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

adding checkTransfers
  packages/leaderboard/src/checkTransfers.ts
  packages/leaderboard/src/checkVotes.ts
  packages/leaderboard/src/util.ts
Owners: @timmoreton

using DB directly
  packages/leaderboard/src/checkTransfers.ts
Owners: @timmoreton

cumulative votes
  packages/leaderboard/src/checkVotes.ts
Owners: @timmoreton

Workaround victory-native importing 2 different victory-core modules
  packages/mobile/src/setupE2eEnv.e2e.ts
Owners: @cmcewen, @jmrossy

Made stringToBoolean parsing accept start or end whitespace
  packages/mobile/.env.test
  packages/utils/src/parsing.test.ts
  packages/utils/src/parsing.ts
Owners: @cmcewen, @jmrossy

Skip firebase configure when disabled
  packages/mobile/ios/celo/AppDelegate.m
Owners: @cmcewen, @jmrossy

Use pipefail to abort test if compilation fails
  packages/mobile/package.json
Owners: @cmcewen, @jmrossy

Add ios e2e job
  .circleci/config.yml
Owners: @timmoreton

Works on iOS
  packages/mobile/src/invite/saga.ts
Owners: @cmcewen, @jmrossy

Await
  packages/protocol/test/stability/exchange.ts
  packages/protocol/test/stability/stabletoken.ts
Owners: @asaj, @m-chrzan

Tie StableToken freezer to owner
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/migrations/23_governance.ts
Owners: @asaj, @m-chrzan

clean-up
  packages/mobile/.env.test
  packages/mobile/__mocks__/react-native-version-check.ts
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/utils/dynamicLink.ts
Owners: @cmcewen, @jmrossy

Deleted a log
  packages/mobile/src/utils/dynamicLink.ts
Owners: @cmcewen, @jmrossy

lint
  .env.lucas
  packages/protocol/specs/harnesses/AccountsHarness.sol
  packages/protocol/specs/harnesses/ElectionHarness.sol
  packages/protocol/specs/harnesses/GoldTokenHarness.sol
  packages/protocol/specs/harnesses/IRegistryExtended.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/harnesses/RegistryHarness.sol
Owners: @timmoreton, @asaj, @m-chrzan

Correct epoch definitions
  packages/contractkit/src/kit.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @timmoreton, @asaj, @m-chrzan

Fix celotool commands, all testnets working
  packages/celotool/src/cmds/ssh-vm-node.ts
  packages/celotool/src/cmds/vm-exec.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/terraform.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/proxy.service.yaml
  packages/helm-charts/testnet/templates/proxy.statefulset.yaml
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/outputs.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
Owners: @timmoreton, @nambrot, @tkporter

Fix lint
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

Fix light peer issue
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
Owners: @tkporter

chain_spec_path not needed more. Using default genesis file from gcloud
  .env.baklava
  packages/helm-charts/blockscout/templates/_helpers.tpl
Owners: @timmoreton, @nambrot

Fix fixed value
  packages/celotool/src/lib/blockscout.ts
Owners: @timmoreton

Off by one correction in protocol validators test no longer needed
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Fixed kubectl get without export
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/scripts/create-network.sh
Owners: @timmoreton, @nambrot

Fixes test
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Move epoch definition correction to separate PR
  packages/contractkit/src/kit.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @timmoreton, @asaj, @m-chrzan

Add instructions for rotating bls key as well
  packages/docs/celo-codebase/protocol/identity/accounts.md
Owners: @timmoreton, @cla-bel

Add isReserveLow function (#2395)
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Generate docs with typedoc and link to gitbook project
  packages/contractkit/linkdocs.ts
  packages/contractkit/package.json
  packages/contractkit/typedoc.json
  packages/docs/SUMMARY.md
  packages/docs/package.json
Owners: @timmoreton, @cla-bel

Update yarn lock
  yarn.lock
Owners: @timmoreton

Log linking success
  packages/contractkit/linkdocs.ts
Owners: @timmoreton

Update packages/docs/celo-codebase/protocol/identity/accounts.md
  packages/docs/celo-codebase/protocol/identity/accounts.md
Owners: @timmoreton, @cla-bel

Update packages/docs/celo-codebase/protocol/identity/accounts.md
  packages/docs/celo-codebase/protocol/identity/accounts.md
Owners: @timmoreton, @cla-bel

Update packages/docs/celo-codebase/protocol/identity/accounts.md
  packages/docs/celo-codebase/protocol/identity/accounts.md
Owners: @timmoreton, @cla-bel

Update packages/docs/celo-codebase/protocol/identity/accounts.md
  packages/docs/celo-codebase/protocol/identity/accounts.md
Owners: @timmoreton, @cla-bel

Update packages/docs/celo-codebase/protocol/identity/accounts.md
  packages/docs/celo-codebase/protocol/identity/accounts.md
Owners: @timmoreton, @cla-bel

Update packages/docs/celo-codebase/protocol/identity/accounts.md
  packages/docs/celo-codebase/protocol/identity/accounts.md
Owners: @timmoreton, @cla-bel

Address comments
  packages/docs/celo-codebase/protocol/identity/accounts.md
Owners: @timmoreton, @cla-bel

Cleaning up
  packages/celotool/src/cmds/vm-exec.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/terraform.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Owners: @timmoreton

Move key usage enumeration to developer resources
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/identity/accounts.md
  packages/docs/developer-resources/contractkit/key-usage.md
Owners: @timmoreton, @cla-bel

added internal transactions
  packages/leaderboard/src/checkTransfers.ts
Owners: @timmoreton

fixing
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton
