Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Changes to validator list page
  packages/web/pages/validators/explore.tsx
  packages/web/server/index.ts
  packages/web/src/dev/ValidatorsListApp.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

ContractKit 3st
  packages/docs/developer-resources/contractkit/notes-web3-with-contractkit.md
  packages/docs/developer-resources/contractkit/usage.md
Owners: @timmoreton, @cla-bel

ContractKit add references
  packages/contractkit/scripts/linkdocs.ts
  packages/docs/SUMMARY.md
Owners: @timmoreton, @cla-bel

SDK Docs for 2/21 Release (#2803)
  packages/cli/src/utils/checks.ts
  packages/contractkit/README.md
  packages/contractkit/scripts/linkdocs.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/README.md
  packages/docs/developer-resources/contractkit/contracts-wrappers-registry.md
  packages/docs/developer-resources/contractkit/notes-web3-with-contractkit.md
  packages/docs/developer-resources/contractkit/reference/README.md
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_exchange_.exchangewrapper.md
  packages/docs/developer-resources/contractkit/setup.md
  packages/docs/developer-resources/contractkit/usage.md
  packages/docs/developer-resources/forno/README.md
  packages/docs/developer-resources/introduction.md
  packages/docs/developer-resources/reference.md
  packages/docs/developer-resources/start.md
  packages/docs/developer-resources/walkthroughs/README.md
  packages/docs/developer-resources/walkthroughs/hellocelo.md
  packages/docs/developer-resources/walkthroughs/hellocontracts.md
  packages/docs/developer-resources/walkthroughs/hellodapp.md
  packages/docs/developer-resources/walkthroughs/hellodeploy.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

[web] Fix the links to the developer guide
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

changed name
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

updating docs
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_accounts_.accountswrapper.md
Owners: @timmoreton, @cla-bel

added cli example
  packages/cli/src/commands/account/authorize.ts
Owners: @mcortesi, @asaj

updating docs
  packages/docs/command-line-interface/account.md
Owners: @timmoreton, @cla-bel

changed comment
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

added more unit tests
  packages/protocol/contracts/identity/test/TestRandom.sol
  packages/protocol/test/identity/random.ts
Owners: @asaj, @m-chrzan

setting max attestations to 100
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

both handshake e2e tests working
  packages/celotool/package.json
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_handshake_tests.ts
Owners: @timmoreton

Cleanup
  .circleci/config.yml
  packages/celotool/ci_test_validator_handshake.sh
  packages/celotool/src/e2e-tests/utils.ts
  packages/dev-utils/src/network.ts
  packages/protocol/contracts/common/Proxy.sol
Owners: @timmoreton, @asaj, @m-chrzan

Revert "Revert "Removes EpochData (#2361)""
  packages/celotool/src/lib/generate_utils.ts
  packages/docs/package.json
  yarn.lock
Owners: @timmoreton, @cla-bel

[contractKit] Fix tx-signing random fail
  packages/contractkit/src/utils/tx-signing.test.ts
Owners: @timmoreton

Clean up
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_handshake_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/dev-utils/src/network.ts
Owners: @timmoreton

[contractKit] Fix tx-signing random fail (#2823)
  packages/contractkit/src/utils/tx-signing.test.ts
Owners: @timmoreton

review
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/cli/src/utils/cli.ts
Owners: @mcortesi, @asaj

Fix failing test
  packages/celotool/src/e2e-tests/validator_handshake_tests.ts
Owners: @timmoreton

Remove comment
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

remove high verbosity
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

fix voting for unelected groups
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/lib/voting-bot.ts
Owners: @timmoreton

Add test to circleci
  .circleci/config.yml
Owners: @timmoreton

fix
  packages/protocol/contracts/common/Proxy.sol
Owners: @asaj, @m-chrzan

Use Geth1.9 on e2e tests (#2800)
  .circleci/config.yml
  dockerfiles/circleci/Dockerfile
  packages/celotool/src/cmds/geth/run.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/celotool/src/lib/geth.ts
  packages/protocol/contracts/common/Proxy.sol
Owners: @timmoreton, @asaj, @m-chrzan

[L03] Missing revert messages in require statements (#2809)
  packages/protocol/contracts/baklava/Freezable.sol
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/contracts/common/FractionUtil.sol
  packages/protocol/contracts/common/Initializable.sol
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

Adding back proxy for migrations
  packages/protocol/contracts/governance/proxies/ReleaseGoldFactoryProxy.sol
Owners: @asaj, @m-chrzan

Fix circleci config
  .circleci/config.yml
Owners: @timmoreton

Fix yarn install cache miss on CircleCI (#2798)
  .circleci/config.yml
Owners: @timmoreton

adding command to for checking the group associates for competitors
  packages/leaderboard/src/checkMembers.ts
  packages/leaderboard/src/util.ts
Owners: @timmoreton

[L08] Unused events (#2811)
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

🚨
  packages/web/src/dev/ValidatorsListApp.tsx
Owners: @cmcewen, @aaronmgdr

Retrieve revert reason if transaction reverted (#2789)
  packages/celotool/src/cmds/transactions/describe.ts
Owners: @timmoreton

Update readme
  packages/earn-pilot-functions/README.md
Owners: @timmoreton

Add post request function, update figureEightConfirmation
  packages/earn-pilot-functions/src/index.ts
Owners: @timmoreton

Update deploy script
  packages/earn-pilot-functions/package.json
Owners: @timmoreton

[Earn Pilot] Firebase functions and database to manage Figure Eight balances (#2831)
  packages/earn-pilot-functions/.firebaserc
  packages/earn-pilot-functions/.gitignore
  packages/earn-pilot-functions/README.md
  packages/earn-pilot-functions/firebase.json
  packages/earn-pilot-functions/package.json
  packages/earn-pilot-functions/src/index.ts
  packages/earn-pilot-functions/tsconfig.json
  packages/earn-pilot-functions/tslint.json
  packages/earn-pilot-functions/yarn.lock
Owners: @timmoreton

Changes to Validator list page (#2815)
  packages/web/pages/validators/explore.tsx
  packages/web/server/index.ts
  packages/web/src/dev/ValidatorsListApp.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

[contractKit] Fix ganache-core failing in unit tests
  packages/cli/.npmignore
  packages/cli/package.json
  packages/cli/src/test-utils/ganache.setup.ts
  packages/contractkit/.gitignore
  packages/contractkit/.npmignore
  packages/contractkit/package.json
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/scripts/devchain.ts
  yarn.lock
Owners: @mcortesi, @asaj, @timmoreton, @m-chrzan
