Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nambrot, @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz, @m-chrzan, @ashishb, @yerdua, @tkporter, @aaronmgdr

Documentation: Fix broken Discord link (#1215)
  packages/docs/developer-resources/introduction.md
Owners: none

check sync mode via web3 provider
  packages/mobile/src/web3/contracts.ts
Owners: @cmcewen, @jmrossy

Add link to “terms” page on the footer
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Footer.3.tsx
  packages/web/src/shared/menu-items.ts
  packages/web/static/locales/en/common.json
Owners: @cmcewen, @aaronmgdr

switch web3 provider when necessary
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

sentry e2e tests changes for celo-blockchain command line refactoring
  packages/celotool/src/e2e-tests/sentry_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: none

Add Discord to universal footer
  packages/web/src/shared/Footer.3.tsx
Owners: @cmcewen, @aaronmgdr

Fixes https://github.com/celo-org/celo-labs/issues/151 remove “overseas “
  packages/web/static/locales/en/faucet.json
Owners: @cmcewen, @aaronmgdr

Add comment about re-unlocking a validator (#1298)
  packages/docs/getting-started/running-a-validator.md
Owners: none

Default to starting in full sync mode
  packages/mobile/.env
Owners: @cmcewen, @jmrossy

Revert changes to functions using sendTransaction
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/transactions/saga.ts
Owners: @cmcewen, @jmrossy

Feature/909 proxy delegatecall (#1289)
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/common/libraries/AddressesHelper.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/test/common/proxy.ts
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

mobile tests
  packages/mobile/src/invite/__snapshots__/JoinCelo.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/Verify.test.tsx.snap
Owners: @cmcewen, @jmrossy

deleted deprecated locales
  packages/mobile/locales/en.json
  packages/mobile/locales/es.json
  packages/mobile/src/i18n.ts
Owners: @cmcewen, @jmrossy

[cli][ck] Add Support for Validators.reorderMember()
  packages/cli/src/commands/validatorgroup/member.ts
  packages/cli/tsconfig.json
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj

Add tests
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: none

fix compile issues
  packages/cli/src/utils/cli.ts
  packages/cli/tsconfig.json
Owners: @mcortesi, @asaj

includes contractKit types in celotool
  packages/celotool/tsconfig.json
Owners: none

fix ts-node type requirements
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: none

[cli] Add docs
  packages/docs/command-line-interface/validatorgroup.md
Owners: none

Moved things to speed up
  .circleci/config.yml
  packages/mobile/scripts/start_emulator.sh
Owners: @cmcewen, @jmrossy

[cli][ck] Add Support for Validators.reorderMember() (#1232)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/tsconfig.json
  packages/cli/src/commands/validatorgroup/member.ts
  packages/cli/src/utils/cli.ts
  packages/cli/tsconfig.json
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/validatorgroup.md
Owners: @mcortesi, @asaj

If an action is in the blacklist, then only log the name but not the payload
  packages/mobile/src/redux/sagas.ts
Owners: @cmcewen, @jmrossy

Speed up CircleCI tests (#1333)
  .circleci/config.yml
  packages/mobile/scripts/start_emulator.sh
Owners: @cmcewen, @jmrossy

Enable Firebase on iOS
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/AppDelegate.m
Owners: @cmcewen, @jmrossy

Patch react-native-firebase to prevent exception when initializing firebase during onboarding
  patches/react-native-firebase+5.5.4.patch
Owners: none

Add GoogleService-Info.plist for the dev app
  packages/mobile/.gitignore
  packages/mobile/ios/GoogleService-Info.plist.enc
  scripts/key_placer.sh
Owners: @cmcewen, @jmrossy

[wallet] If an action is in the blacklist, now only logs the name (but not the payload) (#1338)
  packages/mobile/src/redux/sagas.ts
Owners: @cmcewen, @jmrossy

Handle isZeroSync mode using web3 object
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/contracts.ts
Owners: @cmcewen, @jmrossy

Change to blocks instead of Unix seconds
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

remove _random, checking if something is broken
  packages/protocol/contracts/identity/Random.sol
Owners: @asaj, @m-chrzan

Change funding account to trufffle config and add overrides to upgrade
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/celotool/src/cmds/deploy/upgrade/contracts.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/protocol/migrations/17_elect_validators.ts
  packages/protocol/scripts/bash/migrate.sh
Owners: @asaj, @m-chrzan

added require errors
  packages/protocol/contracts/identity/Random.sol
Owners: @asaj, @m-chrzan

fixed lint
  packages/protocol/contracts/identity/Random.sol
Owners: @asaj, @m-chrzan

Lint fix
  packages/web/src/fauceting/RequestFunds.tsx
  packages/web/src/icons/Android.tsx
  packages/web/src/icons/Apple.tsx
Owners: @cmcewen, @aaronmgdr

Lint fix
  packages/web/src/shared/Footer.3.tsx
Owners: @cmcewen, @aaronmgdr

bump
  packages/protocol/contracts/identity/Random.sol
Owners: @asaj, @m-chrzan

Add SafeCast library
  packages/protocol/contracts/common/MockSafeCast.sol
  packages/protocol/contracts/common/SafeCast.sol
  packages/protocol/test/common/safecast.ts
Owners: @asaj, @m-chrzan

bump
  packages/protocol/contracts/identity/Random.sol
Owners: @asaj, @m-chrzan

oops
  packages/protocol/contracts/identity/Random.sol
Owners: @asaj, @m-chrzan

PR comments
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/cli/ @mcortesi @asaj
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/walletkit/ @ashishb @yerdua
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/web/ @cmcewen @aaronmgdr
