Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

More improvements from review.
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Update rewards:show docs
  packages/cli/src/commands/rewards/show.ts
  packages/docs/command-line-interface/rewards.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Add example phone number in country query
  packages/utils/src/countries.ts
  packages/utils/src/phoneNumbers.test.ts
  packages/utils/src/phoneNumbers.ts
Owners: @jmrossy

Add a method in utils to get the example phone number of each country
  packages/utils/src/phoneNumbers.test.ts
  packages/utils/src/phoneNumbers.ts
Owners: @jmrossy

Show correct placeholder by country on join Celo view
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/invite/__snapshots__/JoinCelo.test.tsx.snap
  packages/react-components/components/PhoneNumberInput.tsx
  packages/react-components/components/__snapshots__/PhoneNumberInput.test.tsx.snap
  packages/utils/src/countries.ts
  packages/utils/src/phoneNumbers.ts
  packages/verifier/src/components/NUX/SetupAccountScreen.tsx
  packages/verifier/src/components/__snapshots__/PhoneNumberInput.test.tsx.snap
Owners: @cmcewen, @jmrossy

remove package-lock
  packages/celotool/package-lock.json
Owners: @timmoreton

remove console logger
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

remove redundant variable
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

fixing celocli command that was not using then $CELOCLI env var
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

Use correct phone placeholder depending on the country on joining Celo view (#2061)
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/invite/__snapshots__/JoinCelo.test.tsx.snap
  packages/react-components/components/PhoneNumberInput.tsx
  packages/react-components/components/__snapshots__/PhoneNumberInput.test.tsx.snap
  packages/utils/src/countries.ts
  packages/utils/src/phoneNumbers.test.ts
  packages/utils/src/phoneNumbers.ts
  packages/verifier/src/components/NUX/SetupAccountScreen.tsx
  packages/verifier/src/components/__snapshots__/PhoneNumberInput.test.tsx.snap
Owners: @cmcewen, @jmrossy

better error handling
  packages/leaderboard/src/board.ts
Owners: @timmoreton

Removed txlb
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node-load-balancer/output.tf
  packages/terraform-modules-public/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules-public/testnet/outputs.tf
  packages/terraform-modules-public/testnet/variables.tf
Owners: @timmoreton

Fix using requester instead of requestee at Outgoing notifications
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/utils.ts
Owners: @cmcewen, @jmrossy

Revert "make the initial exchange rate report be an envvar-configurable value. set it to 1 for baklava"
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/protocol/migrations/08_stabletoken.ts
Owners: @timmoreton, @asaj, @m-chrzan

give up on env-specific solutions. hardcode it just like before
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

make the contractkit tests deal with new goldPrice
  packages/contractkit/src/wrappers/SortedOracles.test.ts
Owners: @timmoreton

Revert "make the initial exchange rate report be an envvar-configurable value. set it to 1 for baklava"
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/protocol/migrations/08_stabletoken.ts
Owners: @timmoreton, @asaj, @m-chrzan

Fix using requester instead of requestee at Outgoing notifications (#2240)
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/utils.ts
Owners: @cmcewen, @jmrossy

Fix AsyncStorage data loss on iOS
  packages/mobile/index.js
  packages/mobile/src/forceCommunityAsyncStorage.ts
Owners: @cmcewen, @jmrossy

Use community AsyncStorage in Apollo
  packages/mobile/src/apollo/index.ts
Owners: @cmcewen, @jmrossy

Fix lint
  packages/mobile/src/apollo/index.ts
  packages/mobile/src/forceCommunityAsyncStorage.ts
Owners: @cmcewen, @jmrossy

Fix wrong type for comment key
  packages/mobile/src/identity/commentKey.ts
  packages/mobile/src/identity/verification.ts
Owners: @cmcewen, @jmrossy

Updated example
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/variables.tf
Owners: @timmoreton

Nearly done contact importing progress reporting
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/identity/actions.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/reducer.ts
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/send/Send.tsx
Owners: @cmcewen, @jmrossy

Debugging statements wip
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/send/saga.ts
  packages/mobile/src/transactions/saga.ts
Owners: @cmcewen, @jmrossy

Update tests
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/components/__snapshots__/FeeIcon.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationCard.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/FeeExchangeEducation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/SendConfirmation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
Owners: @cmcewen, @jmrossy

[Wallet] Refer to Celo Lite as "Data Saver" mode (#2232)
  packages/mobile/README.md
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/DataSaver.test.tsx
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Owners: @cmcewen, @jmrossy

Revert "Upgrade TS version (#2196)"
  package.json
  packages/blockchain-api/package.json
  packages/celotool/src/cmds/deploy/upgrade/ethstats.ts
  packages/celotool/src/cmds/deploy/upgrade/leaderboard.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/cli/package.json
  packages/notification-service/package.json
  packages/react-components/analytics/wrapper.tsx
  packages/react-components/components/TextInput.tsx
  yarn.lock
Owners: @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz

Revert "Upgrade TS version (#2196)" (#2251)
  package.json
  packages/blockchain-api/package.json
  packages/celotool/src/cmds/deploy/upgrade/ethstats.ts
  packages/celotool/src/cmds/deploy/upgrade/leaderboard.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/cli/package.json
  packages/notification-service/package.json
  packages/react-components/analytics/wrapper.tsx
  packages/react-components/components/TextInput.tsx
  yarn.lock
Owners: @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz

Add utils as a dep
  packages/blockchain-api/package.json
Owners: @jmrossy, @cmcewen

remove array
  packages/web/src/brandkit/Logo.tsx
Owners: @cmcewen, @aaronmgdr

Fix missing Text on website (#2237)
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/community/CodeOfConduct.tsx
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/FaucetPage.tsx
  packages/web/src/i18n.ts
  packages/web/src/shared/Footer.3.tsx
Owners: @cmcewen, @aaronmgdr

Update docs for stopping validator
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Improvements from next round of feedback
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

WIP
  packages/web/.babelrc
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/nodemon.json
  packages/web/package.json
  packages/web/server/Announcement.ts
  packages/web/server/AssetBase.ts
  packages/web/server/EventHelpers.ts
  packages/web/server/FellowshipApp.ts
  packages/web/server/airtable.ts
  packages/web/server/index.ts
  packages/web/src/analytics/analytics.ts
  packages/web/src/forms/EmailForm.tsx
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/CookieConsent.tsx
  packages/web/src/join/Rise.tsx
  packages/web/src/layout/ScreenSize.tsx
  packages/web/src/logos/LogoLightBg.tsx
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Footer.3.tsx
  packages/web/src/shared/OvalCoin.tsx
  packages/web/tsconfig.json
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Revert "Revert "Upgrade TS version (#2196)" (#2251)"
  package.json
  packages/blockchain-api/package.json
  packages/celotool/src/cmds/deploy/upgrade/ethstats.ts
  packages/celotool/src/cmds/deploy/upgrade/leaderboard.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/cli/package.json
  packages/notification-service/package.json
  packages/react-components/analytics/wrapper.tsx
  packages/react-components/components/TextInput.tsx
  yarn.lock
Owners: @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz

Add ts-ignore
  packages/react-components/components/PhoneNumberInput.tsx
Owners: @cmcewen, @jmrossy

Force same bignumber version
  package.json
  yarn.lock
Owners: @timmoreton

Force same bignumber version (#2256)
  package.json
  yarn.lock
Owners: @timmoreton

Revert "Revert "Upgrade TS version (#2196)" (#2251)" (#2255)
  package.json
  packages/blockchain-api/package.json
  packages/celotool/src/cmds/deploy/upgrade/ethstats.ts
  packages/celotool/src/cmds/deploy/upgrade/leaderboard.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/cli/package.json
  packages/notification-service/package.json
  packages/react-components/analytics/wrapper.tsx
  packages/react-components/components/TextInput.tsx
  yarn.lock
Owners: @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
