Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

slightly generalized locked gold spec
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

collect coverage on web (#2415)
  .circleci/config.yml
  .codecov.yml
  packages/web/package.json
Owners: @timmoreton, @cmcewen, @aaronmgdr

Add -t flag to Docker stop commands (#2481)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Add react-testing-utils + Fix Analytics (#2437)
  packages/web/__mocks__/@segment/in-eu.ts
  packages/web/__mocks__/load-segment.ts
  packages/web/package.json
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/about/Team.test.tsx
  packages/web/src/about/Team.tsx
  packages/web/src/analytics/analytics.test.ts
  packages/web/src/analytics/analytics.ts
  packages/web/src/brandkit/common/MobileMenu.test.tsx
  packages/web/src/brandkit/common/MobileMenu.tsx
  packages/web/src/community/connect/Events.test.tsx
  packages/web/src/header/BlueBanner.test.tsx
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/home/HomeSystems.tsx
  packages/web/src/icons/RedditLogo.tsx
  packages/web/src/join/Benefits.tsx
  packages/web/src/join/JoinPage.tsx
  packages/web/src/privacy/Privacy.tsx
  packages/web/src/shared/Spinner.tsx
  packages/web/src/shared/Triangle.tsx
  packages/web/src/utils/utils.ts
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Snap
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Add tests
  packages/mobile/src/exchange/saga.test.ts
Owners: @cmcewen, @jmrossy

Make changes based on review
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/saga.ts
Owners: @cmcewen, @jmrossy

fix celocli version reference
  packages/transaction-metrics-exporter/package.json
  yarn.lock
Owners: @nambrot, @timmoreton

Configure the time to wait for text messages (#2450)
  packages/celotool/src/cmds/bots/auto-verify.ts
Owners: @timmoreton

Nice tests
  packages/web/src/analytics/analytics.test.ts
  packages/web/src/analytics/analytics.ts
Owners: @cmcewen, @aaronmgdr

Update spec
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Merge snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Page for Experience / BrandKit / Composition (#2462)
  packages/web/pages/experience/brand/composition.tsx
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/experience/composition.test.tsx
  packages/web/src/brandkit/Composition.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/images/aroundPhone.png
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/menu-items.ts
  packages/web/static/locales/en/brand.json
Owners: @cmcewen, @aaronmgdr

Fixes celotool deploy initial testnet for GETH_NODE_DOCKER_IMAGE_TAG=master
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/helm-charts/testnet/values.yaml
Owners: @nambrot, @timmoreton

Improve election efficiency by short circuiting (#2475)
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/package.json
Owners: @asaj, @m-chrzan

Don't delete still needed pkey file
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @nambrot, @timmoreton

lint and compile issues in status
  packages/cli/src/commands/validator/status.ts
Owners: @mcortesi, @asaj

add description
  packages/cli/src/commands/validator/heartbeat.ts
Owners: @mcortesi, @asaj

Update snap bc fixed logo
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

update docs
  packages/cli/src/commands/validator/heartbeat.ts
  packages/docs/command-line-interface/validator.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

change heartbeat command to signed-blocks
  packages/cli/src/commands/validator/signed-blocks.ts
Owners: @mcortesi, @asaj

update docs
  packages/docs/command-line-interface/validator.md
Owners: @timmoreton, @cla-bel

Fix Logo + backers number change (#2453)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/animation/__snapshots__/rise.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/about/Backers.tsx
  packages/web/src/about/backers/backers.ts
  packages/web/src/about/backers/valor.jpg
  packages/web/src/logos/Logo.tsx
  packages/web/static/locales/en/about.json
Owners: @cmcewen, @aaronmgdr

Bump @celo/celocli version to 0.0.34 (#2420)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/notification-service/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
  packages/web/package.json
  yarn.lock
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy, @annakaz, @m-chrzan, @nambrot, @ashishb, @yerdua, @aaronmgdr

fix linter error
  packages/cli/src/commands/validator/signed-blocks.ts
Owners: @mcortesi, @asaj

Fix redirect domain
  packages/helm-charts/ethstats/templates/ethstats.ingress.yaml
Owners: @nambrot, @timmoreton

added checks for validators and groups
  packages/cli/src/commands/validator/register.test.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

MultiSig -> removed unused event, 08_stabletoken.ts and set_exchange_rate.ts the median rate is multiplied by 10^24 (toFixed), sortedoracles.ts (unittests) numerator / denomerator replaced with rate
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/scripts/truffle/set_exchange_rate.ts
  packages/protocol/test/stability/sortedoracles.ts
  packages/protocol/test/stability/stabletoken.ts
Owners: @asaj, @m-chrzan

improved check for lockedgold:unlock
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

more checks for validator:deregister
  packages/cli/src/commands/validator/deregister.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

fixes acc. to Asa's comments
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

GasPriceMinimum namings -> rateNumerator to rate, sortedoracles unit tests small assertion correction
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

getTotalBalance now should work for non accounts
  packages/contractkit/src/kit.ts
Owners: @timmoreton

Fix integration build db url on Android
  packages/mobile/android/app/src/integration/google-services.json.enc
Owners: @cmcewen, @jmrossy

Added baklavastaging leaderboard sheet credentials
  .env.baklavastaging
  .env.mnemonic.baklavastaging.enc
Owners: @timmoreton

Update fiat exchange test
  packages/mobile/src/account/FiatExchange.test.tsx
  packages/mobile/src/account/__snapshots__/FiatExchange.test.tsx.snap
Owners: @cmcewen, @jmrossy

Add validator:signed-blocks command and fix validator:status bug (#2456)
  packages/cli/src/commands/validator/signed-blocks.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/utils/election.ts
  packages/docs/command-line-interface/validator.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Update test schema w tobintax
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Fixes governance CLI bugs encountered while running election contract upgrade (#2482)
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/cli.ts
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Governance.ts
Owners: @mcortesi, @asaj, @timmoreton

Navigate to wallet home after payment request
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
Owners: @cmcewen, @jmrossy

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
