Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

PR cleanup
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/shared/DisconnectBanner.tsx
Owners: @cmcewen, @jmrossy

Add readable proposals to governance:view command (#2545)
  packages/cli/src/commands/governance/view.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/command-line-interface/governance.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

🧹Web cleanup (readme + static dir) (#2562)
  packages/web/README.md
  packages/web/package.json
  packages/web/public/assets/CeloColorLogo.zip
  packages/web/public/assets/CeloColorLogoReverse.zip
  packages/web/public/assets/CeloGlyphs.zip
  packages/web/public/assets/CeloLogoPackage.zip
  packages/web/public/assets/CeloMonochromeLogo.zip
  packages/web/public/assets/CeloMonochromeLogoReverse.zip
  packages/web/public/images/AboutPreview.jpg
  packages/web/public/static/favicon.ico
  packages/web/public/static/locales/en/about.json
  packages/web/public/static/locales/en/applications.json
  packages/web/public/static/locales/en/brand.json
  packages/web/public/static/locales/en/codeofconduct.json
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/community.json
  packages/web/public/static/locales/en/dev.json
  packages/web/public/static/locales/en/download.json
  packages/web/public/static/locales/en/faq.json
  packages/web/public/static/locales/en/faucet.json
  packages/web/public/static/locales/en/home.json
  packages/web/public/static/locales/en/jobs.json
  packages/web/public/static/locales/en/technology.json
  packages/web/public/static/locales/en/terms.json
  packages/web/public/static/normalize.css
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/about/VideoCover.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/community/CodeOfConduct.tsx
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

update contributing.md
  packages/docs/community/contributing.md
Owners: @timmoreton, @cla-bel

Internal k8s testnet working
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/proxy.service.yaml
  packages/helm-charts/testnet/templates/proxy.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

First pass at #2390
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

add active
  packages/docs/community/contributing.md
Owners: @timmoreton, @cla-bel

✨ add brand kit to the connection footer (#2575)
  packages/web/public/static/locales/en/community.json
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/icons/DrawCoin.tsx
  packages/web/src/icons/draw-coin-light-bg.png
  packages/web/src/layout/BookLayout.tsx
  packages/web/src/shared/ConnectionFooter.tsx
  packages/web/src/shared/SocialChannels.tsx
Owners: @cmcewen, @aaronmgdr

Wait for geth to connect before web3 sync
  packages/mobile/.env
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

forno off in env file
  packages/mobile/.env
Owners: @cmcewen, @jmrossy

Remove unneeded logging
  packages/mobile/src/app/Debug.tsx
Owners: @cmcewen, @jmrossy

Show only buy when no gold
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
Owners: @cmcewen, @jmrossy

Proof read
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Fix react-components tests
  packages/react-components/components/__snapshots__/BaseNotification.test.tsx.snap
Owners: @cmcewen, @jmrossy

Fix tests
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Keep refining
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

[Wallet] Fix shadow on single incoming payment request notification (#2568)
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/react-components/components/BaseNotification.tsx
  packages/react-components/components/__snapshots__/BaseNotification.test.tsx.snap
Owners: @cmcewen, @jmrossy

Fix parsing to work with commas
  packages/mobile/src/exchange/ExchangeReview.tsx
Owners: @cmcewen, @jmrossy

Add tests for wrong index being passed in Governance (#2544)
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Updating comments and various style
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
Owners: @asaj, @m-chrzan

Changing test style:
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

- harden contract loading
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

- make full node default
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

- fix instances
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

- remove recursive geth config
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/geth-instance-config.ts
Owners: @timmoreton

- rework verbose output
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

- fix proxy
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

- fix port logging
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

optimize logging
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

- activate logging
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton

- refactor
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Changes to allow multiple blockscout instances in the same env
  packages/celotool/src/cmds/deploy/destroy/blockscout.ts
  packages/celotool/src/cmds/deploy/initial/blockscout.ts
  packages/celotool/src/cmds/deploy/migrate/blockscout.ts
  packages/celotool/src/cmds/deploy/upgrade/blockscout.ts
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/blockscout/templates/_helpers.tpl
  packages/helm-charts/blockscout/templates/blockscout-web.ingress.yaml
  packages/helm-charts/blockscout/templates/blockscout.secret.yaml
Owners: @timmoreton, @nambrot

- refactor gethRepo path in tests
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/geth-run-config.ts
Owners: @timmoreton

- adapt genesis file changes
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

changes CI back to master
  .circleci/config.yml
Owners: @timmoreton

- fix governance tests
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Removes EpochData (#2361)
  packages/celotool/src/lib/generate_utils.ts
  packages/docs/package.json
  yarn.lock
Owners: @timmoreton, @cla-bel

[Wallet] Fix gold charts staying in loading state when USD is the selected currency
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
Owners: @cmcewen, @jmrossy

- add proxy support
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/geth-instance-config.ts
Owners: @timmoreton

i want to lint free
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton
