Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Added constitution for freezer contract (#3026)
  packages/protocol/governanceConstitution.js
Owners: @asaj, @m-chrzan

Added nightly entry
  .circleci/config.yml
Owners: @timmoreton

Integration script wip
  .circleci/config.yml
  .env.scenario2
  packages/celotool/bin/integration.sh
Owners: @timmoreton

Make exchange rate local currency aware
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeRate.tsx
  packages/mobile/src/utils/formatting.ts
Owners: @cmcewen, @jmrossy

Added gcloud config
  .circleci/config.yml
  packages/celotool/bin/integration.sh
Owners: @timmoreton

Script improvement and fixes
  .circleci/config.yml
  packages/celotool/bin/integration.sh
Owners: @timmoreton

helm fixes
  .circleci/config.yml
  packages/celotool/src/lib/helm_deploy.ts
Owners: @timmoreton

Update ExchangeRate test
  packages/mobile/src/exchange/ExchangeRate.test.tsx
  packages/mobile/src/exchange/ExchangeRate.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeRate.test.tsx.snap
  packages/mobile/test/utils.ts
Owners: @cmcewen, @jmrossy

Added credentials
  .circleci/config.yml
Owners: @timmoreton

Improve how the order functions are created
  packages/web/src/dev/ValidatorsList.tsx
Owners: @cmcewen, @aaronmgdr

Add attestation column on validator explorer
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
Owners: @cmcewen, @aaronmgdr

Separate in components Validator explorer
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListRow.tsx
  packages/web/src/dev/ValidatorsListStyles.tsx
Owners: @cmcewen, @aaronmgdr

Add typings
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListRow.tsx
Owners: @cmcewen, @aaronmgdr

Add a spinner to show the loading state
  packages/web/src/dev/ValidatorsListApp.tsx
Owners: @cmcewen, @aaronmgdr

Add tests on Validator explorer
  packages/web/src/_page-tests/validators/__snapshots__/explore.test.tsx.snap
  packages/web/src/_page-tests/validators/explore.test.tsx
Owners: @cmcewen, @aaronmgdr

Add attestation column on validator explorer (#2841)
  packages/web/src/_page-tests/validators/__snapshots__/explore.test.tsx.snap
  packages/web/src/_page-tests/validators/explore.test.tsx
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
  packages/web/src/dev/ValidatorsListRow.tsx
  packages/web/src/dev/ValidatorsListStyles.tsx
Owners: @cmcewen, @aaronmgdr

Use CurrencyDisplay for notifications
  packages/mobile/locales/en-US/inviteFlow11.json
  packages/mobile/locales/en-US/paymentRequestFlow.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/locales/es-419/paymentRequestFlow.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/escrow/EscrowedPaymentLineItem.test.tsx
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentLineItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeRate.test.tsx.snap
  packages/mobile/src/home/NotificationBox.test.tsx
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/NotificationList.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/PaymentRequestNotificationInner.test.tsx
  packages/mobile/src/paymentRequest/PaymentRequestNotificationInner.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestNotificationInner.test.tsx.snap
  packages/react-components/components/BaseNotification.tsx
Owners: @cmcewen, @jmrossy

update wrapper doc
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.basewrapper.md
Owners: @timmoreton, @cla-bel

Point CELO_BLOCKCHAIN_BRANCH_TO_TEST back to master
  .circleci/config.yml
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Workaround freeze deployment
  packages/celotool/bin/integration.sh
Owners: @timmoreton

WIP
  packages/cli/package.json
  packages/cli/src/commands/releasegold/authorize.test.ts
  packages/cli/src/commands/releasegold/authorize.ts
  packages/protocol/scripts/devchain.ts
Owners: @mcortesi, @asaj, @m-chrzan

SOME clean up (abort controller WIP)
  packages/web/server/Alliance.ts
  packages/web/server/airtable.ts
  packages/web/src/alliance/Main.tsx
  packages/web/src/alliance/Members.tsx
Owners: @cmcewen, @aaronmgdr

docs again...
  packages/docs/developer-resources/contractkit/reference/classes/_web3_contract_cache_.web3contractcache.md
Owners: @timmoreton, @cla-bel

Add initAndSyncGethWithRetry
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Point CELO_BLOCKCHAIN_BRANCH_TO_TEST back to master (#3041)
  .circleci/config.yml
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Use initAndSyncGethWithRetry in e2e-tests/transfer_tests
  packages/celotool/ci_test_attestations.sh
  packages/celotool/ci_test_blockchain_parameters.sh
  packages/celotool/ci_test_governance.sh
  packages/celotool/ci_test_slashing.sh
  packages/celotool/ci_test_transfers.sh
  packages/celotool/ci_test_validator_order.sh
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

Use waitForBlock in slashing_tests
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton

Fix reversed if-then-else logic
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

debug
  packages/celotool/bin/integration.sh
  packages/protocol/scripts/bash/upload_artifacts.sh
Owners: @timmoreton, @asaj, @m-chrzan

Fix lints
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

dont set State if component has unmounted
  packages/web/src/alliance/Members.tsx
Owners: @cmcewen, @aaronmgdr

Add Insure Type
  packages/web/public/static/locales/en/alliance.json
  packages/web/src/alliance/CategoryEnum.ts
Owners: @cmcewen, @aaronmgdr

Put back unlock before sync
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

Make menu dark not black Member logos should be span width space around Double vertical space on each logouts center pinwheell mobile + still mode for lower area alliance before community on header
  packages/web/src/alliance/Main.tsx
  packages/web/src/alliance/Members.tsx
  packages/web/src/alliance/PinWheel.tsx
  packages/web/src/alliance/RisingPinWheelForm.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/menu-items.ts
  packages/web/src/styles.ts
Owners: @cmcewen, @aaronmgdr

add proxy support to localtestnet command
  packages/celotool/src/cmds/local_testnet.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/geth-instance-config.ts
  packages/celotool/src/lib/interfaces/geth-run-config.ts
Owners: @timmoreton

full width on mobile
  packages/web/src/alliance/SignupForm.tsx
Owners: @cmcewen, @aaronmgdr

fix full width button
  packages/web/src/alliance/SignupForm.tsx
  packages/web/src/forms/FormComponents.tsx
  packages/web/src/shared/Button.3.tsx
Owners: @cmcewen, @aaronmgdr

better spacing of content for affirmations
  packages/web/src/alliance/Affirmations.tsx
  packages/web/src/styles.ts
Owners: @cmcewen, @aaronmgdr

looks amazing on tablet mode
  packages/web/src/alliance/Affirmations.tsx
  packages/web/src/alliance/Benefits.tsx
  packages/web/src/alliance/Members.tsx
  packages/web/src/alliance/SignupForm.tsx
Owners: @cmcewen, @aaronmgdr

WIP on new backup icons
  packages/mobile/locales/en-US/backupKeyFlow6.json
  packages/mobile/src/backup/BackupIntroduction.tsx
  packages/mobile/src/backup/BackupSocialIntro.tsx
  packages/mobile/src/icons/BackupIcon.tsx
  packages/mobile/src/icons/BackupIntroIcon.tsx
  packages/mobile/src/icons/BackupKeyIcon.tsx
  packages/mobile/src/icons/LockedPhoneIcon.tsx
  packages/mobile/src/icons/SafeguardsIcon.tsx
  packages/mobile/src/icons/SafeguardsPeopleIcon.tsx
  packages/mobile/src/images/Images.ts
  packages/mobile/src/images/backup-icon.png
  packages/mobile/src/images/backup-icon@2x.png
  packages/mobile/src/images/backup-icon@3x.png
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/import/ImportWalletEmpty.tsx
  packages/mobile/src/import/ImportWalletSocial.tsx
  packages/mobile/src/pincode/PincodeEducation.tsx
Owners: @cmcewen, @jmrossy

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
