Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

transfers between competitors
  packages/leaderboard/src/util.ts
Owners: @timmoreton

- add more wait for sync
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

- do not wait for sync on transfer tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

make tests bail
  packages/celotool/ci_test_attestations.sh
  packages/celotool/ci_test_blockchain_parameters.sh
  packages/celotool/ci_test_governance.sh
  packages/celotool/ci_test_slashing.sh
  packages/celotool/ci_test_sync.sh
  packages/celotool/ci_test_transfers.sh
  packages/celotool/ci_test_validator_order.sh
Owners: @timmoreton

log sleep
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton

fix peer connection
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

fix peer connection
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

fix peer connection
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton

Address feedback
  packages/mobile/src/verify/VerificationFailedModal.tsx
Owners: @cmcewen, @jmrossy

- fix peer connection
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton

checking votes
  packages/leaderboard/src/checkVotes.ts
  packages/leaderboard/src/util.ts
Owners: @timmoreton

Running local testnet from celotool (#2512)
  packages/celotool/ci_test_attestations.sh
  packages/celotool/ci_test_blockchain_parameters.sh
  packages/celotool/ci_test_governance.sh
  packages/celotool/ci_test_slashing.sh
  packages/celotool/ci_test_sync.sh
  packages/celotool/ci_test_transfers.sh
  packages/celotool/ci_test_validator_order.sh
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/genesis-config.ts
  packages/celotool/src/lib/interfaces/geth-instance-config.ts
  packages/celotool/src/lib/interfaces/geth-run-config.ts
  packages/celotool/src/lib/utils.ts
Owners: @timmoreton

Make proxy.allowprivateip contigent on GETH_DEBUG
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @nambrot, @timmoreton

Fix getDequeue to not filter zeroes by default for index calculation
  packages/cli/src/commands/governance/list.ts
  packages/contractkit/src/wrappers/Governance.ts
Owners: @mcortesi, @asaj, @timmoreton

votes script
  packages/leaderboard/src/checkVotes.ts
Owners: @timmoreton

Add examples for building proposals in propose command
  packages/cli/src/commands/governance/propose.ts
Owners: @mcortesi, @asaj

Make proposal formation more obvious
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/governance.ts
Owners: @mcortesi, @asaj

Add print of proposal before sending tx
  packages/cli/src/commands/governance/propose.ts
Owners: @mcortesi, @asaj

Add ProposalBuilder logic to executehotfix
  packages/cli/src/commands/governance/executehotfix.ts
Owners: @mcortesi, @asaj

Added pods to iOS
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Owners: @cmcewen, @jmrossy

minor clean-up
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/utils/dynamicLink.ts
Owners: @cmcewen, @jmrossy

Fix booleans
  packages/celotool/src/lib/migration-utils.ts
Owners: @timmoreton

Address comments
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton

Clean up, change vm-exec
  .env
  .env.alfajoresstaging
  .env.baklava
  .env.baklavastaging
  .env.integration
  .env.integrationtesting
  .env.mnemonic.integrationtesting.enc
  .env.pilot
  .env.pilotstaging
  packages/celotool/src/cmds/vm-exec.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/terraform.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/proxy.service.yaml
  packages/helm-charts/testnet/templates/proxy.statefulset.yaml
  packages/helm-charts/testnet/templates/txnode.service.yaml
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/helm-charts/testnet/templates/validators.service.yaml
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/outputs.tf
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/variables.tf
  packages/terraform-modules/testnet/variables.tf
Owners: @timmoreton, @nambrot, @tkporter

Fix lint
  packages/celotool/src/lib/migration-utils.ts
Owners: @timmoreton

Refactor expiration logic to dedupe
  packages/contractkit/src/wrappers/Governance.ts
  packages/protocol/contracts/governance/Governance.sol
Owners: @timmoreton, @asaj, @m-chrzan

Renaming vesting -> releasing and adding new storage. Tests passing
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldInstance.sol
  packages/protocol/contracts/governance/proxies/ReleaseGoldFactoryProxy.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/11_release_gold_factory.ts
  packages/protocol/scripts/build.ts
  packages/protocol/test/governance/release_gold.ts
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

Update list to show expired proposals
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

Simplify execute hotfix builders
  packages/cli/src/commands/governance/executehotfix.ts
Owners: @mcortesi, @asaj

Better configuration of lightserve
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Fix lint
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton

Fix geth flags for e2e
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Fix ts-node for e2e tests
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

fix this.state is null and not an object (#2612)
  packages/mobile/src/dappkit/DappKitAccountScreen.tsx
Owners: @cmcewen, @jmrossy

Human readable description for governance proposals (#2525)
  packages/cli/src/commands/governance/propose.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/command-line-interface/governance.md
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/governance.ts
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel, @m-chrzan

[Wallet] Fix Pay & Decline buttons when open app from notification (#2606)
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.test.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/send/actions.ts
  packages/mobile/src/send/saga.ts
  packages/notification-service/src/firebase.ts
  packages/notification-service/src/handlers.ts
Owners: @cmcewen, @jmrossy, @annakaz

[Wallet] Make reveal error during verification recoverable (#2611)
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/config.ts
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/verify/VerificationFailedModal.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
Owners: @cmcewen, @jmrossy

Address comments
  packages/contractkit/src/wrappers/Governance.ts
  packages/protocol/contracts/governance/Governance.sol
Owners: @timmoreton, @asaj, @m-chrzan

Recommend only opening RPC port locally
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Freeze StableToken at contracts deployment
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrations/23_governance.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/stability/exchange.ts
  packages/protocol/test/stability/stabletoken.ts
Owners: @asaj, @m-chrzan
