Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Add docs on how to generate sms retriever hash
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

ummm
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/test/governance/validators.ts
  packages/web/pages/rewards.tsx
Owners: @asaj, @m-chrzan, @cmcewen, @aaronmgdr

Fixes needed to make slashing work (#2346)
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Make the same hotfix proposal executable with unique salts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Owners: @timmoreton, @asaj, @m-chrzan

Upgrade prettier to 1.19.1
  package.json
  packages/cli/package.json
  yarn.lock
Owners: @timmoreton, @mcortesi, @asaj

docker image syntax typo fix
  .env.baklavastaging
  packages/celotool/src/lib/voting-bot.ts
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
Owners: @timmoreton, @nambrot

Use same prettier version for all deps
  package.json
  yarn.lock
Owners: @timmoreton

more typo fixing. fix code that activates pending votes
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
Owners: @timmoreton, @nambrot

Do not dry-run helm dep build
  packages/celotool/src/lib/helm_deploy.ts
Owners: @timmoreton

move the account setup/confirmation into the initial deploy
  .env.baklavastaging
  packages/celotool/src/cmds/bots/setup-voting-bot-accounts.ts
  packages/celotool/src/cmds/deploy/destroy/voting-bot.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/voting-bot.ts
Owners: @timmoreton

avoid janky process.exit() by closing the web3 connection in contractkit instance
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/voting-bot.ts
Owners: @timmoreton

Adding a command to the docker script allowing to stop validating (#2295)
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

clean up a bit, using helper functions
  packages/celotool/src/cmds/bots/auto-vote.ts
Owners: @timmoreton

yield call
  packages/mobile/src/import/saga.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Remove package and other stuff
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/fonts/Fonts.tsx
  packages/web/src/forms/FormComponents.tsx
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Hmm
  yarn.lock
Owners: @timmoreton

Shorten testris component
  packages/web/src/about/Testris.tsx
  packages/web/src/about/Tetris.tsx
  packages/web/src/about/Values.tsx
Owners: @cmcewen, @aaronmgdr

Fix naming
  packages/web/src/about/Values.tsx
Owners: @cmcewen, @aaronmgdr

Update to latest blockchain with select issuers fix
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Variable name
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Fix type errors and presentation of profile on about page
  packages/web/server/cache.ts
  packages/web/server/getContributors.ts
  packages/web/src/about/Team.tsx
  packages/web/src/fonts/Fonts.tsx
Owners: @cmcewen, @aaronmgdr

Remove unused code style
  packages/web/src/about/Team.tsx
Owners: @cmcewen, @aaronmgdr

Update executehotfix to require a salt flag
  packages/cli/src/commands/governance/executehotfix.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Governance.ts
Owners: @mcortesi, @asaj, @timmoreton

Address comments
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Accounts.ts
Owners: @mcortesi, @asaj, @timmoreton

Update celotool hotfix to work with salt
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
Owners: @timmoreton

Lets try this
  yarn.lock
Owners: @timmoreton

Making my heart break
  yarn.lock
Owners: @timmoreton

WIP
  packages/mobile/package.json
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/gas.ts
  packages/mobile/src/web3/saga.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Combine sections on sms retriever
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Blank
  packages/web/src/about/About.tsx
Owners: @cmcewen, @aaronmgdr

WIP
  packages/mobile/src/fees/saga.ts
  packages/mobile/src/goldToken/saga.ts
  packages/mobile/src/stableToken/saga.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/saga.ts
Owners: @cmcewen, @jmrossy

Switch to using native pbkdf to fix hanging on older devices (#2354)
  packages/mobile/__mocks__/react-native-fast-crypto.ts
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/src/backup/utils.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/web3/saga.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

With ignore loader
  packages/web/next.config.js
  packages/web/package.json
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Fix yarn
  yarn.lock
Owners: @timmoreton

Update generated docs
  packages/docs/command-line-interface/governance.md
Owners: @timmoreton, @cla-bel

Update reconnecting-to-network.md
  packages/docs/getting-started/reconnecting-to-network.md
Owners: @timmoreton, @cla-bel

wip: chart + aggregated data from firebase
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/package.json
  packages/mobile/src/components/AccountOverview.tsx
  packages/mobile/src/components/__snapshots__/AccountOverview.test.tsx.snap
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.test.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/src/web3/saga.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Make chart as on design
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Refactor currency convertion and representation
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/hooks.ts
  packages/mobile/src/exchange/selectors.ts
  packages/mobile/src/localCurrency/hooks.ts
  packages/mobile/src/utils/formatting.ts
Owners: @cmcewen, @jmrossy

Add tests
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/src/exchange/CeloGoldHistoryChart.test.tsx
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.test.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.test.tsx
  packages/mobile/src/exchange/__snapshots__/CeloGoldHistoryChart.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/CeloGoldOverview.test.tsx.snap
  packages/mobile/src/exchange/hooks.ts
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/firebase/db-rules.json
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy
