Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

[M06] Prove control of walletAddress (#2926)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/account/proof-of-possession.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_accounts_.accountswrapper.md
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldInstance.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/governance/release_gold.ts
  packages/protocol/test/identity/attestations.ts
Owners: @timmoreton, @mcortesi, @asaj, @cla-bel, @m-chrzan

Larger machines for e2e tests
  .circleci/config.yml
Owners: @timmoreton

fixes error
  packages/protocol/test/common/transferwhitelist.ts
Owners: @asaj, @m-chrzan

fixes error
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Transferring ownership of releaseGold and using Wei
  packages/protocol/lib/web3-utils.ts
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

fixes error
  packages/protocol/migrations/03_transferwhitelist.ts
Owners: @asaj, @m-chrzan

Adding onlyOwner and lint
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Fixing releasegold tests
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

fixing test
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Addressing review
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

Back to setting oracle price by default
  packages/contractkit/src/wrappers/Exchange.test.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/integration.ts
Owners: @timmoreton, @asaj, @m-chrzan

No more unfreeze
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

Naming
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

fixes error
  packages/protocol/migrations/03_transferwhitelist.ts
  packages/protocol/test/common/transferwhitelist.ts
Owners: @asaj, @m-chrzan

fixes error
  packages/protocol/test/common/transferwhitelist.ts
Owners: @asaj, @m-chrzan

Update packages/docs/celo-codebase/protocol/identity/README.md
  packages/docs/celo-codebase/protocol/identity/README.md
Owners: @timmoreton, @cla-bel

[N07] Add docs about SIM swaps (#2956)
  packages/docs/celo-codebase/protocol/identity/README.md
Owners: @timmoreton, @cla-bel

Review
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
Owners: @asaj, @m-chrzan

Add asset allocations to Reserve.initialize (#2946)
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/08_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Release Gold migration script (#2925)
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldMultiSig.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGold.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/contracts/governance/proxies/ReleaseGoldMultiSigProxy.sol
  packages/protocol/contracts/governance/proxies/ReleaseGoldProxy.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/lib/web3-utils.ts
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/build.ts
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/scripts/truffle/releaseGoldContracts.json
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Adding testing
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

Expand explanation of properties of signer keys
  packages/docs/operations-manual/key-management.md
Owners: @timmoreton, @cla-bel

Fixing tests
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

Expand explanation of properties of signer keys (#2959)
  packages/docs/operations-manual/key-management.md
Owners: @timmoreton, @cla-bel

oops
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Actually fund reserve, turn off tobin tax
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

cleanup
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/contracts/stability/interfaces/IStableToken.sol
Owners: @asaj, @m-chrzan

merge upstream
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

revert
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

adding alternative function
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

properly set verbose
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

problems
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

problems
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

Unclear
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Fix transfer e2e tests
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

compiles
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

Fix iOS build
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
Owners: @cmcewen, @jmrossy

Fix transfer e2e tests (#2960)
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Fix reserve tests
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

merge upstream
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton
