Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Limit RPCs and prevent unneeded lb
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/proxy.statefulset.yaml
  packages/helm-charts/testnet/templates/txnode-private.service.yaml
  packages/helm-charts/testnet/templates/txnode-private.statefulset.yaml
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
Owners: @nambrot, @timmoreton

Move unfrozen balance check to _transferGold
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Add cash out functionality
  packages/earn-pilot-functions/package.json
  packages/earn-pilot-functions/src/index.ts
  packages/earn-pilot-functions/src/sendTokens.ts
  yarn.lock
Owners: @timmoreton

Logging cleanup in transferEarned firebase function
  packages/earn-pilot-functions/firebase-debug.log
  packages/earn-pilot-functions/src/index.ts
  packages/earn-pilot-functions/src/sendTokens.ts
Owners: @timmoreton

Vesting contract revamp (#2617)
  packages/cli/package.json
  packages/contractkit/package.json
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldInstance.sol
  packages/protocol/contracts/governance/proxies/VestingFactoryProxy.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/11_lockedgold.ts
  packages/protocol/migrations/11_vesting_factory.ts
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrations/13_election.ts
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrations/15_random.ts
  packages/protocol/migrations/16_attestations.ts
  packages/protocol/migrations/17_escrow.ts
  packages/protocol/migrations/18_blockchainparams.ts
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/scripts/build.ts
  packages/protocol/test/governance/release_gold.ts
  packages/protocol/test/governance/vesting.ts
Owners: @mcortesi, @asaj, @timmoreton, @m-chrzan

Removing releasegold factory and setting up for migration script
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGold.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/build.ts
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Fix graphic not showing and links incorrectly having an underline (#2837)
  packages/web/public/static/normalize.css
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/dev/Engage.tsx
  packages/web/src/shared/Button.3.tsx
Owners: @cmcewen, @aaronmgdr

update readme for gcloud auth
  packages/web/README.md
Owners: @cmcewen, @aaronmgdr

Add election view function with set size as parameter
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan

Remove firebase debug logs
  packages/earn-pilot-functions/firebase-debug.log
Owners: @timmoreton

Fix typo
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan

Remove fig8 icon
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/src/transactions/transferFeedUtils.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Use the last address attested in the wallet (#2838)
  packages/mobile/src/identity/contactMapping.ts
Owners: @cmcewen, @jmrossy

PR clean up
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

📓 update info for secrets file on web
  packages/web/README.md
Owners: @cmcewen, @aaronmgdr

🔁 rename build/faucet and build/wallet to developers/faucet and developers/wallet
  packages/web/pages/developers/faucet.tsx
  packages/web/pages/developers/wallet.tsx
  packages/web/server/index.ts
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/wallet.test.tsx.snap
  packages/web/src/_page-tests/developers/faucet.test.tsx
  packages/web/src/_page-tests/developers/wallet.test.tsx
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/validators/index.test.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Update snapshot
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
Owners: @cmcewen, @jmrossy

Parking progress
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/scripts/truffle/releaseGoldContracts.json
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

fix issue with file in static not being served from app engine due to configuration fixes #2847
  packages/web/development.yaml
  packages/web/pages/_document.tsx
  packages/web/production.yaml
  packages/web/public/favicon.ico
  packages/web/public/normalize.css
  packages/web/staging.yaml
Owners: @cmcewen, @aaronmgdr

WIP earn screen
  packages/mobile/src/account/Earn.tsx
Owners: @cmcewen, @jmrossy

Prevent dups in mnemonic
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

fix issue with file in static not being served from app engine due to… (#2856)
  packages/web/development.yaml
  packages/web/pages/_document.tsx
  packages/web/production.yaml
  packages/web/public/favicon.ico
  packages/web/public/normalize.css
  packages/web/staging.yaml
Owners: @cmcewen, @aaronmgdr

Remove unused analytic
  packages/mobile/src/analytics/constants.ts
Owners: @cmcewen, @jmrossy

On-chain governance constitution (#2748)
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/governanceConstitution.js
Owners: @asaj, @m-chrzan

✨ hide gray line on brand toolkit when at vary top.
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/common/TopBar.tsx
Owners: @cmcewen, @aaronmgdr

correct documentation on hotfixes
  packages/docs/celo-codebase/protocol/governance.md
Owners: @timmoreton, @cla-bel

address review comments
  packages/docs/celo-codebase/protocol/governance.md
Owners: @timmoreton, @cla-bel

Correct the information in the hotfix documentation (#2860)
  packages/docs/celo-codebase/protocol/governance.md
Owners: @timmoreton, @cla-bel

[L02] Inconsistent quorum calculation (#2796)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/cli/src/commands/governance/viewhotfix.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/test/GovernanceTest.sol
Owners: @timmoreton, @mcortesi, @asaj, @cla-bel, @m-chrzan

fixing comments, added a new test case for fixidity
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/contracts/common/Signatures.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/common/fixidity.ts
Owners: @asaj, @m-chrzan

adding return statement
  packages/protocol/contracts/common/MultiSig.sol
Owners: @asaj, @m-chrzan

removed modifier
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

removed requires
  packages/protocol/contracts/common/FixidityLib.sol
Owners: @asaj, @m-chrzan

[web] TEMPORARY: sdk-doc links to master branch
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

[contractKit] finish exporting types
  packages/contractkit/package.json
  packages/contractkit/src/explorer/log-explorer.ts
  packages/contractkit/src/newtypes.d.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-result.ts
  packages/contractkit/src/utils/wallet.test.ts
  packages/contractkit/src/utils/wallet.ts
  yarn.lock
Owners: @timmoreton

Add type dependency for fs-extra
  packages/dev-utils/package.json
Owners: @timmoreton

[web] Fix the links to the developer guide (#2816)
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Restrict RPCs for vms
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/full-node/variables.tf
Owners: @tkporter

Update yarn.lock
  yarn.lock
Owners: @timmoreton

Add private tx nodes to reset
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/kubernetes.ts
Owners: @timmoreton
