Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

[WiP] New schema to support historical rates in the transaction feed
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/mobile/codegen.yml
  packages/mobile/package.json
  packages/mobile/scripts/updateGraphQlSchema.ts
  packages/mobile/src/account/InviteReview.tsx
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/apollo/fragmentTypes.json
  packages/mobile/src/apollo/index.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/Activity.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/localCurrency/saga.ts
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/send/TransferReviewCard.test.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionReviewScreen.tsx
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/src/transactions/transferFeedUtils.ts
  yarn.lock
Owners: @jmrossy, @cmcewen, @timmoreton

[WiP] Fix types and restore functionalities (except standby transaction)
  packages/blockchain-api/src/blockscout.ts
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/Activity.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/localCurrency/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
Owners: @jmrossy, @cmcewen

Prevent the verification of a verified number and address
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
Owners: @cmcewen, @jmrossy

Restore better log message
  packages/walletkit/src/contract-utils.ts
Owners: @ashishb, @yerdua

add ws port and istanbul api
  packages/celotool/src/cmds/local_testnet.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Address comments
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/__snapshots__/CeloGoldHistoryChart.test.tsx.snap
Owners: @cmcewen, @jmrossy

Prevent the verification of a verified number and address (#2304)
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
Owners: @cmcewen, @jmrossy

updating to new version
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

added a param for web3 endpoint
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

trying to update helm charts etc.
  dockerfiles/leaderboard/Dockerfile
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/leaderboard.ts
  packages/helm-charts/leaderboard/templates/leaderboard.cronjob.yaml
  packages/helm-charts/leaderboard/templates/leaderboard.secret.yaml
  packages/helm-charts/leaderboard/values.yaml
Owners: @timmoreton, @nambrot

adding needed dependency
  packages/leaderboard/package.json
  yarn.lock
Owners: @timmoreton

Baklava & baklavastaging changes
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/vm-exec.ts
Owners: @timmoreton

Update snapshot
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Improve typing
  packages/web/server/cache.ts
Owners: @cmcewen, @aaronmgdr

Add getAccountsSlashed() to VotingGoldWrapper
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/docs/celo-codebase/protocol/proof-of-stake/penalties.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Upload correct bootnode IP address on internal testnet
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/helm_deploy.ts
Owners: @timmoreton

Some improvements to announcements, handle uppercase, cache for 4 hours , testing
  packages/web/server/Announcement.ts
  packages/web/server/announcement.test.ts
  packages/web/server/geoip.ts
Owners: @cmcewen, @aaronmgdr

Explicitly unfreeze in exchange integration test
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

[cli] Showing summed up balances for claimed accounts (#2118)
  packages/cli/src/commands/account/balance.ts
  packages/cli/src/commands/account/show-claimed-accounts.ts
  packages/contractkit/src/kit.ts
  packages/docs/command-line-interface/account.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

contractkit: Add DoubleSigningSlasherWrapper
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Fix documentation link
  README.md
Owners: @timmoreton

Remove og references
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.integration
  .env.integrationtesting
  .env.pilot
  .env.pilotstaging
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/kubernetes.ts
  packages/celotool/src/lib/port_forward.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

Don't prettify yaml files
  package.json
Owners: @timmoreton

Remove more code
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

Freeze exchange and epoch rewards on initialize (#2379)
  packages/celotool/src/e2e-tests/utils.ts
  packages/dev-utils/src/migration-override.json
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/integration.ts
Owners: @timmoreton, @asaj, @m-chrzan

Fix up place and size of still version of home cover so that blue banner doesnt hide it
  packages/web/src/home/HomeAnimation.tsx
  packages/web/src/home/version3/HomeCover.tsx
Owners: @cmcewen, @aaronmgdr

Upload json stringified static nodes again
  packages/celotool/src/lib/testnet-utils.ts
Owners: @timmoreton

Upload static nodes as JSON (#2406)
  packages/celotool/src/lib/testnet-utils.ts
Owners: @timmoreton

Fix mobile menu so it covers the announcement
  packages/web/src/header/Header.3.tsx
Owners: @cmcewen, @aaronmgdr

Fixes #2409 Firefox failing.
  packages/web/src/utils/utils.ts
Owners: @cmcewen, @aaronmgdr

prettify
  packages/protocol/migrations/23_elect_validators.ts
Owners: @asaj, @m-chrzan

Was downloading 5mb whoops. Just do 2kb
  packages/web/src/utils/utils.ts
Owners: @cmcewen, @aaronmgdr

Baklava & baklavastaging changes (#2401)
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/vm-exec.ts
Owners: @timmoreton

add metrics and istanbul api to ws
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

added 'connection not open' to EndReason set
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @nambrot

Reverting to old lockedgold amount and new voting amount (#2396)
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Update Discord link to be a valid invite
  README.md
Owners: @timmoreton

Update Discord link to be a valid invite (#2414)
  README.md
Owners: @timmoreton

Cache Third party Calls +fix medium (#2394)
  packages/web/server/AssetBase.ts
  packages/web/server/EventHelpers.ts
  packages/web/server/cache.test.ts
  packages/web/server/cache.ts
  packages/web/server/mediumAPI.ts
Owners: @cmcewen, @aaronmgdr

Fixes #2409 Firefox exception (#2410)
  packages/web/src/utils/utils.ts
Owners: @cmcewen, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
