Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

fixed numerator/denominatpr in soredoracles kit
  packages/contractkit/src/wrappers/SortedOracles.ts
Owners: @timmoreton

more unit tests
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

fixing-flakiness
  packages/cli/src/commands/election/run.ts
  packages/protocol/test/governance/governance.ts
Owners: @mcortesi, @asaj, @m-chrzan

fixing flakiness
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

Add fiat exchange test
  packages/mobile/.env
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/FiatExchange.test.tsx
  packages/mobile/src/account/FiatExchange.tsx
  packages/mobile/src/account/__snapshots__/FiatExchange.test.tsx.snap
Owners: @cmcewen, @jmrossy

Revert .env
  packages/mobile/.env
Owners: @cmcewen, @jmrossy

Add comment
  packages/mobile/src/account/FiatExchange.tsx
Owners: @cmcewen, @jmrossy

Update copyright year
  packages/web/src/shared/Footer.3.tsx
  packages/web/static/locales/en/common.json
Owners: @cmcewen, @aaronmgdr

Inline button should match size and font of text that surrounds it. So remove the font.p style
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/shared/Button.3.tsx
Owners: @cmcewen, @aaronmgdr

All visitors to website should have chance to opt out of tracking Fixes https://github.com/celo-org/celo-monorepo/issues/2467
  packages/web/__mocks__/@segment/in-eu.ts
  packages/web/package.json
  packages/web/src/analytics/analytics.test.ts
  packages/web/src/analytics/analytics.ts
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Add memory array optimized election
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/package.json
  packages/protocol/test/governance/election.ts
  packages/protocol/truffle-config.js
Owners: @asaj, @m-chrzan

Fix spacing
  packages/mobile/src/account/FiatExchange.tsx
Owners: @cmcewen, @jmrossy

revert vesion bump for blockchain-api
  packages/blockchain-api/package.json
Owners: @jmrossy, @cmcewen

Short circuit
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan

Fix
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
  packages/protocol/truffle-config.js
Owners: @asaj, @m-chrzan

added a script to load better attestation info
  packages/leaderboard/src/attestations.ts
Owners: @timmoreton

more unit tests added
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

added further unit tests
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

new scripts
  packages/protocol/scripts/certora/certoraBuild.py
  packages/protocol/scripts/certora/certoraUtils.py
Owners: @asaj, @m-chrzan

Rename transactions -> tokenTransactions
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/blockchain-api/test/blockscout.test.ts
  packages/mobile/src/account/InviteReview.tsx
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/send/TransferReviewCard.test.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionReviewScreen.tsx
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/src/transactions/transferFeedUtils.ts
Owners: @jmrossy, @cmcewen

Added ingress object to serve at celostats dns
  packages/helm-charts/ethstats/templates/celostats.ingress.yaml
  packages/helm-charts/ethstats/templates/ethstats.ingress.yaml
Owners: @nambrot, @timmoreton

updating expected
  packages/protocol/specs/AccountsExpected.json
  packages/protocol/specs/LockedGoldExpected.json
Owners: @asaj, @m-chrzan

updating expected
  packages/protocol/specs/LockedGoldExpected.json
Owners: @asaj, @m-chrzan

Add -t flag to Docker stop commands
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Voting bot for stake off (#2327)
  .env
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/bots/auto-verify.ts
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/cmds/deploy/destroy/voting-bot.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/cli/src/commands/election/list.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/election.md
  packages/helm-charts/voting-bot/Chart.yaml
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
  packages/helm-charts/voting-bot/templates/voting-bot.secret.yaml
  packages/helm-charts/voting-bot/values.yaml
Owners: @timmoreton, @mcortesi, @asaj, @cla-bel, @nambrot

Update governance commands to emit event info
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/cli.ts
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Governance.ts
Owners: @mcortesi, @asaj, @timmoreton

Use tables for list
  packages/cli/src/commands/governance/list.ts
Owners: @mcortesi, @asaj

Fix imports
  packages/cli/src/commands/governance/list.ts
Owners: @mcortesi, @asaj

Get the mobile menu test working
  packages/web/src/brandkit/common/MobileMenu.test.tsx
Owners: @cmcewen, @aaronmgdr

Update copyright year + inline button (#2468)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Footer.3.tsx
  packages/web/static/locales/en/common.json
Owners: @cmcewen, @aaronmgdr

election spec work in progress
  packages/protocol/election.conf
  packages/protocol/specs/election.spec
  packages/protocol/specs/harnesses/ElectionHarness.sol
Owners: @asaj, @m-chrzan

CLI relock fix (#2464)
  packages/cli/src/commands/lockedgold/lock.test.ts
  packages/cli/src/commands/lockedgold/lock.ts
  packages/protocol/test/governance/governance.ts
Owners: @mcortesi, @asaj, @m-chrzan

factor can be update after 18 months
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/test/stability/stabletoken.ts
Owners: @asaj, @m-chrzan

Update packages/celotool/src/cmds/bots/auto-verify.ts
  packages/celotool/src/cmds/bots/auto-verify.ts
Owners: @timmoreton

Add callouts to serve text messages in regions (#2458)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

added gold token harness
  .circleci/config.yml
Owners: @timmoreton

upload attestations to db table
  packages/leaderboard/src/attestations.ts
  packages/leaderboard/src/attestationsToDb.ts
Owners: @timmoreton

revoke rules
  packages/protocol/specs/election.spec
Owners: @asaj, @m-chrzan

fixes
  packages/leaderboard/src/attestationsToDb.ts
Owners: @timmoreton

revoke rules
  packages/protocol/specs/harnesses/ElectionHarness.sol
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
