Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Fixes #2409 Firefox exception (#2410)
  packages/web/src/utils/utils.ts
Owners: @cmcewen, @aaronmgdr

cli: Fix voter rewards presentation (#2543)
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/utils/src/address.ts
Owners: @timmoreton, @jmrossy

[Wallet] Navigate to wallet home after payment request (#2500)
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
Owners: @cmcewen, @jmrossy

Unfreeze rewards by default (#2452)
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

[Wallet] Cleanup unused StateProps references (#2439)
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/escrow/EscrowedPaymentListItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationScreen.tsx
  packages/mobile/src/escrow/__mocks__.ts
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/escrow/actions.ts
  packages/mobile/src/send/Send.tsx
  packages/mobile/test/values.ts
Owners: @cmcewen, @jmrossy

Add callouts to serve text messages in regions (#2458)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Require Consent for tracking globally (#2489)
  packages/web/package.json
  packages/web/src/analytics/analytics.test.ts
  packages/web/src/analytics/analytics.ts
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Improve election efficiency by short circuiting (#2475)
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/package.json
Owners: @asaj, @m-chrzan

Add proper Spanish translations (#2427)
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/locales/es-419/paymentRequestFlow.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/locales/es-419/walletFlow5.json
Owners: @cmcewen, @jmrossy

handle error while playing home video (#2506)
  packages/web/fullstack/sentry.ts
  packages/web/src/home/HomeAnimation.tsx
  packages/web/src/home/home-animation.json
  packages/web/src/home/version3/HomeCover.tsx
Owners: @cmcewen, @aaronmgdr

[Wallet] Rollback zeroSync toggle in case it was not successful (#2434)
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Fix Logo + backers number change (#2453)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/animation/__snapshots__/rise.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/about/Backers.tsx
  packages/web/src/about/backers/backers.ts
  packages/web/src/about/backers/valor.jpg
  packages/web/src/logos/Logo.tsx
  packages/web/static/locales/en/about.json
Owners: @cmcewen, @aaronmgdr

Configure the time to wait for text messages (#2450)
  packages/celotool/src/cmds/bots/auto-verify.ts
Owners: @timmoreton

Bump @celo/celocli version to 0.0.34 (#2420)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/notification-service/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
  packages/web/package.json
  yarn.lock
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy, @annakaz, @m-chrzan, @nambrot, @ashishb, @yerdua, @aaronmgdr

Add react-testing-utils + Fix Analytics (#2437)
  packages/web/__mocks__/@segment/in-eu.ts
  packages/web/__mocks__/load-segment.ts
  packages/web/package.json
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/about/Team.test.tsx
  packages/web/src/about/Team.tsx
  packages/web/src/analytics/analytics.test.ts
  packages/web/src/analytics/analytics.ts
  packages/web/src/brandkit/common/MobileMenu.test.tsx
  packages/web/src/brandkit/common/MobileMenu.tsx
  packages/web/src/community/connect/Events.test.tsx
  packages/web/src/header/BlueBanner.test.tsx
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/home/HomeSystems.tsx
  packages/web/src/icons/RedditLogo.tsx
  packages/web/src/join/Benefits.tsx
  packages/web/src/join/JoinPage.tsx
  packages/web/src/privacy/Privacy.tsx
  packages/web/src/shared/Spinner.tsx
  packages/web/src/shared/Triangle.tsx
  packages/web/src/utils/utils.ts
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Page for Experience / BrandKit / Composition (#2462)
  packages/web/pages/experience/brand/composition.tsx
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/experience/composition.test.tsx
  packages/web/src/brandkit/Composition.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/images/aroundPhone.png
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/menu-items.ts
  packages/web/static/locales/en/brand.json
Owners: @cmcewen, @aaronmgdr

Add unfreeze-contracts command to celotool (#2433)
  packages/celotool/src/cmds/unfreeze_contracts.ts
Owners: @timmoreton

Fix celotool testnet deploy (#2501)
  packages/celotool/src/lib/migration-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/helm-charts/testnet/values.yaml
Owners: @timmoreton, @nambrot

Added ingress resource for celostats DNS (#2480)
  .env
  .env.baklava
  .env.baklavastaging
  packages/helm-charts/ethstats/templates/celostats.ingress.yaml
  packages/helm-charts/ethstats/templates/ethstats.ingress.yaml
Owners: @timmoreton, @nambrot

Update copyright year + inline button (#2468)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Footer.3.tsx
  packages/web/static/locales/en/common.json
Owners: @cmcewen, @aaronmgdr

[Wallet] Fix incorrect empty state on the gold tab (#2510)
  packages/mobile/src/transactions/TransactionsList.tsx
Owners: @cmcewen, @jmrossy

[Wallet] Fix integration build firebase db url on Android (#2495)
  packages/mobile/android/app/src/integration/google-services.json.enc
Owners: @cmcewen, @jmrossy

Downtime slashing when epoch changes (#2436)
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

new academic papers + minor fix to web events (#2502)
  packages/web/development.yaml
  packages/web/production.yaml
  packages/web/public/papers/Celo_A_Multi_Asset_Cryptographic_Protocol_for_Decentralized_Social_Payments.pdf
  packages/web/public/papers/Celo_Stability_Analysis.pdf
  packages/web/server/EventHelpers.ts
  packages/web/staging.yaml
Owners: @cmcewen, @aaronmgdr

Catch exceptions during polling (#2432)
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @nambrot

add celo.org/about#contributors id (#2488)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/about/About.test.tsx
  packages/web/src/about/Team.tsx
Owners: @cmcewen, @aaronmgdr

Change order of profile info (#2454)
  packages/web/src/about/Team.tsx
  packages/web/src/react-native-aug.d.ts
Owners: @cmcewen, @aaronmgdr

Add unit tests and cli checks for validator hotfix interaction (#2340)
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/darkSpinner.json
  packages/web/src/shared/greenSpinner.json
  packages/web/src/shared/whiteSpinner.json
  packages/web/static/locales/en/about.json
  packages/web/static/locales/en/brand.json
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan, @cmcewen, @aaronmgdr

[Wallet] Fix type check regression for components wrapped by our custom `withTranslation` (#2457)
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/i18n.ts
Owners: @cmcewen, @jmrossy

Fixes governance CLI bugs encountered while running election contract upgrade (#2482)
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/cli.ts
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Governance.ts
Owners: @mcortesi, @asaj, @timmoreton

CLI relock fix (#2464)
  packages/cli/src/commands/lockedgold/lock.test.ts
  packages/cli/src/commands/lockedgold/lock.ts
  packages/protocol/test/governance/governance.ts
Owners: @mcortesi, @asaj, @m-chrzan

Voting bot for stake off (#2327)
  .env
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/bots/auto-verify.ts
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/cmds/deploy/destroy/voting-bot.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/cli/src/commands/election/list.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/election.md
  packages/helm-charts/voting-bot/Chart.yaml
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
  packages/helm-charts/voting-bot/templates/voting-bot.secret.yaml
  packages/helm-charts/voting-bot/values.yaml
Owners: @timmoreton, @mcortesi, @asaj, @cla-bel, @nambrot

Slashing params for stake off phase 2 (#2418)
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/dev-utils/src/migration-override.json
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/scripts/devchain.ts
Owners: @timmoreton, @asaj, @m-chrzan

Make governance CLI more usable (#2428)
  packages/cli/package.json
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/view.ts
  packages/cli/src/commands/governance/viewhotfix.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/utils/cli.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/governance.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Add validator:signed-blocks command and fix validator:status bug (#2456)
  packages/cli/src/commands/validator/signed-blocks.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/utils/election.ts
  packages/docs/command-line-interface/validator.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Baklava and baklavastaging deploys (#2421)
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/helm-charts/blockscout/templates/_helpers.tpl
  packages/protocol/truffle-config.js
  packages/terraform-modules-public/example/variables.tf
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Owners: @timmoreton, @cla-bel, @nambrot, @asaj, @m-chrzan

[Wallet] Fetch tobin tax for exchanges (#1492)
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/exchange/saga.test.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

[Wallet] Fix missing spanish translation (#2539)
  .env.alfajoresstaging
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/redux/sagas.ts
Owners: @timmoreton, @cmcewen, @jmrossy

collect coverage on web (#2415)
  .circleci/config.yml
  .codecov.yml
  packages/web/package.json
Owners: @timmoreton, @cmcewen, @aaronmgdr

Fix coin colors (#2441)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/community/connect/FullCircle.tsx
Owners: @cmcewen, @aaronmgdr
