Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

removed extra flag
  packages/cli/src/commands/account/set-name.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Owners: @mcortesi, @asaj

updating docs
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/exchange.md
Owners: @timmoreton, @cla-bel

Fixing the cli for exchange (#2126)
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
  packages/cli/src/utils/command.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/exchange.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

[NotificationService] Change exchange rate stored format (group by pair) (#2132)
  packages/notification-service/__mocks__/@celo/contractkit.ts
  packages/notification-service/src/firebase.ts
Owners: @annakaz, @cmcewen

Compatibility with the new stored exchange rate format
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.test.ts
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.ts
  packages/mobile/src/firebase/db-rules.json
Owners: @jmrossy, @cmcewen

fix contract kit flakyness
  packages/contractkit/jest.config.js
  packages/contractkit/src/test-utils/AlphabeticSequencer.ts
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/Validators.test.ts
Owners: @timmoreton

[Wallet] Add notification for verification (#2129)
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/index.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/backup/BackupSocial.tsx
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/home/NotificationBox.test.tsx
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/identity/contactMapping.test.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.test.tsx
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.test.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.test.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.test.tsx
  packages/mobile/src/paymentRequest/PaymentRequestConfirmation.tsx
  packages/mobile/src/paymentRequest/__mocks__.ts
  packages/mobile/src/paymentRequest/utils.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

more timeouts
  packages/contractkit/src/wrappers/Accounts.test.ts
Owners: @timmoreton

Updated public modules
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/accounts/main.tf
  packages/terraform-modules-public/testnet/modules/accounts/outputs.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Owners: @timmoreton

increase timeout more
  packages/contractkit/src/wrappers/Validators.test.ts
Owners: @timmoreton

Adding instructions about how to re-connect to the network after a reset
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Adding txpool api allowing to use command to be used by blockscout. Tested locally
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

Fix escrow snapshot tests
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
Owners: @cmcewen, @jmrossy

10 seconds timeout, not 100
  packages/contractkit/src/wrappers/Accounts.test.ts
Owners: @timmoreton

[Wallet] Escrow payment identification in Transaction feed (#1425)
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/blockchain-api/src/utils.ts
  packages/blockchain-api/test/blockscout.test.ts
  packages/mobile/locales/en-US/receiveFlow8.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/locales/es-419/receiveFlow8.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/transactions/TransferFeedIcon.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/src/transactions/transferFeedUtils.ts
Owners: @jmrossy, @cmcewen

Set FIREBASE_DB for all envs
  packages/blockchain-api/app.alfajores.yaml
  packages/blockchain-api/app.alfajoresstaging.yaml
  packages/blockchain-api/app.integration.yaml
  packages/blockchain-api/app.pilot.yaml
  packages/blockchain-api/app.pilotstaging.yaml
Owners: @jmrossy, @cmcewen

using the latest contractkit
  packages/leaderboard/src/board.ts
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

Ignore test files to fix deploy
  packages/blockchain-api/.gcloudignore
Owners: @jmrossy, @cmcewen

Use service account key for all envs until we can migrate to celo-org-mobile
  packages/blockchain-api/src/config.ts
Owners: @jmrossy, @cmcewen

Add encrypted service account key
  packages/blockchain-api/serviceAccountKey.json.enc
  scripts/key_placer.sh
Owners: @jmrossy, @cmcewen, @timmoreton

[Wallet] Fix bug causing banner to stay visible once app is connected
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/networkInfo/saga.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/utils/time.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Update snapshot
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
Owners: @cmcewen, @jmrossy

Improve comments
  packages/blockchain-api/src/currencyConversion/CurrencyConversionAPI.ts
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.ts
Owners: @jmrossy, @cmcewen

Removed bootnode variables
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Owners: @timmoreton

make error output more understandable
  packages/protocol/runTests.js
Owners: @asaj, @m-chrzan

Script for reading leaderboard data into database (#1810)
  .env
  README.md
  cloudbuild.yaml
  dockerfiles/leaderboard/Dockerfile
  packages/celotool/src/cmds/deploy/destroy/leaderboard.ts
  packages/celotool/src/cmds/deploy/initial/leaderboard.ts
  packages/celotool/src/cmds/deploy/upgrade/leaderboard.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/leaderboard.ts
  packages/contractkit/src/identity/claims/verify.ts
  packages/docs/getting-started/running-a-validator.md
  packages/helm-charts/leaderboard/.helmignore
  packages/helm-charts/leaderboard/Chart.yaml
  packages/helm-charts/leaderboard/templates/leaderboard.cronjob.yaml
  packages/helm-charts/leaderboard/templates/leaderboard.secret.yaml
  packages/helm-charts/leaderboard/values.yaml
  packages/leaderboard/.gitignore
  packages/leaderboard/README.md
  packages/leaderboard/package.json
  packages/leaderboard/src/board.ts
  packages/leaderboard/tsconfig.json
  yarn.lock
Owners: @timmoreton, @cla-bel, @nambrot

activate ts build again for tests, it is ts code and attract glitches when not being build
  packages/protocol/tsconfig.json
Owners: @asaj, @m-chrzan

fix ts errors
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

Updated leaderboard variables
  .env
  .env.mnemonic.baklava.enc
Owners: @timmoreton

put templates in their directory. flesh out secrets file
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
  packages/helm-charts/voting-bot/templates/voting-bot.secret.yaml
  packages/helm-charts/voting-bot/values.yaml
  packages/helm-charts/voting-bot/voting-bot.cronjob.yaml
  packages/helm-charts/voting-bot/voting-bot.secret.yaml
Owners: @nambrot, @timmoreton

migrate sequencer to javascript
  packages/contractkit/jest.config.js
  packages/contractkit/src/test-utils/AlphabeticSequencer.js
Owners: @timmoreton

fix ts issues
  packages/protocol/test/baklava/freezable.ts
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/common/gaspriceminimum.ts
  packages/protocol/test/common/linkedlist.ts
  packages/protocol/test/governance/blockchainparams.ts
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/governance.ts
  packages/protocol/test/governance/lockedgold.ts
  packages/protocol/test/governance/validators.ts
  packages/protocol/test/identity/attestations.ts
  packages/protocol/test/identity/random.ts
  packages/protocol/test/stability/exchange.ts
  packages/protocol/test/stability/reserve.ts
  packages/protocol/test/stability/sortedoracles.ts
  packages/protocol/test/stability/stabletoken.ts
Owners: @asaj, @m-chrzan

ignore js in the right folder
  .prettierignore
Owners: @timmoreton

bump utils version
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/mobile/package.json
  packages/notification-service/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
  packages/web/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy, @annakaz, @m-chrzan, @nambrot, @ashishb, @yerdua, @aaronmgdr

Do not open RPC port to public
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

All relevant signals assembled
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Added logo and badges
  README.md
Owners: @timmoreton

Fix lint
  packages/celotool/src/cmds/vm-exec.ts
Owners: @timmoreton

use 0.1.5-dev as the lastest version
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/mobile/package.json
  packages/notification-service/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
  packages/web/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy, @annakaz, @m-chrzan, @nambrot, @ashishb, @yerdua, @aaronmgdr

Revert "Revert premature doc change" (#2092)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
