Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Move validator fetching for associated rewards to cli rewards:show
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

More fixes + additional CK methods
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.ts
Owners: @timmoreton

Add celotool command to deploy a hotfix
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/governance/proxy.ts
Owners: @timmoreton

More comments
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
Owners: @timmoreton

Update hotfix examples and error message
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
Owners: @timmoreton

Fix usages of epoch
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Proof read
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/kit.ts
Owners: @mcortesi, @asaj, @timmoreton

update yarn.lock
  yarn.lock
Owners: @timmoreton

Celotool command for deploying hotfixes (#2142)
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/governance/proxy.ts
  packages/contractkit/src/wrappers/Governance.ts
Owners: @timmoreton

Correct broken link formatting
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Correct broken link formatting
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Minor language correction in overview.md docs (#2300)
  packages/docs/overview.md
Owners: @timmoreton, @cla-bel

cli: Add rewards:show (#2160)
  packages/cli/src/base.ts
  packages/cli/src/commands/election/current.ts
  packages/cli/src/commands/election/list.ts
  packages/cli/src/commands/election/run.ts
  packages/cli/src/commands/oracle/rates.ts
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/rewards.md
  packages/docs/command-line-interface/validator.md
  packages/utils/src/async.ts
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel, @jmrossy

Add infinite pagination to Leaderboard
  packages/web/src/dev/LeaderBoard.tsx
Owners: @cmcewen, @aaronmgdr

WIP, working out bugs in election interface
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

function complete, still need to add more tests and clean style
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Addressing review, adding more tests and adding registry constraint
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Fixing bugs, adding tests but still fixing tests
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Fixing tests
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Changing names and changing votes counter to public
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Fix lint.
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

Improve efficiency of whitelist tally
  packages/protocol/contracts/governance/Governance.sol
Owners: @asaj, @m-chrzan

Add tests for validator authorized signer whitelist hotfix
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

Update expected gas cost in transfer tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

fixed linter and fixed sortedOracles unit tests
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

Update expectedGas constant in Transfer tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

reverted back to initial gas to avoid merge conflicts
  packages/protocol/scripts/bash/ganache.sh
Owners: @asaj, @m-chrzan

Add infinite pagination to Leaderboard (#2339)
  packages/web/src/dev/LeaderBoard.tsx
Owners: @cmcewen, @aaronmgdr

more cleanup
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/tslint.json
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Owners: @timmoreton, @asaj, @m-chrzan

more cleanup
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/23_elect_validators.ts
Owners: @asaj, @m-chrzan

if long time has passed, do not limit median rate change
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/migrations/05_sortedoracles.ts
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

small fixes
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

review comments
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

fixing lint
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

cli and contractkit tests
  packages/cli/package.json
  packages/contractkit/package.json
Owners: @mcortesi, @asaj, @timmoreton

Add tests for new components
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/alert/__snapshots__/AlertBanner.test.tsx.snap
  packages/mobile/src/identity/reducer.ts
  packages/mobile/src/import/ImportContacts.test.tsx
  packages/mobile/src/import/ImportContacts.tsx
  packages/mobile/src/import/__snapshots__/ImportContacts.test.tsx.snap
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/send/ContactSyncBanner.test.tsx
  packages/mobile/src/send/ContactSyncBanner.tsx
  packages/mobile/src/send/SendCallToAction.test.tsx
  packages/mobile/src/send/__snapshots__/ContactSyncBanner.test.tsx.snap
  packages/mobile/src/send/__snapshots__/SendCallToAction.test.tsx.snap
  packages/react-components/icons/Error.tsx
Owners: @cmcewen, @jmrossy

Limechain/16xx (#1982)
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/identity/Escrow.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/test/MockStableToken.sol
  packages/protocol/migrations/06_gaspriceminimum.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/gaspriceminimum.ts
  packages/protocol/test/common/multisig.ts
  packages/protocol/test/common/multisig.ts.old
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

changed visibility modifiers
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

lint
  packages/contractkit/src/web3-contract-cache.ts
Owners: @timmoreton

updates circleci branch
  .circleci/config.yml
Owners: @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
