Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @celo-org/default-owners, @celo-org/devopsre, @celo-org/devtooling, @celo-org/devrel, @celo-org/data-services, @celo-org/mento, @celo-org/identity, @celo-org/primitives

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# default owners, overridden by package specific owners below
* @celo-org/default-owners

# directory and file-level owners. Feel free to add to this!

/packages/celotool/ @celo-org/devopsre
/packages/cli/ @celo-org/devtooling
/packages/dev-utils/ @celo-org/devtooling
/packages/docs/ @celo-org/devtooling @celo-org/devrel
/packages/env-tests/ @celo-org/devtooling
/packages/faucet/ @celo-org/devtooling
/packages/helm-charts/ @celo-org/devopsre
/packages/helm-charts/blockscout/ @celo-org/data-services @celo-org/devopsre
/packages/helm-charts/oracle/ @celo-org/mento  @celo-org/devopsre
/packages/metadata-crawler/ @celo-org/data-services
/packages/phone-number-privacy/ @celo-org/identity
/packages/protocol/ @celo-org/primitives @celo-org/identity
/packages/sdk/ @celo-org/devtooling
/packages/sdk/identity/  @celo-org/identity @celo-org/devtooling
/packages/sdk/contractkit/ @celo-org/devtooling
/packages/terraform-modules-public/ @celo-org/devopsre
/packages/terraform-modules/ @celo-org/devopsre
/packages/typescript/ @celo-org/devtooling

fix chain id
  .github/workflows/celo-monorepo.yml
  packages/protocol/scripts/bash/ganache_devchain.sh
Owners: @celo-org/default-owners, @celo-org/primitives, @celo-org/identity

timeout
  .github/workflows/celo-monorepo.yml
Owners: @celo-org/default-owners

log more and ssh on fail
  .github/workflows/celo-monorepo.yml
  packages/protocol/scripts/bash/ganache_devchain.sh
Owners: @celo-org/default-owners, @celo-org/primitives, @celo-org/identity

Identity proxy hub
  packages/protocol/foundry.toml
  packages/protocol/test-sol/IdentityProxyHub.t.sol
Owners: @celo-org/primitives, @celo-org/identity

gitmodules
  .gitmodules
Owners: @celo-org/default-owners

set provider manually
  packages/protocol/scripts/truffle/make-release.ts
Owners: @celo-org/primitives, @celo-org/identity

Add random delay (?)
  packages/protocol/scripts/truffle/make-release.ts
Owners: @celo-org/primitives, @celo-org/identity

Disable deattach in Ganache, disable ssh, add error msjs
  .github/workflows/celo-monorepo.yml
  packages/protocol/scripts/bash/ganache_devchain.sh
  packages/protocol/scripts/bash/release-on-devchain.sh
  packages/protocol/scripts/truffle/make-release.ts
Owners: @celo-org/default-owners, @celo-org/primitives, @celo-org/identity
