Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Tweak notifications wording/style
  packages/mobile/locales/en-US/inviteFlow11.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentListItem.tsx
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentLineItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/paymentRequest/PaymentRequestNotificationInner.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestNotificationInner.test.tsx.snap
Owners: @cmcewen, @jmrossy

[Wallet] Use new visual assets in backup and import wallet flows (#3058)
  packages/mobile/locales/en-US/backupKeyFlow6.json
  packages/mobile/locales/es-419/backupKeyFlow6.json
  packages/mobile/src/backup/BackupIntroduction.tsx
  packages/mobile/src/backup/BackupPhraseContainer.tsx
  packages/mobile/src/backup/BackupSocialIntro.tsx
  packages/mobile/src/backup/__snapshots__/BackupIntroduction.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupPhraseContainer.test.tsx.snap
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/icons/BackupIcon.tsx
  packages/mobile/src/icons/BackupIntroIcon.tsx
  packages/mobile/src/icons/BackupKeyIcon.tsx
  packages/mobile/src/icons/LockedPhoneIcon.tsx
  packages/mobile/src/icons/SafeguardsIcon.tsx
  packages/mobile/src/icons/SafeguardsPeopleIcon.tsx
  packages/mobile/src/images/Images.ts
  packages/mobile/src/images/backup-icon.png
  packages/mobile/src/images/backup-icon@2x.png
  packages/mobile/src/images/backup-icon@3x.png
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/import/ImportWalletEmpty.tsx
  packages/mobile/src/import/ImportWalletSocial.tsx
  packages/mobile/src/import/__snapshots__/ImportWalletEmpty.test.tsx.snap
  packages/mobile/src/notifications/SimpleNotification.test.tsx
  packages/mobile/src/notifications/SimpleNotification.tsx
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/pincode/PincodeEducation.tsx
Owners: @cmcewen, @jmrossy

Remove border in tx confirmation views
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
Owners: @cmcewen, @jmrossy

remove unused commented out code
  packages/contractkit/src/wrappers/MultiSig.ts
Owners: @timmoreton

Update celostats frontend command (#3072)
  packages/helm-charts/celostats/templates/celostats-frontend.deployment.yaml
Owners: @nambrot, @timmoreton

fix https://github.com/celo-org/celo-labs/issues/385 typo fix https://github.com/celo-org/celo-labs/issues/384 (announcements should revert to previous if latest is GEO fenced update stability paper
  packages/web/public/papers/Celo_Stability_Analysis.pdf
  packages/web/public/static/locales/en/alliance.json
  packages/web/server/Announcement.ts
Owners: @cmcewen, @aaronmgdr

added test for 2 person confirmation
  packages/contractkit/src/wrappers/Reserve.test.ts
  packages/dev-utils/src/migration-override.json
Owners: @timmoreton

Share the same types from contractkit
  packages/cli/src/types/web3-celo.d.ts
  packages/contractkit/types/web3-celo.d.ts
  packages/leaderboard/tsconfig.json
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/web3-celo.d.ts
  packages/mobile/tsconfig.json
  packages/protocol/tsconfig.json
  packages/protocol/types/web3-celo.d.ts
Owners: @mcortesi, @asaj, @timmoreton, @cmcewen, @jmrossy, @m-chrzan

[Wallet] Upgrade version to 1.6.2
  packages/mobile/android/app/build.gradle
  packages/mobile/android/gradle.properties
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/package.json
Owners: @cmcewen, @jmrossy

Retry syncing geth if crashes in e2e test (#3044)
  packages/celotool/ci_test_attestations.sh
  packages/celotool/ci_test_blockchain_parameters.sh
  packages/celotool/ci_test_governance.sh
  packages/celotool/ci_test_slashing.sh
  packages/celotool/ci_test_sync.sh
  packages/celotool/ci_test_transfers.sh
  packages/celotool/ci_test_validator_order.sh
  packages/celotool/package.json
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/types.d.ts
  yarn.lock
Owners: @timmoreton

if country not found dont show any censored content
  packages/web/server/Announcement.ts
  packages/web/server/announcement.test.ts
  packages/web/server/geoip.ts
Owners: @cmcewen, @aaronmgdr

revert
  packages/web/server/Announcement.ts
Owners: @cmcewen, @aaronmgdr

docs
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governanceapprovermultisig_.governanceapprovermultisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_multisig_.multisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reservespendermultisig_.reservespendermultisigwrapper.md
Owners: @timmoreton, @cla-bel

Import only sha3 function from ethereumjs-utils
  packages/contractkit/src/utils/sign-typed-data-utils.ts
Owners: @timmoreton

longer country cache
  packages/web/server/Announcement.ts
Owners: @cmcewen, @aaronmgdr

Fixing tests
  packages/cli/src/commands/releasegold/authorize.ts
  packages/cli/src/commands/releasegold/withdraw.test.ts
  packages/protocol/scripts/truffle/releaseGoldContracts.json
Owners: @mcortesi, @asaj, @m-chrzan

important Website fixes (#3089)
  packages/web/public/papers/Celo_Stability_Analysis.pdf
  packages/web/public/static/locales/en/alliance.json
  packages/web/server/Announcement.ts
  packages/web/server/announcement.test.ts
  packages/web/server/geoip.ts
Owners: @cmcewen, @aaronmgdr

Fix missing term caught by @victor
  packages/protocol/contracts/governance/EpochRewards.sol
Owners: @asaj, @m-chrzan

Fixing jest timeout
  packages/cli/src/commands/releasegold/authorize.test.ts
  packages/cli/src/commands/releasegold/locked-gold.test.ts
  packages/cli/src/commands/releasegold/refund-and-finalize.test.ts
  packages/cli/src/commands/releasegold/withdraw.test.ts
  packages/dev-utils/src/matchers.ts
  packages/docs/command-line-interface/releasegold.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_releasegold_.releasegoldwrapper.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_releasegold_.releaseschedule.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_releasegold_.revocationinfo.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

lint
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

Lint and comments
  packages/cli/src/commands/releasegold/withdraw.test.ts
  packages/dev-utils/src/ganache-test.ts
  packages/protocol/truffle-config.js
Owners: @mcortesi, @asaj, @timmoreton, @m-chrzan

Adjust corresponding tests
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Fix protocol types problem
  packages/protocol/tsconfig.json
  packages/protocol/types/web3-celo.d.ts
Owners: @asaj, @m-chrzan

Add missing dependency
  packages/contractkit/package.json
Owners: @timmoreton

assets are not pegged they track
  packages/web/public/static/locales/en/applications.json
  packages/web/public/static/locales/en/dev.json
  packages/web/public/static/locales/en/home.json
  packages/web/public/static/locales/en/technology.json
Owners: @cmcewen, @aaronmgdr

typos
  packages/web/public/static/locales/en/dev.json
  packages/web/public/static/locales/en/home.json
Owners: @cmcewen, @aaronmgdr

add the value of to be more clear
  packages/web/public/static/locales/en/home.json
  packages/web/public/static/locales/en/technology.json
Owners: @cmcewen, @aaronmgdr

Fix clickable avatar to enable debug mode
  packages/mobile/src/account/Account.tsx
Owners: @cmcewen, @jmrossy

Fix dependency issue for leaderboard
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

Use assertEqualDpBN instead of assertEqual
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Add extra ROUND_FLOOR to hopefully fix off-by-one
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Icons, and other graphics now can be fetched passed the 100 default limit. More the request handler to API folder Add in some protection against what was being passed in from browser
  packages/web/pages/api/experience/assets/[asset].ts
  packages/web/server/AssetBase.ts
  packages/web/server/index.ts
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/KeyImagery.tsx
Owners: @cmcewen, @aaronmgdr

use stable rather than fait pegged
  packages/web/public/static/locales/en/applications.json
Owners: @cmcewen, @aaronmgdr

add fetching by tag to medium api fetch
  packages/web/pages/api/blog.ts
  packages/web/server/mediumAPI.ts
Owners: @cmcewen, @aaronmgdr

Increment versions: ContractKit->0.3.1-dev, Utils->0.1.9-dev
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy, @m-chrzan, @nambrot, @ashishb, @yerdua

Increment versions: ContractKit->0.3.1-dev, Utils->0.1.9-dev (#3094)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy, @m-chrzan, @nambrot, @ashishb, @yerdua

Fix _getTargetGoldSupplyIncrease bug introduced by carbon offsetting fund changes (#3092)
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Fix InviteReview screen
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/account/InviteReview.test.tsx
  packages/mobile/src/account/InviteReview.tsx
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
Owners: @cmcewen, @jmrossy

Refactor JSX so it's a bit easier to read
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
Owners: @cmcewen, @jmrossy

pending logic in contractKit
  packages/contractkit/src/wrappers/Reserve.ts
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @timmoreton, @nambrot
