Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Adding events, changing names, and starting to add more tests
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

a human readable description for governance proposals added + unit test update
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

Fix exchange input on iOS
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
Owners: @cmcewen, @jmrossy

Don't display currency code for exchange feed items (like for transfers)
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
Owners: @cmcewen, @jmrossy

Updated ethstats tag
  .env
  .env.baklava
  .env.baklavastaging
Owners: @timmoreton

Updated blockscout image commit
  .env
Owners: @timmoreton

Fix tests
  packages/celotool/src/lib/ethstats.ts
Owners: @timmoreton

added changes as per Asa's comments
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/migrations/06_gaspriceminimum.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/gaspriceminimum.ts
  packages/protocol/test/common/multisig.ts
Owners: @asaj, @m-chrzan

debug
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

test for governance slashing working
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

returning locked gold
  .circleci/config.yml
Owners: @timmoreton

typo
  .circleci/config.yml
Owners: @timmoreton

new locked gold expected
  packages/protocol/specs/LockedGoldExpected.json
Owners: @asaj, @m-chrzan

run all scripts and check in the end
  .circleci/config.yml
Owners: @timmoreton

election migration works
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

checked precompile names
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
Owners: @asaj, @m-chrzan

Refactored assembly to regular solidity static calls
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

Removed fractionMulExp commented old assembly code
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

Ethstats variables as env variables (#2183)
  .env
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/ethstats.ts
  packages/helm-charts/ethstats/templates/ethstats.deployment.yaml
Owners: @timmoreton, @nambrot

integration test now subtracts voting gold
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

Unifying the uint256 parsing
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

Linter fixes
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

Fixes on typo in the constant
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

fix
  .circleci/config.yml
Owners: @timmoreton

fix
  .circleci/config.yml
Owners: @timmoreton

added an util to calculate extra data for slashing voting gold
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

cleanup
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

Fix crash in release mode when navigating by upgrading react-native-gesture-handler
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/verifier/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

fixing
  .circleci/config.yml
Owners: @timmoreton

it was wrong to remove the 'or true'
  .circleci/config.yml
Owners: @timmoreton

do voting for a single voting bot account
  packages/celotool/src/cmds/bots/voting.ts
  packages/protocol/migrations/20_elect_validators.ts
Owners: @timmoreton, @asaj, @m-chrzan

Update docs
  packages/cli/src/commands/account/unlock.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/exchange.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Various CLI improvements (#2288)
  packages/cli/src/commands/account/unlock.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/exchange.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

debug
  .circleci/config.yml
Owners: @timmoreton

Improvements from review
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

WIP
  packages/web/next.config.js
Owners: @cmcewen, @aaronmgdr

fix
  .circleci/config.yml
Owners: @timmoreton

cd-ing
  .circleci/config.yml
Owners: @timmoreton

fix
  .circleci/config.yml
Owners: @timmoreton

Work in progress
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton
