Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

[Wallet] Disable skip button when the user enable contact access (#2224)
  packages/mobile/src/import/ImportContacts.tsx
Owners: @cmcewen, @jmrossy

More hack
  packages/protocol/migrations/20_elect_validators.ts
Owners: @asaj, @m-chrzan

Fix build
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

[Wallet] Use Charles proxy to see eth JSON rpc calls when using forno (#2204)
  packages/mobile/README.md
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/res/xml/network_security_config.xml
Owners: @cmcewen, @jmrossy

Remove web3-utils declare module
  packages/mobile/src/index.d.ts
  packages/walletkit/src/index.d.ts
Owners: @cmcewen, @jmrossy, @ashishb, @yerdua

PR comments
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/web3/contracts.ts
Owners: @cmcewen, @jmrossy

Remove walletkit from celotool transactions commands (#2206)
  packages/celotool/src/cmds/transactions/describe.ts
  packages/celotool/src/cmds/transactions/list.ts
  packages/walletkit/index.ts
  packages/walletkit/src/abi.ts
Owners: @timmoreton, @ashishb, @yerdua

Fix broken test
  packages/web/jest.config.js
Owners: @cmcewen, @aaronmgdr

Spec files for account.sol and lockedGold.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/lockedGold.conf
  packages/protocol/specs/accounts.spec
  packages/protocol/specs/harnesses/GoldTokenHarness.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
  packages/protocol/specs/locked_gold.spec
Owners: @asaj, @m-chrzan

Updates TME docker images (#2200)
  .env
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/contractkit/src/explorer/log-explorer.ts
Owners: @timmoreton

Update attestation service docker images (#2202)
  .env
  .env.baklava
  .env.baklavastaging
  .env.integration
Owners: @timmoreton

[Docs] Fix typo
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Events are set
  packages/web/src/community/connect/ConnectPage.tsx
  packages/web/src/community/connect/Contribute.tsx
  packages/web/src/events/Events.tsx
  packages/web/src/events/EventsData.tsx
  packages/web/src/events/EventsPage.tsx
  packages/web/static/locales/en/community.json
Owners: @cmcewen, @aaronmgdr

Upgrade Dependencies and get react hooks working (#2203)
  packages/web/jest.config.js
  packages/web/package.json
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/home/version3/HomeWork.tsx
  packages/web/src/i18n.ts
  packages/web/src/next-i18next-aug.d.ts
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Update packages/protocol/test/governance/validators.ts
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Review improvements and add Election.getActiveVotesForGroup()
  packages/cli/src/base.ts
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Election.sol
Owners: @mcortesi, @asaj, @timmoreton, @m-chrzan

This test should run
  packages/web/src/brandkit/tests/Showcase.test.tsx
Owners: @cmcewen, @aaronmgdr

[Docs] Fix typo (#2225)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Pull out diffs we don't want
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/scripts/bash/init_network.sh
Owners: @asaj, @m-chrzan

Use interpolation, update header, fix styles
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/components/FeeIcon.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeHeader.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.test.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/FeeExchangeIcon.test.tsx.snap
  packages/mobile/src/icons/InfoIcon.tsx
  packages/mobile/src/navigator/Headers.tsx
Owners: @cmcewen, @jmrossy

OMG jesting TSX components Thanks to Connor
  packages/web/jest.config.js
  packages/web/jestSetup.ts
  packages/web/src/brandkit/common/DownloadButton.tsx
  packages/web/src/brandkit/tests/Showcase.test.tsx
  packages/web/src/brandkit/tests/__snapshots__/Showcase.test.tsx.snap
  packages/web/tsconfig.jest.json
Owners: @cmcewen, @aaronmgdr

Unused file
  packages/web/jestSetup.ts
Owners: @cmcewen, @aaronmgdr

Baklava phase 1.1 .env file (#2226)
  .env.baklava
Owners: @timmoreton

Remove logs, fix FeeExchange navigator
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/navigator/Headers.tsx
  packages/mobile/src/navigator/Navigator.tsx
Owners: @cmcewen, @jmrossy

Import error
  packages/blockchain-api/package.json
Owners: @jmrossy, @cmcewen

Import
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

PR cleanup
  packages/mobile/src/utils/currencyExchange.ts
Owners: @cmcewen, @jmrossy

Restore default env
  packages/mobile/.env
Owners: @cmcewen, @jmrossy

Added hall-of-fame contributors
  README.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Data saver rename
  packages/mobile/README.md
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/DataSaver.test.tsx
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Owners: @cmcewen, @jmrossy

Make attestation opt-in
  packages/celotool/src/lib/attestation-service.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/identity/attestations.ts
Owners: @timmoreton, @asaj, @m-chrzan

Update Attestation Bot Docker Image
  .env.baklava
Owners: @timmoreton

Update readme
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Update Bot vars
  .env.baklava
Owners: @timmoreton

Update Attestation Bot Docker Image (#2231)
  .env.baklava
Owners: @timmoreton

update npm doc to mention network tagging
  README-dev.md
Owners: @timmoreton

Add opengrpah meta data
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/images/ogimage-brandkit.png
  packages/web/src/dev/FaucetPage.tsx
  packages/web/src/download/MobileApp.tsx
  packages/web/src/download/ogimage-wallet.png
  packages/web/src/fauceting/ogimage-faucet.png
  packages/web/static/locales/en/brand.json
Owners: @cmcewen, @aaronmgdr

no message
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/community/CodeOfConduct.tsx
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/FaucetPage.tsx
  packages/web/src/i18n.ts
  packages/web/src/shared/Footer.3.tsx
Owners: @cmcewen, @aaronmgdr

remove attestaion service from the publish dependent service list
  README-dev.md
  packages/attestation-service/package.json
Owners: @timmoreton

Improvements from review
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
