Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Adding slashing fn and groundwork for testing if we want to add involved unit tests
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Fixing lint
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Adding events, changing names, and starting to add more tests
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Fixing name changes
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Holding review changes
  packages/protocol/contracts/governance/LockedGold.sol
Owners: @asaj, @m-chrzan

Fixing tests to add test of slashing voting gold and sending to community fund.
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

fixing Validators test epoch number
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Parking test additions, need to fix voting in lockedgold tests
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/test/MockGovernance.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

lint
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Slashing will only slash min(totalLockedGold, penalty)
  packages/protocol/contracts/governance/LockedGold.sol
Owners: @asaj, @m-chrzan

Comments
  packages/protocol/contracts/governance/LockedGold.sol
Owners: @asaj, @m-chrzan

cleanup
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/test/MockGoldToken.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
Owners: @asaj, @m-chrzan

fixes
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

Add checks for governance interaction
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

simplify
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

changed this
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

this changed again
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

Deduplicate test logic
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

Fix import paths
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

Fix import paths
  packages/cli/.vscode/settings.json
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/validator/list.ts
Owners: @mcortesi, @asaj

Remove vscode settings
  packages/cli/.vscode/settings.json
Owners: @mcortesi, @asaj

#2002 Fix solidity-bytes-utils dependency
  package.json
Owners: @timmoreton

Add test for incomplete periods
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/test/stability/stabletoken.ts
  packages/utils/src/fixidity.ts
Owners: @asaj, @m-chrzan, @jmrossy

[Slashing] Allow voting gold to be slashable (#2302)
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Adding slashing fn and groundwork for testing if we want to add involved unit tests
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Adding events, changing names, and starting to add more tests
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Fixing lint
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Holding review changes
  packages/protocol/contracts/governance/LockedGold.sol
Owners: @asaj, @m-chrzan

Fixing name changes
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Fixing tests to add test of slashing voting gold and sending to community fund.
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Parking test additions, need to fix voting in lockedgold tests
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/test/MockGovernance.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

fixing Validators test epoch number
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

lint
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

WIP, working out bugs in election interface
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Slashing will only slash min(totalLockedGold, penalty)
  packages/protocol/contracts/governance/LockedGold.sol
Owners: @asaj, @m-chrzan

Comments
  packages/protocol/contracts/governance/LockedGold.sol
Owners: @asaj, @m-chrzan

Fixing tests
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan

function complete, still need to add more tests and clean style
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Changing names and changing votes counter to public
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan

Addressing review, adding more tests and adding registry constraint
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan
