Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Add docs for Accounts key/signer management (#2604)
  packages/docs/SUMMARY.md
  packages/docs/node-operations/key-management.md
Owners: @timmoreton, @cla-bel

Create node upgrade instructions and expand on key management instructions (#2700)
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/governance.md
  packages/docs/getting-started/glossary.md
  packages/docs/node-operations/key-management.md
  packages/docs/operations-manual/key-management.md
  packages/docs/operations-manual/node-upgrades.md
Owners: @timmoreton, @cla-bel

Docs nits (#2424)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

target baklava release client
  .circleci/config.yml
Owners: @timmoreton

remove outdated reconnect to the network guide
  packages/docs/getting-started/reconnecting-to-network.md
Owners: @timmoreton, @cla-bel

remove reconnecting to the network from the sidebar
  packages/docs/SUMMARY.md
Owners: @timmoreton, @cla-bel

Remove spurious `export`
  packages/docs/operations-manual/node-upgrades.md
Owners: @timmoreton, @cla-bel

[Wallet] Add missing photos permission on iOS (#2699)
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo/Info.plist
Owners: @cmcewen, @jmrossy

Skip licenses check when deps haven't changed
  .circleci/config.yml
Owners: @timmoreton

Fix minor verification typo
  packages/mobile/locales/en-US/nuxVerification2.json
Owners: @cmcewen, @jmrossy

Prevent random red screen on CI
  packages/mobile/scripts/run_e2e.sh
Owners: @cmcewen, @jmrossy

Serve papers from celo.org (#2400)
  packages/web/public/papers/CBDC_Velocity_Copic-Franke.pdf
  packages/web/public/papers/Celo_A_Multi_Asset_Cryptographic_Protocol_for_Decentralized_Social_Payments.pdf
  packages/web/public/papers/Celo_Stability_Analysis.pdf
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/HomeSystems.tsx
Owners: @cmcewen, @aaronmgdr

[cli] Showing summed up balances for claimed accounts (#2118)
  packages/cli/src/commands/account/balance.ts
  packages/cli/src/commands/account/show-claimed-accounts.ts
  packages/contractkit/src/kit.ts
  packages/docs/command-line-interface/account.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Integration deploy (#2397)
  .env.integration
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

Fund voting bot accounts in genesis (#2392)
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Docs nits (#2424)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Fix verify-contracts file dependency missing (#2426)
  package.json
Owners: @timmoreton

e2e tests for slashing contracts (#2341)
  .circleci/config.yml
  packages/celotool/ci_test_slashing.sh
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/tslint.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/contractkit/src/base.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/package.json
  packages/protocol/scripts/build.ts
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/lockedgold.ts
  yarn.lock
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan

Accelerate time based parameters (#2377)
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Add first version of public terraform module. (#1771)
  packages/terraform-modules-public/.gitignore
  packages/terraform-modules-public/README.md
  packages/terraform-modules-public/example/README.md
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/outputs.tf
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/startup.sh
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/outputs.tf
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node/outputs.tf
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/outputs.tf
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/outputs.tf
  packages/terraform-modules-public/testnet/variables.tf
Owners: @timmoreton

Prevent the verification of a verified number and address (#2304)
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
Owners: @cmcewen, @jmrossy

Reverting to old lockedgold amount and new voting amount (#2396)
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Freeze exchange and epoch rewards on initialize (#2379)
  packages/celotool/src/e2e-tests/utils.ts
  packages/dev-utils/src/migration-override.json
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/integration.ts
Owners: @timmoreton, @asaj, @m-chrzan

Sort on correct vote amount in validator election migration (#2417)
  packages/protocol/migrations/23_elect_validators.ts
Owners: @asaj, @m-chrzan

Update genesis block accounts config to be correct for phase 2 (#2416)
  baklava_genesis_balances.json
Owners: @timmoreton

Update Discord link to be a valid invite (#2414)
  README.md
Owners: @timmoreton

Blockscout logs patch for json format (#2268)
  .env
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
Owners: @timmoreton, @nambrot

Cache Third party Calls +fix medium (#2394)
  packages/web/server/AssetBase.ts
  packages/web/server/EventHelpers.ts
  packages/web/server/cache.test.ts
  packages/web/server/cache.ts
  packages/web/server/mediumAPI.ts
Owners: @cmcewen, @aaronmgdr

Upload correct bootnode IP address on internal testnet (#2402)
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/helm_deploy.ts
Owners: @timmoreton

Adjustment to home banner / mobile menu (#2408)
  packages/web/src/header/Header.3.tsx
  packages/web/src/home/HomeAnimation.tsx
  packages/web/src/home/version3/HomeCover.tsx
Owners: @cmcewen, @aaronmgdr

Make attestation opt-in (#2230)
  packages/celotool/src/lib/attestation-service.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/identity/attestations.ts
Owners: @timmoreton, @asaj, @m-chrzan

Clarify documentation on validator proxy (#2371)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Fix circle not being started (#2380)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/about/Team.tsx
  packages/web/src/community/connect/FullCircle.tsx
Owners: @cmcewen, @aaronmgdr

Remove references to OG infrastructure (#2407)
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.integration
  .env.integrationtesting
  .env.pilot
  .env.pilotstaging
  package.json
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/kubernetes.ts
  packages/celotool/src/lib/port_forward.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

Fix documentation link (#2404)
  README.md
Owners: @timmoreton

[Slashing] Adding whitelist checks for onlySlasher to Validators.sol (#2347)
  packages/protocol/contracts/common/Registry.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IRegistry.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/test/governance/lockedgold.ts
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Baklava & baklavastaging changes (#2401)
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/vm-exec.ts
Owners: @timmoreton

[Wallet]: Historic Gold prices chart (#2345)
  packages/mobile/jest.config.js
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/package.json
  packages/mobile/src/components/AccountOverview.test.tsx
  packages/mobile/src/components/AccountOverview.tsx
  packages/mobile/src/components/Avatar.tsx
  packages/mobile/src/components/__snapshots__/AccountOverview.test.tsx.snap
  packages/mobile/src/exchange/CeloGoldHistoryChart.test.tsx
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.test.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.test.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/CeloGoldHistoryChart.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/CeloGoldOverview.test.tsx.snap
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/hooks.ts
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/exchange/selectors.ts
  packages/mobile/src/firebase/db-rules.json
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/home/CeloDollarsOverview.tsx
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/__snapshots__/CeloDollarsOverview.test.tsx.snap
  packages/mobile/src/home/__snapshots__/WalletHome.test.tsx.snap
  packages/mobile/src/localCurrency/hooks.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/src/utils/currencyExchange.ts
  packages/mobile/src/utils/formatting.ts
  packages/mobile/test/schemas.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

The validator/full-node docker script should use bootnodes file (#2388)
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

Upload static nodes as JSON (#2406)
  packages/celotool/src/lib/testnet-utils.ts
Owners: @timmoreton
