Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Change `C-Labs || C Labs` to `cLabs` (#2747)
  packages/docs/celo-codebase/protocol/privacy.md
  packages/docs/getting-started/glossary.md
  packages/docs/getting-started/running-a-validator.md
  packages/terraform-modules/testnet/README.md
  packages/web/public/static/locales/en/codeofconduct.json
  packages/web/public/static/locales/en/common.json
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/community/connect/FellowViewer.tsx
  packages/web/src/terms/StakeOffTerms.tsx
  scripts/key_placer.sh
Owners: @timmoreton, @cla-bel, @tkporter, @cmcewen, @aaronmgdr

Fix calculateUptime
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Sdk page from real mock part 1
  packages/web/public/static/locales/en/dev.json
  packages/web/src/dev/CoverActions.tsx
  packages/web/src/dev/DeveloperPhoneCover.tsx
  packages/web/src/dev/DevelopersPage.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/Phone.tsx
  packages/web/src/dev/Sandbox.tsx
  packages/web/src/dev/educate-dark-bg.png
Owners: @cmcewen, @aaronmgdr

adjust docs for the phase 3 launch
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/governance.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/operations-manual/node-upgrades.md
Owners: @timmoreton, @cla-bel

Fix flaky e2e governance test (#2766)
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Adjust docs for the phase 3 launch (#2767)
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/governance.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/operations-manual/node-upgrades.md
Owners: @timmoreton, @cla-bel

[Wallet] Run E2E test on iOS (#2622)
  .circleci/config.yml
  packages/mobile/.env.test
  packages/mobile/.gitignore
  packages/mobile/Gemfile
  packages/mobile/Gemfile.lock
  packages/mobile/e2e/Transfer.spec.js
  packages/mobile/e2e/init.js
  packages/mobile/e2e/utils.js
  packages/mobile/index.js
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/ios/sentry.properties.template
  packages/mobile/package.json
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/src/setupE2eEnv.e2e.ts
  packages/mobile/src/setupE2eEnv.ts
  packages/utils/src/parsing.test.ts
  packages/utils/src/parsing.ts
Owners: @timmoreton, @cmcewen, @jmrossy

Remove unneeded deprecated crypto package causing react native packager to fail
  packages/moonpay-auth/package.json
  yarn.lock
Owners: @timmoreton

Add --allow-insecure-unlock to celo-accounts node
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Add note about --allow-insecure-unlock to unlocking docs
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

wip e2e tests
  packages/celotool/ci_test_validator_handshake.sh
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_handshake_tests.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/geth-instance-config.ts
  packages/dev-utils/src/network.ts
Owners: @timmoreton

Add --allow-insecure-unlock to docs (#2768)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Use same version of typescript and tslint as the rest of the monorepo
  packages/moonpay-auth/package.json
  yarn.lock
Owners: @timmoreton

added check
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

when using concurrentMap handle the promises correctly
  packages/celotool/src/cmds/bots/auto-vote.ts
Owners: @timmoreton

adding unit test
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

function to do the update
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

added method to accounts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

adding mocks
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

adding tests
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/account/authorize.test.ts
  packages/cli/src/commands/account/authorize.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/validators.ts
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan

changing fallback here too
  packages/protocol/contracts/governance/Governance.sol
Owners: @asaj, @m-chrzan

fixing typing
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Added DISABLE_WEBAPP to blockscout indexer (#2650)
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
Owners: @nambrot, @timmoreton

fixing cli test
  packages/cli/src/commands/account/authorize.test.ts
Owners: @mcortesi, @asaj

updating docs
  packages/docs/command-line-interface/account.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_accounts_.accountswrapper.md
Owners: @timmoreton, @cla-bel

[Wallet] Fix React Native packager failing (#2770)
  packages/moonpay-auth/package.json
  yarn.lock
Owners: @timmoreton

Use getUnfrozenReserveGoldBalance instead of getReserveGoldBalance
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
Owners: @asaj, @m-chrzan

add nousb flag to prevent confusing logs
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Remove --bail flag from e2e tests (#2759)
  packages/celotool/ci_test_attestations.sh
  packages/celotool/ci_test_blockchain_parameters.sh
  packages/celotool/ci_test_governance.sh
  packages/celotool/ci_test_slashing.sh
  packages/celotool/ci_test_sync.sh
  packages/celotool/ci_test_transfers.sh
  packages/celotool/ci_test_validator_order.sh
Owners: @timmoreton

Adding separate refunding address
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

Looking good sdk page
  packages/web/public/static/locales/en/dev.json
  packages/web/src/dev/DevelopersPage.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/Phone.tsx
  packages/web/src/dev/Sandbox.tsx
  packages/web/src/dev/StackSection.tsx
  packages/web/src/styles.ts
Owners: @cmcewen, @aaronmgdr

📸
  packages/web/public/static/locales/en/common.json
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/Sandbox.tsx
Owners: @cmcewen, @aaronmgdr

Bump invite fee higher
  packages/mobile/src/invite/saga.ts
Owners: @cmcewen, @jmrossy

Bump build
  packages/mobile/android/gradle.properties
Owners: @cmcewen, @jmrossy

Change twitter handle
  packages/web/src/header/OpenGraph.tsx
  packages/web/src/shared/SocialChannels.tsx
Owners: @cmcewen, @aaronmgdr

Update snaps
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
Owners: @cmcewen, @jmrossy

📸
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Use kaniko v0.16.0 as recommended until https://github.com/GoogleContainerTools/kaniko/issues/1045 is fixed
  cloudbuild.yaml
Owners: @timmoreton

[dev-utils] Copy the ganache chain for every test run
  packages/cli/package.json
  packages/cli/src/test-utils/ganache.setup.ts
  packages/contractkit/package.json
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/package.json
  packages/protocol/scripts/devchain.ts
  yarn.lock
Owners: @mcortesi, @asaj, @timmoreton, @m-chrzan

Allow .env references during celotool docker build tests
  dockerfiles/celotool/Dockerfile
Owners: @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
