Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Fix typescript compile
  packages/mobile/src/web3/contracts.ts
  packages/walletkit/package.json
  packages/walletkit/src/abi.ts
  packages/walletkit/src/contract-utils-v2.ts
  packages/walletkit/src/contract-utils.ts
  packages/walletkit/src/new-web3-utils.ts
  packages/walletkit/src/transaction-utils.ts
  packages/walletkit/test/contract-utils-v2.test.ts
Owners: @cmcewen, @jmrossy, @ashishb, @yerdua

Dont show this error for now
  packages/web/fullstack/sentry.ts
Owners: @cmcewen, @aaronmgdr

Dont show this error for now (#2205)
  packages/web/fullstack/sentry.ts
Owners: @cmcewen, @aaronmgdr

Fix yarn lock
  yarn.lock
Owners: @timmoreton

Remove celotool from celotool transactions commands
  packages/celotool/src/cmds/transactions/describe.ts
  packages/celotool/src/cmds/transactions/list.ts
Owners: @timmoreton

Last anys removed
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Remove walletkit code
  packages/walletkit/index.ts
  packages/walletkit/src/abi.ts
Owners: @ashishb, @yerdua

Overhaul readme (#2201)
  README.md
Owners: @timmoreton

Make --no-truncate a globl CLI flag
  packages/cli/src/base.ts
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/validator/list.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/config.md
  packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/exchange.md
  packages/docs/command-line-interface/lockedgold.md
  packages/docs/command-line-interface/network.md
  packages/docs/command-line-interface/node.md
  packages/docs/command-line-interface/oracle.md
  packages/docs/command-line-interface/rewards.md
  packages/docs/command-line-interface/transfer.md
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

HACK: continue migrations
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/scripts/bash/init_network.sh
Owners: @asaj, @m-chrzan

Indicate attestation fees
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Rename to statefulset and update docker images
  .env
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/helm-charts/attestation-bot/templates/statefulset.yaml
Owners: @timmoreton, @nambrot

Fix implicit anys
  packages/cli/src/commands/rewards/show.ts
Owners: @mcortesi, @asaj

ts ignore
  packages/walletkit/src/contract-utils.ts
Owners: @ashishb, @yerdua

Wait for only waitTime - 1 blocks
  packages/contractkit/src/wrappers/Attestations.ts
Owners: @timmoreton

Add --[no-]truncate for all cli.table
  packages/cli/src/base.ts
  packages/cli/src/commands/election/current.ts
  packages/cli/src/commands/election/list.ts
  packages/cli/src/commands/election/run.ts
  packages/cli/src/commands/oracle/rates.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/config.md
  packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/exchange.md
  packages/docs/command-line-interface/lockedgold.md
  packages/docs/command-line-interface/network.md
  packages/docs/command-line-interface/node.md
  packages/docs/command-line-interface/oracle.md
  packages/docs/command-line-interface/rewards.md
  packages/docs/command-line-interface/transfer.md
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Add /test_attestations endpoint on the attestation service (#2189)
  packages/attestation-service/src/env.ts
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/request.ts
  packages/attestation-service/src/requestHandlers/attestation.ts
  packages/attestation-service/src/requestHandlers/status.ts
  packages/attestation-service/src/requestHandlers/test_attestation.ts
  packages/cli/src/commands/identity/test-attestation-service.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/command.ts
  packages/docs/command-line-interface/identity.md
  packages/utils/src/io.ts
Owners: @timmoreton, @mcortesi, @asaj, @cla-bel, @jmrossy

Improve reliability of e2e governance test
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Add Twilio and attestation bot envs (#2194)
  .env.baklava
  .env.baklavastaging
  .env.mnemonic.baklava.enc
  .env.mnemonic.baklavastaging.enc
Owners: @timmoreton

Revert commentKey
  packages/mobile/src/identity/commentKey.ts
Owners: @cmcewen, @jmrossy

Fix walletkit gatewayfee
  packages/walletkit/src/contract-utils.ts
Owners: @ashishb, @yerdua

Debugging statements
  packages/mobile/src/send/saga.ts
  packages/mobile/src/transactions/send.ts
Owners: @cmcewen, @jmrossy

Add comments from design doc
  packages/cli/src/commands/rewards/show.ts
Owners: @mcortesi, @asaj

Election hack
  packages/protocol/migrations/20_elect_validators.ts
Owners: @asaj, @m-chrzan

Revert "Revert commentKey"
  packages/mobile/src/identity/commentKey.ts
Owners: @cmcewen, @jmrossy

Indicate to run Twilio globally (#2193)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Doc changes to address frequently asked questions
  packages/cli/src/commands/election/activate.ts
  packages/cli/src/utils/checks.ts
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/proof-of-stake/README.md
  packages/docs/getting-started/running-a-validator.md
  packages/docs/getting-started/using-the-wallet.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

lock
  yarn.lock
Owners: @timmoreton

walletkit in celotool
  packages/celotool/src/cmds/geth/trace.ts
  packages/celotool/src/cmds/geth/transfer.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/transactions.ts
Owners: @timmoreton

Check sync status of attestation service (#2191)
  packages/attestation-service/src/db.ts
  packages/attestation-service/src/logger.ts
Owners: @timmoreton

update docs
  packages/docs/command-line-interface/election.md
Owners: @timmoreton, @cla-bel

Revert commentEncryption debugging
  packages/mobile/src/send/saga.ts
  packages/mobile/src/transactions/send.ts
Owners: @cmcewen, @jmrossy

dedup
  packages/web/server/index.ts
Owners: @cmcewen, @aaronmgdr

Fix bignumber display in CLI
  packages/cli/package.json
  packages/cli/src/utils/cli.ts
Owners: @mcortesi, @asaj

hack
  packages/protocol/migrations/20_elect_validators.ts
Owners: @asaj, @m-chrzan

Support more than 1 attesation bot at a time (#2192)
  .env
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/celotool/src/cmds/bots/auto-verify.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/helm-charts/attestation-bot/templates/statefulset.yaml
Owners: @timmoreton, @nambrot

Fix
  packages/protocol/scripts/bash/init_network.sh
Owners: @asaj, @m-chrzan

Update baklava network ID in docs for 1.1 (#2214)
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/protocol/truffle-config.js
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

Woo
  packages/web/src/community/connect/ConnectPage.tsx
  packages/web/src/community/connect/Contribute.tsx
  packages/web/src/ecosystem/EcoCover.tsx
  packages/web/src/ecosystem/EcoSystemPage.tsx
  packages/web/src/events/Events.tsx
  packages/web/src/events/EventsPage.tsx
  packages/web/src/events/PastEventsPage.tsx
  packages/web/src/fellowship/Fellow.tsx
  packages/web/src/fellowship/FellowCover.tsx
  packages/web/src/fellowship/FellowViewer.tsx
  packages/web/src/fellowship/FellowshipPage.tsx
Owners: @cmcewen, @aaronmgdr

Only instantiate the client once
  packages/leaderboard/src/board.ts
Owners: @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
