Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Fix tx-params test
  packages/contractkit/src/utils/tx-params-normalizer.test.ts
Owners: @timmoreton

Fix cli build
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/test-utils/PromiEventStub.ts
  packages/cli/src/types/web3-celo.d.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/election.ts
  packages/cli/src/utils/helpers.ts
  packages/cli/src/utils/require.ts
  packages/contractkit/types/web3-celo.d.ts
  packages/walletkit/bin/build-sdk.js
  packages/walletkit/package.json
  packages/walletkit/src/contract-utils-v2.ts
  packages/walletkit/src/index.d.ts
  packages/walletkit/src/transaction-utils.ts
  packages/walletkit/src/web3-utils.ts
Owners: @mcortesi, @asaj, @timmoreton, @ashishb, @yerdua

Remove unnecesary newtypes
  packages/cli/src/types/web3-celo.d.ts
  packages/contractkit/src/explorer/log-explorer.ts
  packages/contractkit/src/kit.test.ts
  packages/contractkit/src/newtypes.d.ts
  packages/contractkit/src/providers/celo-provider.test.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/test-utils/PromiEventStub.ts
  packages/contractkit/src/utils/rpc-caller.test.ts
  packages/contractkit/src/utils/rpc-caller.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-params-normalizer.test.ts
  packages/contractkit/src/utils/tx-result.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/wallet.test.ts
  packages/contractkit/src/utils/wallet.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/contractkit/types/web3-celo.d.ts
Owners: @mcortesi, @asaj, @timmoreton

Wip adding many more fns
  packages/cli/src/commands/releasegold/authorize-vote-signer.ts
  packages/cli/src/commands/releasegold/create-account.ts
  packages/cli/src/commands/releasegold/info.ts
  packages/cli/src/commands/releasegold/set-account.ts
  packages/cli/src/commands/releasegold/set-liquidity-provision.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
Owners: @mcortesi, @asaj, @timmoreton

Pretty alliance form
  packages/web/public/static/locales/en/alliance.json
  packages/web/src/alliance/Collective.tsx
  packages/web/src/alliance/CollectiveForm.tsx
  packages/web/src/alliance/CollectiveMission.tsx
  packages/web/src/alliance/SignupForm.tsx
  packages/web/src/forms/EmailSubscribeForm.tsx
  packages/web/src/forms/Form.tsx
  packages/web/src/forms/FormComponents.tsx
Owners: @cmcewen, @aaronmgdr

Set max distribution fn
  packages/cli/src/commands/releasegold/set-max-distribution.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
Owners: @mcortesi, @asaj, @timmoreton

improve spacing and mobile view
  packages/web/src/alliance/Collective.tsx
  packages/web/src/alliance/CollectiveMission.tsx
  packages/web/src/alliance/Sweep.tsx
Owners: @cmcewen, @aaronmgdr

update links for SDK docs
  packages/docs/developer-resources/start.md
Owners: @timmoreton, @cla-bel

update links for SDK docs (#2983)
  packages/docs/developer-resources/start.md
Owners: @timmoreton, @cla-bel

add quickstart to intro section and update spacing
  packages/docs/developer-resources/introduction.md
  packages/docs/developer-resources/start.md
Owners: @timmoreton, @cla-bel

edit
  packages/docs/developer-resources/introduction.md
Owners: @timmoreton, @cla-bel

More minor docs edits (#2984)
  packages/docs/developer-resources/introduction.md
  packages/docs/developer-resources/start.md
Owners: @timmoreton, @cla-bel

Address PR comments
  packages/mobile/src/invite/EnterInviteCode.tsx
Owners: @cmcewen, @jmrossy

Fix PIN code on enabling Forno mode
  packages/mobile/src/app/Background.tsx
  packages/mobile/src/pincode/PincodeConfirmation.tsx
Owners: @cmcewen, @jmrossy

fix `yarn build`
  packages/mobile/src/app/Background.tsx
  packages/mobile/src/pincode/PincodeConfirmation.tsx
Owners: @cmcewen, @jmrossy

Fix PIN code on enabling Forno mode (#2987)
  packages/mobile/src/app/Background.tsx
  packages/mobile/src/pincode/PincodeConfirmation.tsx
Owners: @cmcewen, @jmrossy

Fix report issue on iOS (#2976)
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/utils/Logger.ts
Owners: @cmcewen, @jmrossy

Use CurrencyDisplay for the Buy/Sell gold button
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
  packages/react-components/components/Button.tsx
Owners: @cmcewen, @jmrossy

Celostats refactor and new frontend (#2911)
  .env
  .env.alfajoresstaging
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/celotool/src/cmds/deploy/destroy/celostats.ts
  packages/celotool/src/cmds/deploy/initial/celostats.ts
  packages/celotool/src/cmds/deploy/upgrade/all.ts
  packages/celotool/src/cmds/deploy/upgrade/celostats.ts
  packages/celotool/src/lib/celostats.ts
  packages/celotool/src/lib/env-utils.ts
  packages/helm-charts/celostats/Chart.yaml
  packages/helm-charts/celostats/README.md
  packages/helm-charts/celostats/templates/celostats-frontend.deployment.yaml
  packages/helm-charts/celostats/templates/celostats-frontend.ingress.yaml
  packages/helm-charts/celostats/templates/celostats-frontend.service.yaml
  packages/helm-charts/celostats/templates/celostats-server.deployment.yaml
  packages/helm-charts/celostats/templates/celostats-server.ingress.yaml
  packages/helm-charts/celostats/templates/celostats-server.service.yaml
  packages/helm-charts/celostats/templates/ethstats.ingress.yaml
  packages/helm-charts/celostats/templates/ethstats.service.yaml
  packages/helm-charts/celostats/values.yaml
  packages/helm-charts/ethstats/Chart.yaml
  packages/helm-charts/ethstats/README.md
  packages/helm-charts/ethstats/templates/ethstats.deployment.yaml
Owners: @timmoreton, @nambrot

read json from sheet
  packages/leaderboard/src/jsonFromSheet.ts
Owners: @timmoreton

cleanup
  packages/cli/src/commands/rewards/slasher.ts
  packages/cli/src/commands/slash/analyze.ts
  packages/cli/src/commands/slash/downtime.ts
  packages/contractkit/src/kit.ts
Owners: @mcortesi, @asaj, @timmoreton

perhaps now builds
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

update docs
  packages/docs/command-line-interface/rewards.md
Owners: @timmoreton, @cla-bel

Add total in Celo Dollars when a local currency is set
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
Owners: @cmcewen, @jmrossy

Remove obsolete case for rendering ExchangeConfirmationCard
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
Owners: @cmcewen, @jmrossy

Fix types in protocol
  packages/protocol/migrations/08_reserve.ts
  packages/protocol/test/common/registry.ts
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Move most of mobile contract calls to use ContractKit wrappers (#2364)
  .prettierignore
  packages/contractkit/src/wrappers/Escrow.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_escrow_.escrowwrapper.md
  packages/mobile/__mocks__/@celo/contractkit/index.ts
  packages/mobile/package.json
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/fees/CalculateFee.tsx
  packages/mobile/src/fees/saga.test.ts
  packages/mobile/src/fees/saga.ts
  packages/mobile/src/goldToken/saga.ts
  packages/mobile/src/index.d.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/send/saga.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/stableToken/saga.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/saga.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/gas.test.ts
  packages/mobile/src/web3/gas.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/test/utils.ts
  yarn.lock
Owners: @timmoreton, @cla-bel, @cmcewen, @jmrossy

Add computeInitialParametersForSlashing docs and remove range util already in lodash
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_lockedgold_.lockedgoldwrapper.md
  packages/utils/src/collections.ts
Owners: @timmoreton, @cla-bel, @jmrossy

Fix celotool and mobile
  packages/celotool/package.json
  packages/celotool/src/cmds/transactions/describe.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/lib/geth.ts
  packages/mobile/package.json
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/send/saga.ts
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3-celo.d.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.ts
Owners: @timmoreton, @cmcewen, @jmrossy

Add some comments
  packages/walletkit/src/contract-utils.ts
Owners: @ashishb, @yerdua

Revert "Move most of mobile contract calls to use ContractKit wrappers (#2364)"
  .prettierignore
  packages/contractkit/src/wrappers/Escrow.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_escrow_.escrowwrapper.md
  packages/mobile/__mocks__/@celo/contractkit/index.ts
  packages/mobile/package.json
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/fees/CalculateFee.tsx
  packages/mobile/src/fees/saga.test.ts
  packages/mobile/src/fees/saga.ts
  packages/mobile/src/goldToken/saga.ts
  packages/mobile/src/index.d.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/send/saga.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/stableToken/saga.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/saga.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/gas.test.ts
  packages/mobile/src/web3/gas.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/test/utils.ts
  yarn.lock
Owners: @timmoreton, @cla-bel, @cmcewen, @jmrossy

Revert "Move most of mobile contract calls to use ContractKit wrappers (#2364)" (#2989)
  .prettierignore
  packages/contractkit/src/wrappers/Escrow.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_escrow_.escrowwrapper.md
  packages/mobile/__mocks__/@celo/contractkit/index.ts
  packages/mobile/package.json
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/fees/CalculateFee.tsx
  packages/mobile/src/fees/saga.test.ts
  packages/mobile/src/fees/saga.ts
  packages/mobile/src/goldToken/saga.ts
  packages/mobile/src/index.d.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/send/saga.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/stableToken/saga.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/saga.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/gas.test.ts
  packages/mobile/src/web3/gas.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/test/utils.ts
  yarn.lock
Owners: @timmoreton, @cla-bel, @cmcewen, @jmrossy

Fix other loop issue
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

Fix walletkit
  packages/walletkit/package.json
  packages/walletkit/src/contract-utils.ts
  packages/walletkit/src/erc20-utils.ts
  packages/walletkit/src/new-web3-utils.ts
  packages/walletkit/src/signing-utils.ts
  packages/walletkit/src/web3-utils.ts
Owners: @ashishb, @yerdua

Changed slashableDowntime for testing
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Still debugging forno mode
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/utils.ts
  packages/walletkit/src/contract-utils.ts
Owners: @cmcewen, @jmrossy, @ashishb, @yerdua

Improve logging
  packages/walletkit/src/contract-utils.ts
Owners: @ashishb, @yerdua

typechain cmd case sensitive
  packages/protocol/scripts/build.ts
  packages/walletkit/bin/build-sdk.js
Owners: @asaj, @m-chrzan, @ashishb, @yerdua

Fix seal reference
  packages/cli/src/commands/rewards/slasher.ts
Owners: @mcortesi, @asaj

Affirmations area of Alliance page
  packages/web/pages/alliance.tsx
  packages/web/public/static/locales/en/alliance.json
  packages/web/src/alliance/Affirmations.tsx
  packages/web/src/alliance/Main.tsx
  packages/web/src/alliance/images/clabs-preview.jpg
  packages/web/src/alliance/images/clabs.jpg
  packages/web/src/alliance/images/index.ts
  packages/web/src/alliance/images/laboratoria-preview.jpg
  packages/web/src/alliance/images/laboratoria.jpg
  packages/web/src/alliance/images/wwf-preview.jpg
  packages/web/src/alliance/images/wwf.jpg
  packages/web/src/shared/Photo.tsx
Owners: @cmcewen, @aaronmgdr
