Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Do not redirect websocket traffic
  packages/helm-charts/ethstats/templates/ethstats.ingress.yaml
Owners: @nambrot, @timmoreton

Use --proxy.allowprivateip for testnet
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @nambrot, @timmoreton

[Wallet] Fix integration build firebase db url on Android (#2495)
  packages/mobile/android/app/src/integration/google-services.json.enc
Owners: @cmcewen, @jmrossy

add celo.org/about#contributors id (#2488)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/about/About.test.tsx
  packages/web/src/about/Team.tsx
Owners: @cmcewen, @aaronmgdr

WIP cancelling geth sagas
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Update snapshot test
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
Owners: @cmcewen, @jmrossy

Version 13 of stability analysis paper, minor edits to white paper
  packages/web/public/papers/Celo_A_Multi_Asset_Cryptographic_Protocol_for_Decentralized_Social_Payments.pdf
  packages/web/public/papers/Celo_Stability_Analysis.pdf
Owners: @cmcewen, @aaronmgdr

[Wallet] Fetch tobin tax for exchanges (#1492)
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/exchange/saga.test.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Clean up forno related sagas
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

cancel geth saga
  packages/mobile/src/geth/saga.ts
Owners: @cmcewen, @jmrossy

Revise explanation for not removing pkey
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @nambrot, @timmoreton

new academic papers + minor fix to web events (#2502)
  packages/web/development.yaml
  packages/web/production.yaml
  packages/web/public/papers/Celo_A_Multi_Asset_Cryptographic_Protocol_for_Decentralized_Social_Payments.pdf
  packages/web/public/papers/Celo_Stability_Analysis.pdf
  packages/web/server/EventHelpers.ts
  packages/web/staging.yaml
Owners: @cmcewen, @aaronmgdr

Geth logic for forno prompt
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

remove deprecated --account flag from unlock command
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

remove deprecated --account flag from unlock command (#2504)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Require Consent for tracking globally (#2489)
  packages/web/package.json
  packages/web/src/analytics/analytics.test.ts
  packages/web/src/analytics/analytics.ts
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

[Wallet] Navigate to wallet home after payment request (#2500)
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
Owners: @cmcewen, @jmrossy

Fix celotool testnet deploy (#2501)
  packages/celotool/src/lib/migration-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/helm-charts/testnet/values.yaml
Owners: @timmoreton, @nambrot

Handle any errors that may occur while playing video and revert to still graphic mode
  packages/web/src/home/HomeAnimation.tsx
  packages/web/src/home/home-animation.json
  packages/web/src/home/version3/HomeCover.tsx
Owners: @cmcewen, @aaronmgdr

Fix issue #2470
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

Remove debugging code
  packages/cli/src/commands/election/current.ts
Owners: @mcortesi, @asaj

Add missing valueToBigNumber
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Dont show extension errors in sentry
  packages/web/fullstack/sentry.ts
Owners: @cmcewen, @aaronmgdr

Switch to datasaver when necessary
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/geth/selectors.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/selectors.ts
Owners: @cmcewen, @jmrossy

Try to repro in tests
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

getInternalDenominator removed from SortedOracles.ts wrapper
  packages/contractkit/src/wrappers/SortedOracles.ts
Owners: @timmoreton

do not fetch affiliates
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

function isReportActive renamed to isOldestReportExpired and reused by removeExpiredReports, isOldestReportExpired now returns bool isReportExpired and address of the current report,
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/interfaces/ISortedOracles.sol
  packages/protocol/contracts/stability/test/MockSortedOracles.sol
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

Fix incorrect feed kind for exchanges
  packages/mobile/src/transactions/TransactionsList.tsx
Owners: @cmcewen, @jmrossy

Updated ethstats commit versions
  .env
  .env.baklava
  .env.baklavastaging
Owners: @timmoreton

update lock
  yarn.lock
Owners: @timmoreton

Added ingress resource for celostats DNS (#2480)
  .env
  .env.baklava
  .env.baklavastaging
  packages/helm-charts/ethstats/templates/celostats.ingress.yaml
  packages/helm-charts/ethstats/templates/ethstats.ingress.yaml
Owners: @timmoreton, @nambrot

adapt slashing tests
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

resolve merge conflict
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

- start local testnet - adapt e2e tests
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/genesis-config.ts
  packages/celotool/src/lib/interfaces/geth-instance-config.ts
  packages/celotool/src/lib/interfaces/geth-run-config.ts
  packages/celotool/src/lib/utils.ts
Owners: @timmoreton

- added a lot of helpers to run nodes
  packages/celotool/register.sh
  packages/celotool/register_validatorgroup.sh
  packages/celotool/src/helpers/account_register.ts
  packages/celotool/src/helpers/add_local_geth.ts
  packages/celotool/src/helpers/election_show.ts
  packages/celotool/src/helpers/start_geth.ts
  packages/celotool/src/helpers/transfer.ts
  packages/celotool/src/helpers/utils.ts
  packages/celotool/src/helpers/validator_register.ts
  packages/celotool/src/helpers/validatorgroup_add.ts
  packages/celotool/src/helpers/validatorgroup_register.ts
  packages/celotool/src/helpers/validatorgroup_vote.ts
Owners: @timmoreton

[Wallet] Fix incorrect empty state on the gold tab (#2510)
  packages/mobile/src/transactions/TransactionsList.tsx
Owners: @cmcewen, @jmrossy

further fixes added
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

removed unnecessary require comment
  packages/protocol/contracts/governance/VestingInstance.sol
Owners: @asaj, @m-chrzan

final changes to unit tests + smart conctacts
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan
