Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Fxing ts weird bug
  packages/cli/src/commands/releasegold/revoke-votes.ts
Owners: @mcortesi, @asaj

upate privacy updated at date (#3021)
  packages/web/src/_page-tests/__snapshots__/privacy.test.tsx.snap
  packages/web/src/privacy/Privacy.tsx
Owners: @cmcewen, @aaronmgdr

fixing type bug
  packages/cli/src/commands/releasegold/set-account-wallet-address.ts
Owners: @mcortesi, @asaj

Lint
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

Change dappkit contractkit version
  packages/contractkit/src/kit.ts
  packages/dappkit/package.json
  yarn.lock
Owners: @timmoreton

add url
  packages/web/src/about/Team.tsx
  packages/web/src/alliance/Members.tsx
  packages/web/src/shared/Outbound.tsx
Owners: @cmcewen, @aaronmgdr

include url
  packages/web/server/getAllies.ts
Owners: @cmcewen, @aaronmgdr

Switching src to lib
  packages/cli/src/commands/releasegold/set-account-wallet-address.ts
  packages/cli/src/commands/releasegold/set-max-distribution.ts
Owners: @mcortesi, @asaj

Fixing cli bugs
  packages/cli/src/commands/releasegold/authorize.ts
  packages/cli/src/commands/releasegold/create-account.ts
  packages/cli/src/commands/releasegold/gold.ts
  packages/cli/src/commands/releasegold/revoke-votes.ts
  packages/cli/src/commands/releasegold/set-beneficiary.ts
  packages/cli/src/commands/releasegold/set-liquidity-provision.ts
  packages/cli/src/commands/releasegold/show.ts
  packages/cli/src/commands/releasegold/withdraw.ts
Owners: @mcortesi, @asaj

Docs
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/releasegold.md
Owners: @timmoreton, @cla-bel

Update packages/cli/src/utils/checks.ts
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

Add proxy methods for contractkit block-explorer (#3018)
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/governance/proxy.ts
  packages/docs/developer-resources/contractkit/reference/classes/_explorer_block_explorer_.blockexplorer.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_explorer_block_explorer_.calldetails.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_explorer_block_explorer_.parsedblock.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_explorer_block_explorer_.parsedtx.md
  packages/docs/developer-resources/contractkit/reference/modules/_explorer_block_explorer_.md
  packages/docs/developer-resources/contractkit/reference/modules/_governance_proxy_.md
Owners: @timmoreton, @cla-bel

Update packages/cli/src/commands/account/register-metadata.ts
  packages/cli/src/commands/account/register-metadata.ts
Owners: @mcortesi, @asaj

Update packages/cli/src/commands/account/register-metadata.ts
  packages/cli/src/commands/account/register-metadata.ts
Owners: @mcortesi, @asaj

updating docs
  packages/cli/src/commands/account/register-metadata.ts
  packages/docs/command-line-interface/account.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Fixing a check for validator:deregister (#3017)
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

fixing tests
  packages/cli/src/commands/account/claims.test.ts
Owners: @mcortesi, @asaj

account:register-metadata sanity check (#3019)
  packages/cli/src/commands/account/claims.test.ts
  packages/cli/src/commands/account/register-metadata.ts
  packages/docs/command-line-interface/account.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

[Wallet] Local currency in the gold flow (#2965)
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/account/FiatExchange.tsx
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.test.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/CeloGoldOverview.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
  packages/mobile/src/home/CeloDollarsOverview.tsx
  packages/mobile/src/home/__snapshots__/CeloDollarsOverview.test.tsx.snap
  packages/mobile/src/home/__snapshots__/WalletHome.test.tsx.snap
  packages/mobile/src/localCurrency/selectors.test.ts
  packages/mobile/src/localCurrency/selectors.ts
  packages/mobile/src/navigator/Headers.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
  packages/mobile/src/utils/formatting.ts
  packages/react-components/components/Button.tsx
Owners: @cmcewen, @jmrossy

fix yarn build
  packages/mobile/src/sentry/Sentry.ts
Owners: @cmcewen, @jmrossy

Address PR comments
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_handshake_tests.ts
  packages/celotool/src/lib/geth.ts
  packages/protocol/lib/test-utils.ts
  packages/protocol/package.json
  yarn.lock
Owners: @timmoreton, @asaj, @m-chrzan

added constitution for freezer contract
  packages/protocol/governanceConstitution.js
Owners: @asaj, @m-chrzan

Changes in the kit for PR
  packages/contractkit/src/kit.ts
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_kit_.kitoptions.md
Owners: @timmoreton, @cla-bel

Contractkit docs
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.basewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_lockedgold_.lockedgoldwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_releasegold_.releasegoldwrapper.md
  packages/docs/developer-resources/contractkit/reference/globals.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_lockedgold_.pendingwithdrawal.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_releasegold_.releaseschedule.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_releasegold_.revocationinfo.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_lockedgold_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_releasegold_.md
Owners: @timmoreton, @cla-bel

very WIP
  packages/web/server/airtable.ts
  packages/web/server/getAllies.ts
  packages/web/src/about/About.tsx
  packages/web/src/alliance/AllianceMember.ts
  packages/web/src/alliance/Main.tsx
  packages/web/src/alliance/Members.tsx
  packages/web/src/shared/BeautifulQuote.tsx
Owners: @cmcewen, @aaronmgdr

adjust points for AGx to correct mistake in assigning audit score originally
  packages/web/src/dev/tgsco-final.json
Owners: @cmcewen, @aaronmgdr

change rn-cli.config.js to metro.config.js
  packages/docs/developer-resources/dappkit/setup.md
Owners: @timmoreton, @cla-bel

Revert "adjust points for AGx to correct mistake in assigning audit score originally"
  packages/web/src/dev/tgsco-final.json
Owners: @cmcewen, @aaronmgdr

#FIX TGSCO updates points/btu for AGx1 to 1,187,607 as result of correction of security audit score.
  packages/web/src/dev/LeaderBoard.tsx
  packages/web/src/dev/tgsco-final.json
Owners: @cmcewen, @aaronmgdr

TGCSO - leaderboard adjustment 1.1 (#3028)
  packages/web/src/dev/LeaderBoard.tsx
  packages/web/src/dev/tgsco-final.json
Owners: @cmcewen, @aaronmgdr

addd big quotes
  packages/web/src/alliance/Main.tsx
  packages/web/src/alliance/images/agua-comunidad.jpg
  packages/web/src/alliance/images/fences.jpg
  packages/web/src/alliance/images/index.ts
  packages/web/src/shared/BeautifulQuote.tsx
Owners: @cmcewen, @aaronmgdr

Replace sleeps and retry on crashed geth
  packages/celotool/ci_test_sync.sh
  packages/celotool/package.json
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/types.d.ts
  yarn.lock
Owners: @timmoreton

resolve lint issues
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/wrappers/MultiSig.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/protocol/migrations/07_reserve_spender_multisig.ts
  packages/protocol/migrations/23_governance_approver_multisig.ts
Owners: @timmoreton, @asaj, @m-chrzan

adds checkbox !
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/alliance/SignupForm.tsx
  packages/web/src/forms/Form.tsx
  packages/web/src/forms/FormComponents.tsx
Owners: @cmcewen, @aaronmgdr

change rn-cli.config.js to metro.config.js (#3027)
  packages/docs/developer-resources/dappkit/setup.md
Owners: @timmoreton, @cla-bel

move contributors to api folder
  packages/web/pages/api/contributors.ts
Owners: @cmcewen, @aaronmgdr

rename Invest to Grow
  packages/web/public/static/locales/en/alliance.json
Owners: @cmcewen, @aaronmgdr

Form now sends data to server string is to restrictive as sometimes form could have a boolean, string | boolean causes the need to do as string everywhere which is unpleasent
  packages/web/server/index.ts
  packages/web/src/alliance/Affirmations.tsx
  packages/web/src/alliance/CategoryEnum.ts
  packages/web/src/alliance/SignupForm.tsx
  packages/web/src/forms/Form.tsx
Owners: @cmcewen, @aaronmgdr

Add carbon offsetting fund
  .circleci/config.yml
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
Owners: @timmoreton, @asaj, @m-chrzan

Tests passing
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/stability/test/MockStableToken.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan
