Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Stop running broken end-to-end mobile test (#2096)
  .circleci/config.yml
Owners: @timmoreton

checking that the block has enough signers
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/test/SlashingTestUtils.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/test/governance/double_signing_slasher.ts
Owners: @asaj, @m-chrzan

added downtime slasher
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/proxies/DowntimeSlasherProxy.sol
  packages/protocol/contracts/governance/test/SlashingTestUtils.sol
  packages/protocol/contracts/governance/test/TestDowntimeSlasher.sol
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

lint
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

Fix/block gas limit exceeded #2 (#2263)
  packages/protocol/lib/web3-utils.ts
Owners: @asaj, @m-chrzan

mock validator
  packages/protocol/contracts/governance/test/MockValidators.sol
Owners: @asaj, @m-chrzan

Fix wrong type for comment key (#2250)
  packages/mobile/src/identity/commentKey.ts
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
Owners: @cmcewen, @jmrossy

just run on Accounts until lockedgold is solved
  .circleci/config.yml
  packages/protocol/specs/AccountsExpected.json
Owners: @timmoreton, @asaj, @m-chrzan

Upgrade detox
  packages/mobile/.env.test
  packages/mobile/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Adapting the script to the last documentation changes (#2241)
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Owners: @timmoreton

parallelize verifying accounts
  packages/cli/src/commands/account/show-claimed-accounts.ts
Owners: @mcortesi, @asaj

Remove import screen from onboarding flow
  packages/mobile/src/app/saga.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/navigator/Navigator.tsx
Owners: @cmcewen, @jmrossy

lint
  packages/cli/src/commands/account/show-claimed-accounts.ts
Owners: @mcortesi, @asaj

- fix static enodes loading - add verbose flag - optimize logging
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

get group capacities and eligibility
  packages/celotool/src/cmds/bots/voting.ts
Owners: @timmoreton

Adding more tests submitting for review
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Adding fns and some tests
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Adding slashingMultiplier usage for reward calculation
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/runTests.js
  packages/protocol/truffle-config.js
Owners: @asaj, @m-chrzan

Adding comments
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

Fixing lint
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Changing many to , using safemath, style
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Changing all names to reflect rather than
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Switching back to multiplier
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Changing more names
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

updating accounts expected
  packages/protocol/specs/AccountsExpected.json
Owners: @asaj, @m-chrzan

Updating gas limits in all places
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/scripts/devchain.ts
Owners: @timmoreton, @asaj, @m-chrzan

WIP
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/reducer.ts
  packages/utils/src/phoneNumbers.ts
  packages/walletkit/src/contract-utils.ts
Owners: @cmcewen, @jmrossy, @ashishb, @yerdua

Audit fixes for Reserve (#1816)
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

tests working
  packages/cli/src/commands/account/show-claimed-accounts.ts
Owners: @mcortesi, @asaj

lint
  packages/cli/src/commands/account/show-claimed-accounts.ts
Owners: @mcortesi, @asaj

Update genesis value, show name in election:list, fix assertRevert (#2216)
  baklava_genesis_balances.json
  packages/cli/src/commands/election/list.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/governance/validators.ts
  packages/protocol/test/stability/reserve.ts
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan

Ok
  packages/web/src/brandkit/tests/__snapshots__/Showcase.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Add back accidentally removed election:list name field
  packages/cli/src/commands/election/list.ts
Owners: @mcortesi, @asaj

Delete commented out code
  packages/mobile/src/transactions/TransactionFeed.tsx
Owners: @cmcewen, @jmrossy

Adding slashing multiplier to validators.sol and reward calculation (#2239)
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/scripts/devchain.ts
  packages/protocol/test/governance/validators.ts
  packages/protocol/truffle-config.js
Owners: @timmoreton, @asaj, @m-chrzan

Put back ts ignore
  packages/mobile/src/transactions/TransactionFeed.tsx
Owners: @cmcewen, @jmrossy

Fix lint/build errors
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
Owners: @cmcewen, @jmrossy

Change to contributors per comment in sigma
  packages/web/static/locales/en/about.json
Owners: @cmcewen, @aaronmgdr

Fix comment tsignore
  packages/mobile/src/transactions/TransactionFeed.tsx
Owners: @cmcewen, @jmrossy

Various CLI improvements
  packages/cli/src/commands/account/unlock.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Owners: @mcortesi, @asaj
