Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Quick note on exposing port 80 inside the attestations section of docs (#2299)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Add fn groupMembershipInEpoch to validators.sol for slashing (#2178)
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Toda
  packages/web/__mocks__/cross-fetch.ts
  packages/web/__mocks__/lottie-web.ts
  packages/web/src/brandkit/common/Page.tsx
Owners: @cmcewen, @aaronmgdr

Minor language correction in overview.md docs
  packages/docs/overview.md
Owners: @timmoreton, @cla-bel

some fixes and cleanup
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/GovernanceSlasher.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/contracts/governance/test/TestDowntimeSlasher.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
  packages/protocol/test/governance/governance_slasher.ts
Owners: @asaj, @m-chrzan

lint
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

added daily limit for reserve spending
  packages/protocol/contracts/common/test/MockGoldToken.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Progress on new send flow
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/reducer.ts
  packages/mobile/src/identity/saga.ts
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/send/ContactSyncBanner.tsx
  packages/mobile/src/send/QRCodeIcon.tsx
  packages/mobile/src/send/Send.tsx
  packages/mobile/src/send/SendCallToAction.tsx
  packages/mobile/src/send/SendSearchInput.tsx
  packages/mobile/src/utils/linking.ts
  packages/react-components/icons/Checkmark.tsx
  packages/react-components/icons/Error.tsx
Owners: @cmcewen, @jmrossy

merge
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

adding something to slash into test
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

Add new import contact icon
  packages/mobile/src/icons/ContactPermission.tsx
  packages/mobile/src/images/Images.ts
  packages/mobile/src/images/contact-permission.png
  packages/mobile/src/images/contact-permission@2x.png
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/send/Send.tsx
  packages/mobile/src/send/SendSearchInput.tsx
Owners: @cmcewen, @jmrossy

i18n the contact sync banner
  packages/mobile/src/send/ContactSyncBanner.tsx
Owners: @cmcewen, @jmrossy

Fix verifier tests
  packages/verifier/__mocks__/react-i18next.js
Owners: @jmrossy, @cmcewen

Add hashHeader and getBlockNumberFromHeader to UsingPrecompiles
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @timmoreton, @asaj, @m-chrzan

move towards weighted probability of new vote choice
  packages/celotool/src/cmds/bots/voting.ts
  packages/protocol/migrations/20_elect_validators.ts
Owners: @timmoreton, @asaj, @m-chrzan

Add missing ci_test_slashing.sh
  packages/celotool/ci_test_slashing.sh
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @timmoreton, @asaj, @m-chrzan

Fix build
  packages/cli/src/commands/validator/status.ts
Owners: @mcortesi, @asaj

Fix build
  packages/cli/src/commands/account/unlock.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Owners: @mcortesi, @asaj

lint
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

Add reconstructHeaderArray
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

changed getting epoch number, let's see if everything keeps working...
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

Make a header to double sign
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

Remove dollar sign in bash cmds
  packages/docs/celo-codebase/protocol/identity/metadata.md
Owners: @timmoreton, @cla-bel

Remove dollar signs in bash cmds
  packages/docs/celo-codebase/protocol/identity/metadata.md
Owners: @timmoreton, @cla-bel

changed name to hashHeader
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
Owners: @asaj, @m-chrzan

Remove dollar signs in bash cmds (#2316)
  packages/docs/celo-codebase/protocol/identity/metadata.md
Owners: @timmoreton, @cla-bel

Test parses current block number
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @timmoreton, @asaj, @m-chrzan

Add hashHeader and getBlockNumberFromHeader to UsingPrecompiles
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

Run three validators
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

Remove dollar signs in bash cmds (#2316)
  packages/docs/celo-codebase/protocol/identity/metadata.md
Owners: @timmoreton, @cla-bel

add remaining precompiles
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

make linter happy
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

point to ci victor/slashing-precompiles
  .circleci/config.yml
Owners: @timmoreton

Bump @celo/utils to 0.1.5-dev (#2164)
  .circleci/config.yml
  README-dev.md
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/mobile/package.json
  packages/notification-service/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
  packages/web/package.json
  yarn.lock
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy, @annakaz, @m-chrzan, @nambrot, @ashishb, @yerdua, @aaronmgdr

WIP, working out bugs in election interface
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

function complete, still need to add more tests and clean style
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Fixing bugs, adding tests but still fixing tests
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Fixing tests
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Addressing review, adding more tests and adding registry constraint
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Adding slashing fn and groundwork for testing if we want to add involved unit tests
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
