Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nambrot, @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz, @m-chrzan, @ashishb, @yerdua, @tkporter, @aaronmgdr

Move events below storage variables
  packages/protocol/contracts/identity/Attestations.sol
Owners: @asaj, @m-chrzan

Send mobile OS to the server
  packages/web/server/FirebaseClient.ts
  packages/web/server/FirebaseServerSide.ts
  packages/web/server/controllers.ts
  packages/web/src/fauceting/RequestFunds.tsx
  packages/web/static/locales/en/faucet.json
Owners: @cmcewen, @aaronmgdr

Update firebase faucet package
  packages/faucet/database-rules.bolt
  packages/faucet/src/database-helper.ts
Owners: none

Adjust CK
  packages/celotool/src/cmds/account/verify.ts
  packages/contractkit/src/wrappers/Attestations.ts
Owners: none

Ensure private key exists/web3 keystore exists for switch
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/zeroSync.ts
Owners: @cmcewen, @jmrossy

Update logos for app stores
  packages/web/src/download/AppStores.tsx
  packages/web/src/download/app-store.png
  packages/web/src/download/play-store.png
  packages/web/src/shared/menu-items.ts
  packages/web/static/locales/en/faucet.json
Owners: @cmcewen, @aaronmgdr

Get everything working
  package.json
  packages/mobile/android/app/build.gradle
  packages/mobile/android/build.gradle
  packages/mobile/metro.config.js
  packages/mobile/scripts/pre-dev.sh
  patches/@react-native-community/cli-platform-android+3.0.0-alpha.2.patch
  patches/@segment/analytics-react-native-firebase+1.1.0-beta.2.patch
  patches/react-native-qrcode-svg+5.2.0.patch
  patches/react-native-secure-randombytes+3.0.0.patch
Owners: @cmcewen, @jmrossy

Unneeded changes
  package.json
  packages/mobile/.env
  packages/mobile/jest.config.js
  packages/mobile/metro.config.js
  packages/mobile/test/utils.ts
Owners: @cmcewen, @jmrossy

lint
  packages/protocol/contracts/common/MockSafeCast.sol
  packages/protocol/contracts/common/SafeCast.sol
  packages/protocol/contracts/identity/Attestations.sol
Owners: @asaj, @m-chrzan

Fix Metadata registration during contract deploy
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/contractkit/src/identity/metadata.ts
  packages/utils/src/async.ts
Owners: @jmrossy

Add script to update faucet addresses in blockchain api
  packages/celotool/src/cmds/deploy/initial/blockchain-api.ts
Owners: none

merge master
  .circleci/config.yml
  .env.integration
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/tsconfig.json
  packages/cli/src/commands/validatorgroup/member.ts
  packages/cli/src/utils/cli.ts
  packages/cli/tsconfig.json
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/validatorgroup.md
  packages/docs/developer-resources/introduction.md
  packages/mobile/package.json
  packages/mobile/scripts/pre-dev.sh
  packages/mobile/scripts/start_emulator.sh
  packages/mobile/src/redux/sagas.ts
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/common/libraries/AddressesHelper.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/test/common/proxy.ts
  packages/protocol/test/governance/governance.ts
  yarn.lock
Owners: @mcortesi, @asaj, @cmcewen, @jmrossy, @m-chrzan

Update faucet w path
  packages/celotool/src/cmds/deploy/initial/blockchain-api.ts
Owners: none

fixed tests
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

minor fix
  packages/celotool/src/cmds/account/verify.ts
  packages/utils/src/identity.ts
Owners: @jmrossy

Switch to always reading zeroSync state from web3
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Update backer logos
  packages/web/server/index.ts
  packages/web/src/about/Backers.tsx
  packages/web/src/about/backers/9yardscapital.jpg
  packages/web/src/about/backers/9yardscapital.png
  packages/web/src/about/backers/a-capital-logo.png
  packages/web/src/about/backers/a16z.jpg
  packages/web/src/about/backers/a16z.png
  packages/web/src/about/backers/a16z@2x.png
  packages/web/src/about/backers/andromeda-logo.png
  packages/web/src/about/backers/andromeda.jpg
  packages/web/src/about/backers/backers.ts
  packages/web/src/about/backers/cervin.png
  packages/web/src/about/backers/cervin@2x.png
  packages/web/src/about/backers/coinbase.jpg
  packages/web/src/about/backers/coinbase.png
  packages/web/src/about/backers/coinbase@2x.png
  packages/web/src/about/backers/dragonfly-capital-partners.jpg
  packages/web/src/about/backers/gc.png
  packages/web/src/about/backers/gc@2x.png
  packages/web/src/about/backers/general-catalist.jpg
  packages/web/src/about/backers/greenfield-one-dark.png
  packages/web/src/about/backers/greenfield-one.jpg
  packages/web/src/about/backers/lake-star.jpg
  packages/web/src/about/backers/lake-star.png
  packages/web/src/about/backers/nima.jpg
  packages/web/src/about/backers/nima.png
  packages/web/src/about/backers/nima@2x.png
  packages/web/src/about/backers/polychain.jpg
  packages/web/src/about/backers/polychain.png
  packages/web/src/about/backers/polychain@2x.png
  packages/web/src/about/backers/social-capital.jpg
  packages/web/src/about/backers/social-capital.png
  packages/web/src/about/backers/social-capital@2x.png
  packages/web/src/about/backers/sv-angel.jpg
  packages/web/src/about/backers/sv-angel.png
  packages/web/src/about/backers/sv-angel@2x.png
  packages/web/src/about/backers/version-one.jpg
  packages/web/src/about/backers/version-one.png
  packages/web/src/about/backers/version-one@2x.png
Owners: @cmcewen, @aaronmgdr

[Wallet] Use latest geth with ipc support on iOS (#1329)
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/web3/contracts.ts
  yarn.lock
Owners: @cmcewen, @jmrossy

podfile changes
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/react-native.config.js
Owners: @cmcewen, @jmrossy

Fix layout on mobile
  packages/web/src/download/CoverActions.tsx
  packages/web/src/download/MobileApp.tsx
Owners: @cmcewen, @aaronmgdr

Work on iOS
  packages/mobile/__mocks__/@react-native-community/async-storage.js
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/react-native.config.js
  patches/react-native-secure-randombytes+3.0.0.patch
Owners: @cmcewen, @jmrossy

fix: packages/faucet/package.json to reduce vulnerabilities
  packages/faucet/package.json
Owners: none

yarn.lock update
  yarn.lock
Owners: none

updated tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/contractkit/src/wrappers/BlockchainParameters.ts
Owners: none

[Mobile] Show Incorrect PIN error in exchange (#1345)
  packages/mobile/src/exchange/actions.ts
Owners: @cmcewen, @jmrossy

Update command to directly use getAddressFromEnv()
  packages/celotool/src/cmds/deploy/initial/blockchain-api.ts
Owners: none

Add comment explaining 0th validator
  packages/celotool/src/cmds/deploy/initial/blockchain-api.ts
Owners: none

Remove changes from other PR
  packages/mobile/src/exchange/actions.ts
Owners: @cmcewen, @jmrossy

Reword comment
  packages/celotool/src/cmds/deploy/initial/blockchain-api.ts
Owners: none

[Snyk] Fix for 1 vulnerabilities (#1262)
  packages/faucet/package.json
  yarn.lock
Owners: none

Fix reference
  packages/cli/src/commands/identity/create-metadata.ts
Owners: @mcortesi, @asaj

Comment about why
  packages/faucet/src/database-helper.ts
Owners: none

Fix typing
  packages/web/server/FirebaseServerSide.ts
Owners: @cmcewen, @aaronmgdr

Clean up duplicated code
  packages/faucet/src/database-helper.ts
Owners: none

Base group locked gold requirement on number of members
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Address comments
  packages/cli/src/commands/lockedgold/lock.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/LockedGold.sol
Owners: @mcortesi, @asaj, @m-chrzan

fix: packages/faucet/package.json & packages/faucet/.snyk to reduce vulnerabilities
  packages/faucet/.snyk
  packages/faucet/package.json
Owners: none

Lint fix
  packages/web/server/FirebaseServerSide.ts
Owners: @cmcewen, @aaronmgdr

Capitalize and only require OS on invite
  packages/web/src/fauceting/RequestFunds.tsx
Owners: @cmcewen, @aaronmgdr

Fix coverActions placement of link at bottom
  packages/web/src/dev/CoverAction.tsx
  packages/web/src/dev/CoverActions.tsx
  packages/web/src/download/CoverActions.tsx
Owners: @cmcewen, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/cli/ @mcortesi @asaj
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/walletkit/ @ashishb @yerdua
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/web/ @cmcewen @aaronmgdr
