Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Add spanish translations
  packages/mobile/locales/es-419/sendFlow7.json
Owners: @cmcewen, @jmrossy

fixing tests
  packages/protocol/test/common/multisig.ts
Owners: @asaj, @m-chrzan

fixing tests
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

run each test only once
  packages/protocol/package.json
Owners: @asaj, @m-chrzan

Fixing multisig tests (#2342)
  packages/protocol/package.json
  packages/protocol/test/common/multisig.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Replace Animated RN with CSS transitions to save hundred Kb
  packages/web/src/header/Header.3.tsx
Owners: @cmcewen, @aaronmgdr

Save a few K by combining dark and light logos (each was 2.7k before)
  packages/web/src/logos/Logo.tsx
  packages/web/src/logos/LogoDarkBg.tsx
  packages/web/src/logos/LogoLightBg.tsx
Owners: @cmcewen, @aaronmgdr

Added daily limit for reserve spending (#2303)
  packages/protocol/contracts/common/test/MockGoldToken.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Use experimental chuncker
  packages/web/next.config.js
Owners: @cmcewen, @aaronmgdr

Move to published version
  packages/web/package.json
Owners: @cmcewen, @aaronmgdr

Update leaderboard url
  packages/web/env-config.js.enc
Owners: @cmcewen, @aaronmgdr

Improve init error message when the node is not synced
  packages/attestation-service/src/db.ts
Owners: @timmoreton

changes acc. to PR's comments
  packages/cli/src/commands/vesting/authorize-voter.ts
  packages/cli/src/commands/vesting/authorize.ts
  packages/cli/src/commands/vesting/create-account.ts
  packages/cli/src/commands/vesting/info.ts
  packages/cli/src/commands/vesting/lock-gold.ts
  packages/cli/src/commands/vesting/pause.ts
  packages/cli/src/commands/vesting/relock-gold.ts
  packages/cli/src/commands/vesting/revoke.ts
  packages/cli/src/commands/vesting/set-account.ts
  packages/cli/src/commands/vesting/unlock-gold.ts
  packages/cli/src/commands/vesting/withdraw-gold.ts
  packages/cli/src/commands/vesting/withdraw.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/VestingFactoryWrapper.ts
  packages/contractkit/src/wrappers/VestingInstanceWrapper.ts
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/governance/vesting.ts
Owners: @mcortesi, @asaj, @timmoreton, @m-chrzan

added minor changes
  packages/cli/src/commands/vesting/authorize-voter.ts
  packages/cli/src/commands/vesting/create-account.ts
  packages/cli/src/commands/vesting/info.ts
  packages/cli/src/commands/vesting/withdraw-gold.ts
  packages/cli/src/commands/vesting/withdraw.ts
Owners: @mcortesi, @asaj

Updated readme
  packages/terraform-modules-public/example/README.md
Owners: @timmoreton

Updated example module dir
  packages/terraform-modules-public/example/main.tf
Owners: @timmoreton

Comments from trevor
  packages/terraform-modules-public/README.md
  packages/terraform-modules-public/example/README.md
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/testnet/README.md
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Owners: @timmoreton

refactoring
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/test/governance/downtime_slasher.ts
  packages/utils/src/collections.test.ts
  packages/utils/src/collections.ts
Owners: @asaj, @m-chrzan, @jmrossy

fixed comments
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
Owners: @asaj, @m-chrzan

compiles
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
Owners: @asaj, @m-chrzan

updated
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

fixing protocol tests
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
  packages/protocol/test/governance/double_signing_slasher.ts
Owners: @asaj, @m-chrzan

fixing tests
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

why does this change?
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

fixing this here
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
  packages/protocol/test/governance/double_signing_slasher.ts
Owners: @asaj, @m-chrzan

Fixed enode doc from celocli
  packages/terraform-modules-public/example/README.md
Owners: @timmoreton

Updated doc
  packages/terraform-modules-public/example/README.md
Owners: @timmoreton

Governance, downtime and double signing slasher contracts (#2267)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/GovernanceSlasher.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/proxies/DoubleSigningSlasherProxy.sol
  packages/protocol/contracts/governance/proxies/DowntimeSlasherProxy.sol
  packages/protocol/contracts/governance/proxies/GovernanceSlasherProxy.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/contracts/governance/test/TestDowntimeSlasher.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
  packages/protocol/test/governance/governance_slasher.ts
  packages/protocol/test/governance/validators.ts
  packages/utils/src/address.ts
  packages/utils/src/collections.test.ts
  packages/utils/src/collections.ts
Owners: @timmoreton, @asaj, @m-chrzan, @jmrossy

fixing
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
Owners: @timmoreton, @asaj, @m-chrzan

fixing tests
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/common/test/MockGoldToken.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @timmoreton, @asaj, @m-chrzan

Small fixes to deploy web (#2343)
  packages/web/env-config.js.enc
  packages/web/package.json
Owners: @cmcewen, @aaronmgdr

remove debug messages
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

moving the tests
  packages/celotool/ci_test_slashing.sh
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

adding new test to circle
  .circleci/config.yml
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

disable timeout
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

Update authorize validator signer with public key interface
  packages/contractkit/src/wrappers/Accounts.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/test/governance/governance.ts
Owners: @timmoreton, @asaj, @m-chrzan

Adds getCommunityRewardFraction
  packages/protocol/contracts/governance/EpochRewards.sol
Owners: @asaj, @m-chrzan

Fix linter
  packages/protocol/contracts/governance/EpochRewards.sol
Owners: @asaj, @m-chrzan

Includes community reward when calculating target modifier
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Adds community reward to calcTargetRewards
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan
