Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Adding test for previous last block of epoch
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/test/identity/random.ts
Owners: @asaj, @m-chrzan

spelling error
  packages/contractkit/src/web3-contract-cache.ts
Owners: @timmoreton

compilation errors
  packages/cli/src/commands/election/voters.ts
Owners: @mcortesi, @asaj

added command to get historical membership data
  packages/docs/command-line-interface/election.md
  packages/docs/command-line-interface/validatorgroup.md
Owners: @timmoreton, @cla-bel

update docs
  packages/cli/src/commands/validatorgroup/membership-history.ts
Owners: @mcortesi, @asaj

Improve node_modules cache
  .circleci/config.yml
Owners: @timmoreton

Speed up node_modules.tgz creation
  .circleci/config.yml
Owners: @timmoreton

Cache yarn global cache
  .circleci/config.yml
Owners: @timmoreton

Make sure the concatenated patches file remains stable no matter what the find iteration does
  .circleci/config.yml
Owners: @timmoreton

Don't use the branch for the yarn global cache key
  .circleci/config.yml
Owners: @timmoreton

Remove caching yarn global cache as it's too big and don't end up being a net positive
  .circleci/config.yml
Owners: @timmoreton

Remove rebuild scrypt steps as it's not needed anymore
  .circleci/config.yml
Owners: @timmoreton

Increase init timeout to see if it helps with the occasional issue seen in CircleCI
  packages/mobile/e2e/init.js
Owners: @cmcewen, @jmrossy

Increase stable token gas
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

Move added EpochRewards wrapper to separate PR
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/EpochRewards.ts
Owners: @timmoreton

Freeze StableToken at contracts deployment (#2618)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/stability/exchange.ts
  packages/protocol/test/stability/stabletoken.ts
Owners: @timmoreton, @asaj, @m-chrzan

Point to 1.9 branch
  .circleci/config.yml
  packages/celotool/src/cmds/geth/run.ts
Owners: @timmoreton

WIP
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/sign_typed_data_utils.ts
  packages/contractkit/src/utils/web3-utils.ts
Owners: @timmoreton

[contractKit] Using CeloProvider as default
  packages/contractkit/src/contract-cache.test.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/providers/debug-provider.ts
  packages/contractkit/src/web3-contract-cache.test.ts
Owners: @timmoreton

[contractKit] Refactor CeloProvider
  packages/contractkit/package.json
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-private-keys-subprovider.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/providers/wrapping-subprovider.ts
  packages/contractkit/src/utils/missing-tx-params-populator.ts
  packages/contractkit/src/utils/rpc-caller.ts
  packages/contractkit/src/utils/wallet.ts
Owners: @timmoreton

[contractKit] ParamsPopulator tests
  packages/contractkit/src/utils/missing-tx-params-populator.test.ts
  packages/contractkit/src/utils/missing-tx-params-populator.ts
  packages/contractkit/src/utils/rpc-caller.ts
Owners: @timmoreton

[contractKit] Refactor wallet/rpc-caller + tests
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/celo-tx.ts
  packages/contractkit/src/utils/missing-tx-params-populator.ts
  packages/contractkit/src/utils/rpc-caller.test.ts
  packages/contractkit/src/utils/rpc-caller.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/tx-signing.ts
  packages/contractkit/src/utils/wallet.test.ts
  packages/contractkit/src/utils/wallet.ts
  packages/utils/src/address.ts
Owners: @timmoreton, @jmrossy

[contractKit] add celo provider tests
  packages/contractkit/package.json
  packages/contractkit/src/providers/celo-provider.test.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/wallet.test.ts
  packages/contractkit/src/utils/wallet.ts
Owners: @timmoreton

Add missing Math.floor
  packages/contractkit/src/kit.ts
Owners: @timmoreton

[Wallet] Improve clipboard watching
  packages/faucet/src/database-helper.ts
  packages/mobile/.env
  packages/mobile/ios/Podfile.lock
  packages/mobile/src/escrow/saga.ts
  packages/react-components/components/WithTextInputPasteAware.tsx
Owners: @timmoreton, @cmcewen, @jmrossy

contractkit: add slashing wrappers (#2405)
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/celo-codebase/protocol/proof-of-stake/penalties.md
  packages/docs/command-line-interface/rewards.md
  packages/docs/command-line-interface/validator.md
  packages/utils/src/address.ts
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel, @jmrossy

WIP adding signed url
  packages/mobile/src/account/FiatExchange.tsx
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/account/saga.ts
Owners: @cmcewen, @jmrossy

Rename function to plese prettier
  packages/protocol/contracts/governance/Governance.sol
Owners: @asaj, @m-chrzan

Add back missing periods
  packages/mobile/ios/celo/Info.plist
Owners: @cmcewen, @jmrossy

Await json reponse
  packages/mobile/src/account/FiatExchange.tsx
Owners: @cmcewen, @jmrossy

Remove auth package, unneeded redux moonpayURL
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/account/saga.ts
Owners: @cmcewen, @jmrossy

Remove auth package
  packages/authentication/.firebaserc
  packages/authentication/.gitignore
  packages/authentication/firebase.json
  packages/authentication/functions/.gitignore
  packages/authentication/functions/package-lock.json
  packages/authentication/functions/package.json
  packages/authentication/functions/src/index.ts
  packages/authentication/functions/tsconfig.json
  packages/authentication/functions/tslint.json
  scripts/signMoonpay.js
Owners: @timmoreton

Add check for subset of input
  packages/react-components/components/WithTextInputPasteAware.tsx
Owners: @cmcewen, @jmrossy

Adjust governance proposal CLI and refactor contract based on baklava feedback (#2614)
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/governance.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/protocol/contracts/governance/Governance.sol
Owners: @mcortesi, @asaj, @timmoreton, @m-chrzan

Add flag, update account, show firebase error
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/FiatExchange.tsx
  packages/mobile/src/flags.ts
Owners: @cmcewen, @jmrossy

Bump @celo/utils, @celo/contractkit, and @celo/celocli version numbers
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy, @m-chrzan, @nambrot, @ashishb, @yerdua

Turn off add funds flag
  packages/mobile/src/flags.ts
Owners: @cmcewen, @jmrossy

Only update inter-packages dependencies ending in dev
  packages/dappkit/package.json
Owners: @timmoreton

Update docs with master content
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/classes/_contract_cache_.wrappercache.md
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.basewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_doublesigningslasher_.doublesigningslasherwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_downtimeslasher_.downtimeslasherwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_election_.electionwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_lockedgold_.lockedgoldwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_validators_.validatorswrapper.md
  packages/docs/developer-resources/contractkit/reference/globals.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.electablevalidators.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.electionconfig.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.groupvote.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.groupvoterreward.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.validatorgroupvote.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.voter.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_election_.voterreward.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_lockedgold_.accountslashed.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_lockedgold_.lockedgoldconfig.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_lockedgold_.votingdetails.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.groupmembership.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.membershiphistoryextradata.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.validatorsconfig.md
  packages/docs/developer-resources/contractkit/reference/modules/_contract_cache_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_doublesigningslasher_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_downtimeslasher_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_lockedgold_.md
Owners: @timmoreton, @cla-bel

Create node upgrade instructions and expand on key management instructions (#2700)
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/governance.md
  packages/docs/getting-started/glossary.md
  packages/docs/node-operations/key-management.md
  packages/docs/operations-manual/key-management.md
  packages/docs/operations-manual/node-upgrades.md
Owners: @timmoreton, @cla-bel
