Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Comments and fixing todos
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Increase sync test timeout
  .circleci/config.yml
Owners: @timmoreton

Support issuer selection under key rotation
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

Community reward via governable fraction (#2328)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
Owners: @timmoreton, @asaj, @m-chrzan

update key rotation docs and add glossary entry
  packages/docs/SUMMARY.md
  packages/docs/getting-started/glossary.md
  packages/docs/node-operations/key-management.md
  packages/docs/operations-manual/key-management.md
Owners: @timmoreton, @cla-bel

Remove balance refresh on payment notification received
  packages/mobile/src/firebase/notifications.ts
Owners: @cmcewen, @jmrossy

Remove balance refresh on payment notification received
  packages/mobile/src/firebase/notifications.ts
Owners: @cmcewen, @jmrossy

Faucet fixes
  packages/faucet/package.json
  packages/faucet/src/celo-adapter.ts
  packages/faucet/src/database-helper.ts
  packages/faucet/src/test-driver.ts
  yarn.lock
Owners: @timmoreton

Added DISABLE_WEBAPP to blockscout indexer
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
Owners: @nambrot, @timmoreton

Fix using incorrect gcs bucket for downloading production artifacts
  packages/walletkit/bin/build-sdk.js
Owners: @ashishb, @yerdua

[Wallet] Update balance on new transaction (#2548)
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Owners: @cmcewen, @jmrossy

Support issuer selection under key rotation (#2645)
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

Fix quote
  packages/walletkit/bin/build-sdk.js
Owners: @ashishb, @yerdua

Add dotenv to devDependencies
  packages/walletkit/package.json
Owners: @ashishb, @yerdua

Re-enable install_dependencies
  .circleci/config.yml
Owners: @timmoreton

update packages
  packages/faucet/package.json
  packages/faucet/src/tx.ts
  yarn.lock
Owners: @timmoreton

[WalletKit] Fix using incorrect gcs bucket for downloading production artifacts (#2651)
  packages/walletkit/bin/build-sdk.js
  packages/walletkit/package.json
Owners: @ashishb, @yerdua

- add migration
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

Fix bugs
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/invite/saga.ts
Owners: @cmcewen, @jmrossy

add node upgrade instructions
  packages/docs/SUMMARY.md
  packages/docs/celo-codebase/protocol/governance.md
  packages/docs/operations-manual/key-management.md
  packages/docs/operations-manual/node-upgrades.md
Owners: @timmoreton, @cla-bel

Add checks to CI for generated kit docs
  .circleci/config.yml
Owners: @timmoreton

Consolidate function
  packages/faucet/src/contracts/Escrow.ts
  packages/faucet/src/contracts/GoldToken.ts
  packages/faucet/src/contracts/StableToken.ts
  packages/faucet/src/contracts/types/Escrow.d.ts
  packages/faucet/src/contracts/types/GoldToken.d.ts
  packages/faucet/src/contracts/types/StableToken.d.ts
  packages/faucet/src/database-helper.ts
Owners: @timmoreton

Use kit web3
  packages/faucet/src/celo-adapter.ts
Owners: @timmoreton

Gitignore
  packages/faucet/.gitignore
Owners: @timmoreton

Allow lowercase validator addresses when reordering groups (#2628)
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

Adding lastEpochBlock to randomness
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/identity/interfaces/IRandom.sol
  packages/protocol/contracts/identity/test/TestRandom.sol
Owners: @asaj, @m-chrzan

[Wallet] A few missing things from the 1.6.0 deployment
  packages/mobile/Gemfile.lock
  packages/mobile/android/gradle.properties
Owners: @cmcewen, @jmrossy

Fixing types
  packages/faucet/package.json
  packages/faucet/scripts/test-celo-adapter.ts
  packages/faucet/scripts/transfer-funds.ts
  packages/faucet/src/celo-adapter.ts
  packages/faucet/src/index.ts
Owners: @timmoreton

adding a command to analyze group voters
  packages/cli/src/commands/election/compare.ts
  packages/cli/src/commands/election/voters.ts
  packages/leaderboard/src/checkVotes.ts
Owners: @mcortesi, @asaj, @timmoreton

improved showing group voters
  packages/cli/src/commands/election/compare.ts
  packages/cli/src/commands/election/voters.ts
Owners: @mcortesi, @asaj

hmm
  packages/cli/src/commands/election/voters.ts
Owners: @mcortesi, @asaj

Update react-native-contacts to work with iOS 13
  packages/mobile/package.json
  packages/react-components/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Update Podfile.lock
  packages/mobile/ios/Podfile.lock
Owners: @cmcewen, @jmrossy

[Wallet] Fix empty contacts on iOS 13 (#2697)
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/react-components/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

[Wallet] A few missing things from the 1.6.0 deployment (#2686)
  packages/mobile/Gemfile.lock
  packages/mobile/android/gradle.properties
Owners: @cmcewen, @jmrossy

align expected
  packages/protocol/specs/AccountsExpected.json
  packages/protocol/specs/LockedGoldExpected.json
Owners: @asaj, @m-chrzan

[Wallet] Add missing photos permission and update permission descriptions
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo/Info.plist
Owners: @cmcewen, @jmrossy

Fix spacing
  packages/mobile/ios/celo/Info.plist
Owners: @cmcewen, @jmrossy

expand on node upgarde instructions
  packages/docs/operations-manual/key-management.md
  packages/docs/operations-manual/node-upgrades.md
Owners: @timmoreton, @cla-bel

Using precompiles and adding test
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/identity/interfaces/IRandom.sol
  packages/protocol/contracts/identity/test/TestRandom.sol
  packages/protocol/test/identity/random.ts
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
