Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

allow --component flag to be used to select a VM
  packages/celotool/src/lib/port_forward.ts
Owners: @timmoreton

Migrate up to 23
  packages/cli/package.json
  packages/contractkit/package.json
Owners: @mcortesi, @asaj, @timmoreton

🚚 move files from static to public directory
  packages/web/public/assets/CeloColorLogo.zip
  packages/web/public/assets/CeloColorLogoReverse.zip
  packages/web/public/assets/CeloGlyphs.zip
  packages/web/public/assets/CeloLogoPackage.zip
  packages/web/public/assets/CeloMonochromeLogo.zip
  packages/web/public/assets/CeloMonochromeLogoReverse.zip
  packages/web/public/images/AboutPreview.jpg
  packages/web/public/static/favicon.ico
  packages/web/public/static/normalize.css
  packages/web/src/about/VideoCover.tsx
  packages/web/src/brandkit/Logo.tsx
Owners: @cmcewen, @aaronmgdr

Renames reserve diversion ratio
  packages/protocol/contracts/governance/EpochRewards.sol
Owners: @asaj, @m-chrzan

Address comments
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

Improvements from review
  packages/contractkit/src/wrappers/Election.ts
  packages/utils/src/address.ts
  packages/utils/src/collections.ts
Owners: @timmoreton, @jmrossy

Fixes typo
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Switch to community reward from infra reward
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Revert "Adds almost equal with a percent deviation"
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Switch to get target voter rewards
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

PR Nit
  packages/protocol/contracts/governance/EpochRewards.sol
Owners: @asaj, @m-chrzan

Fix lint
  packages/contractkit/src/wrappers/Election.ts
Owners: @timmoreton

Fix lint
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

⬆️ update next-i18n-Next to fix static file deprecation warning by moving locales to public
  packages/web/package.json
  packages/web/public/static/locales/en/about.json
  packages/web/public/static/locales/en/applications.json
  packages/web/public/static/locales/en/brand.json
  packages/web/public/static/locales/en/codeofconduct.json
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/community.json
  packages/web/public/static/locales/en/dev.json
  packages/web/public/static/locales/en/download.json
  packages/web/public/static/locales/en/faq.json
  packages/web/public/static/locales/en/faucet.json
  packages/web/public/static/locales/en/home.json
  packages/web/public/static/locales/en/jobs.json
  packages/web/public/static/locales/en/technology.json
  packages/web/public/static/locales/en/terms.json
  packages/web/src/community/CodeOfConduct.tsx
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Revert "PR Nit"
  packages/protocol/contracts/governance/EpochRewards.sol
Owners: @asaj, @m-chrzan

Fix e2e tests
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Owners: @timmoreton

Fix rounding error in Election.sol (#2540)
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Changes during deploy
  .env.alfajoresstaging
  packages/mobile/.env
  packages/protocol/migrationsConfig.js
Owners: @timmoreton, @cmcewen, @jmrossy, @asaj, @m-chrzan

Add Youtube to Footer + (#2556)
  packages/web/pages/_app.tsx
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/icons/YouTube.tsx
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

✅ add test for phone Input component (#2554)
  packages/web/src/_page-tests/test-utils.ts
  packages/web/src/brandkit/common/MobileMenu.test.tsx
  packages/web/src/fauceting/PhoneInput.test.tsx
  packages/web/src/fauceting/PhoneInput.tsx
Owners: @cmcewen, @aaronmgdr

Fix off-by-one error in attributing signatures to blocks in CLI (#2559)
  packages/celotool/src/lib/port_forward.ts
  packages/cli/src/commands/validator/signed-blocks.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/utils/election.ts
Owners: @timmoreton, @mcortesi, @asaj

change description
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

Adapt description
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

add comment to transferERC20Token
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

- type all the things
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

- remove ternary
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

- add description
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

- rename amount / instances
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

Remove the optimistic update and refresh all the balances
  packages/mobile/src/stableToken/reducer.ts
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Owners: @cmcewen, @jmrossy

Fix shadow on single incoming payment request notification
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/react-components/components/BaseNotification.tsx
Owners: @cmcewen, @jmrossy

Add explicit gas to exchange transactions to prevent errors (#2552)
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Owners: @mcortesi, @asaj

exclude groups, and pass them through helm in a way that works
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
Owners: @timmoreton, @nambrot

initial version of announce e2e tests
  packages/celotool/ci_test_announce.sh
  packages/celotool/src/e2e-tests/announce_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

📸 about page snap
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

📸 How could I forget the snaps!
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

WIP
  packages/mobile/.env
  packages/mobile/README.md
  packages/mobile/package.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/app/Debug.tsx
Owners: @cmcewen, @jmrossy

✨ add brand kit to the connection footer
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/icons/DrawCoin.tsx
  packages/web/src/icons/draw-coin-light-bg.png
  packages/web/src/shared/ConnectionFooter.tsx
  packages/web/src/shared/SocialChannels.tsx
  packages/web/static/locales/en/community.json
Owners: @cmcewen, @aaronmgdr

Remove geth free references
  packages/mobile/.env
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Fix: Use lightest
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

📸💄 add option for no top margin, reduce space between engage and experience areas
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/layout/BookLayout.tsx
  packages/web/src/shared/ConnectionFooter.tsx
Owners: @cmcewen, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
