Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asaj, @cmcewen, @timmoreton, @jmrossy, @nambrot, @codyborn, @i1skn, @jeanregisser, @mcortesi, @gastonponti, @medhak1, @celo-org/devx, @barbaraliau, @critesjosh, @eelanagaraj, @aaitor, @annakaz, @nategraf, @aaronmgdr, @tkporter, @cla-bel, @bohan-zhang, @pranaymohan

fix crash on import wallet screen
  packages/react-components/components/KeyboardAwareScrollView.tsx
Owners: @jmrossy, @aaronmgdr

centering
  packages/web/public/static/locales/en/plumo.json
  packages/web/src/plumo/Landing.tsx
Owners: @aaronmgdr

new snaps
  packages/web/src/_page-tests/__snapshots__/plumo.test.tsx.snap
Owners: @aaronmgdr

Plumo Espero Ceremony Page (#6007)
  packages/web/jest.config.js
  packages/web/pages/_app.tsx
  packages/web/pages/plumo.tsx
  packages/web/public/static/locales/en/plumo.json
  packages/web/src/_page-tests/__snapshots__/plumo.test.tsx.snap
  packages/web/src/_page-tests/plumo.test.tsx
  packages/web/src/interfaces.d.ts
  packages/web/src/plumo/FeatherPoint.tsx
  packages/web/src/plumo/Landing.tsx
  packages/web/src/plumo/feather-triangle.svg
  packages/web/src/plumo/feather1.svg
  packages/web/src/plumo/feather2.svg
  packages/web/src/plumo/feather3.svg
  packages/web/src/plumo/phone-outline.svg
  packages/web/src/plumo/plumo-open-graph.jpg
  packages/web/src/plumo/plumo-sky-mobile.svg
  packages/web/src/plumo/plumo-sky.svg
  packages/web/src/shared/menu-items.ts
Owners: @aaronmgdr

Remove multiproxy guide on mainnet (#5996)
  packages/docs/getting-started/running-a-validator-in-mainnet.md
Owners: @timmoreton, @barbaraliau, @critesjosh

Add ability to specify signing algorithm
  packages/sdk/wallets/wallet-hsm-azure/src/azure-hsm-wallet.ts
  packages/sdk/wallets/wallet-hsm-azure/src/azure-key-vault-client.ts
Owners: @mcortesi, @gastonponti, @medhak1, @barbaraliau, @celo-org/devx

Refactor to extract the signing algo based on the curve type
  packages/sdk/wallets/wallet-hsm-azure/src/azure-hsm-wallet.ts
  packages/sdk/wallets/wallet-hsm-azure/src/azure-key-vault-client.ts
Owners: @mcortesi, @gastonponti, @medhak1, @barbaraliau, @celo-org/devx

Simplify if condition
  packages/sdk/wallets/wallet-hsm-azure/src/azure-key-vault-client.ts
Owners: @mcortesi, @gastonponti, @medhak1, @barbaraliau, @celo-org/devx

Make code a bit cleaner
  packages/sdk/wallets/wallet-hsm-azure/src/azure-key-vault-client.ts
Owners: @mcortesi, @gastonponti, @medhak1, @barbaraliau, @celo-org/devx

undef check on key.key.crv
  packages/sdk/wallets/wallet-hsm-azure/src/azure-key-vault-client.ts
Owners: @mcortesi, @gastonponti, @medhak1, @barbaraliau, @celo-org/devx

Fix the devchain generation for tests in ci
  .circleci/config.yml
Owners: @asaj, @cmcewen, @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# default owners, overridden by package specific owners below
* @asaj @cmcewen @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/attestation-proxy/ @jmrossy 
/packages/attestation-service/ @nambrot
/packages/azure/ @codyborn
/packages/blockchain-api/ @jmrossy @cmcewen @i1skn @jeanregisser
/packages/celotool/ @asaj
/packages/cli/ @mcortesi @gastonponti @medhak1 @celo-org/devx
/packages/sdk/ @mcortesi @gastonponti @medhak1 @barbaraliau @celo-org/devx
/packages/dappkit/ @cmcewen @barbaraliau @celo-org/devx
/packages/dev-utils/ @mcortesi
/packages/docs/ @timmoreton @barbaraliau @critesjosh 
/packages/faucet/ @eelanagaraj @celo-org/devx
/packages/helm-charts/ @nambrot @timmoreton
/packages/metadata-crawler/ @aaitor
/packages/mobile/ @jeanregisser @cmcewen @jmrossy @i1skn 
/packages/moonpay-auth/ @annakaz @i1skn 
/packages/notification-service/ @annakaz @cmcewen @i1skn @jeanregisser
/packages/phone-number-privacy/ @jmrossy
/packages/protocol/ @asaj @nategraf
/packages/react-components/ @jmrossy @aaronmgdr
/packages/reserve-site/ @aaronmgdr
/packages/terraform-modules-public/ @tkporter
/packages/terraform-modules/ @tkporter
/packages/typescript/ @cmcewen
/packages/sdk/utils/ @barbaraliau @medhak1 @celo-org/devx
/packages/sdk/base/ @barbaraliau @medhak1 @celo-org/devx
/packages/web/validator-badges @cla-bel @bohan-zhang @pranaymohan
/packages/web/openpgpkey @nategraf
/packages/web/ @aaronmgdr
