Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Fix twitter Link
  packages/web/src/icons/TwitterLogo.tsx
  packages/web/src/shared/SocialChannels.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Fixes
  packages/contractkit/tsconfig.json
  packages/walletkit/src/signing-utils.ts
Owners: @timmoreton, @ashishb, @yerdua

📸
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Fix Twitter Link (#2999)
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/icons/TwitterLogo.tsx
  packages/web/src/shared/SocialChannels.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

adds page transitioning indicator
  packages/web/pages/_app.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/Progessive.tsx
  packages/web/src/utils/utils.ts
Owners: @cmcewen, @aaronmgdr

now restarts if we reroute
  packages/web/src/shared/Progessive.tsx
Owners: @cmcewen, @aaronmgdr

remove rename to Progress
  packages/web/pages/_app.tsx
  packages/web/src/shared/Progress.tsx
Owners: @cmcewen, @aaronmgdr

snapshot update
  packages/web/src/_page-tests/__snapshots__/_error.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/terms.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/wallet.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/brandkit/common/Page.tsx
Owners: @cmcewen, @aaronmgdr

Clean
  packages/celotool/src/cmds/transactions/describe.ts
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/contractkit/src/explorer/base.ts
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/explorer/log-explorer.ts
  packages/contractkit/src/types.d.ts
Owners: @timmoreton

dont render a nextLink if there isnt a href
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/wallet.test.tsx.snap
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Link.tsx
Owners: @cmcewen, @aaronmgdr

change durations
  packages/web/src/shared/Progress.tsx
Owners: @cmcewen, @aaronmgdr

Addign withdraw and addressing various bugs introduced in cli deps
  packages/cli/src/commands/releasegold/create-account.ts
  packages/cli/src/commands/releasegold/set-max-distribution.ts
  packages/cli/src/commands/releasegold/withdraw.ts
  packages/cli/src/utils/checks.ts
  packages/protocol/contracts/governance/ReleaseGold.sol
Owners: @mcortesi, @asaj, @m-chrzan

Update SETUP.md docs
  SETUP.md
Owners: @timmoreton

removed .env, updated test framework, bumped blindbls library
  packages/phone-number-privacy/.env.enc
  packages/phone-number-privacy/package.json
  packages/phone-number-privacy/src/config.ts
  packages/phone-number-privacy/src/index.ts
  packages/phone-number-privacy/test/index.test.ts
  scripts/key_placer.sh
Owners: @timmoreton

Alliance bottom mirror of top cover
  packages/web/src/alliance/Main.tsx
  packages/web/src/alliance/PinWheel.tsx
  packages/web/src/alliance/RisingPinWheelForm.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

correct url is the celoOrg this applies to linkedin and Medium.
  packages/web/server/mediumAPI.ts
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/about/About.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/community/connect/ArticlesSection.tsx
  packages/web/src/community/connect/Contribute.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/icons/MediumLogo.tsx
  packages/web/src/press/Press.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

snappity
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/community/connect/ArticlesSection.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

add the code of conduct link
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/shared/ConnectionFooter.tsx
Owners: @cmcewen, @aaronmgdr

Fix test from master merge
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

update celoHQ to celoOrg (#3002)
  packages/web/server/mediumAPI.ts
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/about/About.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/community/connect/ArticlesSection.tsx
  packages/web/src/community/connect/Contribute.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/icons/MediumLogo.tsx
  packages/web/src/press/Press.tsx
  packages/web/src/shared/ConnectionFooter.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Update documentation
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_doublesigningslasher_.doublesigningslasherwrapper.md
Owners: @timmoreton, @cla-bel

Remove geth account password parameters from Azure
  packages/azure/README.md
  packages/azure/attester/celo-node-run
  packages/azure/components/keyvault.json
  packages/azure/components/main.json
  packages/azure/scripts/libcelo.sh
  packages/azure/validator/celo-validator-run
Owners: @timmoreton

Fix contract migrations due to non-authorized oracle address (#2968)
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

Implement support page in Account menu
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Contact.test.tsx
  packages/mobile/src/account/Contact.tsx
  packages/mobile/src/account/Support.test.tsx
  packages/mobile/src/account/Support.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/account/__snapshots__/Contact.test.tsx.snap
  packages/mobile/src/account/__snapshots__/EditProfile.test.tsx.snap
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/account/__snapshots__/Support.test.tsx.snap
  packages/mobile/src/account/selectors.ts
  packages/mobile/src/app/Debug.tsx
  packages/mobile/src/components/__snapshots__/CodeRow.test.tsx.snap
  packages/mobile/src/invite/__snapshots__/EnterInviteCode.test.tsx.snap
  packages/mobile/src/invite/__snapshots__/JoinCelo.test.tsx.snap
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/send/__snapshots__/SendAmount.test.tsx.snap
  packages/mobile/src/utils/Logger.ts
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/react-components/components/TextInput.tsx
Owners: @cmcewen, @jmrossy

New chaos-mesh version
  .env.scenario1
  .env.scenario2
  packages/helm-charts/chaos-mesh/.helmignore
  packages/helm-charts/chaos-mesh/manifests/crd.yaml
  packages/helm-charts/chaos-mesh/templates/_helpers.tpl
  packages/helm-charts/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  packages/helm-charts/chaos-mesh/templates/controller-manager-deployment.yaml
  packages/helm-charts/chaos-mesh/templates/controller-manager-rbac.yaml
  packages/helm-charts/chaos-mesh/templates/controller-manager-service.yaml
  packages/helm-charts/chaos-mesh/templates/post-install-create-cert-job.yaml
  packages/helm-charts/chaos-mesh/templates/post-install-mutatingwebhook-job.yaml
  packages/helm-charts/chaos-mesh/templates/pre-delete-job.yaml
  packages/helm-charts/chaos-mesh/values.yaml
Owners: @timmoreton, @nambrot

Configure fluentd as log driver
  packages/terraform-modules/testnet/modules/full-node/startup.sh
Owners: @tkporter

Added annotation for select nginx ingress (solve warning event)
  .env.baklava
  packages/helm-charts/attestation-service/templates/attestation.ingress.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.ingress.yaml
  packages/helm-charts/celostats/templates/celostats-frontend.ingress.yaml
  packages/helm-charts/celostats/templates/celostats-server.ingress.yaml
  packages/helm-charts/celostats/templates/ethstats.ingress.yaml
Owners: @timmoreton, @nambrot

update bls12377js-blind version in yarn.lock
  yarn.lock
Owners: @timmoreton

[Wallet] Invite text message deeplinking for iOS (#2940)
  packages/mobile/__mocks__/react-native-firebase.ts
  packages/mobile/__mocks__/react-native-install-referrer.ts
  packages/mobile/__mocks__/react-native-version-check.ts
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celo/celo.entitlements
  packages/mobile/package.json
  packages/mobile/src/firebase/dynamicLinks.test.ts
  packages/mobile/src/firebase/dynamicLinks.ts
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.test.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/utils/appstore.ts
  packages/mobile/src/utils/permissions.ios.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

fetch alliance members from airtable
  packages/web/pages/api/alliance.ts
  packages/web/server/airtable.ts
  packages/web/server/getAllies.ts
  packages/web/server/index.ts
  packages/web/server/respondToError.ts
Owners: @cmcewen, @aaronmgdr

update server-env-config
  packages/web/server-env-config.js.enc
Owners: @cmcewen, @aaronmgdr

Fix bignumber versions issue
  packages/contractkit/package.json
  packages/utils/src/dappkit.ts
  yarn.lock
Owners: @timmoreton, @jmrossy

[Wallet] Upgrade RN Sentry version Fix some bugs due to not using lambdas in component methods Remove obfuscated phone number from sentry reports
  packages/mobile/index.js
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/src/analytics/CeloAnalytics.ts
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/sentry/Sentry.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Adding more commands - gold, revoke, and refund
  packages/cli/src/commands/releasegold/gold.ts
  packages/cli/src/commands/releasegold/refund-and-finalize.ts
  packages/cli/src/commands/releasegold/revoke.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
Owners: @mcortesi, @asaj, @timmoreton

Make Sentry and Segment secrets accessible in dev builds
  packages/mobile/secrets.json.enc
Owners: @cmcewen, @jmrossy

[phone-number-privacy] add BlindBLS library request and add test (#2996)
  packages/phone-number-privacy/jest.config.js
  packages/phone-number-privacy/package.json
  packages/phone-number-privacy/src/config.ts
  packages/phone-number-privacy/src/index.ts
  packages/phone-number-privacy/test/index.test.ts
  yarn.lock
Owners: @timmoreton

loads alliance members and renders them to page someone like the design
  packages/web/public/static/locales/en/alliance.json
  packages/web/server/getAllies.ts
  packages/web/src/alliance/AllianceMember.ts
  packages/web/src/alliance/Main.tsx
  packages/web/src/alliance/Members.tsx
  packages/web/src/i18n.ts
Owners: @cmcewen, @aaronmgdr

[Wallet] Upgrade RN Sentry version (#3013)
  packages/mobile/index.js
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/secrets.json.enc
  packages/mobile/src/analytics/CeloAnalytics.ts
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/sentry/Sentry.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Update template.json
  packages/azure/template.json
Owners: @timmoreton

Remove geth account password parameters from Azure (#3004)
  packages/azure/README.md
  packages/azure/attester/celo-node-run
  packages/azure/components/keyvault.json
  packages/azure/components/main.json
  packages/azure/scripts/libcelo.sh
  packages/azure/template.json
  packages/azure/validator/celo-validator-run
Owners: @timmoreton
