Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

added changes to the 3 tickets
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/contracts/stability/interfaces/ISortedOracles.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/scripts/truffle/set_exchange_rate.ts
  packages/protocol/test/stability/sortedoracles.ts
Owners: @timmoreton, @asaj, @m-chrzan

fix linter
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/firebase/saga.ts
Owners: @cmcewen, @jmrossy

fix tests flakyness
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/helpers/add_local_geth.ts
  packages/celotool/src/helpers/start_geth.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/genesis-config.ts
  packages/celotool/src/lib/interfaces/geth-instance-config.ts
  packages/celotool/src/lib/interfaces/geth-run-config.ts
Owners: @timmoreton

i want to lint free
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/interfaces/geth-run-config.ts
Owners: @timmoreton

made verbosity configurable
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton

fix blocktime loading
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

set correct blocktime
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

Types build
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/web3/contracts.ts
Owners: @cmcewen, @jmrossy

Loading spinner async means it often loads to slow to be useful as a loading indicator
  packages/web/src/animate/LottieBase.tsx
  packages/web/src/shared/Spinner.tsx
  packages/web/src/shared/darkSpinner.json
  packages/web/src/shared/greenSpinner.json
  packages/web/src/shared/whiteSpinner.json
Owners: @cmcewen, @aaronmgdr

Turn off no emit false for build to work
  packages/web/tsconfig.json
Owners: @cmcewen, @aaronmgdr

Add docs on how to generate sms retriever hash (#2356)
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Update snaps
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Update to latest blockchain with select issuers fix (#2362)
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Pages test all working
  packages/web/.babelrc
  packages/web/jest.config.js
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/_error.test.tsx
  packages/web/src/_page-tests/about.test.tsx
  packages/web/src/_page-tests/code-of-conduct.test.tsx
  packages/web/src/_page-tests/community.test.tsx
  packages/web/src/_page-tests/faq.test.tsx
  packages/web/src/_page-tests/index.test.tsx
  packages/web/src/_page-tests/jobs.test.tsx
  packages/web/src/_page-tests/past-events.test.tsx
  packages/web/src/_page-tests/privacy.test.tsx
  packages/web/src/_page-tests/terms.test.tsx
  packages/web/src/_page-tests/user-agreement.test.tsx
  packages/web/src/about/About.tsx
  packages/web/src/about/Tetris.tsx
Owners: @cmcewen, @aaronmgdr

Adds calc reserve ratio function
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Adds test for reserve ratio
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Turn on Emit
  packages/web/tsconfig.json
Owners: @cmcewen, @aaronmgdr

Fix analytics
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/server/Announcement.ts
  packages/web/server/index.ts
  packages/web/src/analytics/analytics.ts
  packages/web/src/home/HomeSystems.tsx
  packages/web/src/join/Benefits.tsx
Owners: @cmcewen, @aaronmgdr

Turn on Emit (#2369)
  packages/web/tsconfig.json
Owners: @cmcewen, @aaronmgdr

the trouble with yarn is...
  yarn.lock
Owners: @timmoreton

Remove Rewards page from web (#2353)
  packages/web/pages/rewards.tsx
Owners: @cmcewen, @aaronmgdr

Fixes needed to make slashing work (#2346)
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Switch to using native pbkdf to fix hanging on older devices (#2354)
  packages/mobile/__mocks__/react-native-fast-crypto.ts
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/package.json
  packages/mobile/src/backup/utils.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/web3/saga.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Adding a command to the docker script allowing to stop validating (#2295)
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

Switching from address whitelist to identifier whitelist.
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Add docs on how to generate sms retriever hash (#2356)
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Adding docs
  packages/protocol/contracts/common/UsingRegistry.sol
Owners: @asaj, @m-chrzan

More space
  packages/web/src/about/Team.tsx
Owners: @cmcewen, @aaronmgdr

Lint
  packages/web/src/_page-tests/_error.test.tsx
  packages/web/src/_page-tests/about.test.tsx
  packages/web/src/_page-tests/code-of-conduct.test.tsx
  packages/web/src/_page-tests/community.test.tsx
  packages/web/src/_page-tests/faq.test.tsx
  packages/web/src/_page-tests/index.test.tsx
  packages/web/src/_page-tests/jobs.test.tsx
  packages/web/src/_page-tests/past-events.test.tsx
  packages/web/src/_page-tests/privacy.test.tsx
  packages/web/src/_page-tests/terms.test.tsx
  packages/web/src/_page-tests/user-agreement.test.tsx
  packages/web/src/about/About.tsx
Owners: @cmcewen, @aaronmgdr

README: Fix broken Contributing link
  README.md
Owners: @timmoreton

Update CONTRIBUTING to reference website.
  .github/CONTRIBUTING.md
Owners: @timmoreton

Clarify documentation on validator proxy
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Fix Contribution Guildelines in the docs (#2370)
  .github/CONTRIBUTING.md
  README.md
Owners: @timmoreton

Make the same hotfix proposal executable with unique salts (#2357)
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/command-line-interface/governance.md
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Owners: @timmoreton, @mcortesi, @asaj, @cla-bel, @m-chrzan

Removed static_nodes_base64 var for validator
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
Owners: @timmoreton

Adds isReserveLow function to epoch rewards
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
Owners: @asaj, @m-chrzan

Adds isReserveLow test
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Change "not syncing" to "not synced"
  packages/attestation-service/src/db.ts
Owners: @timmoreton

Minnor update readme
  packages/terraform-modules-public/README.md
Owners: @timmoreton

Update snaps
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/animation/__snapshots__/rise.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/logos/LogoDarkBg.tsx
  packages/web/src/logos/LogoLightBg.tsx
Owners: @cmcewen, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
