Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

update NPM publish instructions
  README-dev.md
Owners: @timmoreton

Remove if false :|
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
Owners: @timmoreton

Start by moving helpers back to CLI
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/utils/async-utils.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Add /test_attestations endpoint on the attestation service
  packages/attestation-service/src/env.ts
  packages/attestation-service/src/index.ts
  packages/attestation-service/src/request.ts
  packages/attestation-service/src/requestHandlers/attestation.ts
  packages/attestation-service/src/requestHandlers/status.ts
  packages/attestation-service/src/requestHandlers/test_attestation.ts
  packages/cli/src/commands/identity/test-attestation-service.ts
  packages/cli/src/utils/checks.ts
  packages/cli/src/utils/command.ts
  packages/utils/src/io.ts
Owners: @timmoreton, @mcortesi, @asaj, @jmrossy

VM monitoring, bigger VMs, persistent disks for full nodes, prom to sd for proxies (#2176)
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/terraform.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/bootnode/main.tf
  packages/terraform-modules/testnet/modules/bootnode/startup.sh
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/outputs.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
  packages/terraform-modules/testnet/outputs.tf
Owners: @timmoreton, @tkporter

Add instructions for transitioning from phase 1.0 to phase 1.1 (#2177)
  .env.baklava
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/protocol/truffle-config.js
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

Add reconnecting to a network to docs
  packages/docs/SUMMARY.md
Owners: @timmoreton, @cla-bel

Add reconnecting to a network to docs (#2190)
  packages/docs/SUMMARY.md
Owners: @timmoreton, @cla-bel

Combine epoch loops
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
Owners: @mcortesi, @asaj, @timmoreton

Check sync status of attestation service
  packages/attestation-service/src/db.ts
  packages/attestation-service/src/logger.ts
Owners: @timmoreton

Support more than 1 attesation bot at a time
  packages/celotool/src/cmds/bots/auto-verify.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/helm-charts/attestation-bot/templates/deployment.yaml
Owners: @timmoreton, @nambrot

Remove debug message
  packages/cli/src/commands/identity/test-attestation-service.ts
Owners: @mcortesi, @asaj

Update docs
  packages/docs/command-line-interface/identity.md
Owners: @timmoreton, @cla-bel

Indicate to run Twilio globally
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Add Twilio and attestation bot envs
  .env.baklava
  .env.baklavastaging
  .env.mnemonic.baklava.enc
  .env.mnemonic.baklavastaging.enc
Owners: @timmoreton

Add attestation info for reconnecting
  packages/docs/getting-started/reconnecting-to-network.md
Owners: @timmoreton, @cla-bel

Fix typescript types
  packages/mobile/src/app/actions.ts
  packages/mobile/src/firebase/saga.ts
  packages/react-components/analytics/wrapper.tsx
Owners: @cmcewen, @jmrossy

Update network ID
  .env.baklava
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/protocol/truffle-config.js
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

Use explicit react version in package so we dont have multiple reacts being imported
  packages/web/package.json
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Upgrade web3 version in mobile
  packages/mobile/package.json
  packages/mobile/src/escrow/saga.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Bake helpers into epoch loop
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Add attestation info for reconnecting (#2195)
  packages/docs/getting-started/reconnecting-to-network.md
Owners: @timmoreton, @cla-bel

Readme badge tweaks
  README.md
Owners: @timmoreton

Updating validator group electing gold to allow external validators easier access to being elected
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Better way to do it
  packages/protocol/migrations/20_elect_validators.ts
Owners: @asaj, @m-chrzan

Updating votes so first and last group maintain large votes.
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Addressing review
  packages/protocol/migrations/20_elect_validators.ts
Owners: @asaj, @m-chrzan

Removing unneccessary config var
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Remove any
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/rewards.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Update images
  .env.baklava
Owners: @timmoreton

Add TOC and tweaks
  README.md
Owners: @timmoreton

Update network security config
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/res/xml/network_security_config.xml
Owners: @cmcewen, @jmrossy

Updates TME docker images
  .env
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/contractkit/src/explorer/log-explorer.ts
Owners: @timmoreton

Upgrade next-i18next
  packages/web/package.json
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/home/version3/HomeWork.tsx
  packages/web/src/i18n.ts
  packages/web/src/next-i18next-aug.d.ts
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Fix types
  packages/react-components/analytics/wrapper.tsx
Owners: @cmcewen, @jmrossy

Fix TOC links
  README.md
Owners: @timmoreton

Update attestation service docker images
  .env
  .env.baklava
  .env.baklavastaging
  .env.integration
Owners: @timmoreton

Upgrade nuke carousel to upstream versions
  packages/web/package.json
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Add Charles reference to readme
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Changing validator group voting gold (#2171)
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
