Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Vertically center the content against the image
  packages/web/src/dev/Engage.tsx
Owners: @cmcewen, @aaronmgdr

Update details of slashing docs
  packages/docs/celo-codebase/protocol/proof-of-stake/penalties.md
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

Add getFirstBlockNumberForEpoch to downtime_slasher since removed from validators
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

💬 Fix text for brand icon (#2609)
  packages/web/public/static/locales/en/common.json
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/i18n.ts
  packages/web/src/shared/SocialChannels.tsx
Owners: @cmcewen, @aaronmgdr

Add missing EPOCH definition
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

Fix
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton

Working terraform VM multiproxy
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/variables.tf
  packages/terraform-modules/testnet/variables.tf
Owners: @timmoreton, @tkporter

Add customizable node disk size
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.baklava
  .env.baklavastaging
  .env.integration
  .env.pilot
  .env.pilotstaging
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/terraform.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/variables.tf
  packages/terraform-modules/testnet/variables.tf
Owners: @timmoreton, @nambrot, @tkporter

Add env vars for GETH_DEBUG, ELECTION_MIN_VALIDATORS, EPOCH_REWARDS_FREEZE and EXCHANGE_FREEZE
  .env
  .env.baklava
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
Owners: @timmoreton, @nambrot

Use gitbook theme
  packages/contractkit/package.json
Owners: @timmoreton

Sleep
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton

Small circleci config cleanup
  .circleci/config.yml
Owners: @timmoreton

Add Enter Codes option to verification fail modal Reduce Escrow payment reclaim time to 1 day
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/config.ts
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/verify/VerificationFailedModal.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
Owners: @cmcewen, @jmrossy

Address the comments
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/send/actions.ts
  packages/mobile/src/send/saga.ts
Owners: @cmcewen, @jmrossy

fix this.state is null and not an object
  packages/mobile/src/dappkit/DappKitAccountScreen.tsx
Owners: @cmcewen, @jmrossy

Update packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

Update packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

Update packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

Update packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

Update packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

Update packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
Owners: @timmoreton

- refactor
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

Update packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
Owners: @timmoreton

Update packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

- remove relative path
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

- remove log
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

- remove log
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

- remove miner-gas-price
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

- make mnemonic an option in start
  packages/celotool/src/cmds/geth/start.ts
Owners: @timmoreton

- i want to lint free
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
Owners: @timmoreton

Update packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Update packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

- refactor
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Update packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Update packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

refactor sleeps, fix hanging tests by avoiding web sockets
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

- fix verbose
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

starting
  packages/leaderboard/src/checkAccounts.ts
  packages/leaderboard/src/checkTransfers.ts
  packages/leaderboard/src/util.ts
Owners: @timmoreton

starting
  packages/leaderboard/src/util.ts
Owners: @timmoreton

- connect test node to all other nodes
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton
