Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Debug script
  packages/protocol/scripts/bash/upload_artifacts.sh
Owners: @asaj, @m-chrzan

[Wallet] Fix problems with tx params in wallet dappkit tx signer
  packages/mobile/src/dappkit/dappkit.ts
Owners: @cmcewen, @jmrossy

dont change button!
  packages/web/src/alliance/SignupForm.tsx
  packages/web/src/shared/Button.3.tsx
Owners: @cmcewen, @aaronmgdr

Activated debug
  packages/celotool/bin/integration.sh
Owners: @timmoreton

add errors to signup form make validation errors common
  packages/web/public/static/locales/en/applications.json
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/community.json
  packages/web/src/alliance/SignupForm.tsx
  packages/web/src/forms/EmailForm.tsx
  packages/web/src/forms/FormComponents.tsx
Owners: @cmcewen, @aaronmgdr

Updat snapshots
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Increase timeout
  packages/celotool/bin/integration.sh
Owners: @timmoreton

[Wallet] Fix problems with tx params in wallet dappkit tx signer (#3046)
  packages/mobile/src/dappkit/dappkit.ts
Owners: @cmcewen, @jmrossy

[Wallet] Hotfix: handle callback for correct pin entry (#3043)
  packages/mobile/src/account/saga.ts
Owners: @cmcewen, @jmrossy

fix this test which I distnctly remember fixing before
  packages/web/src/dev/LeaderBoard.test.tsx
Owners: @cmcewen, @aaronmgdr

personal review
  packages/web/src/alliance/AllianceLogo.tsx
  packages/web/src/alliance/CollectiveMission.tsx
  packages/web/src/alliance/Main.tsx
  packages/web/src/alliance/Members.tsx
  packages/web/src/alliance/PinWheel.tsx
  packages/web/src/i18n.ts
  packages/web/src/shared/Button.3.tsx
Owners: @cmcewen, @aaronmgdr

properly stop event listeners
  packages/web/src/shared/Progress.tsx
Owners: @cmcewen, @aaronmgdr

revert butto. changes , do in a different PR
  packages/web/src/_page-tests/__snapshots__/_error.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/wallet.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/shared/Button.3.tsx
Owners: @cmcewen, @aaronmgdr

revert adding Link. (in favor of lightening links PR)
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/terms.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/wallet.test.tsx.snap
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/shared/Button.3.tsx
Owners: @cmcewen, @aaronmgdr

remvoe unused style
  packages/web/src/shared/Button.3.tsx
Owners: @cmcewen, @aaronmgdr

revert order
  packages/web/src/terms/TermsPortal.tsx
Owners: @cmcewen, @aaronmgdr

snapper
  packages/web/src/_page-tests/__snapshots__/terms.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Debug timeout pushing artifacts
  packages/protocol/scripts/bash/upload_artifacts.sh
Owners: @asaj, @m-chrzan

read and write ally members to airtables
  packages/web/pages/api/alliance.ts
  packages/web/pages/api/contributors.ts
  packages/web/server/Alliance.ts
  packages/web/server/respondToError.ts
  packages/web/src/alliance/CategoryEnum.ts
Owners: @cmcewen, @aaronmgdr

updates to exisiting files
  packages/web/server/airtable.ts
  packages/web/server/index.ts
Owners: @cmcewen, @aaronmgdr

remove files to create separate server PR
  packages/web/pages/api/alliance.ts
  packages/web/pages/api/contributors.ts
  packages/web/server/Alliance.ts
  packages/web/server/airtable.ts
  packages/web/server/index.ts
  packages/web/server/respondToError.ts
Owners: @cmcewen, @aaronmgdr

planning
  packages/metadata-crawler/package.json
  packages/metadata-crawler/src/crawler.ts
Owners: @timmoreton

Force artifact remove
  packages/protocol/scripts/bash/upload_artifacts.sh
Owners: @asaj, @m-chrzan

Force artifact remove
  packages/protocol/scripts/bash/upload_artifacts.sh
Owners: @asaj, @m-chrzan

savig
  packages/metadata-crawler/src/crawler.ts
  packages/metadata-crawler/tsconfig.json
Owners: @timmoreton

savig
  packages/metadata-crawler/src/crawler.ts
Owners: @timmoreton

simple version
  packages/metadata-crawler/src/crawler.ts
Owners: @timmoreton

Debug wip
  .circleci/config.yml
  packages/celotool/bin/integration.sh
  packages/protocol/scripts/bash/upload_artifacts.sh
Owners: @timmoreton, @asaj, @m-chrzan

Show Celo Dollars amount in feed drilldown
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/utils/typescript.ts
Owners: @cmcewen, @jmrossy

Debug wip
  .circleci/config.yml
Owners: @timmoreton

Typo
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/paymentRequest/PaymentRequestReviewCard.tsx
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestConfirmation.test.tsx.snap
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/send/__snapshots__/SendConfirmation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
Owners: @cmcewen, @jmrossy

Fix bad merge
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/App.tsx
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/pincode/PincodeEnter.tsx
Owners: @cmcewen, @jmrossy

Debug wip
  .circleci/config.yml
Owners: @timmoreton

Rename codecov config
  codecov.yml
Owners: @timmoreton

Debug wip
  .circleci/config.yml
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/celotool/src/lib/artifacts.ts
Owners: @timmoreton

SIGKILL to port-forward
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/celotool/src/lib/artifacts.ts
  packages/celotool/src/lib/port_forward.ts
Owners: @timmoreton

Debug kubectl portforward kill
  .circleci/config.yml
  packages/celotool/src/lib/port_forward.ts
Owners: @timmoreton

Rename respondToError to respondError
  packages/web/pages/api/alliance.ts
  packages/web/pages/api/contributors.ts
  packages/web/server/index.ts
  packages/web/server/respondError.ts
Owners: @cmcewen, @aaronmgdr

add missing file and one test
  packages/web/server/Alliance.test.ts
  packages/web/server/Alliance.ts
  packages/web/src/alliance/AllianceMember.ts
Owners: @cmcewen, @aaronmgdr

Debug kubectl portforward kill
  packages/celotool/src/lib/port_forward.ts
Owners: @timmoreton
