Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Fixes translations not applying due to community set not loading on build page.
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/community.json
  packages/web/src/shared/ConnectionFooter.tsx
Owners: @cmcewen, @aaronmgdr

Type wrangling
  packages/contractkit/src/explorer/log-explorer.ts
  packages/contractkit/src/kit.test.ts
  packages/contractkit/src/newtypes.d.ts
  packages/contractkit/src/test-utils/PromiEventStub.ts
  packages/contractkit/src/utils/tx-result.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/contractkit/types/web3.d.ts
Owners: @timmoreton

Improve language of cookie/privacy consent banner
  packages/web/public/static/locales/en/common.json
  packages/web/src/header/CookieConsent.tsx
Owners: @cmcewen, @aaronmgdr

Fixing style on account
  packages/protocol/specs/AccountsExpected.json
  packages/protocol/specs/accounts.spec
Owners: @asaj, @m-chrzan

Standardise blue colour
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/CookieConsent.tsx
Owners: @cmcewen, @aaronmgdr

Remove unneeded logs
  packages/auth/src/index.ts
Owners: @timmoreton

Begin fix for uptime indeterminacy
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Improve language of cookie/privacy consent banner (#2751)
  packages/web/public/static/locales/en/common.json
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/CookieConsent.tsx
Owners: @cmcewen, @aaronmgdr

reduce gas cost due to revert contract change
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

Adding reward testing and removing unnecessary activate
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldInstance.sol
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

Fix amountIsInvalid
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Owners: @cmcewen, @jmrossy

Make CI pass on Baklava release branch (#2723)
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/cli/package.json
  packages/contractkit/package.json
  packages/protocol/package.json
  packages/protocol/runTests.js
  packages/protocol/scripts/build.ts
  packages/protocol/scripts/devchain.ts
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan

Don't apply istanbul hard fork in template genesis
  packages/celotool/src/lib/genesis_constants.ts
Owners: @timmoreton

showing balances at certain block
  packages/cli/src/commands/account/show-claimed-accounts.ts
Owners: @mcortesi, @asaj

Add comment about why IS_E2E var is injected instead of set in an env file
  packages/mobile/src/setupE2eEnv.e2e.ts
Owners: @cmcewen, @jmrossy

Both iOS and Android should use the custom keypad
  packages/mobile/e2e/Transfer.spec.js
Owners: @cmcewen, @jmrossy

using eqAddress everywhere
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/identity/claims/verify.ts
  packages/contractkit/src/identity/metadata.ts
Owners: @mcortesi, @asaj, @timmoreton

Fix import order
  packages/celotool/src/cmds/deploy/switch.ts
Owners: @timmoreton

added prompt to validator group
  packages/cli/src/commands/validatorgroup/register.ts
Owners: @mcortesi, @asaj

added prompt for validator
  packages/cli/package.json
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/register.ts
  yarn.lock
Owners: @mcortesi, @asaj, @timmoreton

Multiple blockscout instances (#2589)
  .env.baklava
  packages/celotool/src/cmds/deploy/destroy/blockscout.ts
  packages/celotool/src/cmds/deploy/initial/blockscout.ts
  packages/celotool/src/cmds/deploy/migrate/blockscout.ts
  packages/celotool/src/cmds/deploy/switch.ts
  packages/celotool/src/cmds/deploy/switch/blockscout.ts
  packages/celotool/src/cmds/deploy/upgrade/blockscout.ts
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/blockscout/templates/_helpers.tpl
  packages/helm-charts/blockscout/templates/blockscout-web.ingress.yaml
  packages/helm-charts/blockscout/templates/blockscout.secret.yaml
  packages/helm-charts/testnet/scripts/create-network.sh
Owners: @timmoreton, @nambrot

update docs
  packages/docs/developer-resources/contractkit/reference/classes/_identity_metadata_.identitymetadatawrapper.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_claims_verify_.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_metadata_.md
Owners: @timmoreton, @cla-bel

Keep e2e artifacts
  .circleci/config.yml
  packages/mobile/.gitignore
  packages/mobile/scripts/run_e2e.sh
Owners: @timmoreton, @cmcewen, @jmrossy

fixing tests
  packages/cli/src/commands/validator/register.test.ts
Owners: @mcortesi, @asaj

update docs
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
Owners: @timmoreton, @cla-bel

Add menu item and initial set-up
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Security.tsx
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Owners: @cmcewen, @jmrossy

Make Pin Confirmation adjustable to different scenarios
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainActivity.java
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/app/selectors.ts
  packages/mobile/src/pincode/PincodeConfirmation.tsx
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Final implementation for CustomPin implementation
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/Background.test.tsx
  packages/mobile/src/app/Background.tsx
  packages/mobile/src/app/__snapshots__/Background.test.tsx.snap
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/app/selectors.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/NavigatorWrapper.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/pincode/PincodeConfirmation.tsx
  packages/mobile/test/schemas.ts
  packages/mobile/test/values.ts
Owners: @cmcewen, @jmrossy

fix linting error
  packages/mobile/src/account/Account.tsx
Owners: @cmcewen, @jmrossy

Spanish i18n + small issues
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/pincode/PincodeConfirmation.tsx
Owners: @cmcewen, @jmrossy

Don't do partial cache restoration for pods
  .circleci/config.yml
Owners: @timmoreton

Ignore android/ios build folders in watchman
  .watchmanconfig
  packages/mobile/.watchmanconfig
Owners: @timmoreton, @cmcewen, @jmrossy

[contractKit] PR fixes
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/sign-typed-data-utils.ts
  packages/contractkit/src/utils/tx-params-normalizer.test.ts
  packages/contractkit/src/utils/tx-params-normalizer.ts
Owners: @timmoreton

Ignore android/ios build folders in watchman (#2757)
  .watchmanconfig
  packages/mobile/.watchmanconfig
Owners: @timmoreton, @cmcewen, @jmrossy

Fix broken translations (#2750)
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/community.json
  packages/web/src/shared/ConnectionFooter.tsx
Owners: @cmcewen, @aaronmgdr

[Wallet] Allow small gold transactions on Exchange Screen (#2753)
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Owners: @cmcewen, @jmrossy

remove --bail flag from e2e tests
  packages/celotool/ci_test_attestations.sh
  packages/celotool/ci_test_blockchain_parameters.sh
  packages/celotool/ci_test_governance.sh
  packages/celotool/ci_test_slashing.sh
  packages/celotool/ci_test_sync.sh
  packages/celotool/ci_test_transfers.sh
  packages/celotool/ci_test_validator_order.sh
Owners: @timmoreton

Rename to moonpay-auth, update readme to be moonpay specific
  packages/auth/README.md
  packages/moonpay-auth/.env.enc
  packages/moonpay-auth/.firebaserc
  packages/moonpay-auth/.gitignore
  packages/moonpay-auth/README.md
  packages/moonpay-auth/firebase.json
  packages/moonpay-auth/package.json
  packages/moonpay-auth/src/config.ts
  packages/moonpay-auth/src/index.ts
  packages/moonpay-auth/tsconfig.json
  packages/moonpay-auth/tslint.json
  packages/moonpay-auth/yarn.lock
Owners: @timmoreton

Update key_placer with moonpay auth
  scripts/key_placer.sh
Owners: @timmoreton

Add Moonpay auth package for signing Moonpay requests (#2749)
  packages/moonpay-auth/.env.enc
  packages/moonpay-auth/.firebaserc
  packages/moonpay-auth/.gitignore
  packages/moonpay-auth/README.md
  packages/moonpay-auth/firebase.json
  packages/moonpay-auth/package.json
  packages/moonpay-auth/src/config.ts
  packages/moonpay-auth/src/index.ts
  packages/moonpay-auth/tsconfig.json
  packages/moonpay-auth/tslint.json
  packages/moonpay-auth/yarn.lock
  scripts/key_placer.sh
  yarn.lock
Owners: @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
