Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

fix linter
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
Owners: @cmcewen, @jmrossy

Address PR comments and switch to victory-charts
  packages/mobile/jest.config.js
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/package.json
  packages/mobile/src/components/Avatar.tsx
  packages/mobile/src/exchange/CeloGoldHistoryChart.test.tsx
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/CeloGoldHistoryChart.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/CeloGoldOverview.test.tsx.snap
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/hooks.ts
  packages/mobile/src/exchange/reducer.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/home/CeloDollarsOverview.tsx
  packages/mobile/src/home/__snapshots__/CeloDollarsOverview.test.tsx.snap
  packages/mobile/src/home/__snapshots__/WalletHome.test.tsx.snap
  packages/mobile/src/utils/currencyExchange.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Update import
  packages/web/server/mediumAPI.ts
Owners: @cmcewen, @aaronmgdr

Pr comments
  packages/mobile/src/exchange/actions.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

start making corrections based on review. note: this does not work yet
  packages/celotool/src/cmds/bots/auto-vote.ts
Owners: @timmoreton

fund voting bot accounts in genesis
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Comments
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Align outbound link icon with baseline, and adjust spacing
  packages/web/src/about/Team.tsx
Owners: @cmcewen, @aaronmgdr

Boom
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

WIP
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Add cache for medium
  packages/web/server/cache.ts
  packages/web/server/mediumAPI.ts
Owners: @cmcewen, @aaronmgdr

initial docs skeleton
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/reference.md
  packages/docs/developer-resources/walkthroughs/README.md
  packages/docs/developer-resources/walkthroughs/hellocelo.md
  packages/docs/developer-resources/walkthroughs/hellocontracts.md
  packages/docs/developer-resources/walkthroughs/hellodapp.md
  packages/docs/developer-resources/walkthroughs/hellodeploy.md
Owners: @timmoreton, @cla-bel

make the accounts actually get added with new structure of the file
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Cache events from sortable
  packages/web/server/EventHelpers.ts
Owners: @cmcewen, @aaronmgdr

Cache assets brand /icons / key imagery
  packages/web/server/AssetBase.ts
Owners: @cmcewen, @aaronmgdr

Add frozen to migration config
  packages/celotool/src/e2e-tests/utils.ts
  packages/dev-utils/src/migration-override.json
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
Owners: @timmoreton, @asaj, @m-chrzan

add test for cache module
  packages/web/server/cache.test.ts
Owners: @cmcewen, @aaronmgdr

What is going on
  packages/web/server/mediumAPI.ts
Owners: @cmcewen, @aaronmgdr

Fix circle not being started (#2380)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/about/Team.tsx
  packages/web/src/community/connect/FullCircle.tsx
Owners: @cmcewen, @aaronmgdr

Accelerate time based parameters (#2377)
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

added further changes and fixes to contract
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
Owners: @asaj, @m-chrzan

Right on
  packages/web/server-env-config.js.enc
  packages/web/server/Announcement.ts
  packages/web/server/announcement.test.ts
  packages/web/server/cache.ts
  packages/web/server/geoip.ts
  packages/web/server/index.ts
Owners: @cmcewen, @aaronmgdr

added election-realted funcs
  packages/contractkit/src/wrappers/VestingFactoryWrapper.ts
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
Owners: @timmoreton, @asaj, @m-chrzan

final fixes and changes to contract
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/interfaces/IVestingFactory.sol
Owners: @asaj, @m-chrzan

Serve papers from celo.org
  packages/web/public/papers/CBDC_Velocity_Copic-Franke.pdf
  packages/web/public/papers/Celo_A_Multi_Asset_Cryptographic_Protocol_for_Decentralized_Social_Payments.pdf
  packages/web/public/papers/Celo_Stability_Analysis.pdf
  packages/web/src/home/HomeSystems.tsx
Owners: @cmcewen, @aaronmgdr

Cleans up isReserveLow function
  packages/protocol/contracts/governance/EpochRewards.sol
Owners: @asaj, @m-chrzan

Rename calculateReserveRatio to getReserveRatio
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Cleans up getReserveRatio test
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Reverting to old lockedgold amount and new voting amount
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Integration deploy
  .env.integration
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

Changing onlySlasher to wrap around onlyRegisteredContracts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Add DowntimeSlasherWrapper
  packages/contractkit/src/base.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/protocol/scripts/build.ts
Owners: @timmoreton, @asaj, @m-chrzan

fixes acc. to PR comments
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

adding flag to force printing the environment variables
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

The validator/full-node docker script should use bootnodes file (#2388)
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

More feedback improvements
  packages/terraform-modules-public/testnet/modules/attestation-service/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
Owners: @timmoreton

alternate version of bug-fix for balance constants
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Integration deploy (#2397)
  .env.integration
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

oops. meant to put this in an alternate PR
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Revert "[Wallet] Fix slow activity feed tx confirmations (#2290)"
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/reducer.ts
  packages/walletkit/src/contract-utils.ts
Owners: @cmcewen, @jmrossy, @ashishb, @yerdua

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
