Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Change order of proflle info
  packages/web/src/about/Team.tsx
  packages/web/src/react-native-aug.d.ts
Owners: @cmcewen, @aaronmgdr

Add valor to backers
  packages/web/src/about/backers/backers.ts
  packages/web/src/about/backers/valor.jpg
Owners: @cmcewen, @aaronmgdr

add heartbeat command and fix validator status bug
  packages/cli/src/commands/validator/heartbeat.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/utils/election.ts
Owners: @mcortesi, @asaj

Address review comments
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.ts
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Owners: @jmrossy, @cmcewen

Upgrade react-native-testing-library to be able to cleanup mounted trees
  packages/mobile/jest_setup.ts
  packages/mobile/package.json
  packages/react-components/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Fix InviteReview test now that components are unmounted after each test
  packages/mobile/src/account/InviteReview.test.tsx
Owners: @cmcewen, @jmrossy

Remove noisy debug logs now that we do conversions for each transaction
  packages/blockchain-api/src/currencyConversion/ExchangeRateAPI.ts
Owners: @jmrossy, @cmcewen

Add test for blockscout getTransactions
  packages/blockchain-api/test/blockscout.test.ts
Owners: @jmrossy, @cmcewen

Use milliseconds timestamp
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/mobile/src/apollo/types.ts
Owners: @jmrossy, @cmcewen

Hide currency symbol in the exchange item details
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
Owners: @cmcewen, @jmrossy

Add depreciation notice
  packages/blockchain-api/src/schema.ts
Owners: @jmrossy, @cmcewen

Add description for custom scalars
  packages/blockchain-api/src/schema.ts
Owners: @jmrossy, @cmcewen

Better description for Address courtesy of https://github.com/poanetwork/blockscout/blob/130a4084eaf2c0db6ede18266b6f02e6a9230163/apps/block_scout_web/lib/block_scout_web/schema/scalars.ex#L11-L16
  packages/blockchain-api/src/schema.ts
Owners: @jmrossy, @cmcewen

fix bot balance, add annotation to make it more readable with the 18 0s
  .env
  .env.baklava
  .env.baklavastaging
Owners: @timmoreton

Fix type regression for components wrapped by our own withTranslation
  packages/mobile/src/i18n.ts
Owners: @cmcewen, @jmrossy

Fix type
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
Owners: @cmcewen, @jmrossy

first batch of unit tests added
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

Remove ts-ignore and cast as any instead so it doesn't swallow all errors
  packages/mobile/src/i18n.ts
Owners: @cmcewen, @jmrossy

Remove unneeded prop
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
Owners: @cmcewen, @jmrossy

[Wallet] Fix type check regression for components wrapped by our custom `withTranslation` (#2457)
  packages/mobile/src/exchange/CeloGoldHistoryChart.tsx
  packages/mobile/src/i18n.ts
Owners: @cmcewen, @jmrossy

Change order of profile info (#2454)
  packages/web/src/about/Team.tsx
  packages/web/src/react-native-aug.d.ts
Owners: @cmcewen, @aaronmgdr

Add callouts to serve text messages in regions
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

more unit tests added
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

Composition page — Alignment demos
  packages/web/pages/experience/brand/composition.tsx
  packages/web/src/_page-tests/experience/composition.test.tsx
  packages/web/src/brandkit/Composition.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/images/aroundPhone.png
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/menu-items.ts
  packages/web/static/locales/en/brand.json
Owners: @cmcewen, @aaronmgdr

Composed
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/brandkit/Composition.tsx
Owners: @cmcewen, @aaronmgdr

Fix fractions
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/brandkit/Composition.tsx
Owners: @cmcewen, @aaronmgdr

Fewer lines
  packages/web/src/brandkit/Composition.tsx
Owners: @cmcewen, @aaronmgdr

- added network:head command to dump some useful info
  packages/cli/src/commands/network/head.ts
Owners: @mcortesi, @asaj

- date format - metadata
  packages/cli/src/commands/network/head.ts
Owners: @mcortesi, @asaj

further unit tests added
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

DENOMINATOR / getDenominator removed, numerator, denominator replaced with medianValue, unit test update
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/scripts/truffle/set_exchange_rate.ts
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

remove also claims
  packages/leaderboard/src/board.ts
Owners: @timmoreton

added check to make sure that locked values is not zero
  packages/cli/src/commands/lockedgold/lock.test.ts
  packages/cli/src/commands/lockedgold/lock.ts
Owners: @mcortesi, @asaj

added comment
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Owners: @asaj, @m-chrzan

take pending withdrawals into account when computing total balance
  packages/contractkit/src/kit.ts
Owners: @timmoreton

lint
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Owners: @asaj, @m-chrzan

added perhaps more useful mock election
  packages/cli/src/commands/election/compare.ts
  packages/contractkit/src/wrappers/Election.ts
Owners: @mcortesi, @asaj, @timmoreton

Address some comments
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/images/Images.ts
  packages/mobile/src/images/exchangeGoldGreen.png
  packages/mobile/src/images/exchangeGreenGold.png
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
  packages/mobile/src/utils/typescript.ts
Owners: @cmcewen, @jmrossy

Rename MoneyAmount field `amount`-> `value`
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/blockchain-api/test/blockscout.test.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
Owners: @jmrossy, @cmcewen

Fixing tests
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
