Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

removing console
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

Update README.md
  README.md
Owners: @timmoreton

[L13] Comments still refer to removed functions (#3143)
  packages/protocol/contracts/common/FixidityLib.sol
Owners: @asaj, @m-chrzan

Vanessa keen eye
  packages/web/public/static/locales/en/home.json
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/roadmap/milestones.ts
Owners: @cmcewen, @aaronmgdr

Add tracer_test
  packages/celotool/ci_test_tracer.sh
  packages/celotool/src/e2e-tests/tracer_tests.ts
  packages/cli/src/commands/transfer/trace.ts
  packages/contractkit/src/explorer/assets.ts
  packages/contractkit/src/utils/provider-utils.ts
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
  yarn.lock
Owners: @timmoreton, @mcortesi, @asaj

Put transfer tests back
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

[L12] Division by zero possible in Exchange.sol (#3144)
  packages/protocol/contracts/stability/Exchange.sol
Owners: @asaj, @m-chrzan

Reproduce issue
  packages/celotool/src/e2e-tests/tracer_tests.ts
  packages/cli/src/base.ts
  packages/cli/src/commands/transfer/trace.ts
  packages/contractkit/src/explorer/assets.ts
  packages/contractkit/src/utils/web3-utils.ts
Owners: @timmoreton, @mcortesi, @asaj

[web] Celo Timeline (#3152)
  packages/web/public/static/locales/en/home.json
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/Home.test.tsx
  packages/web/src/home/Home.tsx
  packages/web/src/home/roadmap/GoldStone.tsx
  packages/web/src/home/roadmap/Timeline.tsx
  packages/web/src/home/roadmap/milestones.ts
  packages/web/src/icons/value-of-gold-no-axis.png
  packages/web/src/shared/CoinHalfFull.tsx
  packages/web/src/shared/HollowOval.tsx
  packages/web/src/shared/TinyHollowCoin.tsx
  packages/web/src/shared/menu-items.ts
  packages/web/src/styles.ts
Owners: @cmcewen, @aaronmgdr

removing unused imports (#3136)
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Adding contractKit and cli domain claims support
  packages/cli/src/commands/account/claim-domain.ts
  packages/cli/src/commands/identity/test-domain-claim.ts
  packages/contractkit/src/identity/claims/domain.test.ts
  packages/contractkit/src/identity/claims/verify.ts
  packages/docs/command-line-interface/identity.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

[H01] removeSlasher can cause mismatch between slashingWhitelist and slashingMap (#3122)
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

combined the two loops (#3126)
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan

documentation
  packages/docs/developer-resources/contractkit/reference/modules/_identity_claims_verify_.md
Owners: @timmoreton, @cla-bel

more docs
  packages/docs/command-line-interface/identity.md
Owners: @timmoreton, @cla-bel

update comment (#3128)
  packages/protocol/contracts/common/Accounts.sol
Owners: @asaj, @m-chrzan

Add testTransferGold
  packages/celotool/src/e2e-tests/tracer_tests.ts
Owners: @timmoreton

[L09] Whitelist setters do not emit events (#3134)
  packages/protocol/contracts/common/TransferWhitelist.sol
  packages/protocol/test/common/transferwhitelist.ts
Owners: @asaj, @m-chrzan

changed the modifier to the internal function
  packages/protocol/contracts/common/GoldToken.sol
Owners: @asaj, @m-chrzan

console.warning is not a thing
  packages/protocol/migrations/09_stabletoken.ts
Owners: @asaj, @m-chrzan

adding heap checks (#3121)
  packages/protocol/contracts/common/libraries/Heap.sol
Owners: @asaj, @m-chrzan

still adding some
  packages/protocol/contracts/common/Registry.sol
  packages/protocol/contracts/governance/Governance.sol
Owners: @asaj, @m-chrzan

adding metadata crawler
  packages/metadata-crawler/README.md
  packages/metadata-crawler/package.json
  packages/metadata-crawler/src/crawler.ts
  packages/metadata-crawler/tsconfig.json
Owners: @timmoreton

removed initializers from interfaces (#3124)
  packages/protocol/contracts/common/interfaces/IFeeCurrencyWhitelist.sol
  packages/protocol/contracts/common/interfaces/IFreezer.sol
  packages/protocol/contracts/common/interfaces/IRegistry.sol
  packages/protocol/contracts/common/interfaces/IValidators.sol
  packages/protocol/contracts/identity/interfaces/IEscrow.sol
  packages/protocol/contracts/stability/interfaces/IExchange.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
Owners: @asaj, @m-chrzan

Urgent fix: coinlist text not rendering
  packages/web/public/static/locales/en/home.json
Owners: @cmcewen, @aaronmgdr

Fix migration
  packages/protocol/migrations/24_governance.ts
Owners: @asaj, @m-chrzan

Add migrate functionality when using geth start command on celotool (#2678)
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

Fix tests
  packages/contractkit/src/utils/tx-params-normalizer.test.ts
  packages/contractkit/src/utils/tx-params-normalizer.ts
  packages/mobile/src/identity/verification.test.ts
Owners: @timmoreton, @cmcewen, @jmrossy

add information to web readme
  packages/web/README.md
Owners: @cmcewen, @aaronmgdr

Docs
  packages/docs/developer-resources/contractkit/reference/classes/_utils_tx_params_normalizer_.txparamsnormalizer.md
Owners: @timmoreton, @cla-bel

Small adjustments to reflect RC0 deployment (#3129)
  .env.rc0
  packages/celotool/genesis_rc0.json
  packages/protocol/migrations/09_stabletoken.ts
  packages/protocol/migrations/24_governance.ts
  packages/protocol/truffle-config.js
  scripts/key_placer.sh
Owners: @timmoreton, @asaj, @m-chrzan

Changing default->example
  packages/cli/package.json
  packages/protocol/scripts/truffle/releaseGoldExampleConfigs.json
Owners: @mcortesi, @asaj, @m-chrzan

Adding various RG improvements
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

lint
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

Cherrypicking multisig changes
  packages/cli/src/commands/governance/approve.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/MultiSig.ts
  packages/contractkit/src/wrappers/Reserve.test.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/dev-utils/src/migration-override.json
  packages/docs/developer-resources/contractkit/reference/classes/_contract_cache_.wrappercache.md
  packages/docs/developer-resources/contractkit/reference/classes/_web3_contract_cache_.web3contractcache.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.basewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_multisig_.multisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reserve_.reservewrapper.md
  packages/docs/developer-resources/contractkit/reference/enums/_base_.celocontract.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_reserve_.reserveconfig.md
  packages/docs/developer-resources/contractkit/reference/modules/_base_.md
  packages/docs/developer-resources/contractkit/reference/modules/_contract_cache_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_multisig_.md
  packages/protocol/runTests.js
  packages/protocol/scripts/build.ts
  packages/protocol/test/common/integration.ts
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel, @m-chrzan

[L01] Duplicated onlyWhenFrozen modifier (#3123)
  packages/protocol/contracts/common/GoldToken.sol
Owners: @asaj, @m-chrzan

updated testing for transfergold and added approve testing
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/reserve/transfergold.test.ts
  packages/cli/src/commands/reserve/transfergold.ts
Owners: @mcortesi, @asaj

Updating script
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

made the variable private (#3127)
  packages/protocol/contracts/common/TransferWhitelist.sol
Owners: @asaj, @m-chrzan

add locked gold tests
  packages/celotool/src/e2e-tests/tracer_tests.ts
  packages/contractkit/src/explorer/assets.ts
Owners: @timmoreton
