Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

improve descriptions
  README.md
Owners: @timmoreton

Update glossary.md
  packages/docs/getting-started/glossary.md
Owners: @timmoreton, @cla-bel

Move functions to contractkit
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Add restart-vm-validators cmd
  packages/celotool/src/cmds/restart-vm-validators.ts
  packages/celotool/src/cmds/ssh-vm-node.ts
Owners: @timmoreton

better handing of claims
  packages/leaderboard/src/board.ts
Owners: @timmoreton

some issues with verifying account claim
  packages/contractkit/src/identity/claims/account.ts
  packages/leaderboard/src/board.ts
Owners: @timmoreton

better error handling?
  packages/leaderboard/src/board.ts
Owners: @timmoreton

Docs SBAT specify the correct proxy ip address and port (#2110)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

PR comments
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Fix port
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

Document the need to counter-claim accounts (#2113)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Making default temporary dir the $HOME/.celo folder
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

added function to get the total balances
  packages/cli/src/commands/account/balance.ts
  packages/contractkit/src/kit.ts
Owners: @mcortesi, @asaj, @timmoreton

added command to show info about claimed accounts
  packages/cli/src/commands/account/balance.ts
  packages/cli/src/commands/account/show-claimed-accounts.ts
  packages/contractkit/src/identity/claims/verify.ts
Owners: @mcortesi, @asaj, @timmoreton

better comparison script
  packages/protocol/scripts/certora/compareResults.py
  packages/protocol/scripts/certora/test.py
Owners: @asaj, @m-chrzan

lint
  packages/cli/src/commands/account/show-claimed-accounts.ts
  packages/contractkit/src/kit.ts
Owners: @mcortesi, @asaj, @timmoreton

updating docs
  packages/docs/command-line-interface/account.md
Owners: @timmoreton, @cla-bel

adding improved mini tester and accounts
  .circleci/config.yml
  packages/protocol/scripts/certora/compareResults.py
  packages/protocol/scripts/certora/test.py
  packages/protocol/specs/accounts.spec
Owners: @timmoreton, @asaj, @m-chrzan

Making $HOME/.celo the default temporary folder (#2117)
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

rewrite of tester module
  packages/protocol/scripts/certora/compareResults.py
  packages/protocol/scripts/certora/minitester.py
Owners: @asaj, @m-chrzan

Add more logging to the attestation bot (#2105)
  packages/celotool/src/cmds/bots/auto-verify.ts
  packages/celotool/src/lib/attestation.ts
  packages/contractkit/src/wrappers/Attestations.ts
Owners: @timmoreton

Fix tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

minitester fix
  packages/protocol/scripts/certora/minitester.py
Owners: @asaj, @m-chrzan

adding accounts expected
  packages/protocol/specs/AccountsExpected.json
Owners: @asaj, @m-chrzan

commenting out warning check
  packages/protocol/scripts/certora/minitester.py
Owners: @asaj, @m-chrzan

returning addError
  packages/protocol/scripts/certora/minitester.py
Owners: @asaj, @m-chrzan

Update disclaimers
  packages/docs/important-information/alfajores-testnet-disclaimer.md
  packages/docs/important-information/baklava-testnet-disclaimer.md
Owners: @timmoreton, @cla-bel

Fix build
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

Test that reserve receives epoch rewards (#2103)
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Reduce intrinsic gas cost for txs paying fees in alternative currencies (#2070)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/migrationsConfig.js
Owners: @timmoreton, @asaj, @m-chrzan

something working
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

looks like it's working
  packages/contractkit/src/identity/claims/account.ts
Owners: @timmoreton

Add prettier for java (#2077)
  .prettierignore
  eclipse-formatter.xml
  package.json
  packages/mobile/android/app/src/androidTest/java/org/celo/mobile/DetoxTest.java
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainActivity.java
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/android/app/src/main/java/org/celo/mobile/NdkCrashService.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/MainActivity.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/MainApplication.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/MessageState.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/PushNotificationToSMSService.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/RNVerifierServiceModule.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/RNVerifierServicePackage.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/SMSLog.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/SMSMessage.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/SMSResponse.java
  packages/verifier/android/app/src/main/java/org/celo/verifier/SMSStatusBroadcastReceiver.java
  yarn.lock
Owners: @timmoreton, @cmcewen, @jmrossy

updating metadata
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

fixed a bug in the tester
  packages/protocol/scripts/certora/minitester.py
Owners: @asaj, @m-chrzan

remove duplicate entry
  packages/celotool/package.json
Owners: @timmoreton

update lock
  yarn.lock
Owners: @timmoreton

fix warnings
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

add more logging, port back code from master that went missing in merge
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

testing sync again
  packages/cli/src/utils/helpers.ts
Owners: @mcortesi, @asaj
