Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asaj, @cmcewen, @timmoreton, @codyborn, @celo-org/applications, @mcortesi, @barbaraliau, @critesjosh, @eelanagaraj, @celo-org/devx, @alecps, @celo-org/cap, @tkporter, @medhak1, @nambrot, @celo-org/platform-economics

fix: small typo
  SETUP.md
Owners: @asaj, @cmcewen, @timmoreton

docs: minor typo fix
  README-dev.md
Owners: @asaj, @cmcewen, @timmoreton

cleanup
  packages/metadata-crawler/src/crawler.ts
  packages/sdk/connect/src/abi-types.ts
Owners: @celo-org/cap, @celo-org/applications

tests for remove function complete
  packages/protocol/test/stability/stabletokenregistry.ts
Owners: @celo-org/cap

Revert "Patches for FeeCurrencyWhitelist bounty (#7961)"
  packages/protocol/contracts/common/FeeCurrencyWhitelist.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/common/feecurrencywhitelist.ts
  packages/protocol/test/common/gascurrencywhitelist.ts
Owners: @celo-org/cap

test suit for adding contracts
  packages/protocol/test/stability/stabletokenregistry.ts
Owners: @celo-org/cap

cleanup combiner response sending code pattern
  packages/phone-number-privacy/combiner/src/combiner/combiner.service.ts
  packages/phone-number-privacy/combiner/src/combiner/domain/disable.service.ts
  packages/phone-number-privacy/combiner/src/combiner/domain/quotastatus.service.ts
  packages/phone-number-privacy/combiner/src/combiner/domain/sign.service.ts
  packages/phone-number-privacy/combiner/src/combiner/pnp/sign.service.ts
  packages/phone-number-privacy/combiner/src/combiner/session.ts
  packages/phone-number-privacy/combiner/src/combiner/sign.service.ts
  packages/phone-number-privacy/common/src/interfaces/responses.ts
  packages/phone-number-privacy/common/src/utils/responses.utils.ts
Owners: @celo-org/cap

remove async contract loading as since we build to es5 it didnt help anything
  packages/sdk/contractkit/src/contract-cache.ts
Owners: @celo-org/cap

Revert "Patches for FeeCurrencyWhitelist bounty (#7961)" (#9410)
  packages/protocol/contracts/common/FeeCurrencyWhitelist.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/common/feecurrencywhitelist.ts
  packages/protocol/test/common/gascurrencywhitelist.ts
Owners: @celo-org/cap

review(@aaronmgdr): sdk description and fix link to docs
  README.md
Owners: @asaj, @cmcewen, @timmoreton

tests pass
  packages/protocol/test/stability/stabletokenregistry.ts
Owners: @celo-org/cap

adding more arguments to compare
  packages/protocol/test/stability/stabletokenregistry.ts
Owners: @celo-org/cap

adding registry contract to the registry
  packages/protocol/lib/registry-utils.ts
Owners: @celo-org/cap

Add MiniKit: A minimal Version of Contract Kit with a subset but compatible interface.
  packages/sdk/base/src/currencies.ts
  packages/sdk/contractkit/src/basic-contract-cache-type.ts
  packages/sdk/contractkit/src/celo-tokens.ts
  packages/sdk/contractkit/src/kit.test.ts
  packages/sdk/contractkit/src/kit.ts
  packages/sdk/contractkit/src/mini-contract-cache.ts
  packages/sdk/contractkit/src/mini-kit.ts
  packages/sdk/contractkit/src/setupForKits.ts
  packages/sdk/contractkit/src/wrappers/Attestations.ts
Owners: @barbaraliau, @medhak1, @celo-org/devx, @celo-org/cap

Fix missed exports
  packages/sdk/contractkit/src/celo-tokens.ts
  packages/sdk/cryptographic-utils/src/index.ts
Owners: @celo-org/cap, @celo-org/applications

alpha 5
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/env-tests/package.json
  packages/faucet/package.json
  packages/metadata-crawler/package.json
  packages/phone-number-privacy/combiner/package.json
  packages/phone-number-privacy/common/package.json
  packages/phone-number-privacy/monitor/package.json
  packages/phone-number-privacy/signer/package.json
  packages/protocol/package.json
  packages/sdk/base/package.json
  packages/sdk/connect/package.json
  packages/sdk/contractkit/package.json
  packages/sdk/contractkit/src/contract-cache.ts
  packages/sdk/contractkit/src/mini-kit.ts
  packages/sdk/cryptographic-utils/package.json
  packages/sdk/dappkit/package.json
  packages/sdk/encrypted-backup/package.json
  packages/sdk/explorer/package.json
  packages/sdk/governance/package.json
  packages/sdk/identity/package.json
  packages/sdk/keystores/package.json
  packages/sdk/network-utils/package.json
  packages/sdk/phone-utils/package.json
  packages/sdk/transactions-uri/package.json
  packages/sdk/utils/package.json
  packages/sdk/wallets/wallet-base/package.json
  packages/sdk/wallets/wallet-hsm-aws/package.json
  packages/sdk/wallets/wallet-hsm-azure/package.json
  packages/sdk/wallets/wallet-hsm/package.json
  packages/sdk/wallets/wallet-ledger/package.json
  packages/sdk/wallets/wallet-local/package.json
  packages/sdk/wallets/wallet-remote/package.json
  packages/sdk/wallets/wallet-rpc/package.json
Owners: @celo-org/cap, @asaj, @celo-org/applications, @eelanagaraj, @celo-org/devx, @barbaraliau, @medhak1

lockfile
  yarn.lock
Owners: @asaj, @cmcewen, @timmoreton

registry migrations
  packages/protocol/migrations/26_stableToken_registry.ts
Owners: @celo-org/cap

unsaved changes
  packages/protocol/migrations/26_stableToken_registry.ts
Owners: @celo-org/cap

probably need this one too
  packages/sdk/contractkit/src/mini-kit.ts
Owners: @celo-org/cap

this should do it
  yarn.lock
Owners: @asaj, @cmcewen, @timmoreton

fix missing reference in docker
  dockerfiles/attestation-service/Dockerfile
Owners: @asaj, @cmcewen, @timmoreton

these dockers need crypto utils
  dockerfiles/celotool/Dockerfile
  dockerfiles/phone-number-privacy/Dockerfile
Owners: @asaj, @cmcewen, @timmoreton

fix missed missing cryptographic-utils ref
  dockerfiles/celotool/Dockerfile
Owners: @asaj, @cmcewen, @timmoreton

docs/fix: readme and action (#9406)
  .github/workflows/stale.yml
  README-dev.md
  README.md
  SETUP.md
Owners: @asaj, @cmcewen, @timmoreton

suggestions made during review
  packages/phone-number-privacy/combiner/src/combiner/combiner.service.ts
  packages/phone-number-privacy/combiner/src/combiner/domain/disable.service.ts
  packages/phone-number-privacy/combiner/src/combiner/domain/quotastatus.service.ts
  packages/phone-number-privacy/combiner/src/combiner/domain/sign.service.ts
  packages/phone-number-privacy/combiner/src/combiner/pnp/sign.service.ts
  packages/phone-number-privacy/combiner/src/combiner/sign.service.ts
  packages/phone-number-privacy/common/src/interfaces/requests.ts
  packages/phone-number-privacy/common/src/interfaces/responses.ts
  packages/phone-number-privacy/signer/src/database/models/domainRequest.ts
  packages/phone-number-privacy/signer/src/database/wrappers/domainRequest.ts
Owners: @celo-org/cap

bug fixed in initialized and two more found it addnewstabletoken
  packages/protocol/contracts/stability/StableTokenRegistry.sol
Owners: @celo-org/cap

saving progress
  packages/phone-number-privacy/combiner/src/combiner/combiner.service.ts
  packages/phone-number-privacy/combiner/src/combiner/domain/sign.service.ts
  packages/phone-number-privacy/combiner/src/combiner/pnp/sign.service.ts
  packages/phone-number-privacy/combiner/src/combiner/sign.service.ts
Owners: @celo-org/cap

force https:// so that building old dev chain works
  .circleci/config.yml
Owners: @asaj, @cmcewen, @timmoreton

update tense. making an new commit to jumpstart ci
  .circleci/config.yml
Owners: @asaj, @cmcewen, @timmoreton

force https:// so that building old dev chain works (#9412)
  .circleci/config.yml
Owners: @asaj, @cmcewen, @timmoreton

Add Basic Readme files to the sdk packages
  packages/sdk/base/README.MD
  packages/sdk/contractkit/README.md
  packages/sdk/cryptographic-utils/README.md
  packages/sdk/encrypted-backup/README.md
  packages/sdk/explorer/README.md
  packages/sdk/governance/README.md
  packages/sdk/identity/README.md
  packages/sdk/keystores/README.md
  packages/sdk/network-utils/README.md
  packages/sdk/phone-utils/README.md
  packages/sdk/transactions-uri/README.md
  packages/sdk/utils/README.md
Owners: @barbaraliau, @medhak1, @celo-org/devx, @celo-org/cap, @celo-org/applications

saving progress on signer refactor
  packages/phone-number-privacy/combiner/src/combiner/combiner.service.ts
  packages/phone-number-privacy/combiner/src/combiner/domain/disable.service.ts
  packages/phone-number-privacy/combiner/src/combiner/domain/quotastatus.service.ts
  packages/phone-number-privacy/combiner/src/combiner/sign.service.ts
  packages/phone-number-privacy/combiner/src/index.ts
  packages/phone-number-privacy/signer/src/config.ts
  packages/phone-number-privacy/signer/src/server.ts
  packages/phone-number-privacy/signer/src/signer/domain/disable.ts
  packages/phone-number-privacy/signer/src/signer/domain/quota.ts
  packages/phone-number-privacy/signer/src/signer/domain/sign.ts
  packages/phone-number-privacy/signer/src/signer/pnp/quota.ts
  packages/phone-number-privacy/signer/src/signer/pnp/sign.ts
  packages/phone-number-privacy/signer/src/signer/session.ts
  packages/phone-number-privacy/signer/src/signer/signer.ts
Owners: @celo-org/cap

WIP readmes
  packages/sdk/connect/readme.md
  packages/sdk/contractkit/README.md
Owners: @celo-org/applications, @celo-org/cap

add more readmes, provide descriptions of wallet packages
  packages/sdk/explorer/README.md
  packages/sdk/governance/README.md
  packages/sdk/identity/README.md
  packages/sdk/network-utils/README.md
  packages/sdk/transactions-uri/README.md
  packages/sdk/wallets/wallet-base/Readme.md
  packages/sdk/wallets/wallet-hsm-aws/README.MD
  packages/sdk/wallets/wallet-hsm-azure/README.md
  packages/sdk/wallets/wallet-hsm/README.md
  packages/sdk/wallets/wallet-ledger/README.MD
  packages/sdk/wallets/wallet-local/Readme.MD
  packages/sdk/wallets/wallet-remote/README.md
  packages/sdk/wallets/wallet-rpc/README.md
Owners: @celo-org/applications

add a basic README for @celo/encrypted-backup
  packages/sdk/encrypted-backup/README.md
  packages/sdk/encrypted-backup/src/backup.ts
Owners: @celo-org/applications

misc cleanup
  packages/phone-number-privacy/combiner/src/combiner/domain/disable.service.ts
  packages/phone-number-privacy/combiner/src/combiner/domain/quotastatus.service.ts
  packages/phone-number-privacy/combiner/src/combiner/domain/sign.service.ts
  packages/phone-number-privacy/combiner/src/combiner/pnp/sign.service.ts
  packages/phone-number-privacy/signer/src/server.ts
  packages/phone-number-privacy/signer/src/signer/domain/disable.ts
  packages/phone-number-privacy/signer/src/signer/domain/quota.ts
  packages/phone-number-privacy/signer/src/signer/domain/sign.ts
  packages/phone-number-privacy/signer/src/signer/pnp/sign.ts
  packages/phone-number-privacy/signer/src/signer/session.ts
Owners: @celo-org/cap

refactoring get contracts function
  packages/protocol/contracts/stability/StableTokenRegistry.sol
  packages/protocol/migrationsConfig.js
  packages/protocol/test/stability/stabletokenregistry.ts
Owners: @celo-org/cap

converted to bytes and contract compiles
  packages/protocol/contracts/stability/StableTokenRegistry.sol
Owners: @celo-org/cap

initialize function added to tests
  packages/protocol/test/stability/stabletokenregistry.ts
Owners: @celo-org/cap

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# default owners, overridden by package specific owners below
* @asaj @cmcewen @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/azure/ @codyborn
/packages/celotool/ @asaj
/packages/cli/ @celo-org/applications
/packages/sdk/ @celo-org/applications
/packages/dev-utils/ @mcortesi
/packages/docs/ @timmoreton @barbaraliau @critesjosh
/packages/faucet/ @eelanagaraj @celo-org/devx
/packages/flake-tracker @alecps

/packages/protocol/ @celo-org/cap
/packages/sdk/contractkit/ @celo-org/cap
/packages/phone-number-privacy/ @celo-org/cap
/packages/attestation-proxy/ @celo-org/cap
/packages/attestation-service/ @celo-org/cap
/packages/metadata-crawler/ @celo-org/cap
/packages/env-tests @celo-org/cap

/packages/terraform-modules-public/ @tkporter
/packages/terraform-modules/ @tkporter
/packages/typescript/ @cmcewen
/packages/sdk/base/ @barbaraliau @medhak1 @celo-org/devx

# helm-charts rules.
/packages/helm-charts/ @nambrot @timmoreton
/packages/helm-charts/oracle/ @celo-org/platform-economics
