Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

[M12] There is no security policy
  SECURITY.md
Owners: @timmoreton

[L09] Lack of indexed parameters in events
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/SortedOracles.sol
Owners: @asaj, @m-chrzan

Typos
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/LockedGold.sol
Owners: @asaj, @m-chrzan

Feedback
  packages/protocol/contracts/common/FeeCurrencyWhitelist.sol
Owners: @asaj, @m-chrzan

Oops
  packages/protocol/contracts/governance/LockedGold.sol
Owners: @asaj, @m-chrzan

Compiles
  packages/protocol/contracts/stability/SortedOracles.sol
Owners: @asaj, @m-chrzan

Make end-to-end tests pass
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Fix
  packages/protocol/contracts/common/MultiSig.sol
Owners: @asaj, @m-chrzan

Fix tests
  packages/protocol/test/common/multisig.ts
Owners: @asaj, @m-chrzan

Update genesis block
  packages/celotool/src/lib/genesis_constants.ts
Owners: @timmoreton

Fix cloudbuild OOM by using machine with more CPU
  cloudbuild.yaml
Owners: @timmoreton

[L10] Inconsistent validation of variables (#2813)
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

💖 testing out text sparkle animation
  packages/web/src/collective/Collective.tsx
Owners: @cmcewen, @aaronmgdr

[protocol] add multisig to governance approver and reserve spender
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/cli/package.json
  packages/contractkit/package.json
  packages/protocol/contracts/common/proxies/MultiSigProxy.sol
  packages/protocol/contracts/governance/GovernanceApproverMultiSig.sol
  packages/protocol/contracts/governance/proxies/GovernanceApproverMultiSigProxy.sol
  packages/protocol/contracts/stability/ReserveSpenderMultiSig.sol
  packages/protocol/contracts/stability/proxies/ReserveSpenderMultiSigProxy.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/07_reserve_sender_multisig.ts
  packages/protocol/migrations/08_reserve.ts
  packages/protocol/migrations/09_stabletoken.ts
  packages/protocol/migrations/10_exchange.ts
  packages/protocol/migrations/11_accounts.ts
  packages/protocol/migrations/12_lockedgold.ts
  packages/protocol/migrations/13_validators.ts
  packages/protocol/migrations/14_election.ts
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrations/16_random.ts
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrations/18_escrow.ts
  packages/protocol/migrations/19_blockchainparams.ts
  packages/protocol/migrations/20_governance_slasher.ts
  packages/protocol/migrations/21_double_signing_slasher.ts
  packages/protocol/migrations/22_downtime_slasher.ts
  packages/protocol/migrations/23_governance_approver_multisig.ts
  packages/protocol/migrations/24_governance.ts
  packages/protocol/migrations/25_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/test/common/integration.ts
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan

Fix tests, remove unnecessary assembly
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/test/common/multisig.ts
Owners: @asaj, @m-chrzan

[L07] The minimum gas price calculation differs from documentation (#2889)
  packages/docs/celo-codebase/protocol/transactions/gas-pricing.md
Owners: @timmoreton, @cla-bel

adding new gas payment functions
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

fixing
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

[M04] Undocumented assembly blocks (#2895)
  packages/protocol/contracts/common/Proxy.sol
Owners: @asaj, @m-chrzan

updating tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/stability/StableToken.sol
Owners: @timmoreton, @asaj, @m-chrzan

pointing ci to correct branch
  .circleci/config.yml
Owners: @timmoreton

[L09] Lack of indexed parameters in events (#2907)
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/SortedOracles.sol
Owners: @asaj, @m-chrzan

lint
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

Fix linting
  packages/celotool/src/cmds/deploy/destroy/celostats.ts
  packages/celotool/src/cmds/deploy/initial/celostats.ts
  packages/celotool/src/cmds/deploy/upgrade/celostats.ts
Owners: @timmoreton

[L21] Lack of assert statement may produce unexpected slash (#2891)
  packages/protocol/contracts/governance/SlasherUtil.sol
Owners: @asaj, @m-chrzan

Address comments
  packages/mobile/__mocks__/react-native-firebase.ts
  packages/mobile/src/firebase/dynamicLinks.test.ts
Owners: @cmcewen, @jmrossy

[Wallet] Lock the whole wallet with PIN (#2648)
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainActivity.java
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Security.tsx
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/Background.test.tsx
  packages/mobile/src/app/Background.tsx
  packages/mobile/src/app/__snapshots__/Background.test.tsx.snap
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/app/selectors.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/NavigatorWrapper.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/pincode/PincodeConfirmation.tsx
  packages/mobile/test/schemas.ts
  packages/mobile/test/values.ts
Owners: @cmcewen, @jmrossy

[Wallet]: Invite text message link support for iOS (#2782)
  packages/mobile/__mocks__/react-native-device-info.ts
  packages/mobile/__mocks__/react-native-firebase.ts
  packages/mobile/__mocks__/react-native-version-check.ts
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo.xcscheme
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/account/InviteReview.test.tsx
  packages/mobile/src/account/InviteReview.tsx
  packages/mobile/src/firebase/dynamicLinks.test.ts
  packages/mobile/src/firebase/dynamicLinks.ts
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/send/saga.ts
  packages/mobile/src/utils/appstore.ts
  packages/mobile/src/utils/dynamicLink.ts
Owners: @cmcewen, @jmrossy

Fix cloudbuild OOM by using machine with more CPU (#2909)
  cloudbuild.yaml
Owners: @timmoreton

Changes to the smart contract
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

Initialize comissionUpdateDelay to an epoch by default
  packages/celotool/src/lib/migration-utils.ts
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @timmoreton, @asaj, @m-chrzan

fix solidity typo
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

Fix solidity tests
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Fix migraitons typo
  packages/celotool/src/lib/migration-utils.ts
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @timmoreton, @asaj, @m-chrzan

Update cli & ContractKit
  packages/cli/src/commands/validatorgroup/commission.test.ts
  packages/cli/src/commands/validatorgroup/commission.ts
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

fixing
  packages/cli/src/commands/validatorgroup/member.ts
Owners: @mcortesi, @asaj

[L15] Failure of `ecrecover` function does not revert (#2892)
  packages/protocol/contracts/common/Signatures.sol
Owners: @asaj, @m-chrzan

update coindesk news llink
  packages/web/src/press/Press.tsx
Owners: @cmcewen, @aaronmgdr

update recent news link
  packages/web/src/press/Press.tsx
Owners: @cmcewen, @aaronmgdr

missing files
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/dev-utils/src/ganache-test.ts
  packages/dev-utils/src/migration-override.json
Owners: @timmoreton
