Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Actually trigger edge case in tests
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Make changes based on review
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/reducer.ts
Owners: @cmcewen, @jmrossy

console.log
  packages/mobile/src/tokens/saga.ts
Owners: @cmcewen, @jmrossy

Fix tests
  packages/mobile/src/account/DataSaver.test.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/redux/selectors.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Move getValidatorSignerAddressSet precompile to Election wrapper
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/rewards.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

More cleanup of e2e related scripts and docs
  SETUP.md
  packages/mobile/.env
  packages/mobile/.env.test
  packages/mobile/README.md
  packages/mobile/e2e/README.md
  packages/mobile/package.json
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/start_emulator.sh
  packages/mobile/scripts/wait_for_emulator_to_connect.sh
  packages/mobile/src/config.ts
Owners: @timmoreton, @cmcewen, @jmrossy

Manually cherry pick fix for #2470
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/utils/src/address.ts
Owners: @timmoreton, @jmrossy

cli: Fix voter rewards presentation (#2543)
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/utils/src/address.ts
Owners: @timmoreton, @jmrossy

Fix build app test in config.yml
  .circleci/config.yml
Owners: @timmoreton

Add tests for wrong index
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

Add dryRun flag
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/docs/command-line-interface/rewards.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Fix wallet build CI test, take 2
  .circleci/config.yml
  packages/mobile/.env
  packages/mobile/.env.test
  packages/mobile/package.json
Owners: @timmoreton, @cmcewen, @jmrossy

Update schema v5
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Keep target just under actual
  .codecov.yml
Owners: @timmoreton

[Wallet] Prompt users with connectivity issues to switch to forno (#2526)
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.test.tsx
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/geth/selectors.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/redux/selectors.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Successfully slashed
  packages/cli/src/commands/rewards/show.ts
  packages/cli/src/commands/rewards/slasher.ts
Owners: @mcortesi, @asaj

Update packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Clean up.
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
Owners: @mcortesi, @asaj, @timmoreton

Micro Improvement to web tests (#2527)
  .codecov.yml
  packages/web/src/dev/LeaderBoard.test.tsx
  packages/web/src/home/MissionText.tsx
  packages/web/src/utils/abortableFetch.test.ts
Owners: @timmoreton, @cmcewen, @aaronmgdr

Move slasher bot to different PR
  packages/cli/src/commands/rewards/slasher.ts
  packages/docs/command-line-interface/rewards.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Add slasher
  packages/cli/src/commands/rewards/slasher.ts
Owners: @mcortesi, @asaj

Improve and fix about video playback on iOS
  packages/web/src/shared/VideoModal.tsx
Owners: @cmcewen, @aaronmgdr

Revert proposalJSON changes
  packages/contractkit/src/governance/proposals.ts
Owners: @timmoreton

Add params to proposal JSON and fix upvote bug
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.ts
Owners: @timmoreton

Fix import
  packages/cli/src/commands/governance/view.ts
Owners: @mcortesi, @asaj

Opsec audit script
  packages/opsec-audit/README.md
  packages/opsec-audit/opsec-audit.sh
Owners: @timmoreton

applied minor changes to test and MockElection.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

removed irrelevant tests
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

added new cli command
  packages/cli/src/commands/vesting/refund-finalize.ts
Owners: @mcortesi, @asaj

fixed cli commands
  packages/cli/src/commands/vesting/info.ts
  packages/cli/src/commands/vesting/pause.ts
  packages/cli/src/commands/vesting/refund-finalize.ts
  packages/cli/src/commands/vesting/revoke.ts
  packages/cli/src/commands/vesting/withdraw.ts
Owners: @mcortesi, @asaj

lockedglod unlock public back to external.
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/election.conf
  packages/protocol/specs/election.spec
  packages/protocol/specs/harnesses/ElectionHarness.sol
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

final tweaks to the cli commands
  packages/cli/src/commands/vesting/authorize-voter.ts
  packages/cli/src/commands/vesting/create-account.ts
  packages/cli/src/commands/vesting/lock-gold.ts
  packages/cli/src/commands/vesting/pause.ts
  packages/cli/src/commands/vesting/relock-gold.ts
  packages/cli/src/commands/vesting/set-account.ts
  packages/cli/src/commands/vesting/unlock-gold.ts
  packages/cli/src/commands/vesting/withdraw-gold.ts
  packages/cli/src/commands/vesting/withdraw.ts
Owners: @mcortesi, @asaj

adjustements acc. to the ts lib
  packages/cli/src/commands/vesting/info.ts
  packages/cli/src/commands/vesting/lock-gold.ts
  packages/contractkit/src/wrappers/VestingInstanceWrapper.ts
Owners: @mcortesi, @asaj, @timmoreton

applied prettifying
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

fixed double import
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

fixed double import
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

fixed linter
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
Owners: @asaj, @m-chrzan

fixed linter complaints
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
Owners: @asaj, @m-chrzan

Update balance on new transaction
  packages/mobile/src/stableToken/reducer.ts
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Owners: @cmcewen, @jmrossy

Added more CLI checks for registering validators and groups (#2491)
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/commands/validator/deregister.ts
  packages/cli/src/commands/validator/register.test.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
