Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Fix types
  packages/mobile/src/apollo/__mockData__.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/reducer.ts
Owners: @cmcewen, @jmrossy

Upate snapshots
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
Owners: @cmcewen, @jmrossy

Add snapshot for Privacy page
  packages/web/__mocks__/next-server/config.ts
  packages/web/pages/__snapshots__/privacy.test.tsx.snap
  packages/web/pages/privacy.test.tsx
  packages/web/src/header/OpenGraph.tsx
Owners: @cmcewen, @aaronmgdr

Upload bootnode enode to gcs
  packages/celotool/src/cmds/deploy/initial/testnet.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/outputs.tf
Owners: @timmoreton, @tkporter

Image stubs Terms page
  packages/web/__mocks__/ImageStub.ts
  packages/web/jest.config.js
  packages/web/pages/__snapshots__/terms.test.tsx.snap
  packages/web/pages/__snapshots__/user-agreement.test.tsx.snap
  packages/web/pages/terms.test.tsx
  packages/web/pages/user-agreement.test.tsx
Owners: @cmcewen, @aaronmgdr

FAQ snap
  packages/web/jest.config.js
  packages/web/pages/__snapshots__/faq.test.tsx.snap
  packages/web/pages/faq.test.tsx
Owners: @cmcewen, @aaronmgdr

Add missing react
  packages/web/src/icons/Arrow.tsx
Owners: @cmcewen, @aaronmgdr

Add docs involving bootnode
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Replace Event with Transaction type
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/reducer.ts
Owners: @cmcewen, @jmrossy

Remove useless echo and specify enode URL
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Add --rm flag to one time container runs
  packages/docs/getting-started/faucet.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Do the same for full nodes
  packages/docs/getting-started/running-a-full-node.md
Owners: @timmoreton, @cla-bel

Fix lint
  packages/celotool/src/lib/testnet-utils.ts
Owners: @timmoreton

Add validators to VoterReward and make rewards:show display average validator score
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
Owners: @mcortesi, @asaj, @timmoreton

Make averageValidatorScore a helper function
  packages/cli/src/commands/rewards/show.ts
Owners: @mcortesi, @asaj

Revert unneeded changes
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/react-components/styles/fonts.tsx
Owners: @cmcewen, @jmrossy

Add --rm flag to one time container runs (#2291)
  packages/docs/getting-started/faucet.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Fix deploy issues
  package.json
  packages/web/package.json
  yarn.lock
Owners: @timmoreton, @cmcewen, @aaronmgdr

Add more tests
  packages/web/pages/about.test.tsx
  packages/web/pages/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/pages/stake-off/terms.test.tsx
  packages/web/src/brandkit/color/Palette.tsx
  packages/web/src/brandkit/common/TopBar.tsx
Owners: @cmcewen, @aaronmgdr

WIP
  packages/web/pages/experience/brand/color.test.tsx
Owners: @cmcewen, @aaronmgdr

Boom
  packages/web/src/brandkit/tests/__snapshots__/Showcase.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Address feedback
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Address comments
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Wait one more block so it won't fail on light clients
  packages/contractkit/src/wrappers/Attestations.ts
Owners: @timmoreton

Update docs for stopping validator (#2253)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Imports
  packages/faucet/src/protocol/signing-utils.ts
  packages/protocol/lib/signing-utils.ts
Owners: @timmoreton, @asaj, @m-chrzan

Declaration files
  packages/faucet/index.d.ts
  packages/protocol/index.d.ts
Owners: @timmoreton, @asaj, @m-chrzan

Upload bootnode info & use in docs instead of static nodes (#2289)
  packages/celotool/src/cmds/deploy/initial/testnet.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/terraform-modules/testnet/outputs.tf
Owners: @timmoreton, @cla-bel, @tkporter

Types
  packages/faucet/tsconfig.json
  packages/walletkit/package.json
  packages/walletkit/tsconfig.json
  packages/walletkit/type-dec.d.ts
Owners: @timmoreton, @ashishb, @yerdua

Reduce number of `@ts-ignore`
  packages/web/pages/_document.tsx
  packages/web/server/FellowshipApp.ts
  packages/web/src/about/Team.tsx
  packages/web/src/brandkit/common/Sidebar.tsx
  packages/web/src/community/EcoFund.tsx
  packages/web/src/community/connect/EventRow.tsx
  packages/web/src/community/connect/Events.tsx
  packages/web/src/community/connect/Tenets.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/forms/EmailSubscribeForm.tsx
  packages/web/src/forms/FormComponents.tsx
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/home/HomeCarousel.tsx
  packages/web/src/home/TextAnimation.tsx
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/AspectRatio.tsx
  packages/web/src/shared/DropDown.tsx
  packages/web/src/shared/ResponsiveImage.tsx
  packages/web/src/shared/navigation.tsx
  packages/web/src/utils/utils.ts
  packages/web/tsconfig.json
Owners: @cmcewen, @aaronmgdr

Dont print prop type warning in test.
  packages/web/jest.config.js
  packages/web/jestSetup.js
Owners: @cmcewen, @aaronmgdr

Fixes https://github.com/zeit/next.js/blob/master/errors/app-container-deprecated.md
  packages/web/pages/_app.tsx
Owners: @cmcewen, @aaronmgdr

Right on
  packages/web/__mocks__/next/config.ts
  packages/web/pages/__snapshots__/faq.test.tsx.snap
  packages/web/pages/__snapshots__/privacy.test.tsx.snap
  packages/web/pages/__snapshots__/terms.test.tsx.snap
  packages/web/pages/__snapshots__/user-agreement.test.tsx.snap
  packages/web/pages/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/brandkit/tests/__snapshots__/Showcase.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Add more snaps
  packages/web/__mocks__/next/config.ts
  packages/web/pages/build/faucet.test.tsx
  packages/web/pages/build/index.test.tsx
  packages/web/pages/build/wallet.test.tsx
  packages/web/src/dev/Features.tsx
  packages/web/src/download/AppStores.tsx
  packages/web/src/shared/ConnectionFooter.tsx
  packages/web/src/shared/SocialChannels.tsx
Owners: @cmcewen, @aaronmgdr

Adds a new script command allowing to stop validating
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

changed double signing slasher back to having two block headers
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/test/SlashingTestUtils.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/test/governance/double_signing_slasher.ts
Owners: @asaj, @m-chrzan

Wait one more block on selectIssuers to deal with light client failures(#2293)
  packages/contractkit/src/wrappers/Attestations.ts
Owners: @timmoreton

Prevent crash of `yarn run dev:android` when there is iOS files missing
  packages/mobile/scripts/run_app.sh
Owners: @cmcewen, @jmrossy

Prevent crash of `yarn run dev:android` when there is iOS files missing (#2283)
  packages/mobile/scripts/run_app.sh
Owners: @cmcewen, @jmrossy

review comments
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/GovernanceSlasher.sol
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
  packages/protocol/test/governance/governance_slasher.ts
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
