Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Add getActiveVotesForGroup accessor
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan

Patch to remove 'iex(1)> ' from logs
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
Owners: @nambrot, @timmoreton

WIP
  packages/web/package.json
  packages/web/src/about/About.tsx
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/dev/StackSection.tsx
  packages/web/src/jobs/version3/JobRows.tsx
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/HollowOval.tsx
  packages/web/src/shared/PlayCircle.tsx
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Type imports
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

fixing lint
  packages/utils/src/collections.test.ts
  packages/utils/src/collections.ts
Owners: @jmrossy

Make changes based on review
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/exchange/ExchangeReview.test.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/navigator/Headers.tsx
  packages/mobile/src/navigator/Navigator.tsx
Owners: @cmcewen, @jmrossy

TS issue
  packages/celotool/src/cmds/geth/trace.ts
Owners: @timmoreton

Update tests
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
Owners: @cmcewen, @jmrossy

Fix spelling
  packages/web/src/about/backers/backers.ts
  packages/web/src/about/backers/general-catalyst.jpg
Owners: @cmcewen, @aaronmgdr

Linting
  packages/web/src/about/Team.tsx
Owners: @cmcewen, @aaronmgdr

Remove console.log
  packages/mobile/src/exchange/ExchangeReview.tsx
Owners: @cmcewen, @jmrossy

Lint
  packages/web/src/community/connect/CodeOfConduct.tsx
  packages/web/src/ecosystem/EcoCover.tsx
Owners: @cmcewen, @aaronmgdr

Get it running
  packages/web/src/community/EcoFund.tsx
  packages/web/src/community/connect/EventRow.tsx
  packages/web/src/community/connect/Tenets.tsx
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/navigation.tsx
Owners: @cmcewen, @aaronmgdr

Update Role on About Page
  packages/web/src/about/team/team-list.ts
Owners: @cmcewen, @aaronmgdr

Update Role on About Page (#2271)
  packages/web/src/about/team/team-list.ts
Owners: @cmcewen, @aaronmgdr

WIP debugging
  packages/mobile/.env
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/saga.ts
Owners: @cmcewen, @jmrossy

Add missing spanish translation
  packages/mobile/locales/es-419/exchangeFlow9.json
Owners: @cmcewen, @jmrossy

Add space to trigger build
  packages/mobile/src/transactions/TransactionFeed.tsx
Owners: @cmcewen, @jmrossy

Remove space to trigger build
  packages/mobile/src/transactions/TransactionFeed.tsx
Owners: @cmcewen, @jmrossy

Trigger build
  packages/react-components/styles/fonts.tsx
Owners: @cmcewen, @jmrossy

comments
  packages/celotool/src/cmds/geth/trace.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Add space to trigger build
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Remove space to trigger build
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Fix build errors from ts upgrade
  packages/celotool/src/cmds/deploy/upgrade/all.ts
  packages/celotool/src/cmds/deploy/upgrade/blockscout.ts
Owners: @timmoreton

[Wallet] New exchange trade screen and fix ts build in celotool (#2167)
  packages/celotool/src/cmds/deploy/upgrade/all.ts
  packages/celotool/src/cmds/deploy/upgrade/blockscout.ts
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/components/FeeIcon.test.tsx
  packages/mobile/src/components/FeeIcon.tsx
  packages/mobile/src/components/Field.test.tsx
  packages/mobile/src/components/Field.tsx
  packages/mobile/src/components/__snapshots__/FeeIcon.test.tsx.snap
  packages/mobile/src/components/__snapshots__/Field.test.tsx.snap
  packages/mobile/src/escrow/ReclaimPaymentConfirmationCard.tsx
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationCard.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.test.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.test.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/FeeExchangeEducation.tsx
  packages/mobile/src/exchange/FeeExchangeIcon.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/FeeExchangeEducation.test.tsx.snap
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/icons/InfoIcon.tsx
  packages/mobile/src/images/info-grey.png
  packages/mobile/src/navigator/Headers.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/send/FeeIcon.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/send/__snapshots__/SendConfirmation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/utils/currencyExchange.ts
Owners: @timmoreton, @cmcewen, @jmrossy

WIP
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/transactions/saga.ts
Owners: @cmcewen, @jmrossy

Clean up logging
  packages/protocol/migrations/20_elect_validators.ts
Owners: @asaj, @m-chrzan

Rename transactionFilter to better describe its use
  packages/mobile/src/transactions/TransactionFeed.tsx
Owners: @cmcewen, @jmrossy

Fix Type Issues
  packages/web/pages/_document.tsx
  packages/web/src/community/connect/CodeOfConduct.tsx
  packages/web/src/community/connect/CoverArea.tsx
  packages/web/src/community/connect/FullCircle.tsx
  packages/web/src/community/connect/QuarterCircle.tsx
  packages/web/src/community/connect/Sweep.tsx
  packages/web/src/dev/Phone.tsx
  packages/web/src/join/Benefits.tsx
  packages/web/src/join/Rise.tsx
  packages/web/src/join/ThreePillars.tsx
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/HollowOval.tsx
  packages/web/src/shared/OvalCoin.tsx
Owners: @cmcewen, @aaronmgdr

Remove validator migration hacks (#2262)
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/scripts/bash/init_network.sh
Owners: @asaj, @m-chrzan

Fix exchange wei round
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/transactions/TransactionFeed.tsx
Owners: @cmcewen, @jmrossy

Remove debugging statements
  packages/mobile/src/home/TransactionsList.tsx
  packages/mobile/src/send/SendConfirmation.tsx
  packages/mobile/src/send/saga.ts
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/saga.ts
Owners: @cmcewen, @jmrossy

Revert .env and remove logging
  packages/mobile/.env
  packages/mobile/src/exchange/saga.ts
Owners: @cmcewen, @jmrossy

Add Activity
  packages/mobile/src/exchange/Activity.tsx
Owners: @cmcewen, @jmrossy

Fix validatorgroup:list bug by not fetching unneeded info (#2257)
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

Fix web build
  packages/web/pages/_document.tsx
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/color/Pigment.tsx
  packages/web/src/brandkit/common/MobileMenu.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/logo/Minimums.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/fauceting/PhoneInput.tsx
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/FlowerCoin.tsx
Owners: @cmcewen, @aaronmgdr

[Wallet] Fix non integer wei issue in exchange (#2277)
  packages/mobile/src/exchange/Activity.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/transactions/TransactionFeed.tsx
Owners: @cmcewen, @jmrossy

Fix rise animation
  packages/web/src/join/Rise.tsx
Owners: @cmcewen, @aaronmgdr

Fix protocol unit tests
  packages/protocol/test/governance/validators.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Fix contractkit tests
  packages/contractkit/src/wrappers/Validators.test.ts
Owners: @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
