Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Fee Icon work
  packages/mobile/.env
  packages/mobile/src/components/FeeIcon.test.tsx
  packages/mobile/src/components/FeeIcon.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/FeeExchangeEducation.tsx
  packages/mobile/src/send/FeeIcon.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
Owners: @cmcewen, @jmrossy

Make validator-exec work for different node types (#2145)
  packages/celotool/src/cmds/ssh-vm-node.ts
  packages/celotool/src/cmds/validators-exec.ts
  packages/celotool/src/cmds/vm-exec.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Owners: @timmoreton

Removing unused parts of LockedGold (#1933)
  packages/protocol/contracts/governance/LockedGold.sol
Owners: @asaj, @m-chrzan

Fixing cloudbuild - emoving whitespace that is causing gcloud builds to fail. (#2165)
  cloudbuild.yaml
  packages/celotool/src/lib/leaderboard.ts
Owners: @timmoreton

Slashing: Adding forceDeaffiliateIfValidator fn to Validators.sol (#2095)
  packages/cli/src/commands/validator/force-deaffiliate.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/validator.md
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/test/governance/validators.ts
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel, @m-chrzan

update kit
  packages/contractkit/src/wrappers/Election.ts
Owners: @timmoreton

Remove nodekey flag in validator and full node internal address
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
Owners: @timmoreton, @tkporter

Remove ref to script, dont expose port on ext interface in docker cmd lines, add back security reminder about this. Remove ref to office hours (#2170)
  dockerfiles/cli/Dockerfile
  packages/docs/README.md
  packages/docs/getting-started/running-a-validator.md
  scripts/run-docker-validator-network.sh
Owners: @timmoreton, @cla-bel

Add baklava genesis balances file
  baklava_genesis_balances.json
Owners: @timmoreton

Clarify requirements for local vs remote machines
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Use correct tags, get things working
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
Owners: @tkporter

include main.tf from last commit
  packages/terraform-modules/testnet/main.tf
Owners: @tkporter

Read genesis balances from .env file
  .env.baklava
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

point ci back to master
  .circleci/config.yml
Owners: @timmoreton

Calculate epoch rewards adjusted for validator group uptime (#2104)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/runTests.js
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/governance/validators.ts
Owners: @timmoreton, @asaj, @m-chrzan

Fix tests
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

Clarify requirements for local vs remote machines (#2172)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Adding instructions about how to re-connect to the network after a reset (#2151)
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-validator.md
  scripts/run-docker-validator-network.sh
Owners: @timmoreton, @cla-bel

Use fluentd natively for structured logging
  .env
  packages/terraform-modules/testnet/modules/validator/startup.sh
Owners: @timmoreton, @tkporter

Prom to sd for proxies
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/modules/validator/outputs.tf
  packages/terraform-modules/testnet/outputs.tf
Owners: @timmoreton, @tkporter

update yarn lock
  yarn.lock
Owners: @timmoreton

more nodes
  packages/terraform-modules/testnet/modules/bootnode/startup.sh
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/ssl-startup.sh
Owners: @tkporter

Run terraform fmt
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
Owners: @tkporter

Self nits
  packages/celotool/src/lib/prom-to-sd-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Owners: @timmoreton

Swallowing error for more friendly cli UX
  packages/cli/src/utils/helpers.ts
Owners: @mcortesi, @asaj

15gb disks
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/validator/main.tf
Owners: @tkporter

Allow the validator account to whitelist hotfixes (#2166)
  packages/contractkit/src/wrappers/Election.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/test/GovernanceTest.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/test/TestAttestations.sol
  packages/protocol/test/governance/governance.ts
Owners: @timmoreton, @asaj, @m-chrzan

Swallowing error for more friendly cli UX (#2175)
  packages/cli/src/utils/helpers.ts
Owners: @mcortesi, @asaj

Use fluentd natively for structured logging (#2174)
  .env
  packages/terraform-modules/testnet/modules/bootnode/startup.sh
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/ssl-startup.sh
  packages/terraform-modules/testnet/modules/validator/startup.sh
Owners: @timmoreton, @tkporter

Continue work on instructions for restarting your node with new network
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Add note about fauceting
  packages/docs/getting-started/reconnecting-to-network.md
Owners: @timmoreton, @cla-bel

Update baklava network ID
  .env.baklava
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/protocol/truffle-config.js
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

Address comments
  packages/docs/getting-started/reconnecting-to-network.md
Owners: @timmoreton, @cla-bel

Fix yarn build
  packages/celotool/src/lib/prom-to-sd-utils.ts
Owners: @timmoreton

Update documentation for Proxy IP addresses and ports
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Update yarn.lock
  yarn.lock
Owners: @timmoreton

Fix typo
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

v0.0.31-beta
  packages/cli/package.json
Owners: @mcortesi, @asaj

v0.0.32-beta
  packages/cli/package.json
Owners: @mcortesi, @asaj

Publish latest version of celocli
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
Owners: @timmoreton, @cmcewen, @jmrossy

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
