Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

fix
  .circleci/config.yml
Owners: @timmoreton

print then check
  .circleci/config.yml
Owners: @timmoreton

collision in out.json
  .circleci/config.yml
Owners: @timmoreton

Improvements from review
  .circleci/config.yml
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @timmoreton, @asaj, @m-chrzan

Fixing lint
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Update docs
  packages/docs/command-line-interface/validator.md
Owners: @timmoreton, @cla-bel

Dynamically load carousel to reduce home page bundle Defer loading tracking
  packages/web/pages/_app.tsx
  packages/web/src/analytics/analytics.ts
  packages/web/src/header/CookieConsent.tsx
  packages/web/src/home/HomeCarousel.tsx
  packages/web/src/privacy/Privacy.tsx
Owners: @cmcewen, @aaronmgdr

Deffer loading sentry
  packages/web/fullstack/sentry.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/server/Announcement.ts
  packages/web/server/EventHelpers.ts
  packages/web/server/FirebaseServerSide.ts
  packages/web/server/addToCRM.ts
  packages/web/server/index.ts
  packages/web/server/mediumAPI.ts
  packages/web/server/sentry.ts
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/CookieConsent.tsx
  packages/web/src/utils/sentry.ts
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Add validator:status --all (#2285)
  packages/cli/src/commands/validator/status.ts
  packages/docs/command-line-interface/validator.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

fixed none-owner tests
  packages/protocol/test/common/multisig.ts
Owners: @asaj, @m-chrzan

numReqiuirements test canged
  packages/protocol/test/common/multisig.ts
Owners: @asaj, @m-chrzan

avoid reports becoming 0 length
  packages/protocol/contracts/stability/SortedOracles.sol
Owners: @asaj, @m-chrzan

e2e testing
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/protocol/scripts/build.ts
Owners: @timmoreton, @asaj, @m-chrzan

still need to check group slashing
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
Owners: @timmoreton, @asaj, @m-chrzan

hmm
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

debugging
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/contracts/governance/Validators.sol
Owners: @timmoreton, @asaj, @m-chrzan

slowww
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/SlasherUtil.sol
Owners: @timmoreton, @asaj, @m-chrzan

finally working?
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
Owners: @timmoreton, @asaj, @m-chrzan

seems to work
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

downtime test
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Owners: @timmoreton, @asaj, @m-chrzan

[Wallet] Fix crash in release mode when navigating on iOS (#2326)
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/verifier/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

[Wallet] Fix exchange input on iOS and feed item display (#2319)
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
Owners: @cmcewen, @jmrossy

Ditto for verifier
  packages/verifier/__mocks__/src/i18n.ts
  packages/verifier/src/components/TransactionReview/VerificationReviewScreen.tsx
  packages/verifier/src/i18n.ts
  packages/verifier/src/shared/ErrorScreen.tsx
Owners: @jmrossy, @cmcewen

Adding error messages to contracts (#1182)
  packages/dev-utils/src/ganache-setup.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/linkedlists/LinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedListWithMedian.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/StableToken.sol
  packages/protocol/runTests.js
  packages/protocol/scripts/bash/ganache.sh
  packages/protocol/scripts/devchain.ts
  packages/protocol/truffle-config.js
Owners: @timmoreton, @asaj, @m-chrzan

Fixes on the linter for the result message
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

fixed function modifier
  packages/protocol/contracts/governance/Proposals.sol
Owners: @asaj, @m-chrzan

Temporarily commit CELO_BLOCKCHAIN_BRANCH_TO_TEST: victor/slashing-precompiles to master
  .circleci/config.yml
Owners: @timmoreton

activate pending votes. have an envvar for voting probability. Deal with multiple voters
  .env
  packages/celotool/src/cmds/bots/voting.ts
  packages/celotool/src/lib/env-utils.ts
Owners: @timmoreton

Finish implementation of new flow
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/alert/__snapshots__/AlertBanner.test.tsx.snap
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/identity/contactMapping.test.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/recipients/recipient.ts
  packages/mobile/src/send/ContactSyncBanner.tsx
  packages/mobile/src/send/Send.tsx
  packages/mobile/src/send/SendSearchInput.tsx
  packages/mobile/test/schemas.ts
  packages/react-components/icons/Error.tsx
Owners: @cmcewen, @jmrossy

Add new and modified precompiles to UsingPrecompiles.sol (#2318)
  .circleci/config.yml
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @timmoreton, @asaj, @m-chrzan

Complete codependent slashing precompile PRs
  .circleci/config.yml
Owners: @timmoreton

try to have setup be a thing (failed). work on deploy
  packages/celotool/src/cmds/bots/setup-voting-bot-accounts.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/protocol/migrations/20_elect_validators.ts
Owners: @timmoreton, @asaj, @m-chrzan

started cleanup
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Comment out broken proposalID emit
  packages/cli/src/commands/governance/propose.ts
Owners: @mcortesi, @asaj

Fix more conflicts
  packages/cli/src/utils/command.ts
  packages/mobile/src/escrow/saga.ts
Owners: @mcortesi, @asaj, @cmcewen, @jmrossy

Complete codependent slashing precompile PRs (#2333)
  .circleci/config.yml
Owners: @timmoreton

Fix celotool calldetails references
  packages/celotool/src/cmds/transactions/list.ts
Owners: @timmoreton

Fix LockedGold wrapper tests
  packages/contractkit/src/wrappers/LockedGold.test.ts
Owners: @timmoreton

Fix governance cli docs
  packages/docs/command-line-interface/governance.md
Owners: @timmoreton, @cla-bel

Improvements from @mariano's review. concurrentValuesMap is quite nice now.
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/utils/src/async.ts
Owners: @timmoreton, @jmrossy

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
