Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

fix timestamp logic and add test for this
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Owners: @cmcewen, @jmrossy

fix unused vars
  packages/mobile/src/transactions/TransactionsList.test.tsx
Owners: @cmcewen, @jmrossy

unnecessary bigNumber parse removed
  packages/protocol/contracts/common/GasPriceMinimum.sol
  packages/protocol/scripts/truffle/set_exchange_rate.ts
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

added missing interface
  packages/protocol/contracts/governance/test/MockLockedGold.sol
Owners: @asaj, @m-chrzan

added missing interface
  packages/protocol/contracts/governance/test/MockLockedGold.sol
Owners: @asaj, @m-chrzan

Address feedback
  packages/mobile/README.md
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
Owners: @cmcewen, @jmrossy

added some recursion
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

Deployed integration
  .env.integration
Owners: @timmoreton

Bump celo/client
  packages/mobile/.env
  packages/mobile/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

add explicit gas to exchange transactions to prevent errors
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
Owners: @mcortesi, @asaj

See if people are pressing the track button
  packages/web/src/about/About.tsx
Owners: @cmcewen, @aaronmgdr

Update protocol Validators tests for corrected epoch definition
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

start trying to exclude groups from the voting (does not work yet)
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/cmds/deploy/initial/voting-bot.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
Owners: @timmoreton, @nambrot

More information on Errors
  packages/web/src/shared/VideoModal.tsx
Owners: @cmcewen, @aaronmgdr

do not fetch affiliates (#2508)
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

Rename to forno, update DisconnectBanner and forno on start
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/README.md
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/config.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/geth/selectors.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/redux/selectors.ts
  packages/mobile/src/shared/DisconnectBanner.tsx
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.test.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Deployed integration (#2550)
  .env.integration
Owners: @timmoreton

✅ add test for phone Input component Testing interactivity and interplay between the two input elements
  packages/web/src/_page-tests/test-utils.ts
  packages/web/src/brandkit/common/MobileMenu.test.tsx
  packages/web/src/fauceting/PhoneInput.test.tsx
  packages/web/src/fauceting/PhoneInput.tsx
Owners: @cmcewen, @aaronmgdr

Add comments and docs
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/command-line-interface/governance.md
Owners: @timmoreton, @cla-bel

Change go version for ci
  dockerfiles/circleci/Dockerfile
Owners: @timmoreton

Changes for geth 1.9
  .circleci/config.yml
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/contracts/common/Proxy.sol
Owners: @timmoreton, @asaj, @m-chrzan

Set istanbulBlock to 0 in genesisBlock
  packages/celotool/src/lib/genesis_constants.ts
Owners: @timmoreton

Do not set istanbulBlock
  packages/celotool/src/lib/genesis_constants.ts
Owners: @timmoreton

Set gc mode to archieve for historical state
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Change to lightest
  packages/celotool/src/cmds/geth/run.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

🚚 rename footer 3 to footer
  packages/web/pages/_app.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/Footer.tsx
Owners: @cmcewen, @aaronmgdr

Fix parameters tests. Use 1.9 version number
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
Owners: @timmoreton

💄 add YouTube to footer Fix footer getting squished on tablet
  packages/web/src/icons/YouTube.tsx
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Update MockUsingPrecompiles epoch calculation
  packages/protocol/contracts/governance/test/MockUsingPrecompiles.sol
Owners: @asaj, @m-chrzan

[Wallet] E2E test improvements (#2542)
  SETUP.md
  packages/mobile/.env
  packages/mobile/.env.test
  packages/mobile/README.md
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/proguard-rules.pro
  packages/mobile/android/app/src/debug/AndroidManifest.xml
  packages/mobile/android/app/src/debug/res/xml/network_security_config.xml
  packages/mobile/e2e/README.md
  packages/mobile/e2e/Transfer.spec.js
  packages/mobile/e2e/init.js
  packages/mobile/package.json
  packages/mobile/scripts/build_e2e.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/start_emulator.sh
  packages/mobile/scripts/wait_for_emulator_to_connect.sh
  yarn.lock
Owners: @timmoreton, @cmcewen, @jmrossy

📸 Update footer snaps for yt
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

🚨
  packages/web/src/fauceting/PhoneInput.test.tsx
Owners: @cmcewen, @aaronmgdr

Update config for alfajores staging
  .env.alfajoresstaging
  packages/protocol/migrationsConfig.js
Owners: @timmoreton, @asaj, @m-chrzan

Update celotool
  .env.alfajoresstaging
Owners: @timmoreton

Not sure how this was lost
  packages/web/src/utils/abortableFetch.ts
Owners: @cmcewen, @aaronmgdr

[Wallet] Bump @celo/client to 0.0.266 (#2551)
  packages/mobile/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Update another epoch definition
  packages/protocol/test/governance/downtime_slasher.ts
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

vesting smart contracts and related ts configs only (#2537)
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IElection.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/interfaces/IVestingFactory.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
  packages/protocol/contracts/governance/proxies/VestingFactoryProxy.sol
  packages/protocol/contracts/governance/test/MockElection.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/11_vesting_factory.ts
  packages/protocol/migrations/12_lockedgold.ts
  packages/protocol/migrations/13_validators.ts
  packages/protocol/migrations/14_election.ts
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrations/16_random.ts
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrations/18_escrow.ts
  packages/protocol/migrations/19_blockchainparams.ts
  packages/protocol/migrations/20_governance_slasher.ts
  packages/protocol/migrations/21_double_signing_slasher.ts
  packages/protocol/migrations/22_downtime_slasher.ts
  packages/protocol/migrations/23_governance.ts
  packages/protocol/migrations/24_elect_validators.ts
  packages/protocol/scripts/build.ts
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

📝 Update readme Remove old part about picture Add in info on testing
  packages/web/README.md
Owners: @cmcewen, @aaronmgdr

fix off-by-one error in attributing signatures to blocks
  packages/cli/src/commands/validator/signed-blocks.ts
  packages/cli/src/commands/validator/status.ts
  packages/cli/src/utils/election.ts
Owners: @mcortesi, @asaj

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
