Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nambrot, @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz, @m-chrzan, @ashishb, @yerdua, @tkporter, @aaronmgdr

Comment out celoLite settings for now
  packages/mobile/src/account/Account.tsx
Owners: @cmcewen, @jmrossy

[wallet]Add more documentation on ZeroSync mode
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Add spanish translations, a couple comments
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Remove bondeddeposits test
  packages/protocol/test/governance/bondeddeposits.ts
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

Add jest tests
  packages/mobile/src/account/Analytics.test.tsx
  packages/mobile/src/account/CeloLite.test.tsx
  packages/mobile/src/account/__snapshots__/Analytics.test.tsx.snap
  packages/mobile/src/account/__snapshots__/CeloLite.test.tsx.snap
Owners: @cmcewen, @jmrossy

Allow most recently reporting oracle to report again (#1288)
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

Add Licenses test
  packages/mobile/src/account/Licenses.test.tsx
  packages/mobile/src/account/__snapshots__/Licenses.test.tsx.snap
Owners: @cmcewen, @jmrossy

Update spanish translations
  packages/mobile/locales/es-419/accountScreen10.json
Owners: @cmcewen, @jmrossy

[Celotool] Update blockchain-api deploy script to automatically update faucet address (#1347)
  packages/celotool/src/cmds/deploy/initial/blockchain-api.ts
  packages/celotool/src/cmds/deploy/upgrade/blockchain-api.ts
Owners: none

Prevent overloading a block with txs and properly call vote
  packages/protocol/migrations/17_elect_validators.ts
Owners: @asaj, @m-chrzan

WIP
  packages/mobile/package.json
  packages/mobile/src/exchange/actions.ts
Owners: @cmcewen, @jmrossy

Fix linting error
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Fix test
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

[wallet]Add documentation for jndcrash
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Fix confiq for contractkit import
  packages/mobile/rn-cli.config.js
Owners: @cmcewen, @jmrossy

PR feedback
  packages/mobile/jest.config.js
  packages/mobile/package.json
  packages/mobile/src/account/saga.test.ts
  packages/mobile/src/app/Debug.tsx
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/networkInfo/saga.ts
  packages/mobile/src/pincode/PincodeUtils.d.ts
  packages/mobile/src/sentry/Sentry.ts
  packages/react-components/jest.config.js
  packages/verifier/jest.config.js
  patches/@react-native-community/cli-platform-android+3.0.0-alpha.2.patch
Owners: @cmcewen, @jmrossy

Comment fixes
  packages/mobile/jest.config.js
  packages/react-components/jest.config.js
  packages/verifier/jest.config.js
Owners: @cmcewen, @jmrossy

DeviceInfo async
  packages/mobile/src/account/Account.tsx
Owners: @cmcewen, @jmrossy

Submit votes from the first of each group
  packages/protocol/migrations/17_elect_validators.ts
Owners: @asaj, @m-chrzan

Fix type errors, log getDeviceInfo error
  packages/mobile/src/account/saga.ts
  packages/mobile/src/pincode/PincodeUtils.d.ts
  packages/react-components/analytics/CeloAnalytics.tsx
Owners: @cmcewen, @jmrossy

Patch package version
  patches/react-native-firebase+5.5.6.patch
Owners: none

Fix mistake sending tx to wrong contract
  packages/protocol/migrations/17_elect_validators.ts
Owners: @asaj, @m-chrzan

PR comments
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
Owners: @asaj, @m-chrzan

Fix test, also hide cancelTouches warning, dedupe screens
  packages/mobile/__mocks__/react-native-device-info.ts
  packages/mobile/ios/Podfile.lock
  packages/mobile/package.json
  packages/mobile/src/app/App.tsx
  packages/react-components/__mocks__/react-native-device-info.js
  packages/verifier/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy

Fix build
  .circleci/config.yml
  packages/mobile/android/app/build.gradle
  packages/mobile/android/gradle.properties
Owners: @cmcewen, @jmrossy

delete lockup.ts:
  packages/cli/src/commands/lockedgold/lockup.ts
Owners: @mcortesi, @asaj

Point end-to-end tests back to master
  .circleci/config.yml
Owners: none

Alfajores changes & comment on unlocking accounts (#1297)
  dockerfiles/cli/Dockerfile
  packages/cli/package.json
  packages/cli/start_geth.sh
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Owners: @mcortesi, @asaj

Add comment to replicate self reference bug
  packages/mobile/src/exchange/actions.ts
Owners: @cmcewen, @jmrossy

Remove unused code for debuggin
  packages/mobile/src/exchange/actions.ts
Owners: @cmcewen, @jmrossy

Make this runnable
  packages/mobile/src/exchange/actions.ts
Owners: @cmcewen, @jmrossy

Point end-to-end tests back to master (#1372)
  .circleci/config.yml
Owners: none

mobile build
  .circleci/config.yml
Owners: none

Get view exchange working
  packages/mobile/src/exchange/actions.ts
Owners: @cmcewen, @jmrossy

fund election with first validator and make transfer transactions easy to send
  packages/protocol/migrations/17_elect_validators.ts
Owners: @asaj, @m-chrzan

[wallet]Add documentation for jndcrash (#1364)
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Move exchange logic to saga
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/saga.ts
Owners: @cmcewen, @jmrossy

Move exchange logic to saga not actions
  packages/mobile/src/exchange/actions.ts
  packages/mobile/src/exchange/saga.ts
Owners: @cmcewen, @jmrossy

[wallet]Add more documentation on ZeroSync mode (#1367)
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Weird versioncode error
  packages/mobile/android/app/build.gradle
Owners: @cmcewen, @jmrossy

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/cli/ @mcortesi @asaj
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/walletkit/ @ashishb @yerdua
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/web/ @cmcewen @aaronmgdr
