Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Add ts-ignore (#2254)
  packages/react-components/components/PhoneNumberInput.tsx
Owners: @cmcewen, @jmrossy

Avoid negative epochs with fresh testnet
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Election.ts
Owners: @mcortesi, @asaj, @timmoreton

fix tests
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Add space to trigger build
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Remove space added to trigger build
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Remove logging
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

Add concurrentValuesMap
  packages/contractkit/src/wrappers/Election.ts
  packages/utils/src/async.ts
Owners: @timmoreton, @jmrossy

Improvements from review
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Update running-a-validator.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Add accounts page
  packages/docs/celo-codebase/protocol/identity/accounts.md
Owners: @timmoreton, @cla-bel

Add validator:status --all
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

update command to run certora prover
  .circleci/config.yml
Owners: @timmoreton

update command to run certora prover
  .circleci/config.yml
Owners: @timmoreton

Update running-a-validator.md (#2259)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Remove validator migrations hacks
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/scripts/bash/init_network.sh
Owners: @asaj, @m-chrzan

adds Testing TSX /react on the web (#2229)
  packages/web/jest.config.js
  packages/web/src/brandkit/common/DownloadButton.tsx
  packages/web/src/brandkit/tests/Showcase.test.tsx
  packages/web/src/brandkit/tests/__snapshots__/Showcase.test.tsx.snap
  packages/web/tsconfig.jest.json
Owners: @cmcewen, @aaronmgdr

added some list utils
  packages/utils/src/collections.test.ts
  packages/utils/src/collections.ts
Owners: @jmrossy

[Wallet] Fix persisted data loss on iOS (#2249)
  packages/mobile/index.js
  packages/mobile/src/apollo/index.ts
  packages/mobile/src/forceCommunityAsyncStorage.ts
Owners: @cmcewen, @jmrossy

started working on slasher contracts
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/GovernanceSlasher.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/proxies/DoubleSigningSlasherProxy.sol
  packages/protocol/contracts/governance/proxies/GovernanceSlasherProxy.sol
Owners: @asaj, @m-chrzan

fix massive gas overspending
  packages/protocol/lib/web3-utils.ts
Owners: @asaj, @m-chrzan

command name, description
  packages/celotool/src/cmds/bots/voting.ts
Owners: @timmoreton

start local testnet
  packages/celotool/package.json
  packages/celotool/register.sh
  packages/celotool/register_validatorgroup.sh
  packages/celotool/src/cmds/geth/start.ts
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/helpers/account_register.ts
  packages/celotool/src/helpers/add_local_geth.ts
  packages/celotool/src/helpers/election_show.ts
  packages/celotool/src/helpers/start_geth.ts
  packages/celotool/src/helpers/transfer.ts
  packages/celotool/src/helpers/utils.ts
  packages/celotool/src/helpers/validator_register.ts
  packages/celotool/src/helpers/validatorgroup_add.ts
  packages/celotool/src/helpers/validatorgroup_register.ts
  packages/celotool/src/helpers/validatorgroup_vote.ts
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/utils.ts
  yarn.lock
Owners: @timmoreton

added migrations
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/19_governance.ts
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

adding reference to variables required by attestation service and full node
  scripts/validator-config.rc
Owners: @timmoreton

Adding support to new instrutions for running the attestation service
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

[Wallet] Create run_app.sh script to facilitate app development (#2186)
  .env.baklava
  .env.baklavastaging
  packages/blockchain-api/.env
  packages/blockchain-api/app.integration.yaml
  packages/mobile/package.json
  packages/mobile/scripts/pre-dev.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
  packages/notification-service/config/config.integration.env
  packages/notification-service/config/config.local.env
  packages/notification-service/config/config.test.env
Owners: @timmoreton, @jmrossy, @cmcewen, @annakaz

adding more instructions to attestation service
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

Finish progress reporting in contact import
  packages/mobile/README.md
  packages/mobile/src/identity/actions.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/reducer.ts
Owners: @cmcewen, @jmrossy

try with more gas?
  packages/protocol/lib/web3-utils.ts
Owners: @asaj, @m-chrzan

Address comments
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
Owners: @cmcewen, @jmrossy

actually added migrations, also unit test for governance slasher
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/GovernanceSlasher.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/contracts/governance/test/TestGovernanceSlasher.sol
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/test/governance/governance_slasher.ts
Owners: @asaj, @m-chrzan

calculate the average score for validator groups
  packages/celotool/src/cmds/bots/voting.ts
Owners: @timmoreton

Fix lints
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Fix lint
  packages/utils/src/async.ts
Owners: @jmrossy

Fix more lints:
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Fix more lints
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

Last lint
  packages/cli/src/commands/rewards/show.ts
Owners: @mcortesi, @asaj

unit tests working
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/contracts/governance/test/TestGovernanceSlasher.sol
  packages/protocol/test/governance/double_signing_slasher.ts
Owners: @asaj, @m-chrzan

Add utils as a dep (#2252)
  packages/blockchain-api/package.json
Owners: @jmrossy, @cmcewen

fixing lint
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/governance_slasher.ts
Owners: @asaj, @m-chrzan
