Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nambrot, @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz, @m-chrzan, @ashishb, @yerdua, @tkporter, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/cli/ @mcortesi @asaj
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/walletkit/ @ashishb @yerdua
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/web/ @cmcewen @aaronmgdr

WIP getting zerosync to actually turn on
  packages/mobile/.env
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
Owners: @cmcewen, @jmrossy

fix: packages/faucet/package.json & packages/faucet/.snyk to reduce vulnerabilities
  packages/faucet/.snyk
  packages/faucet/package.json
Owners: none

Address comments; remove url and authorizedBy.active, allow for variable membershiphistorylength
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/list.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/governance/validators.ts
Owners: @mcortesi, @asaj, @m-chrzan

Fix build
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: none

Fix migrations, end-to-end tests
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/migrations/17_elect_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Fix tests
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: none

Update CLI docs
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
Owners: none

added comments
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/identity/test/TestRandom.sol
  packages/protocol/test/identity/random.ts
Owners: @asaj, @m-chrzan

fixing lint
  packages/protocol/contracts/identity/Random.sol
Owners: @asaj, @m-chrzan

use new contract kit version in cli
  packages/cli/package.json
Owners: @mcortesi, @asaj

Fix up tests
  packages/mobile/src/account/Account.test.tsx
  packages/mobile/src/account/InviteReview.test.tsx
  packages/mobile/src/backup/BackupComplete.tsx
  packages/mobile/src/backup/BackupQuiz.test.tsx
  packages/mobile/src/backup/BackupQuiz.tsx
  packages/mobile/src/backup/BackupSocial.test.tsx
  packages/mobile/src/backup/BackupSocial.tsx
  packages/mobile/src/backup/BackupSocialIntro.test.tsx
  packages/mobile/src/backup/BackupVerify.tsx
  packages/mobile/src/backup/__snapshots__/BackupComplete.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupIntroduction.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupPhrase.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupPhraseContainer.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupQuestion.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupQuiz.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupSocial.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupSocialIntro.test.tsx.snap
  packages/mobile/src/backup/utils.test.ts
  packages/mobile/src/backup/utils.ts
Owners: @cmcewen, @jmrossy

QR scanner permission changes
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/qrcode/NotAuthorizedView.test.tsx
  packages/mobile/src/qrcode/NotAuthorizedView.tsx
  packages/mobile/src/qrcode/QRScanner.tsx
  packages/mobile/src/qrcode/__snapshots__/NotAuthorizedView.test.tsx.snap
  packages/mobile/src/utils/permissions.android.ts
  packages/mobile/src/utils/permissions.ios.ts
Owners: @cmcewen, @jmrossy

Fix tests
  packages/mobile/locales/en-US/backupKeyFlow6.json
  packages/mobile/locales/en-US/global.json
  packages/mobile/src/account/Account.test.tsx
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/__snapshots__/Account.test.tsx.snap
  packages/mobile/src/app/saga.ts
  packages/mobile/src/backup/__snapshots__/BackupQuiz.test.tsx.snap
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/invite/__snapshots__/EnterInviteCode.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/EscrowedPaymentReminderNotification.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/PaymentrequestSummaryNotification.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/shared/__snapshots__/BackupPrompt.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/NoActivity.test.tsx.snap
  packages/react-components/components/SmallButton.tsx
Owners: @cmcewen, @jmrossy

Fix style in backup quiz screen
  packages/mobile/src/backup/BackupQuiz.tsx
Owners: @cmcewen, @jmrossy

Setup spanish string translations and fixup the global.json file
  packages/mobile/locales/es-419/backupKeyFlow6.json
  packages/mobile/locales/es-419/global.json
Owners: @cmcewen, @jmrossy

A bit of cleanup
  packages/mobile/src/backup/BackupModal.tsx
  packages/mobile/src/backup/__snapshots__/BackupQuiz.test.tsx.snap
  packages/mobile/src/shared/BackupPrompt.tsx
  packages/react-components/components/Button.tsx
Owners: @cmcewen, @jmrossy

Undo readme changes
  README-dev.md
  packages/mobile/README.md
Owners: @cmcewen, @jmrossy

Fixed channell naming
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Owners: @cmcewen, @jmrossy

channel now is not an action
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Owners: @cmcewen, @jmrossy
