Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Debug kubectl portforward kill
  packages/celotool/src/lib/port_forward.ts
Owners: @timmoreton

fix article uri constantize keyframes array not needed and isa waste of resources.
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/alliance/Affirmations.tsx
  packages/web/src/alliance/PinWheel.tsx
  packages/web/src/alliance/RisingPinWheelForm.tsx
Owners: @cmcewen, @aaronmgdr

Disable timeout on all before and after hooks
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Owners: @timmoreton

[web] ALLIANCE (Part B - node server side) (#3048)
  packages/web/pages/api/alliance.ts
  packages/web/pages/api/contributors.ts
  packages/web/server/Alliance.test.ts
  packages/web/server/Alliance.ts
  packages/web/server/airtable.ts
  packages/web/server/index.ts
  packages/web/server/respondError.ts
  packages/web/src/alliance/AllianceMember.ts
  packages/web/src/alliance/CategoryEnum.ts
Owners: @cmcewen, @aaronmgdr

[Wallet] Fix rounding issue with dappkit tx gas estimation
  packages/mobile/src/dappkit/dappkit.ts
Owners: @cmcewen, @jmrossy

update to submit or confirm
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/MultiSig.ts
  packages/contractkit/src/wrappers/Reserve.ts
Owners: @timmoreton

Debug kubectl portforward kill
  .circleci/config.yml
  packages/celotool/bin/integration.sh
  packages/celotool/src/lib/port_forward.ts
Owners: @timmoreton

[Wallet] Fix rounding issue with dappkit tx gas estimation (#3050)
  packages/mobile/src/dappkit/dappkit.ts
Owners: @cmcewen, @jmrossy

Add real quotes Beautiful quote now handles fancy quoting itself, smaller citation sizes on alliance page,
  packages/web/public/static/locales/en/about.json
  packages/web/src/alliance/Main.tsx
  packages/web/src/shared/BeautifulQuote.tsx
Owners: @cmcewen, @aaronmgdr

set sizes directly
  packages/web/src/alliance/Affirmations.tsx
Owners: @cmcewen, @aaronmgdr

remove Insure
  packages/web/public/static/locales/en/alliance.json
  packages/web/src/alliance/CategoryEnum.ts
Owners: @cmcewen, @aaronmgdr

Debug kubectl portforward kill
  packages/celotool/src/lib/port_forward.ts
Owners: @timmoreton

add preserve and update desriptions
  packages/web/public/static/locales/en/alliance.json
  packages/web/src/alliance/CategoryEnum.ts
Owners: @cmcewen, @aaronmgdr

use cGLD is preferred to Celo Gold
  packages/web/public/static/locales/en/alliance.json
Owners: @cmcewen, @aaronmgdr

snapshot on track
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

create mobile specifc layout for affirmations. add bottom margin on all sizes
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/alliance/Affirmations.tsx
  packages/web/src/alliance/images/clabs-mobile.jpg
  packages/web/src/alliance/images/index.ts
  packages/web/src/alliance/images/laboratoria-mobile.jpg
  packages/web/src/alliance/images/wfp-mobile.jpg
Owners: @cmcewen, @aaronmgdr

fix hamburger being camoflaged within the blue banner.
  packages/web/src/header/Header.3.tsx
Owners: @cmcewen, @aaronmgdr

More adjustments
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Adding test framework for releasegold cli commands
  packages/cli/src/commands/account/authorize.ts
  packages/cli/src/commands/releasegold/authorize.test.ts
  packages/cli/src/commands/releasegold/authorize.ts
  packages/cli/src/commands/releasegold/gold.ts
  packages/cli/src/commands/releasegold/locked-gold.test.ts
  packages/cli/src/commands/releasegold/locked-gold.ts
  packages/cli/src/commands/releasegold/refund-and-finalize.test.ts
  packages/cli/src/commands/releasegold/withdraw.test.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
  packages/dev-utils/src/ganache-test.ts
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/scripts/truffle/releaseGoldContracts.json
Owners: @mcortesi, @asaj, @timmoreton, @m-chrzan

Fixing flaky tests
  packages/cli/src/commands/releasegold/authorize.test.ts
  packages/cli/src/commands/releasegold/withdraw.test.ts
Owners: @mcortesi, @asaj

first version working
  packages/metadata-crawler/src/crawler.ts
Owners: @timmoreton

Trying not exiting contract deployment with error always
  packages/celotool/src/lib/port_forward.ts
Owners: @timmoreton

Trying not exiting contract deployment with error always
  packages/celotool/src/lib/port_forward.ts
Owners: @timmoreton

Fix incorrect local amount conversions done for standby exchanges
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
Owners: @cmcewen, @jmrossy

Fix standby exchange amounts rounding
  packages/mobile/src/exchange/saga.ts
Owners: @cmcewen, @jmrossy

Add missing i18n keys
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
Owners: @cmcewen, @jmrossy

Remove logs that are now too verbose
  packages/mobile/src/utils/currencyExchange.ts
Owners: @cmcewen, @jmrossy

Fix i18n key
  packages/mobile/src/notifications/NotificationList.tsx
Owners: @cmcewen, @jmrossy

Migration by the guide
  packages/mobile/__mocks__/@react-native-firebase/dynamic-links.ts
  packages/mobile/__mocks__/react-native-firebase.ts
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/java/org/celo/mobile/MainApplication.java
  packages/mobile/index.js
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/jest.config.js
  packages/mobile/package.json
  packages/mobile/src/firebase/dynamicLinks.test.ts
  packages/mobile/src/firebase/dynamicLinks.ts
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/utils.test.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/utils/LogUploader.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Create common HeaderTitleWithBalance component
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/navigator/Headers.tsx
  packages/mobile/src/notifications/NotificationList.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
Owners: @cmcewen, @jmrossy

Debug kubectl portforward kill
  packages/celotool/bin/integration.sh
  packages/celotool/src/lib/port_forward.ts
Owners: @timmoreton

Update Send or request screen
  packages/mobile/src/navigator/Headers.tsx
  packages/mobile/src/send/SendAmount.test.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/__snapshots__/SendAmount.test.tsx.snap
Owners: @cmcewen, @jmrossy

nicer rainbow
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/alliance/Main.tsx
Owners: @cmcewen, @aaronmgdr

update latest dappkit version
  packages/docs/developer-resources/dappkit/setup.md
Owners: @timmoreton, @cla-bel

make apply button larger
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/alliance/SignupForm.test.tsx
  packages/web/src/alliance/SignupForm.tsx
Owners: @cmcewen, @aaronmgdr

remove duplicated file
  packages/web/public/normalize.css
  packages/web/public/static/normalize.css
Owners: @cmcewen, @aaronmgdr

update copy on BRand intro page
  packages/web/public/static/locales/en/brand.json
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/brandkit/Intro.tsx
Owners: @cmcewen, @aaronmgdr

updates package.json
  packages/utils/package.json
Owners: @jmrossy

updates test branch
  .circleci/config.yml
Owners: @timmoreton

update license and usage information
  packages/web/public/static/locales/en/brand.json
  packages/web/src/brandkit/common/CCLicense.tsx
Owners: @cmcewen, @aaronmgdr
