Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

three small but important fixes
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/community/connect/ArticlesSection.tsx
  packages/web/src/shared/VideoModal.tsx
Owners: @cmcewen, @aaronmgdr

[protocol] Add wrapper support for multisig Reserve spender and Gover… (#3023)
  packages/cli/src/commands/governance/approve.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/MultiSig.ts
  packages/contractkit/src/wrappers/Reserve.test.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/dev-utils/src/migration-override.json
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/classes/_contract_cache_.wrappercache.md
  packages/docs/developer-resources/contractkit/reference/classes/_web3_contract_cache_.web3contractcache.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.basewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_multisig_.multisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reserve_.reservewrapper.md
  packages/docs/developer-resources/contractkit/reference/enums/_base_.celocontract.md
  packages/docs/developer-resources/contractkit/reference/globals.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_reserve_.reserveconfig.md
  packages/docs/developer-resources/contractkit/reference/modules/_base_.md
  packages/docs/developer-resources/contractkit/reference/modules/_contract_cache_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_multisig_.md
  packages/protocol/runTests.js
  packages/protocol/scripts/build.ts
  packages/protocol/test/common/integration.ts
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel, @m-chrzan

[celocli] add reserve spender cli tooling, update governance approver tooling to be usable with and without multisig
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/reserve/transfergold.ts
Owners: @mcortesi, @asaj

Add more events
  packages/contractkit/src/explorer/assets.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
Owners: @timmoreton

timeline should be fully viewable with less scrolling.
  packages/web/src/home/roadmap/GoldStone.tsx
  packages/web/src/home/roadmap/Milestones.tsx
Owners: @cmcewen, @aaronmgdr

add docs
  packages/docs/command-line-interface/governance.md
  packages/docs/command-line-interface/reserve.md
Owners: @timmoreton, @cla-bel

minor edits
  packages/celotool/src/cmds/local_testnet.ts
Owners: @timmoreton

Reverting cleanup
  packages/cli/src/commands/account/authorize.ts
Owners: @mcortesi, @asaj

WIP on review
  packages/cli/src/commands/releasegold/authorize.ts
  packages/cli/src/commands/releasegold/locked-gold.ts
  packages/cli/src/commands/releasegold/refund-and-finalize.ts
  packages/cli/src/commands/releasegold/revoke-votes.ts
  packages/cli/src/commands/releasegold/revoke.ts
  packages/cli/src/commands/releasegold/set-beneficiary.ts
  packages/cli/src/commands/releasegold/transfer-dollars.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
Owners: @mcortesi, @asaj, @timmoreton

Updating readme to point to new twitter/medium URLs
  README.md
Owners: @timmoreton

added events
  packages/protocol/contracts/common/TransferWhitelist.sol
  packages/protocol/package.json
  packages/protocol/test/common/transferwhitelist.ts
Owners: @asaj, @m-chrzan

Revert "Try disabling patch status take 2"
  codecov.yml
Owners: @timmoreton

Support multiple env file in Xcode
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.test
  packages/mobile/ios/.gitignore
  packages/mobile/ios/GoogleService-Info.alfajores.plist.enc
  packages/mobile/ios/GoogleService-Info.dev.plist.enc
  packages/mobile/ios/GoogleService-Info.integration.plist.enc
  packages/mobile/ios/GoogleService-Info.pilot.plist.enc
  packages/mobile/ios/GoogleService-Info.plist.enc
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-alfajores.xcscheme
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-dev.xcscheme
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-integration.xcscheme
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-pilot.xcscheme
  packages/mobile/ios/celo/Info.plist
  packages/mobile/scripts/copy_google_service_plist.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/xcode_scheme_build_pre_action.sh
  scripts/key_placer.sh
Owners: @cmcewen, @jmrossy, @timmoreton

adding verifyDomainClaim to contractKit
  packages/contractkit/src/identity/claims/domain.test.ts
  packages/contractkit/src/identity/claims/verify.ts
Owners: @timmoreton

fix package.json
  packages/protocol/package.json
Owners: @asaj, @m-chrzan

removing unused imports
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Fix run_app script choking with env vars containing spaces
  packages/mobile/scripts/run_app.sh
Owners: @cmcewen, @jmrossy

Commit work in progress
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/contractkit/src/explorer/assets.ts
Owners: @timmoreton

Updating readme to point to new twitter/medium URLs (#3133)
  README.md
Owners: @timmoreton

Add fastlane lanes for iOS alfajores and pilot
  packages/mobile/fastlane/Fastfile
  packages/mobile/fastlane/README.md
Owners: @cmcewen, @jmrossy

Fix incorrect link
  packages/mobile/scripts/xcode_scheme_build_pre_action.sh
Owners: @cmcewen, @jmrossy

added examples with --multisig, corrected spelling error
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/reserve/transfergold.ts
Owners: @mcortesi, @asaj

upgraded errors
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/alliance/SignupForm.tsx
  packages/web/src/community/EcoFund.tsx
  packages/web/src/community/connect/FellowshipForm.tsx
  packages/web/src/forms/ErrorMessage.tsx
  packages/web/src/forms/FormComponents.tsx
  packages/web/src/forms/LabeledInput.test.tsx
  packages/web/src/forms/LabeledInput.tsx
Owners: @cmcewen, @aaronmgdr

Remove unused tvOS scheme
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-tvOS.xcscheme
Owners: @cmcewen, @jmrossy

[L13] Comments still refer to removed functions #406
  packages/protocol/contracts/common/FixidityLib.sol
Owners: @asaj, @m-chrzan

add input test
  packages/web/src/forms/LabeledInput.test.tsx
Owners: @cmcewen, @aaronmgdr

[L12] Division by zero possible in Exchange.sol
  packages/protocol/contracts/stability/Exchange.sol
Owners: @asaj, @m-chrzan

[Wallet] Use async support in react-native-tcp for connectIPC on Android (#3099)
  packages/mobile/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

resolve lint issues
  packages/protocol/contracts/common/FixidityLib.sol
Owners: @asaj, @m-chrzan

WIP review
  packages/cli/src/commands/releasegold/locked-gold.test.ts
  packages/cli/src/commands/releasegold/revoke.ts
  packages/cli/src/commands/releasegold/set-beneficiary.ts
  packages/cli/src/commands/releasegold/set-liquidity-provision.ts
  packages/cli/src/commands/releasegold/set-max-distribution.ts
  packages/cli/src/commands/releasegold/show.ts
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @mcortesi, @asaj, @m-chrzan

Add new recommendations to the vscode extensions
  .vscode/extensions.json
Owners: @timmoreton

time improve + refactor!
  packages/web/public/static/locales/en/home.json
  packages/web/src/home/Home.tsx
  packages/web/src/home/roadmap/GoldStone.tsx
  packages/web/src/home/roadmap/Milestones.tsx
  packages/web/src/home/roadmap/Timeline.tsx
  packages/web/src/home/roadmap/milestones.ts
  packages/web/src/shared/CoinHalfFull.tsx
  packages/web/src/shared/HollowOval.tsx
  packages/web/src/shared/TinyHollowCoin.tsx
  packages/web/src/styles.ts
Owners: @cmcewen, @aaronmgdr

snapity snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

add buenos aires
  packages/web/public/static/locales/en/home.json
Owners: @cmcewen, @aaronmgdr

updat cl link to have tracking
  packages/web/src/home/Home.test.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Switch wallet to use contractkit for all txs
  packages/contractkit/src/index.ts
  packages/contractkit/src/utils/tx-params-normalizer.ts
  packages/contractkit/src/wrappers/Escrow.ts
  packages/mobile/__mocks__/@celo/contractkit/index.ts
  packages/mobile/android/app/src/debug/res/xml/network_security_config.xml
  packages/mobile/src/dappkit/dappkit.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/exchange/saga.test.ts
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/fees/CalculateFee.tsx
  packages/mobile/src/fees/saga.test.ts
  packages/mobile/src/fees/saga.ts
  packages/mobile/src/goldToken/saga.ts
  packages/mobile/src/identity/commentKey.ts
  packages/mobile/src/identity/contactMapping.test.ts
  packages/mobile/src/identity/contactMapping.ts
  packages/mobile/src/identity/verification.test.ts
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/pincode/PincodeConfirmation.tsx
  packages/mobile/src/send/saga.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/stableToken/saga.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/actions.ts
  packages/mobile/src/transactions/contract-utils.ts
  packages/mobile/src/transactions/saga.ts
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/gas.test.ts
  packages/mobile/src/web3/gas.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/utils.ts
  packages/mobile/test/utils.ts
  packages/walletkit/src/contract-utils.ts
Owners: @timmoreton, @cmcewen, @jmrossy, @ashishb, @yerdua

Unused var
  packages/contractkit/src/utils/tx-params-normalizer.ts
Owners: @timmoreton

Update docs
  packages/docs/developer-resources/contractkit/reference/classes/_utils_tx_params_normalizer_.txparamsnormalizer.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_escrow_.escrowwrapper.md
Owners: @timmoreton, @cla-bel

Get e2e test running locally
  .circleci/config.yml
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/contractkit/src/explorer/assets.ts
  packages/contractkit/src/utils/web3-utils.ts
Owners: @timmoreton

WIP: add PincodeLock and upgrade react to 16.13.0
  packages/mobile/package.json
  packages/mobile/src/account/saga.test.ts
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/navigator/NavigatorWrapper.tsx
  packages/mobile/src/pincode/PhoneAuthUtils.android.ts
  packages/mobile/src/pincode/PhoneAuthUtils.d.ts
  packages/mobile/src/pincode/PhoneAuthUtils.ios.ts
  packages/mobile/src/pincode/Pincode.tsx
  packages/mobile/src/pincode/PincodeEducation.tsx
  packages/mobile/src/pincode/PincodeEnter.tsx
  packages/mobile/src/pincode/PincodeLock.tsx
  packages/mobile/src/pincode/PincodeSet.tsx
  packages/mobile/src/pincode/utils.ts
  packages/react-components/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
