Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

updating
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
  packages/protocol/test/governance/governance_slasher.ts
Owners: @asaj, @m-chrzan

using mock validator
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
  packages/protocol/test/governance/governance_slasher.ts
Owners: @asaj, @m-chrzan

lint
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
  packages/protocol/test/governance/governance_slasher.ts
Owners: @asaj, @m-chrzan

added test with migrated contracts
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/migrations/22_governance.ts
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
  packages/protocol/test/governance/governance_slasher.ts
Owners: @asaj, @m-chrzan

lint
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

add voting bot keys in config + migration overrides
  packages/celotool/src/lib/migration-utils.ts
  packages/protocol/migrations/20_elect_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @timmoreton, @asaj, @m-chrzan

Update react-native-tcp to fix fail to sync issue
  packages/mobile/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

keep track on which are the last blocks on each epoch that have been slashed
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

added more tests for ilnked list util
  packages/utils/src/address.ts
  packages/utils/src/collections.test.ts
  packages/utils/src/collections.ts
Owners: @jmrossy

lint
  packages/utils/src/collections.test.ts
  packages/utils/src/collections.ts
Owners: @jmrossy

[Wallet] Fix fail to sync issue (#2296)
  packages/mobile/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Remove type declaration
  packages/walletkit/tsconfig.json
  packages/walletkit/type-dec.d.ts
Owners: @ashishb, @yerdua

Upgrade web3 version in mobile, celotool, and walletkit (#2199)
  packages/celotool/src/cmds/geth/trace.ts
  packages/celotool/src/cmds/geth/transfer.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/transactions.ts
  packages/faucet/index.d.ts
  packages/faucet/src/protocol/signing-utils.ts
  packages/faucet/tsconfig.json
  packages/mobile/package.json
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/index.d.ts
  packages/mobile/src/web3/contracts.ts
  packages/protocol/index.d.ts
  packages/protocol/lib/signing-utils.ts
  packages/walletkit/package.json
  packages/walletkit/src/contract-utils-v2.ts
  packages/walletkit/src/contract-utils.ts
  packages/walletkit/src/index.d.ts
  packages/walletkit/src/new-web3-utils.ts
  packages/walletkit/src/transaction-utils.ts
  packages/walletkit/test/contract-utils-v2.test.ts
  yarn.lock
Owners: @timmoreton, @cmcewen, @jmrossy, @asaj, @m-chrzan, @ashishb, @yerdua

small fixes
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

Reduce number of `@ts-ignore` (#2294)
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
  packages/web/server/FellowshipApp.ts
  packages/web/src/about/Team.tsx
  packages/web/src/brandkit/common/Sidebar.tsx
  packages/web/src/community/EcoFund.tsx
  packages/web/src/community/connect/EventRow.tsx
  packages/web/src/community/connect/Events.tsx
  packages/web/src/community/connect/Tenets.tsx
  packages/web/src/dev/FullStack.tsx
  packages/web/src/forms/EmailSubscribeForm.tsx
  packages/web/src/forms/FormComponents.tsx
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/home/HomeCarousel.tsx
  packages/web/src/home/TextAnimation.tsx
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/AspectRatio.tsx
  packages/web/src/shared/DropDown.tsx
  packages/web/src/shared/ResponsiveImage.tsx
  packages/web/src/shared/navigation.tsx
  packages/web/src/utils/utils.ts
  packages/web/tsconfig.json
Owners: @cmcewen, @aaronmgdr

Typo
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Adding groupMembershipInEpoch fn and associated tests.
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Addressing review, maybe need to move tests to e2e
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Fixing bug in logic and adding associated tests
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Fixing some bugs in validator contract, need to assess efficiency
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

Removing unneccessary asyncs
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Fixing tests
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Parking changes
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Style fixes and more comments
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Removing redundant tests
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

refining tests and merging'
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Removing unnecessary null check
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Use enum in mockdata and remove phone number
  packages/mobile/src/apollo/__mockData__.ts
  packages/utils/src/phoneNumbers.ts
Owners: @cmcewen, @jmrossy

changed getting the slashed group
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/contracts/governance/test/TestDoubleSigningSlasher.sol
  packages/protocol/contracts/governance/test/TestDowntimeSlasher.sol
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Upload bootnode info & use in docs instead of static nodes (#2289)
  packages/celotool/src/cmds/deploy/initial/testnet.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/terraform-modules/testnet/outputs.tf
Owners: @timmoreton, @cla-bel, @tkporter

Adding extra test
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Add --rm flag to one time container runs (#2291)
  packages/docs/getting-started/faucet.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Add canvas mock for canvas uses Use jsdom instead of node env
  packages/web/__mocks__/react-lazyload-fadein.ts
  packages/web/__mocks__/react-modal.tsx
  packages/web/jest.config.js
  packages/web/package.json
  packages/web/pages/__snapshots__/about.test.tsx.snap
  packages/web/pages/__snapshots__/faq.test.tsx.snap
  packages/web/pages/__snapshots__/user-agreement.test.tsx.snap
  packages/web/pages/about.test.tsx
  packages/web/pages/build/__snapshots__/faucet.test.tsx.snap
  packages/web/pages/build/__snapshots__/index.test.tsx.snap
  packages/web/pages/build/__snapshots__/wallet.test.tsx.snap
  packages/web/pages/build/faucet.test.tsx
  packages/web/pages/build/wallet.test.tsx
  packages/web/pages/stake-off/__snapshots__/terms.test.tsx.snap
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Whoops
  packages/cli/src/commands/validator/status.ts
Owners: @mcortesi, @asaj

correct epoch numbers
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

remove npm install tests
  .circleci/config.yml
Owners: @timmoreton

Add snapshots for brand kit
  packages/web/__mocks__/next/router.tsx
  packages/web/__mocks__/nuka-carousel.tsx
  packages/web/jestSetup.js
  packages/web/pages/__snapshots__/_error.test.tsx.snap
  packages/web/pages/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/pages/__snapshots__/community.test.tsx.snap
  packages/web/pages/__snapshots__/index.test.tsx.snap
  packages/web/pages/__snapshots__/jobs.test.tsx.snap
  packages/web/pages/__snapshots__/past-events.test.tsx.snap
  packages/web/pages/_error.test.tsx
  packages/web/pages/animation/__snapshots__/rise.test.tsx.snap
  packages/web/pages/animation/rise.test.tsx
  packages/web/pages/code-of-conduct.test.tsx
  packages/web/pages/community.test.tsx
  packages/web/pages/experience/brand/__snapshots__/color.test.tsx.snap
  packages/web/pages/experience/brand/__snapshots__/icons.test.tsx.snap
  packages/web/pages/experience/brand/__snapshots__/index.test.tsx.snap
  packages/web/pages/experience/brand/__snapshots__/logo.test.tsx.snap
  packages/web/pages/experience/brand/__snapshots__/typography.test.tsx.snap
  packages/web/pages/experience/brand/icons.test.tsx
  packages/web/pages/experience/brand/index.test.tsx
  packages/web/pages/experience/brand/logo.test.tsx
  packages/web/pages/experience/brand/typography.test.tsx
  packages/web/pages/index.test.tsx
  packages/web/pages/jobs.test.tsx
  packages/web/pages/past-events.test.tsx
  packages/web/src/brandkit/common/SectionTitle.tsx
  packages/web/src/carousel/PagingDots.tsx
  packages/web/src/community/connect/Contribute.tsx
  packages/web/src/home/carousel/CarouselDot.tsx
  packages/web/src/shared/Spinner.tsx
  packages/web/src/shared/navigation.tsx
Owners: @cmcewen, @aaronmgdr

Clean up
  packages/web/__mocks__/react-modal.tsx
  packages/web/src/carousel/PagingDots.tsx
Owners: @cmcewen, @aaronmgdr

Cleaning up and mocking
  packages/web/jestSetup.js
  packages/web/package.json
  packages/web/src/brandkit/tests/Showcase.test.tsx
  packages/web/src/brandkit/tests/__snapshots__/Showcase.test.tsx.snap
  packages/web/src/community/connect/FullCircle.tsx
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Quick note on exposing port 80 inside the attestations section of docs
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
