Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Fix
  packages/protocol/contracts/governance/ReleaseGold.sol
Owners: @asaj, @m-chrzan

Adds frozen transfer tests
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/dev-utils/src/migration-override.json
  packages/docs/developer-resources/contractkit/reference/classes/_web3_contract_cache_.web3contractcache.md
  packages/docs/developer-resources/contractkit/reference/enums/_base_.celocontract.md
  packages/docs/developer-resources/contractkit/reference/modules/_base_.md
  packages/protocol/contracts/common/Freezer.sol
  packages/protocol/migrations/04_goldtoken.ts
  packages/protocol/scripts/build.ts
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

Fix attestation stable token overlook
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

Adding critical features for ReleaseGold contract (#3030)
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/stability/test/MockStableToken.sol
  packages/protocol/test/governance/release_gold.ts
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

Fixes and wip
  .env.baklavastaging
  .env.scenario2
  packages/azure/template.json
  packages/celotool/bin/integration.sh
  packages/celotool/src/cmds/deploy/migrate/blockscout.ts
  packages/celotool/src/cmds/deploy/upgrade/blockscout.ts
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-migration.job.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
  packages/helm-charts/blockscout/values.yaml
  packages/helm-charts/chaos-mesh/README.md
  packages/helm-charts/chaos-mesh/templates/post-install-webhook-job.yaml
  packages/helm-charts/chaos-mesh/templates/webhook-configuration.yaml
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/variables.tf
Owners: @timmoreton, @nambrot, @tkporter

Removed unused variable
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/variables.tf
Owners: @tkporter

Fix blockscout upgrade&migrate commands. Added new parameter for dropping DB
  packages/celotool/src/cmds/deploy/migrate/blockscout.ts
  packages/celotool/src/cmds/deploy/upgrade/blockscout.ts
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/cluster.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
  packages/helm-charts/blockscout/templates/blockscout-migration.job.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.deployment.yaml
  packages/helm-charts/blockscout/values.yaml
Owners: @timmoreton, @nambrot

Using dbSuffix
  packages/celotool/src/cmds/deploy/destroy/blockscout.ts
  packages/celotool/src/cmds/deploy/initial/blockscout.ts
  packages/celotool/src/cmds/deploy/migrate/blockscout.ts
  packages/celotool/src/cmds/deploy/upgrade/blockscout.ts
Owners: @timmoreton

Only create db when needed
  packages/helm-charts/blockscout/templates/blockscout-migration.job.yaml
Owners: @nambrot, @timmoreton

Remove unused component
  packages/mobile/src/send/Fee.tsx
Owners: @cmcewen, @jmrossy

Use CurrencyDisplay in ImportWalletEmpty
  packages/mobile/src/import/ImportWalletEmpty.tsx
  packages/mobile/src/import/__snapshots__/ImportWalletEmpty.test.tsx.snap
Owners: @cmcewen, @jmrossy

saving this test here
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/migrations/25_elect_validators.ts
  packages/protocol/runTests.js
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

adding integration test
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Use CurrencyDisplay in TransferReviewCard
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/components/LineItemRow.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
Owners: @cmcewen, @jmrossy

Use CurrencyDisplay in PaymentRequestReviewCard
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/paymentRequest/PaymentRequestReviewCard.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
Owners: @cmcewen, @jmrossy

Implement PIN protection in Forno mode
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/app/selectors.ts
  packages/mobile/src/pincode/PincodeEnter.tsx
Owners: @cmcewen, @jmrossy

Address the comments
  packages/mobile/src/app/saga.ts
  packages/mobile/src/navigator/NavigationService.ts
Owners: @cmcewen, @jmrossy

Fix yarn build
  packages/mobile/src/account/Account.tsx
Owners: @cmcewen, @jmrossy

Use CurrencyDisplay in screens related to reclaiming escrow
  packages/mobile/locales/en-US/inviteFlow11.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/escrow/EscrowedPaymentListItem.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationCard.tsx
  packages/react-components/components/BaseNotification.tsx
Owners: @cmcewen, @jmrossy

Use CurrencyDisplay for faucet drilldown
  packages/mobile/locales/en-US/receiveFlow8.json
  packages/mobile/locales/es-419/receiveFlow8.json
  packages/mobile/src/send/TransferConfirmationCard.tsx
Owners: @cmcewen, @jmrossy

Add e2e test for carbon offsetting fund awards
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Use CurrencyDisplay in SendAmount
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/react-components/components/LoadingLabel.tsx
Owners: @cmcewen, @jmrossy

Remove obsolete MoneyAmount component
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/react-components/components/MoneyAmount.tsx
Owners: @cmcewen, @jmrossy

Use CurrencyDisplay in ExchangeConfirmationCard
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
Owners: @cmcewen, @jmrossy

Update snapshots
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationCard.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/CeloGoldOverview.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
  packages/mobile/src/import/__snapshots__/ImportWalletEmpty.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestConfirmation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/SendAmount.test.tsx.snap
  packages/mobile/src/send/__snapshots__/SendConfirmation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
Owners: @cmcewen, @jmrossy

Show negative balance amounts in red in SendAmount
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/__snapshots__/SendAmount.test.tsx.snap
Owners: @cmcewen, @jmrossy

added support to set ELECTION_MAX_VALIDATORS in a testnet
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/migration-utils.ts
Owners: @timmoreton

Election fixes (#3033)
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/migrations/25_elect_validators.ts
  packages/protocol/runTests.js
  packages/protocol/test/common/heap.ts
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

switches celo-blockchain branch used in CI e2e tests back to master
  .circleci/config.yml
Owners: @timmoreton

switches fee currency
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

added support to set ELECTION_MAX_VALIDATORS in a testnet (#3034)
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/migration-utils.ts
Owners: @timmoreton

Adds e2e tests for layer 1 gold transfer freezing (#3011)
  .circleci/config.yml
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/contractkit/src/base.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/dev-utils/src/migration-override.json
  packages/docs/developer-resources/contractkit/reference/classes/_web3_contract_cache_.web3contractcache.md
  packages/docs/developer-resources/contractkit/reference/enums/_base_.celocontract.md
  packages/docs/developer-resources/contractkit/reference/modules/_base_.md
  packages/protocol/contracts/common/Freezer.sol
  packages/protocol/migrations/04_goldtoken.ts
  packages/protocol/scripts/build.ts
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

Send Data from form to Airtable and the CRM.
  packages/web/pages/api/alliance.ts
  packages/web/server/Alliance.ts
  packages/web/server/index.ts
  packages/web/src/alliance/AllianceMember.ts
  packages/web/src/alliance/SignupForm.tsx
Owners: @cmcewen, @aaronmgdr

tighten up menu space so alliance fits
  packages/web/src/header/Header.3.tsx
Owners: @cmcewen, @aaronmgdr

add urls for reports
  packages/web/src/alliance/Affirmations.tsx
Owners: @cmcewen, @aaronmgdr

Addressing expiration of registered validators or groups
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Addressing expiration of registered validators or groups (#3036)
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

set logo width drynamically
  packages/web/server/airtable.ts
  packages/web/src/alliance/AllianceMember.ts
  packages/web/src/alliance/Members.tsx
Owners: @cmcewen, @aaronmgdr

woo variable width images
  packages/web/server/Alliance.ts
  packages/web/src/alliance/AllianceMember.ts
  packages/web/src/alliance/Members.tsx
  packages/web/src/shared/Outbound.tsx
Owners: @cmcewen, @aaronmgdr

Add carbon offsetting fund (#3029)
  .circleci/config.yml
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
Owners: @timmoreton, @asaj, @m-chrzan
