Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Fix specs repo
  packages/mobile/ios/Podfile.lock
Owners: @cmcewen, @jmrossy

reword string to clarify tone in spanish
  packages/mobile/locales/es-419/nuxNamePin1.json
Owners: @cmcewen, @jmrossy

update in one more place
  packages/mobile/locales/es-419/sendFlow7.json
Owners: @cmcewen, @jmrossy

reword strings to clarify tone in spanish (#2724)
  packages/mobile/locales/es-419/nuxNamePin1.json
  packages/mobile/locales/es-419/sendFlow7.json
Owners: @cmcewen, @jmrossy

[Wallet] Add funds with Moonpay widget (#2710)
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/FiatExchange.test.tsx
  packages/mobile/src/account/FiatExchange.tsx
  packages/mobile/src/account/__snapshots__/FiatExchange.test.tsx.snap
  packages/mobile/src/flags.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Owners: @cmcewen, @jmrossy

First attempt at internal nodes on vm testnet
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/oracle.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules/testnet/modules/validator/variables.tf
  packages/terraform-modules/testnet/variables.tf
Owners: @timmoreton, @tkporter

Make Detox init issues easier to throubleshoot
  packages/mobile/e2e/init.js
  packages/mobile/e2e/utils.js
Owners: @cmcewen, @jmrossy

Improve troubleshooting steps
  packages/mobile/e2e/init.js
Owners: @cmcewen, @jmrossy

Add meaningful command description
  .circleci/config.yml
Owners: @timmoreton

Re-enable other steps
  .circleci/config.yml
Owners: @timmoreton

Typo
  packages/mobile/scripts/run_e2e.sh
Owners: @cmcewen, @jmrossy

Link issue about multiple versions of victory-core included by victory-native
  packages/mobile/src/setupE2eEnv.e2e.ts
Owners: @cmcewen, @jmrossy

Revert "Removes EpochData (#2361)"
  packages/celotool/src/lib/generate_utils.ts
  packages/docs/package.json
  yarn.lock
Owners: @timmoreton, @cla-bel

Removing factory migration, will replace with script after chain init .
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldInstance.sol
  packages/protocol/contracts/governance/proxies/ReleaseGoldFactoryProxy.sol
  packages/protocol/migrations/11_lockedgold.ts
  packages/protocol/migrations/11_release_gold_factory.ts
  packages/protocol/migrations/12_validators.ts
  packages/protocol/migrations/13_election.ts
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrations/15_random.ts
  packages/protocol/migrations/16_attestations.ts
  packages/protocol/migrations/17_escrow.ts
  packages/protocol/migrations/18_blockchainparams.ts
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/scripts/build.ts
Owners: @asaj, @m-chrzan

Fixing formatting error
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

More fixes
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

Add optional setup step detailing how to use community-sourced full node peers
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Testing change
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

some more options for rewards:show
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

adjust migrations upgrade target in test:reset
  packages/cli/package.json
  packages/contractkit/package.json
Owners: @mcortesi, @asaj, @timmoreton

fixing affiliation handling
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

Fixing migration tests
  packages/cli/package.json
  packages/contractkit/package.json
Owners: @mcortesi, @asaj, @timmoreton

Withdraw changes
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

Change `C-Labs || C Labs` to `cLabs` Fixes https://github.com/celo-org/celo-labs/issues/252
  packages/docs/celo-codebase/protocol/privacy.md
  packages/docs/getting-started/glossary.md
  packages/docs/getting-started/running-a-validator.md
  packages/terraform-modules/testnet/README.md
  packages/web/public/static/locales/en/codeofconduct.json
  packages/web/public/static/locales/en/common.json
  packages/web/src/community/connect/FellowViewer.tsx
  packages/web/src/terms/StakeOffTerms.tsx
  scripts/key_placer.sh
Owners: @timmoreton, @cla-bel, @tkporter, @cmcewen, @aaronmgdr

adjust migration numbers in e2e tests
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
Owners: @timmoreton

Add docs about securing nodes and services
  packages/docs/SUMMARY.md
  packages/docs/operations-manual/securing-nodes-and-services.md
Owners: @timmoreton, @cla-bel

Testing total change
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

📸 clabs
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Style
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

Reverting bad change
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

Add token transfers
  packages/protocol/governanceConstitution.js
Owners: @asaj, @m-chrzan

add a comma
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
Owners: @timmoreton

retarget e2e tests to 1.9 brach
  .circleci/config.yml
Owners: @timmoreton

Reverting
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

add epoch data
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Revert "retarget e2e tests to 1.9 brach"
  .circleci/config.yml
Owners: @timmoreton

initial work
  packages/contractkit/package.json
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/tsconfig.json
  packages/contractkit/types/web3.d.ts
Owners: @timmoreton

Add auth package
  packages/auth/.env.enc
  packages/auth/.firebaserc
  packages/auth/.gitignore
  packages/auth/README.md
  packages/auth/firebase.json
  packages/auth/package.json
  packages/auth/src/config.ts
  packages/auth/src/index.ts
  packages/auth/tsconfig.json
  packages/auth/tslint.json
  packages/auth/yarn.lock
  scripts/key_placer.sh
  yarn.lock
Owners: @timmoreton

[contractKit] PR fixes
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/contractkit/package.json
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/missing-tx-params-populator.test.ts
  packages/contractkit/src/utils/missing-tx-params-populator.ts
  packages/contractkit/src/utils/provider-utils.ts
  packages/contractkit/src/utils/rpc-caller.test.ts
  packages/contractkit/src/utils/rpc-caller.ts
  packages/contractkit/src/utils/wallet.test.ts
  packages/contractkit/src/utils/wallet.ts
  packages/utils/src/address.ts
Owners: @timmoreton, @jmrossy

Add readmne
  packages/auth/README.md
Owners: @timmoreton
