Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

added a helpful message
  packages/cli/src/utils/helpers.ts
Owners: @mcortesi, @asaj

changed params from address to 'wei'
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
  packages/cli/src/utils/command.ts
Owners: @mcortesi, @asaj

added checking for attestations
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

cleaner numbers
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

try to fix e2e tests
  packages/celotool/src/e2e-tests/attestations_tests.ts
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/celotool/src/helpers/add_local_geth.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

proxy wip
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
Owners: @timmoreton

Update Podfile.lock
  packages/mobile/ios/Podfile.lock
Owners: @cmcewen, @jmrossy

[Wallet] Add env setting to control persisting nav state
  packages/mobile/.env
  packages/mobile/src/config.ts
  packages/mobile/src/navigator/NavigatorWrapper.tsx
Owners: @cmcewen, @jmrossy

Verifier release build and remove some unused env variables (#1649)
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.integration
  .env.integrationtesting
  .env.pilot
  .env.pilotstaging
  packages/celotool/src/lib/env-utils.ts
  packages/mobile/android/app/src/pilot/res/values/strings.xml
  packages/mobile/src/config.ts
  packages/verifier/.env
  packages/verifier/.env.integration
  packages/verifier/.env.production
  packages/verifier/.env.staging
  packages/verifier/android/app/build.gradle
  packages/verifier/android/app/src/debug/AndroidManifest.xml
  packages/verifier/src/utils/config.ts
Owners: @timmoreton, @cmcewen, @jmrossy

Add comment and fix build error
  packages/mobile/.env
  packages/mobile/src/config.ts
Owners: @cmcewen, @jmrossy

Fix cancel button position on iOS
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
Owners: @cmcewen, @jmrossy

fixing to run a full node
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

[Wallet] Add env setting to control persisting nav state (#2127)
  packages/mobile/.env
  packages/mobile/src/config.ts
  packages/mobile/src/navigator/NavigatorWrapper.tsx
Owners: @cmcewen, @jmrossy

updated documentation
  packages/cli/src/utils/command.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/exchange.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

[Wallet] Fix cancel button position on some verification screens on iOS (#2128)
  packages/mobile/ios/Podfile.lock
  packages/mobile/src/verify/VerificationInputScreen.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
Owners: @cmcewen, @jmrossy

Upgrade app version to 1.5.2 Fix minor style issues with paste button and exchange confirmation
  packages/mobile/.env
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/package.json
  packages/mobile/scripts/pre-deploy.sh
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/recipients/RecipientPicker.tsx
Owners: @cmcewen, @jmrossy

Update snapshot
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
Owners: @cmcewen, @jmrossy

[Wallet] Upgrade app version to 1.5.2 (#2131)
  packages/mobile/.env
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/package.json
  packages/mobile/scripts/pre-deploy.sh
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/recipients/RecipientPicker.tsx
Owners: @cmcewen, @jmrossy

Store exchange rate under pair so we can query only a specific pair for a given time range
  packages/notification-service/src/firebase.ts
Owners: @annakaz, @cmcewen

Mock contractkit to speed up jest tests
  packages/notification-service/__mocks__/@celo/contractkit.ts
Owners: @annakaz, @cmcewen

Fix key name
  packages/notification-service/src/firebase.ts
Owners: @annakaz, @cmcewen

beginning of the voting bot cronjob and celotool command
  packages/celotool/src/cmds/bots/auto-verify.ts
  packages/celotool/src/cmds/bots/voting.ts
  packages/helm-charts/voting-bot/Chart.yaml
  packages/helm-charts/voting-bot/voting-bot.cronjob.yaml
  packages/helm-charts/voting-bot/voting-bot.secret.yaml
Owners: @timmoreton, @nambrot

Redirect for stake off
  packages/web/server/index.ts
Owners: @cmcewen, @aaronmgdr

Deploy to integration (#2074)
  .env.integration
Owners: @timmoreton

Use vanity docker image (#2091)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Update glossary.md (#1949)
  packages/docs/getting-started/glossary.md
Owners: @timmoreton, @cla-bel

It removes the unused download function and moves the BLS and POS creation to the accounts function. (#2059)
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

README emojis contribute links (#1970)
  README.md
Owners: @timmoreton

Deploy CLI 0.0.30-beta9 and ContractKit 0.2.7 (#2114)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/contractkit/src/identity/claims/account.test.ts
  packages/contractkit/src/identity/claims/account.ts
  packages/mobile/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy

extend validator ssh script
  packages/celotool/src/cmds/restart-vm-validators.ts
  packages/celotool/src/cmds/validators-exec.ts
Owners: @timmoreton

governance test passes
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

Fix number bleeding on leaderboard axis on mobile
  packages/web/src/dev/LeaderBoard.tsx
Owners: @cmcewen, @aaronmgdr

WIP
  packages/mobile/src/exchange/saga.ts
Owners: @cmcewen, @jmrossy

Bump blockscout indexer memory + CPU
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
Owners: @nambrot, @timmoreton

Lower memory
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
Owners: @nambrot, @timmoreton

Rename buy screen to trade screen
  packages/mobile/src/exchange/ExchangeBuyScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Owners: @cmcewen, @jmrossy

Add forEachEpochAsync
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

some finetuning
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

WIP found contractkit bug
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/navigator/Navigator.tsx
Owners: @cmcewen, @jmrossy

remove comment
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
