Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Align text vertically to top only when multiline is true
  packages/mobile/src/account/__snapshots__/EditProfile.test.tsx.snap
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/components/__snapshots__/CodeRow.test.tsx.snap
  packages/mobile/src/invite/__snapshots__/EnterInviteCode.test.tsx.snap
  packages/mobile/src/invite/__snapshots__/JoinCelo.test.tsx.snap
  packages/mobile/src/send/__snapshots__/SendAmount.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/react-components/components/TextInput.tsx
  packages/react-components/components/__snapshots__/PhoneNumberInput.test.tsx.snap
Owners: @cmcewen, @jmrossy

Updating scripts to add functionality
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

Updating script
  packages/cli/package.json
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/devchain.ts
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/scripts/truffle/releaseGoldDefaultContracts.json
Owners: @mcortesi, @asaj, @m-chrzan

three small but important fixes (#3131)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/community/connect/ArticlesSection.tsx
  packages/web/src/shared/VideoModal.tsx
Owners: @cmcewen, @aaronmgdr

Fix verifier tests
  packages/verifier/src/components/__snapshots__/PhoneNumberInput.test.tsx.snap
Owners: @jmrossy, @cmcewen

Addressign review, still flaky tests
  packages/cli/package.json
  packages/cli/src/commands/releasegold/authorize.test.ts
  packages/cli/src/commands/releasegold/locked-gold.test.ts
  packages/cli/src/commands/releasegold/refund-and-finalize.test.ts
  packages/cli/src/commands/releasegold/revoke.ts
  packages/cli/src/commands/releasegold/set-liquidity-provision.ts
  packages/cli/src/commands/releasegold/set-max-distribution.ts
  packages/cli/src/commands/releasegold/withdraw.test.ts
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/scripts/truffle/releaseGoldDefaultContracts.json
Owners: @mcortesi, @asaj, @m-chrzan

Lint
  packages/docs/SUMMARY.md
  packages/docs/command-line-interface/releasegold.md
  packages/docs/developer-resources/contractkit/reference/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_releasegold_.releasegoldwrapper.md
  packages/docs/developer-resources/contractkit/reference/globals.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_releasegold_.balancestate.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_releasegold_.releasegoldinfo.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_releasegold_.releaseschedule.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_releasegold_.revocationinfo.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_releasegold_.md
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

Fix e2e test
  packages/mobile/.env.test
  packages/mobile/package.json
Owners: @cmcewen, @jmrossy

Rename generated config tmp.xcconfig -> env.xcconfig
  packages/mobile/ios/.gitignore
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/scripts/xcode_scheme_build_pre_action.sh
Owners: @cmcewen, @jmrossy

Fix missing google service plist for CI build
  .circleci/config.yml
Owners: @timmoreton

last changes
  packages/cli/src/commands/identity/test-domain-claim.ts
  packages/contractkit/src/identity/claims/verify.ts
Owners: @mcortesi, @asaj, @timmoreton

[Wallet] Fix vertical alignment of text in inputs (#3149)
  packages/mobile/src/account/__snapshots__/EditProfile.test.tsx.snap
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/components/__snapshots__/CodeRow.test.tsx.snap
  packages/mobile/src/invite/__snapshots__/EnterInviteCode.test.tsx.snap
  packages/mobile/src/invite/__snapshots__/JoinCelo.test.tsx.snap
  packages/mobile/src/send/__snapshots__/SendAmount.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/react-components/components/TextInput.tsx
  packages/react-components/components/__snapshots__/PhoneNumberInput.test.tsx.snap
  packages/verifier/src/components/__snapshots__/PhoneNumberInput.test.tsx.snap
Owners: @cmcewen, @jmrossy

wiring cli and contractKit + testing
  packages/contractkit/src/identity/claims/domain.test.ts
  packages/contractkit/src/identity/claims/verify.ts
Owners: @timmoreton

fixing hardcoded path
  packages/transaction-metrics-exporter/package.json
Owners: @nambrot

forgot to commit yarn.lock
  yarn.lock
Owners: @timmoreton

Add new recommendations to the vscode extensions (#3145)
  .vscode/extensions.json
Owners: @timmoreton

fixing prettier issues
  packages/contractkit/src/wrappers/Reserve.ts
  packages/transaction-metrics-exporter/src/index.ts
Owners: @timmoreton, @nambrot

Flaky
  packages/cli/src/commands/releasegold/authorize.test.ts
  packages/cli/src/commands/releasegold/locked-gold.test.ts
  packages/cli/src/commands/releasegold/refund-and-finalize.test.ts
  packages/cli/src/commands/releasegold/withdraw.test.ts
Owners: @mcortesi, @asaj

[Wallet] iOS multi env support + fastlane deployments (#3140)
  .circleci/config.yml
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.test
  packages/mobile/fastlane/Fastfile
  packages/mobile/fastlane/README.md
  packages/mobile/ios/.gitignore
  packages/mobile/ios/GoogleService-Info.alfajores.plist.enc
  packages/mobile/ios/GoogleService-Info.dev.plist.enc
  packages/mobile/ios/GoogleService-Info.integration.plist.enc
  packages/mobile/ios/GoogleService-Info.pilot.plist.enc
  packages/mobile/ios/GoogleService-Info.plist.enc
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-alfajores.xcscheme
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-dev.xcscheme
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-integration.xcscheme
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-pilot.xcscheme
  packages/mobile/ios/celo/Info.plist
  packages/mobile/package.json
  packages/mobile/scripts/copy_google_service_plist.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/xcode_scheme_build_pre_action.sh
  scripts/key_placer.sh
Owners: @timmoreton, @cmcewen, @jmrossy

fixing linting
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @nambrot

First implementation of multiple threads for load test client
  packages/celotool/src/cmds/deploy/initial/load-test.ts
  packages/celotool/src/cmds/deploy/upgrade/load-test.ts
  packages/celotool/src/cmds/geth/simulate_client.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/load-test.ts
  packages/helm-charts/load-test/templates/load-test.statefulset.yaml
Owners: @timmoreton, @nambrot

New index for loadtest clients
  packages/celotool/src/cmds/geth/simulate_client.ts
Owners: @timmoreton

[Wallet] iOS multi env support + fastlane deployments (#3140)
  .circleci/config.yml
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.test
  packages/mobile/fastlane/Fastfile
  packages/mobile/fastlane/README.md
  packages/mobile/ios/.gitignore
  packages/mobile/ios/GoogleService-Info.alfajores.plist.enc
  packages/mobile/ios/GoogleService-Info.dev.plist.enc
  packages/mobile/ios/GoogleService-Info.integration.plist.enc
  packages/mobile/ios/GoogleService-Info.pilot.plist.enc
  packages/mobile/ios/GoogleService-Info.plist.enc
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-alfajores.xcscheme
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-dev.xcscheme
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-integration.xcscheme
  packages/mobile/ios/celo.xcodeproj/xcshareddata/xcschemes/celo-pilot.xcscheme
  packages/mobile/ios/celo/Info.plist
  packages/mobile/package.json
  packages/mobile/scripts/copy_google_service_plist.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/xcode_scheme_build_pre_action.sh
  scripts/key_placer.sh
Owners: @timmoreton, @cmcewen, @jmrossy

Adding one more improvement
  packages/cli/src/commands/releasegold/withdraw.test.ts
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @mcortesi, @asaj, @m-chrzan

Removing unnecessary changes
  packages/cli/src/commands/releasegold/authorize.test.ts
  packages/cli/src/commands/releasegold/locked-gold.test.ts
  packages/cli/src/commands/releasegold/withdraw.test.ts
Owners: @mcortesi, @asaj

fixed checks, created conditional run check, made blockchain client request conditional based on useMultiSig, added test for reserve spender
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/reserve/transfergold.test.ts
  packages/cli/src/commands/reserve/transfergold.ts
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

docs
  packages/docs/command-line-interface/governance.md
  packages/docs/command-line-interface/reserve.md
Owners: @timmoreton, @cla-bel

lint
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

update to use maxNewFixed in place of maxFixedDividend, fix typo
  packages/protocol/contracts/common/FixidityLib.sol
Owners: @asaj, @m-chrzan

fixed lint issues
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/reserve/transfergold.ts
Owners: @mcortesi, @asaj

updated error message to reflect > 0
  packages/protocol/contracts/stability/Exchange.sol
Owners: @asaj, @m-chrzan

Changing default->example
  packages/cli/package.json
  packages/protocol/scripts/truffle/releaseGoldExampleConfigs.json
Owners: @mcortesi, @asaj, @m-chrzan

review with taylor
  packages/web/public/static/locales/en/home.json
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/roadmap/GoldStone.tsx
  packages/web/src/home/roadmap/Timeline.tsx
  packages/web/src/home/roadmap/milestones.ts
  packages/web/src/styles.ts
Owners: @cmcewen, @aaronmgdr

Adding various RG improvements
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

some self review. no magic numbers memoize that component
  packages/web/src/home/roadmap/GoldStone.tsx
  packages/web/src/home/roadmap/Timeline.tsx
Owners: @cmcewen, @aaronmgdr

lint
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

aarons guerilla edits
  packages/web/public/static/locales/en/home.json
  packages/web/src/home/roadmap/GoldStone.tsx
Owners: @cmcewen, @aaronmgdr

correction
  packages/web/public/static/locales/en/home.json
Owners: @cmcewen, @aaronmgdr

Move legend to top on mobile
  packages/web/src/home/roadmap/Timeline.tsx
Owners: @cmcewen, @aaronmgdr

eth
  packages/web/public/static/locales/en/home.json
Owners: @cmcewen, @aaronmgdr
