Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Line length
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

Adding releasegold proxy
  packages/celotool/src/lib/helm_deploy.ts
  packages/protocol/contracts/governance/proxies/ReleaseGoldProxy.sol
Owners: @timmoreton, @asaj, @m-chrzan

[L13] Fraction reduction is not applied in all methods (#2890)
  packages/protocol/contracts/common/FractionUtil.sol
  packages/protocol/contracts/common/test/FractionUtilTest.sol
  packages/protocol/contracts/stability/Exchange.sol
Owners: @asaj, @m-chrzan

[N08] Trust assumptions on hotfixes (#2898)
  packages/docs/celo-codebase/protocol/governance.md
Owners: @timmoreton, @cla-bel

Fix
  packages/protocol/contracts/common/GoldToken.sol
Owners: @asaj, @m-chrzan

Sets governance thresholds during migration (#2871)
  packages/protocol/governanceConstitution.js
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

Oops
  packages/protocol/contracts/common/GoldToken.sol
Owners: @asaj, @m-chrzan

oops 2, oopsier
  packages/protocol/contracts/common/GoldToken.sol
Owners: @asaj, @m-chrzan

Require validator was registered with group for rewards
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

Fix
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

prettify
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Lint
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

Oops
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Update docs
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_sortedoracles_.sortedoracleswrapper.md
Owners: @timmoreton, @cla-bel

Update gas cost
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

Allow specifying different requirement for internal multisig txs (#2883)
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/test/common/multisig.ts
Owners: @asaj, @m-chrzan

Fix PIN entering screen, when account is not created yet
  packages/mobile/src/pincode/PincodeConfirmation.tsx
Owners: @cmcewen, @jmrossy

Changing to using minimum value rather than throwing assert
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/test/governance/double_signing_slasher.ts
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

[cli] Validator group reorder to first place (#2914)
  packages/cli/src/commands/validatorgroup/member.ts
Owners: @mcortesi, @asaj

Update packages/cli/src/utils/checks.ts
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

Update packages/cli/src/utils/checks.ts
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

updated docs
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
Owners: @timmoreton, @cla-bel

[N22] Not using EIP 1967: Standard Proxy Storage Slots (#2904)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/protocol/contracts/common/Proxy.sol
Owners: @timmoreton, @asaj, @m-chrzan

optimize, fix bug
  packages/protocol/contracts/identity/Attestations.sol
Owners: @asaj, @m-chrzan

Unlock: adding a check whether account is voting (#2840)
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

added new test case
  packages/protocol/contracts/identity/test/MockAttestations.sol
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

override prompt
  packages/cli/src/commands/account/authorize.test.ts
Owners: @mcortesi, @asaj

lint
  packages/protocol/contracts/identity/Attestations.sol
Owners: @asaj, @m-chrzan

Move sorted oracles to fixidity (#2885)
  packages/cli/src/commands/oracle/report.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/docs/command-line-interface/oracle.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_sortedoracles_.sortedoracleswrapper.md
  packages/docs/developer-resources/contractkit/reference/enums/_wrappers_sortedoracles_.medianrelation.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_sortedoracles_.medianrate.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_sortedoracles_.oraclerate.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_sortedoracles_.sortedoraclesconfig.md
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/interfaces/ISortedOracles.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/scripts/truffle/set_exchange_rate.ts
  packages/protocol/test/stability/sortedoracles.ts
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel, @m-chrzan

Add prompt when registering validators or groups (#2756)
  packages/cli/package.json
  packages/cli/src/commands/account/authorize.test.ts
  packages/cli/src/commands/validator/register.test.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/cli/src/utils/cli.ts
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
  yarn.lock
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

[L06] Lack of validation may produce unexpected state in the distribution of epoch rewards (#2931)
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

working
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

going to perform test on master
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Added chaos-mesh package and command
  packages/celotool/src/cmds/deploy/destroy/chaos-mesh.ts
  packages/celotool/src/cmds/deploy/initial/chaos-mesh.ts
  packages/celotool/src/cmds/deploy/upgrade/chaos-mesh.ts
  packages/celotool/src/lib/chaos-mesh.ts
  packages/celotool/src/lib/cluster.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/chaos-mesh/.helmignore
  packages/helm-charts/chaos-mesh/Chart.yaml
  packages/helm-charts/chaos-mesh/manifests/crd.yaml
  packages/helm-charts/chaos-mesh/manifests/local-volume-provisioner.yaml
  packages/helm-charts/chaos-mesh/manifests/tiller-rbac.yaml
  packages/helm-charts/chaos-mesh/templates/NOTES.txt
  packages/helm-charts/chaos-mesh/templates/_helpers.tpl
  packages/helm-charts/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  packages/helm-charts/chaos-mesh/templates/collector-mysql.yaml
  packages/helm-charts/chaos-mesh/templates/collector-rbac.yaml
  packages/helm-charts/chaos-mesh/templates/controller-manager-deployment.yaml
  packages/helm-charts/chaos-mesh/templates/controller-manager-rbac.yaml
  packages/helm-charts/chaos-mesh/templates/controller-manager-service.yaml
  packages/helm-charts/chaos-mesh/templates/dashboard-deployment.yaml
  packages/helm-charts/chaos-mesh/templates/post-install-create-cert-job.yaml
  packages/helm-charts/chaos-mesh/templates/post-install-mutatingwebhook-job.yaml
  packages/helm-charts/chaos-mesh/templates/pre-delete-job.yaml
  packages/helm-charts/chaos-mesh/templates/prometheus-configmap.yaml
  packages/helm-charts/chaos-mesh/templates/prometheus-deployment.yaml
  packages/helm-charts/chaos-mesh/templates/prometheus-rbac.yaml
  packages/helm-charts/chaos-mesh/templates/prometheus-service.yaml
  packages/helm-charts/chaos-mesh/values.yaml
  packages/helm-charts/load-test/templates/load-test.statefulset.yaml
  packages/helm-charts/pumba/templates/daemonset.yaml
Owners: @timmoreton, @nambrot

Added variable to optionally clean validator roundstate folder
  .env
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

Added chaos scenarios
  chaos-scenarios/README.md
  chaos-scenarios/failure.yaml
  chaos-scenarios/kill.yaml
  chaos-scenarios/kill_all.yaml
  chaos-scenarios/network_corrupt.yaml
  chaos-scenarios/network_loss.yaml
  chaos-scenarios/network_partition.yaml
Owners: @timmoreton

Default test blockchain branch to master
  .circleci/config.yml
Owners: @timmoreton

Fix PIN entering screen, when account is not created yet (#2932)
  packages/mobile/src/pincode/PincodeConfirmation.tsx
Owners: @cmcewen, @jmrossy

Add iOS Universal links + Firebase Dynamic links
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celo/celo.entitlements
  packages/mobile/package.json
  packages/mobile/src/firebase/dynamicLinks.ts
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.test.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/utils/appstore.ts
  packages/mobile/src/utils/permissions.ios.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

cleanup
  packages/protocol/runTests.js
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
