Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Add temporary (not to be published) cli rewards:slasher
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/rewards.md
  packages/docs/command-line-interface/validator.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Serve papers from celo.org (#2400)
  packages/web/public/papers/CBDC_Velocity_Copic-Franke.pdf
  packages/web/public/papers/Celo_A_Multi_Asset_Cryptographic_Protocol_for_Decentralized_Social_Payments.pdf
  packages/web/public/papers/Celo_Stability_Analysis.pdf
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/HomeSystems.tsx
Owners: @cmcewen, @aaronmgdr

Remove references to OG infrastructure (#2407)
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.integration
  .env.integrationtesting
  .env.pilot
  .env.pilotstaging
  package.json
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/kubernetes.ts
  packages/celotool/src/lib/port_forward.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

Add Walkthtrough: Deploy a contract
  packages/docs/developer-resources/walkthroughs/hellocontracts.md
Owners: @timmoreton, @cla-bel

Limit minimum target ratio
  packages/protocol/contracts/governance/EpochRewards.sol
Owners: @asaj, @m-chrzan

Fix lint issues
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Uses getReserveRatio in computeTobinTax
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

e2e tests for slashing contracts (#2341)
  .circleci/config.yml
  packages/celotool/ci_test_slashing.sh
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/tslint.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/contractkit/src/base.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/migrations/23_elect_validators.ts
  packages/protocol/package.json
  packages/protocol/scripts/build.ts
  packages/protocol/test/common/integration.ts
  packages/protocol/test/governance/lockedgold.ts
  yarn.lock
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan

Moving fn inside registry, optimizing for gas
  packages/protocol/contracts/common/Registry.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IRegistry.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Using twilio by default in example
  packages/terraform-modules-public/example/variables.tf
Owners: @timmoreton

Added note about geth-exporter metrics
  packages/terraform-modules-public/README.md
Owners: @timmoreton

Fix typo
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Owners: @timmoreton

Fund voting bot accounts in genesis (#2392)
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Renamed variables
  packages/terraform-modules-public/example/README.md
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/variables.tf
Owners: @timmoreton

[WiP] Map standby transactions to the new types for rendering with local amounts
  packages/blockchain-api/src/schema.ts
  packages/mobile/src/apollo/types.ts
  packages/mobile/src/localCurrency/actions.ts
  packages/mobile/src/localCurrency/convert.ts
  packages/mobile/src/localCurrency/reducer.ts
  packages/mobile/src/localCurrency/saga.test.ts
  packages/mobile/src/localCurrency/saga.ts
  packages/mobile/src/redux/migrations.test.ts
  packages/mobile/src/redux/migrations.ts
  packages/mobile/src/send/SendAmount.test.tsx
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.test.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
  packages/mobile/src/transactions/reducer.ts
  packages/mobile/test/schemas.ts
Owners: @jmrossy, @cmcewen

Cleans up naming in governance test
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Cleans up epoch rewards test
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Deduplicate target gold supply increase logic
  packages/protocol/contracts/governance/EpochRewards.sol
Owners: @asaj, @m-chrzan

[WiP] Use MoneyAmount type in the exchange confirmation card
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
Owners: @cmcewen, @jmrossy

Add first version of public terraform module. (#1771)
  packages/terraform-modules-public/.gitignore
  packages/terraform-modules-public/README.md
  packages/terraform-modules-public/example/README.md
  packages/terraform-modules-public/example/main.tf
  packages/terraform-modules-public/example/outputs.tf
  packages/terraform-modules-public/example/variables.tf
  packages/terraform-modules-public/testnet/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/main.tf
  packages/terraform-modules-public/testnet/modules/attestation-service/startup.sh
  packages/terraform-modules-public/testnet/modules/attestation-service/variables.tf
  packages/terraform-modules-public/testnet/modules/proxy/main.tf
  packages/terraform-modules-public/testnet/modules/proxy/outputs.tf
  packages/terraform-modules-public/testnet/modules/proxy/startup.sh
  packages/terraform-modules-public/testnet/modules/proxy/variables.tf
  packages/terraform-modules-public/testnet/modules/tx-node/main.tf
  packages/terraform-modules-public/testnet/modules/tx-node/outputs.tf
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules-public/testnet/modules/tx-node/variables.tf
  packages/terraform-modules-public/testnet/modules/validator/main.tf
  packages/terraform-modules-public/testnet/modules/validator/outputs.tf
  packages/terraform-modules-public/testnet/modules/validator/startup.sh
  packages/terraform-modules-public/testnet/modules/validator/variables.tf
  packages/terraform-modules-public/testnet/outputs.tf
  packages/terraform-modules-public/testnet/variables.tf
Owners: @timmoreton

Try out web coverage
  .circleci/config.yml
  .codecov.yml
Owners: @timmoreton

set genesis account balance list to phase 2
  baklava_genesis_balances.json
Owners: @timmoreton

Add coverage artifact
  .circleci/config.yml
Owners: @timmoreton

remove erroneously added addresses
  baklava_genesis_balances.json
Owners: @timmoreton

Sort on correct vote amount in validator election migration
  packages/protocol/migrations/23_elect_validators.ts
Owners: @asaj, @m-chrzan

[Slashing] Adding whitelist checks for onlySlasher to Validators.sol (#2347)
  packages/protocol/contracts/common/Registry.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IRegistry.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/migrations/19_governance_slasher.ts
  packages/protocol/migrations/20_double_signing_slasher.ts
  packages/protocol/migrations/21_downtime_slasher.ts
  packages/protocol/test/governance/lockedgold.ts
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Clarify documentation on validator proxy (#2371)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

run coverage
  packages/web/package.json
Owners: @cmcewen, @aaronmgdr

Adjustment to home banner / mobile menu (#2408)
  packages/web/src/header/Header.3.tsx
  packages/web/src/home/HomeAnimation.tsx
  packages/web/src/home/version3/HomeCover.tsx
Owners: @cmcewen, @aaronmgdr

Add comments to public functions in wrappers
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

Make attestation opt-in (#2230)
  packages/celotool/src/lib/attestation-service.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/identity/attestations.ts
Owners: @timmoreton, @asaj, @m-chrzan

Sort on correct vote amount in validator election migration (#2417)
  packages/protocol/migrations/23_elect_validators.ts
Owners: @asaj, @m-chrzan

Update genesis block accounts config to be correct for phase 2 (#2416)
  baklava_genesis_balances.json
Owners: @timmoreton

Copy finding slashing lessers & greaters from protocol/test/common/integration.ts
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/LockedGold.ts
Owners: @mcortesi, @asaj, @timmoreton

Slashing params for stake off phase 2
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

baklava update, fix gcloud upload
  .env.baklava
  packages/celotool/src/lib/testnet-utils.ts
Owners: @timmoreton

Update network id
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/protocol/scripts/bash/init_network.sh
  packages/protocol/truffle-config.js
  packages/terraform-modules-public/example/variables.tf
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

bump @celo/celocli version
  packages/cli/package.json
Owners: @mcortesi, @asaj

Improvements from review
  packages/cli/src/commands/rewards/slasher.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/utils/src/collections.ts
Owners: @mcortesi, @asaj, @timmoreton, @jmrossy

bump utils and contractkit versions
  packages/attestation-service/package.json
  packages/blockchain-api/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/notification-service/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
  packages/web/package.json
Owners: @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz, @m-chrzan, @nambrot, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
