Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Update contractkit in cli
  packages/cli/package.json
Owners: @mcortesi, @asaj

Fix internal lb, update .env.baklavastaging
  .env.baklavastaging
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
Owners: @timmoreton, @tkporter

Clarify attestation ports
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Update celocli
  packages/docs/getting-started/reconnecting-to-network.md
Owners: @timmoreton, @cla-bel

Add Baklava phase 1.1 accounts to genesis block (#2173)
  .env.baklava
  baklava_genesis_balances.json
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/generate_utils.ts
Owners: @timmoreton

Fix prom to sd, upgrade blockscout
  .env.baklavastaging
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/celotool/src/lib/prom-to-sd-utils.ts
Owners: @timmoreton

Update
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Address comments
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Ran through trial run
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Update documentation for Proxy IP addresses and ports (#2179)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Address feedback
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

lint free
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

update lock
  yarn.lock
Owners: @timmoreton

- carved out waitForPortOpen from celotool and moved it to dev-utils - migrated ganache setup from sleep to waitForPortOpen from dev-utils
  packages/celotool/src/e2e-tests/utils.ts
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/dev-utils/src/network.ts
Owners: @timmoreton

[Wallet] Fix bug causing banner to stay visible once app is connected (#2154)
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/src/import/saga.test.ts
  packages/mobile/src/import/saga.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/networkInfo/saga.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/stableToken/saga.test.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/utils/time.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Use same firebase-admin version as the other packages
  packages/blockchain-api/package.json
  yarn.lock
Owners: @jmrossy, @cmcewen, @timmoreton

Adjusting description to latest design.
  packages/docs/celo-codebase/protocol/proof-of-stake/carbon-offsetting-fund.md
  packages/docs/celo-codebase/protocol/proof-of-stake/community-fund.md
Owners: @timmoreton, @cla-bel

Also log error when admin creds fail to load
  packages/blockchain-api/src/config.ts
  packages/notification-service/src/config.ts
Owners: @jmrossy, @cmcewen, @annakaz

Passing ethstats variables as envs
  .env
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/ethstats.ts
  packages/helm-charts/ethstats/templates/ethstats.deployment.yaml
Owners: @timmoreton, @nambrot

Adding intial fraction going to carbon offsetting fund.
  packages/docs/celo-codebase/protocol/proof-of-stake/carbon-offsetting-fund.md
Owners: @timmoreton, @cla-bel

Improved wording wrt. reserve bolstering.
  packages/docs/celo-codebase/protocol/proof-of-stake/community-fund.md
Owners: @timmoreton, @cla-bel

Remove module index for now
  packages/blockchain-api/src/apolloServer.ts
  packages/blockchain-api/src/currencyConversion/index.ts
Owners: @jmrossy, @cmcewen

temporarily comment out voting bot command to make ts build be quiet
  packages/celotool/src/cmds/bots/voting.ts
Owners: @timmoreton

- added optional logging to sleep
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/sync_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

fix tests
  packages/mobile/src/notifications/NotificationAmount.tsx
  packages/mobile/src/notifications/NotificationList.test.tsx
  packages/mobile/src/notifications/SummaryNotification.test.tsx
  packages/mobile/src/notifications/__snapshots__/NotificationList.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/SummaryNotification.test.tsx.snap
  packages/react-components/components/SummaryNotification.test.tsx
  packages/react-components/components/__snapshots__/SummaryNotification.test.tsx.snap
Owners: @cmcewen, @jmrossy

Fix build
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/notifications/NotificationList.test.tsx
  packages/mobile/src/notifications/NotificationList.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
Owners: @cmcewen, @jmrossy

Fix locales
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/locales/es-419/paymentRequestFlow.json
  packages/mobile/locales/es-419/walletFlow5.json
Owners: @cmcewen, @jmrossy

Address the comments
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentListItem.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/notifications/NotificationList.tsx
  packages/mobile/src/notifications/SimpleNotification.test.tsx
  packages/mobile/src/notifications/SummaryNotification.test.tsx
  packages/mobile/src/notifications/SummaryNotification.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/set-clock/SetClock.tsx
  packages/react-components/components/BackButton.tsx
  packages/react-components/components/BaseNotification.tsx
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

Address PR comments
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentLineItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/NotificationList.test.tsx.snap
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListScreen.tsx
  packages/mobile/src/paymentRequest/PaymentRequestNotificationInner.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestNotificationInner.test.tsx.snap
  packages/mobile/src/transactions/TransferFeedIcon.tsx
Owners: @cmcewen, @jmrossy

Address comments in the PR
  packages/mobile/locales/en-US/inviteFlow11.json
  packages/mobile/locales/en-US/paymentRequestFlow.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/locales/es-419/paymentRequestFlow.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentReminderSummaryNotification.tsx
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentLineItem.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentReminderSummaryNotification.test.tsx.snap
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/paymentRequest/IncomingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestSummaryNotification.tsx
  packages/mobile/src/paymentRequest/PaymentRequestNotificationInner.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestListScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestNotificationInner.test.tsx.snap
  packages/react-components/components/BaseNotification.tsx
Owners: @cmcewen, @jmrossy

Revert for key in i18n
  packages/mobile/locales/en-US/global.json
Owners: @cmcewen, @jmrossy

Create run-app script to handle common app configuration tasks
  packages/mobile/.env
  packages/mobile/package.json
  packages/mobile/scripts/pre-dev.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
  packages/notification-service/config/config.integration.env
Owners: @cmcewen, @jmrossy, @annakaz

Remove double Network string
  packages/celotool/src/lib/ethstats.ts
Owners: @timmoreton

move deployed services to a deployed version of @celo/utils
  packages/notification-service/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/verification-pool-api/package.json
  packages/verifier/package.json
  packages/web/package.json
Owners: @annakaz, @cmcewen, @jmrossy, @nambrot, @aaronmgdr

fix versions for app engine services
  packages/attestation-service/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/verifier/package.json
  packages/web/package.json
  yarn.lock
Owners: @timmoreton, @cmcewen, @jmrossy, @nambrot, @aaronmgdr

Use old .env.baklavastaging
  .env.baklavastaging
Owners: @timmoreton

uncomment the thing. fix a tiny spelling mistake
  packages/celotool/src/cmds/bots/voting.ts
  packages/cli/src/commands/election/list.ts
Owners: @timmoreton, @mcortesi, @asaj

Fix/contractkit test flakyness (#2150)
  packages/celotool/src/e2e-tests/utils.ts
  packages/contractkit/jest.config.js
  packages/contractkit/src/test-utils/AlphabeticSequencer.js
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/dev-utils/src/network.ts
Owners: @timmoreton

Three little improvements to website (#2161)
  packages/web/src/community/connect/ConnectPage.tsx
  packages/web/src/dev/BuildPage.tsx
  packages/web/src/dev/opengraph.jpg
  packages/web/src/header/OpenGraph.tsx
  packages/web/src/layout/ScreenSize.tsx
  packages/web/src/shared/ConnectionFooter.tsx
Owners: @cmcewen, @aaronmgdr

make the initial exchange rate report be an envvar-configurable value. set it to 1 for baklava
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.baklava
  .env.baklavastaging
  .env.integration
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/protocol/migrations/08_stabletoken.ts
Owners: @timmoreton, @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
