Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Azure createUiDefinition plumbing and first pass
  packages/azure/.gitignore
  packages/azure/README.md
  packages/azure/README.mustache
  packages/azure/createUiDefinition.json
  packages/azure/mainTemplate.json
  packages/azure/package.json
Owners: @timmoreton

Passwordify
  packages/azure/createUiDefinition.json
Owners: @timmoreton

Tweak build
  packages/azure/mainTemplate.json
  packages/azure/package.json
Owners: @timmoreton

debug
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

debug
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

Tweak centering logic
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
Owners: @cmcewen, @jmrossy

fixing...
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

fixing
  packages/cli/src/utils/checks.ts
Owners: @mcortesi, @asaj

Improve layout to match mockup
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
Owners: @cmcewen, @jmrossy

hmm
  packages/contractkit/src/explorer/block-explorer.ts
  packages/contractkit/src/governance/proxy.ts
Owners: @timmoreton

updating docs
  packages/docs/developer-resources/contractkit/reference/classes/_explorer_block_explorer_.blockexplorer.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_explorer_block_explorer_.calldetails.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_explorer_block_explorer_.parsedblock.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_explorer_block_explorer_.parsedtx.md
  packages/docs/developer-resources/contractkit/reference/modules/_explorer_block_explorer_.md
  packages/docs/developer-resources/contractkit/reference/modules/_governance_proxy_.md
Owners: @timmoreton, @cla-bel

Update packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

merge me if you can
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

i want to lint free
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

try to DL metadata from url before setting
  packages/cli/src/commands/account/register-metadata.ts
Owners: @mcortesi, @asaj

fix react-components tests
  packages/react-components/components/__snapshots__/PhoneNumberInput.test.tsx.snap
  packages/verifier/src/components/__snapshots__/PhoneNumberInput.test.tsx.snap
Owners: @cmcewen, @jmrossy

adding flag to ignore check
  packages/cli/src/commands/account/register-metadata.ts
Owners: @mcortesi, @asaj

Fix contact list being cropped at the bottom on iOS for devices with a notch (iPhone X/R/XS/11)
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/send/Send.tsx
  packages/react-components/components/KeyboardSpacer.tsx
Owners: @cmcewen, @jmrossy

Fix tests
  packages/mobile/__mocks__/react-native-safe-area-view.ts
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
Owners: @cmcewen, @jmrossy

Prevent consumers of CurrencyDisplay to pass an explicit formatAmount function
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/send/TransferConfirmationCard.tsx
  packages/mobile/src/transactions/TransferFeedItem.tsx
Owners: @cmcewen, @jmrossy

docs
  packages/docs/command-line-interface/account.md
Owners: @timmoreton, @cla-bel

Azure createUiDefinition plumbing and first pass (#3003)
  packages/azure/.gitignore
  packages/azure/README.md
  packages/azure/README.mustache
  packages/azure/createUiDefinition.json
  packages/azure/mainTemplate.json
  packages/azure/package.json
  packages/azure/template.json
Owners: @timmoreton

Simplify local input conversion since USD to USD is 1
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/send/SendAmount.tsx
Owners: @cmcewen, @jmrossy

Use selector for get local currency code
  packages/mobile/src/account/FiatExchange.tsx
Owners: @cmcewen, @jmrossy

Fix logging issues (#3007)
  .env.baklava
  packages/helm-charts/attestation-service/templates/attestation.ingress.yaml
  packages/helm-charts/blockscout/templates/blockscout-web.ingress.yaml
  packages/helm-charts/celostats/templates/celostats-frontend.ingress.yaml
  packages/helm-charts/celostats/templates/celostats-server.ingress.yaml
  packages/helm-charts/celostats/templates/ethstats.ingress.yaml
  packages/terraform-modules/testnet/modules/full-node/startup.sh
Owners: @timmoreton, @nambrot, @tkporter

add members link and open graph data
  packages/web/src/alliance/Main.tsx
  packages/web/src/alliance/Members.tsx
  packages/web/src/alliance/images/Alliance-OG.jpg
  packages/web/src/alliance/images/index.ts
Owners: @cmcewen, @aaronmgdr

upate privacy updated at date
  packages/web/src/_page-tests/__snapshots__/privacy.test.tsx.snap
  packages/web/src/privacy/Privacy.tsx
Owners: @cmcewen, @aaronmgdr

Remove (superfluous) userObjectId Azure parameter
  packages/azure/README.md
  packages/azure/README.mustache
  packages/azure/components/keyvault.json
  packages/azure/components/main.json
  packages/azure/createUiDefinition.json
  packages/azure/mainTemplate.json
Owners: @timmoreton

Remove (superfluous) userObjectId Azure parameter (#3022)
  packages/azure/README.md
  packages/azure/README.mustache
  packages/azure/components/keyvault.json
  packages/azure/components/main.json
  packages/azure/createUiDefinition.json
  packages/azure/mainTemplate.json
Owners: @timmoreton

[protocol] Add wrapper support for multisig Reserve spender and Governance approver + tests
  packages/contractkit/src/base.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/GovernanceApproverMultiSig.ts
  packages/contractkit/src/wrappers/MultiSig.ts
  packages/contractkit/src/wrappers/Reserve.test.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/contractkit/src/wrappers/ReserveSpenderMultiSig.ts
  packages/dev-utils/src/migration-override.json
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/classes/_contract_cache_.wrappercache.md
  packages/docs/developer-resources/contractkit/reference/classes/_web3_contract_cache_.web3contractcache.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.basewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governanceapprovermultisig_.governanceapprovermultisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_multisig_.multisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reserve_.reservewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reservespendermultisig_.reservespendermultisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/enums/_base_.celocontract.md
  packages/docs/developer-resources/contractkit/reference/globals.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_reserve_.reserveconfig.md
  packages/docs/developer-resources/contractkit/reference/modules/_base_.md
  packages/docs/developer-resources/contractkit/reference/modules/_contract_cache_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_governanceapprovermultisig_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_multisig_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_reservespendermultisig_.md
  packages/protocol/migrations/07_reserve_spender_multisig.ts
  packages/protocol/migrations/23_governance_approver_multisig.ts
  packages/protocol/runTests.js
  packages/protocol/scripts/build.ts
  packages/protocol/test/common/integration.ts
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

add dropdown for filters
  packages/web/public/static/locales/en/alliance.json
  packages/web/server/getAllies.ts
  packages/web/src/alliance/CategoryEnum.ts
  packages/web/src/alliance/Members.tsx
Owners: @cmcewen, @aaronmgdr

working filtering of allies by function
  packages/web/src/alliance/AllianceMember.ts
  packages/web/src/alliance/Members.tsx
Owners: @cmcewen, @aaronmgdr

rename variable to be more clear
  packages/web/src/alliance/Members.tsx
Owners: @cmcewen, @aaronmgdr

[Wallet] Implement retry logic for sent txs (#2978)
  packages/mobile/src/app/Debug.tsx
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/tokens/saga.ts
  packages/mobile/src/transactions/saga.ts
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/utils/typescript.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/privateKey.test.ts
  packages/mobile/src/web3/privateKey.ts
  packages/mobile/src/web3/saga.test.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/utils.ts
  packages/utils/src/future.ts
  packages/walletkit/src/contract-utils.ts
Owners: @cmcewen, @jmrossy, @ashishb, @yerdua

fix faucet request to resolve promise
  packages/celotool/src/cmds/account/faucet.ts
Owners: @timmoreton

add high quality icons
  packages/web/public/static/locales/en/alliance.json
  packages/web/src/alliance/Benefits.tsx
  packages/web/src/alliance/Main.tsx
  packages/web/src/alliance/Members.tsx
  packages/web/src/community/connect/ArticleData.tsx
  packages/web/src/community/connect/ArticlesSection.tsx
  packages/web/src/community/connect/ConnectPage.tsx
  packages/web/src/icons/build-with-celo_dark-bg.png
  packages/web/src/icons/build-with-celo_light-bg.png
  packages/web/src/icons/coin-talk_dark-bg.png
  packages/web/src/icons/coin-talk_light-bg.png
  packages/web/src/icons/connect-people_light-bg.png
  packages/web/src/icons/educate_dark-bg.png
  packages/web/src/icons/educate_light-bg.png
  packages/web/src/icons/expand-reach_dark-bg.png
  packages/web/src/icons/expand-reach_light-bg.png
  packages/web/src/icons/index.ts
Owners: @cmcewen, @aaronmgdr

add test
  packages/web/src/_page-tests/alliance.test.tsx
Owners: @cmcewen, @aaronmgdr

WIP WIP
  packages/web/src/_page-tests/__snapshots__/_error.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/terms.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/wallet.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/alliance/CollectiveMission.tsx
  packages/web/src/forms/FormComponents.tsx
Owners: @cmcewen, @aaronmgdr

Adding final commands, still need to verify authorize and address todos. Also adding start_gold to script
  packages/cli/src/commands/account/proof-of-possession.ts
  packages/cli/src/commands/releasegold/authorize-vote-signer.ts
  packages/cli/src/commands/releasegold/authorize.ts
  packages/cli/src/commands/releasegold/create-account.ts
  packages/cli/src/commands/releasegold/gold.ts
  packages/cli/src/commands/releasegold/revoke-votes.ts
  packages/cli/src/commands/releasegold/set-account-wallet-address.ts
  packages/cli/src/commands/releasegold/set-account.ts
  packages/cli/src/commands/releasegold/set-beneficiary.ts
  packages/cli/src/commands/releasegold/set-liquidity-provision.ts
  packages/cli/src/commands/releasegold/set-max-distribution.ts
  packages/cli/src/commands/releasegold/show.ts
  packages/cli/src/commands/releasegold/withdraw.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @mcortesi, @asaj, @timmoreton, @m-chrzan

[Wallet] UI polish (#3016)
  packages/mobile/__mocks__/react-native-safe-area-view.ts
  packages/mobile/locales/en-US/nuxVerification2.json
  packages/mobile/locales/es-419/nuxVerification2.json
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/account/__snapshots__/Invite.test.tsx.snap
  packages/mobile/src/components/Carousel.tsx
  packages/mobile/src/recipients/RecipientPicker.tsx
  packages/mobile/src/send/Send.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
  packages/mobile/src/verify/__snapshots__/VerificationLoadingScreen.test.tsx.snap
  packages/react-components/components/KeyboardSpacer.tsx
Owners: @cmcewen, @jmrossy
