Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Use bootnodes for the local machine
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Use bootnodes for the local machine (#2430)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Even shorter epochs for e2e
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Update blockscout with genesis data
  .env.baklava
  packages/celotool/src/lib/blockscout.ts
  packages/helm-charts/blockscout/templates/_helpers.tpl
Owners: @timmoreton, @nambrot

Update blockscout with genesis data
  .env.baklava
  packages/celotool/src/lib/blockscout.ts
  packages/helm-charts/blockscout/templates/_helpers.tpl
Owners: @timmoreton, @nambrot

Catch exceptions during polling
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @nambrot

Fix airtable timeout + caching public dir
  packages/web/development.yaml
  packages/web/production.yaml
  packages/web/server/EventHelpers.ts
  packages/web/staging.yaml
Owners: @cmcewen, @aaronmgdr

Cleanup scripts related to e2e testing and add new run_e2e.sh
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/proguard-rules.pro
  packages/mobile/android/app/src/debug/AndroidManifest.xml
  packages/mobile/android/app/src/debug/res/xml/network_security_config.xml
  packages/mobile/e2e/README.md
  packages/mobile/e2e/Transfer.spec.js
  packages/mobile/e2e/init.js
  packages/mobile/package.json
  packages/mobile/scripts/build_e2e.sh
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
  packages/mobile/scripts/start_emulator.sh
  packages/mobile/src/config.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

add unfreeze-contracts command to celotool
  packages/celotool/src/cmds/unfreeze_contracts.ts
Owners: @timmoreton

fix lint checks
  packages/celotool/src/cmds/unfreeze_contracts.ts
Owners: @timmoreton

Fix verify-contracts file dependency missing (#2426)
  package.json
Owners: @timmoreton

Add unfreeze-contracts command to celotool (#2433)
  packages/celotool/src/cmds/unfreeze_contracts.ts
Owners: @timmoreton

Catch exceptions during polling (#2432)
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @nambrot

Update e2e tests for changes to slashing values
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

Memoize gold exchange rates requests (per request)
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.test.ts
  packages/blockchain-api/src/currencyConversion/GoldExchangeRateAPI.ts
Owners: @jmrossy, @cmcewen

removed duplicated code
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

Add getNextNeverElectedValidatorGroup
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

isReportActive function implemented, unit tests for isReportActive, isReportActive added in MockSortedOracles fot testing purposes
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/interfaces/ISortedOracles.sol
  packages/protocol/contracts/stability/test/MockSortedOracles.sol
  packages/protocol/test/stability/sortedoracles.ts
Owners: @asaj, @m-chrzan

MultiSig -> simplify initialization with addOwner and changeRequirement
  packages/protocol/contracts/common/MultiSig.sol
Owners: @asaj, @m-chrzan

Add proper Spanish translations (#2427)
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/inviteFlow11.json
  packages/mobile/locales/es-419/paymentRequestFlow.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/locales/es-419/walletFlow5.json
Owners: @cmcewen, @jmrossy

Rollback zeroSync toggle in case it was not successful
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

added optimization
  packages/protocol/contracts/governance/VestingFactory.sol
Owners: @asaj, @m-chrzan

can now check if has been down
  packages/cli/src/commands/slash/downtime.ts
  packages/cli/src/utils/command.ts
  packages/utils/src/collections.ts
Owners: @mcortesi, @asaj, @jmrossy

added dry run
  packages/cli/src/commands/slash/downtime.ts
Owners: @mcortesi, @asaj

fixing it?
  packages/protocol/contracts/governance/DowntimeSlasher.sol
Owners: @asaj, @m-chrzan

parameterize more things. Add in ability to randomly select an unelected group
  .env
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/lib/env-utils.ts
Owners: @timmoreton

added comment
  packages/cli/src/commands/slash/downtime.ts
Owners: @mcortesi, @asaj

Add test for TransactionsList
  packages/mobile/src/transactions/TransactionsList.test.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
Owners: @cmcewen, @jmrossy

added visualization
  packages/cli/src/commands/slash/downtime.ts
Owners: @mcortesi, @asaj

Add unit tests and cli checks for validator hotfix interaction (#2340)
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/commands/validator/list.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/darkSpinner.json
  packages/web/src/shared/greenSpinner.json
  packages/web/src/shared/whiteSpinner.json
  packages/web/static/locales/en/about.json
  packages/web/static/locales/en/brand.json
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan, @cmcewen, @aaronmgdr

Add Spanish translations
  packages/mobile/locales/es-419/accountScreen10.json
Owners: @cmcewen, @jmrossy

Refactor Modal
  packages/mobile/src/account/DataSaver.tsx
Owners: @cmcewen, @jmrossy

added a command to analyze downtime
  packages/cli/src/commands/slash/analyze.ts
Owners: @mcortesi, @asaj

Add governance cli checks and docs examples
  packages/cli/package.json
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/view.ts
  packages/cli/src/commands/governance/viewhotfix.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/docs/command-line-interface/governance.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

[Wallet] Cleanup unused stateprops references to the e164<->address mappings and remove unused contact field in escrow payments to avoid confusion
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/escrow/EscrowedPaymentListItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationScreen.tsx
  packages/mobile/src/escrow/__mocks__.ts
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/escrow/actions.ts
  packages/mobile/src/send/Send.tsx
  packages/mobile/test/values.ts
Owners: @cmcewen, @jmrossy

Fix racing condition of analytics track vs init.
  packages/web/__mocks__/@segment/in-eu.ts
  packages/web/__mocks__/load-segment.ts
  packages/web/src/analytics/analytics.test.ts
  packages/web/src/analytics/analytics.ts
  packages/web/src/utils/utils.ts
Owners: @cmcewen, @aaronmgdr

added comments acc. to asa + mariano
  packages/protocol/contracts/governance/VestingFactory.sol
  packages/protocol/contracts/governance/VestingInstance.sol
  packages/protocol/contracts/governance/interfaces/IVestingInstance.sol
Owners: @asaj, @m-chrzan

new syntax for method selectors in newly delpoyed version
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

Remove console log
  packages/web/src/analytics/analytics.ts
  packages/web/src/utils/utils.ts
Owners: @cmcewen, @aaronmgdr

[Wallet] Cleanup unused StateProps references (#2439)
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/escrow/EscrowedPaymentListItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationScreen.tsx
  packages/mobile/src/escrow/__mocks__.ts
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/escrow/actions.ts
  packages/mobile/src/send/Send.tsx
  packages/mobile/test/values.ts
Owners: @cmcewen, @jmrossy
