Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

fixes menu for tablet devices
  packages/web/src/shared/Footer.tsx
Owners: @cmcewen, @aaronmgdr

collective --> alliance
  packages/web/src/alliance/Collective.tsx
Owners: @cmcewen, @aaronmgdr

Header / Menu fix and refactor
  packages/web/src/header/Header.3.tsx
Owners: @cmcewen, @aaronmgdr

fix hover to be full width replace responsive with screen size context
  packages/web/src/header/Header.3.tsx
Owners: @cmcewen, @aaronmgdr

[L13] Fraction reduction is not applied in all methods (#2890)
  packages/protocol/contracts/common/FractionUtil.sol
  packages/protocol/contracts/common/test/FractionUtilTest.sol
  packages/protocol/contracts/stability/Exchange.sol
Owners: @asaj, @m-chrzan

Sets governance thresholds during migration (#2871)
  packages/protocol/governanceConstitution.js
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

[N08] Trust assumptions on hotfixes (#2898)
  packages/docs/celo-codebase/protocol/governance.md
Owners: @timmoreton, @cla-bel

[cli] Validator group reorder to first place (#2914)
  packages/cli/src/commands/validatorgroup/member.ts
Owners: @mcortesi, @asaj

Allow specifying different requirement for internal multisig txs (#2883)
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/test/common/multisig.ts
Owners: @asaj, @m-chrzan

[N22] Not using EIP 1967: Standard Proxy Storage Slots (#2904)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/lib/genesis_constants.ts
  packages/protocol/contracts/common/Proxy.sol
Owners: @timmoreton, @asaj, @m-chrzan

Unlock: adding a check whether account is voting (#2840)
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Move sorted oracles to fixidity (#2885)
  packages/cli/src/commands/oracle/report.ts
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/docs/command-line-interface/oracle.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_sortedoracles_.sortedoracleswrapper.md
  packages/docs/developer-resources/contractkit/reference/enums/_wrappers_sortedoracles_.medianrelation.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_sortedoracles_.medianrate.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_sortedoracles_.oraclerate.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_sortedoracles_.sortedoraclesconfig.md
  packages/protocol/contracts/stability/SortedOracles.sol
  packages/protocol/contracts/stability/interfaces/ISortedOracles.sol
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/scripts/truffle/set_exchange_rate.ts
  packages/protocol/test/stability/sortedoracles.ts
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel, @m-chrzan

Add prompt when registering validators or groups (#2756)
  packages/cli/package.json
  packages/cli/src/commands/account/authorize.test.ts
  packages/cli/src/commands/validator/register.test.ts
  packages/cli/src/commands/validator/register.ts
  packages/cli/src/commands/validatorgroup/register.ts
  packages/cli/src/utils/cli.ts
  packages/docs/command-line-interface/validator.md
  packages/docs/command-line-interface/validatorgroup.md
  yarn.lock
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Fix PIN entering screen, when account is not created yet (#2932)
  packages/mobile/src/pincode/PincodeConfirmation.tsx
Owners: @cmcewen, @jmrossy

[L06] Lack of validation may produce unexpected state in the distribution of epoch rewards (#2931)
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

[Wallet] Fix errors with invite flow when messaging app is unsupported (#2944)
  packages/mobile/__mocks__/src/navigator/NavigationService.ts
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/alert/__snapshots__/AlertBanner.test.tsx.snap
  packages/mobile/src/alert/actions.ts
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/reducer.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/pincode/PincodeSet.tsx
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/saga.ts
  packages/react-components/components/SmartTopAlert.tsx
Owners: @cmcewen, @jmrossy

[Wallet] Upgrade version to 1.6.1 (#2941)
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/package.json
Owners: @cmcewen, @jmrossy

Backer nav fix + Contributors loading change (#2950)
  packages/web/server/getContributors.ts
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/about.test.tsx
  packages/web/src/about/About.test.tsx
  packages/web/src/about/About.tsx
  packages/web/src/about/Backers.tsx
  packages/web/src/about/Contributor.ts
  packages/web/src/about/Team.test.tsx
  packages/web/src/about/Team.tsx
Owners: @cmcewen, @aaronmgdr

[Wallet] Fix iOS blocking view (#2949)
  packages/mobile/ios/celo/AppDelegate.m
Owners: @cmcewen, @jmrossy

[M12] There is no security policy (#2906)
  SECURITY.md
Owners: @timmoreton

[protocol] add multisig to governance approver and reserve spender (#2910)
  packages/celotool/src/e2e-tests/blockchain_parameters_tests.ts
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/celotool/src/e2e-tests/validator_order_tests.ts
  packages/cli/package.json
  packages/contractkit/package.json
  packages/contractkit/src/wrappers/Governance.ts
  packages/dev-utils/src/migration-override.json
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/protocol/contracts/common/proxies/MultiSigProxy.sol
  packages/protocol/contracts/governance/GovernanceApproverMultiSig.sol
  packages/protocol/contracts/governance/proxies/GovernanceApproverMultiSigProxy.sol
  packages/protocol/contracts/stability/ReserveSpenderMultiSig.sol
  packages/protocol/contracts/stability/proxies/ReserveSpenderMultiSigProxy.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/07_reserve_spender_multisig.ts
  packages/protocol/migrations/08_reserve.ts
  packages/protocol/migrations/09_stabletoken.ts
  packages/protocol/migrations/10_exchange.ts
  packages/protocol/migrations/11_accounts.ts
  packages/protocol/migrations/12_lockedgold.ts
  packages/protocol/migrations/13_validators.ts
  packages/protocol/migrations/14_election.ts
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrations/16_random.ts
  packages/protocol/migrations/17_attestations.ts
  packages/protocol/migrations/18_escrow.ts
  packages/protocol/migrations/19_blockchainparams.ts
  packages/protocol/migrations/20_governance_slasher.ts
  packages/protocol/migrations/21_double_signing_slasher.ts
  packages/protocol/migrations/22_downtime_slasher.ts
  packages/protocol/migrations/23_governance_approver_multisig.ts
  packages/protocol/migrations/24_governance.ts
  packages/protocol/migrations/25_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/scripts/build.ts
  packages/protocol/test/common/integration.ts
Owners: @timmoreton, @mcortesi, @asaj, @cla-bel, @m-chrzan

Changing constructor to initializer to properly proxy contracts
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/scripts/truffle/releaseGoldContracts.json
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

update readme for gcloud auth (#2853)
  packages/web/README.md
Owners: @cmcewen, @aaronmgdr

Animate Line + some minor cleanup (#2874)
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/brandkit/common/TopBar.tsx
  packages/web/src/react-native-aug.d.ts
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Footer.tsx
Owners: @cmcewen, @aaronmgdr

add korea transliteration "make the new story"
  packages/web/src/shared/ChangeStory.tsx
Owners: @cmcewen, @aaronmgdr

addresses comment
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

add ipstack.com/privacy to celo privacy policy
  packages/web/src/privacy/Privacy.tsx
Owners: @cmcewen, @aaronmgdr

[H02] Commissions can deceive members of a validator group (#2913)
  packages/celotool/src/lib/migration-utils.ts
  packages/cli/src/commands/validatorgroup/commission.test.ts
  packages/cli/src/commands/validatorgroup/commission.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Validators.test.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/dev-utils/src/ganache-test.ts
  packages/dev-utils/src/migration-override.json
  packages/docs/command-line-interface/validatorgroup.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_accounts_.accountswrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_attestations_.attestationswrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.basewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.celotransactionobject.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_blockchainparameters_.blockchainparameterswrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_doublesigningslasher_.doublesigningslasherwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_downtimeslasher_.downtimeslasherwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_election_.electionwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_escrow_.escrowwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_exchange_.exchangewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_gaspriceminimum_.gaspriceminimumwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_goldtokenwrapper_.goldtokenwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_lockedgold_.lockedgoldwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reserve_.reservewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_sortedoracles_.sortedoracleswrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_stabletokenwrapper_.stabletokenwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_validators_.validatorswrapper.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.groupmembership.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.lockedgoldrequirements.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.membershiphistoryextradata.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.validator.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.validatorgroup.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.validatorreward.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.validatorsconfig.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_basewrapper_.md
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/migrations/13_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/validators.ts
Owners: @timmoreton, @mcortesi, @asaj, @cla-bel, @m-chrzan

snapshot
  packages/web/src/_page-tests/__snapshots__/privacy.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Move check to lockedgold, break slashing into helper fn
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/SlasherUtil.sol
Owners: @asaj, @m-chrzan

lint and ownership
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

Oracle price of cGLD needed for PoS rewards
  packages/celotool/src/e2e-tests/utils.ts
  packages/protocol/migrations/09_stabletoken.ts
Owners: @timmoreton, @asaj, @m-chrzan

Prettify
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Update truffle-config.js
  packages/protocol/truffle-config.js
Owners: @asaj, @m-chrzan

🌏 Change the Story (#2924)
  packages/web/jest.config.js
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/layout/ScreenSize.tsx
  packages/web/src/shared/ChangeStory.tsx
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/world-spin.gif
Owners: @cmcewen, @aaronmgdr

Geo-Blacklist Announcements (#2403)
  packages/web/server-env-config.js.enc
  packages/web/server/Announcement.ts
  packages/web/server/announcement.test.ts
  packages/web/server/geoip.ts
  packages/web/server/index.ts
  packages/web/src/_page-tests/__snapshots__/privacy.test.tsx.snap
  packages/web/src/privacy/Privacy.tsx
Owners: @cmcewen, @aaronmgdr

Fix
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

Allow ReleaseGoldInstance beneficiary to transfer beneficiary (#2927)
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Addressing slashing reward being doubled
  packages/protocol/contracts/governance/SlasherUtil.sol
Owners: @asaj, @m-chrzan

Storing
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
