Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

associate groups to member competitors
  packages/leaderboard/src/checkMembers.ts
Owners: @timmoreton

Updated with latest changes from celotool frontend
  packages/helm-charts/celostats/templates/celostats-frontend.deployment.yaml
Owners: @nambrot, @timmoreton

fix messed up translation key fix post signup message color to be optionally dark gray so it can be seen on white backdrop
  packages/web/src/community/connect/ArticlesSection.tsx
  packages/web/src/community/connect/CoverArea.tsx
  packages/web/src/forms/EmailForm.tsx
  packages/web/src/shared/ConnectionFooter.tsx
Owners: @cmcewen, @aaronmgdr

update instruction to be accurate with update phone flow
  packages/web/public/static/locales/en/faucet.json
Owners: @cmcewen, @aaronmgdr

📸
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Call addOtherReserveAddress before frozen gold tests
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Fix invites because of different dev bundleId on Android and iOS
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Support key rotation after whitelisting hotfix (#2882)
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

Put solc 0.5.8 back as upgrading to 0.5.16 had various OOM tests and invalid opcode from protocol tests
  package.json
  packages/protocol/contracts/common/Signatures.sol
Owners: @timmoreton, @asaj, @m-chrzan

Put back other solc references
  packages/protocol/truffle-config.js
  yarn.lock
Owners: @asaj, @m-chrzan, @timmoreton

[N19] Docs incorrect regarding proposal deposits (#2902)
  packages/docs/celo-codebase/protocol/governance.md
Owners: @timmoreton, @cla-bel

✨now hides text at correct time
  packages/web/src/shared/ChangeStory.tsx
Owners: @cmcewen, @aaronmgdr

fix linter
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

update docs
  packages/docs/command-line-interface/validatorgroup.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_accounts_.accountswrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_attestations_.attestationswrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.basewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.celotransactionobject.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_blockchainparameters_.blockchainparameterswrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_doublesigningslasher_.doublesigningslasherwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_downtimeslasher_.downtimeslasherwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_election_.electionwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_escrow_.escrowwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_exchange_.exchangewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_gaspriceminimum_.gaspriceminimumwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_goldtokenwrapper_.goldtokenwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_lockedgold_.lockedgoldwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reserve_.reservewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_sortedoracles_.sortedoracleswrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_stabletokenwrapper_.stabletokenwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_validators_.validatorswrapper.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.groupmembership.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.lockedgoldrequirements.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.membershiphistoryextradata.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.validator.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.validatorgroup.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.validatorreward.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_validators_.validatorsconfig.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_basewrapper_.md
Owners: @timmoreton, @cla-bel

Use new addAccount
  packages/mobile/src/web3/contracts.ts
Owners: @cmcewen, @jmrossy

Address the comment
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

[protocol] set proxy ownerships for multisigs to the multisigs itself
  packages/protocol/migrations/07_reserve_spender_multisig.ts
  packages/protocol/migrations/22_governance.ts
  packages/protocol/migrations/23_governance_approver_multisig.ts
  packages/protocol/migrations/24_governance.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/build.ts
  packages/protocol/test/common/integration.ts
Owners: @asaj, @m-chrzan

[L16] Not using the SafeMath library (#2893)
  packages/protocol/contracts/common/MultiSig.sol
  packages/protocol/contracts/common/Registry.sol
  packages/protocol/contracts/common/linkedlists/AddressLinkedList.sol
  packages/protocol/contracts/common/linkedlists/AddressSortedLinkedList.sol
  packages/protocol/contracts/common/linkedlists/AddressSortedLinkedListWithMedian.sol
  packages/protocol/contracts/common/linkedlists/IntegerSortedLinkedList.sol
  packages/protocol/contracts/common/linkedlists/LinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedList.sol
  packages/protocol/contracts/common/linkedlists/SortedLinkedListWithMedian.sol
  packages/protocol/contracts/governance/DoubleSigningSlasher.sol
  packages/protocol/contracts/governance/DowntimeSlasher.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/SortedOracles.sol
Owners: @asaj, @m-chrzan

add is[ScreenSize] to useScreenSize Hook so we cant stop rewriting `screen === ScreenSizes.MOBILE`
  packages/web/src/brandkit/KeyImagery.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/layout/ScreenSize.tsx
Owners: @cmcewen, @aaronmgdr

change story mobile
  packages/web/src/shared/ChangeStory.tsx
  packages/web/src/shared/Footer.tsx
Owners: @cmcewen, @aaronmgdr

Make v most significant byte
  packages/protocol/contracts/common/Signatures.sol
Owners: @asaj, @m-chrzan

social logos should align with top of words
  packages/web/src/shared/Footer.tsx
Owners: @cmcewen, @aaronmgdr

Apply doc feedback
  packages/azure/README.md
  packages/azure/README.mustache
  packages/azure/components/main.json
Owners: @timmoreton

Renames and clarifications
  packages/azure/attester/celo-attestations-run
  packages/azure/attester/celo-attestations.service
  packages/azure/attester/startup.sh
  packages/azure/components/main.json
  packages/azure/proxy/celo-proxy-run
  packages/azure/proxy/celo-proxy.service
  packages/azure/proxy/startup.sh
  packages/azure/validator/celo-validator-run
  packages/azure/validator/celo-validator.service
  packages/azure/validator/startup.sh
Owners: @timmoreton

Fix naming bugo
  packages/azure/attester/attestation-service-run
Owners: @timmoreton

Bugo with VALIDATOR_ACCOUNT_ADDRESS
  packages/azure/validator/celo-validator-run
Owners: @timmoreton

Remove IN_MEMORY_DISCOVERY_TABLE_FLAG
  packages/azure/proxy/celo-proxy-run
  packages/azure/scripts/provider-init.sh
  packages/azure/validator/celo-validator-run
Owners: @timmoreton

Discovery firewall for attestation service
  packages/azure/components/network.json
Owners: @timmoreton

Firewall rule rename
  packages/azure/components/network.json
Owners: @timmoreton

Replace mergeARMTemplates with deepmerge
  packages/azure/build-json.js
  packages/azure/package-lock.json
  packages/azure/package.json
Owners: @timmoreton

Convert some parameter types to int
  packages/azure/build-json.js
  packages/azure/components/main.json
Owners: @timmoreton

License
  packages/azure/package.json
Owners: @timmoreton

Move some common code to provider-init.sh
  packages/azure/attester/celo-node-run
  packages/azure/attester/startup.sh
  packages/azure/proxy/startup.sh
  packages/azure/scripts/provider-init.sh
  packages/azure/validator/celo-validator-run
  packages/azure/validator/startup.sh
Owners: @timmoreton

Address security group feedback
  packages/azure/components/network.json
Owners: @timmoreton

@codyborn feedback
  packages/azure/.gitignore
  packages/azure/README.md
  packages/azure/README.mustache
  packages/azure/components/network.json
Owners: @timmoreton

Future work
  packages/azure/README.md
Owners: @timmoreton

Future work
  packages/azure/README.mustache
Owners: @timmoreton

template.json
  packages/azure/template.json
Owners: @timmoreton

README.md updates, etc
  packages/azure/README.md
  packages/azure/README.mustache
  packages/azure/attester/celo-node-run
  packages/azure/template.json
  packages/azure/validator/celo-validator-run
Owners: @timmoreton

Removing unnecessary await
  packages/protocol/test/governance/double_signing_slasher.ts
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
