Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Unifying style and adding set-beneficiary
  packages/cli/src/commands/releasegold/authorize-vote-signer.ts
  packages/cli/src/commands/releasegold/create-account.ts
  packages/cli/src/commands/releasegold/info.ts
  packages/cli/src/commands/releasegold/set-account.ts
  packages/cli/src/commands/releasegold/set-beneficiary.ts
  packages/cli/src/commands/releasegold/set-liquidity-provision.ts
  packages/cli/src/commands/releasegold/set-max-distribution.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
Owners: @mcortesi, @asaj, @timmoreton

Keep adding type fixes
  packages/attestation-service/src/db.ts
  packages/faucet/src/debug-provider.ts
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @timmoreton, @nambrot

Fix address util
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/utils.ts
Owners: @cmcewen, @jmrossy

Handle callback for correct pin entry
  packages/mobile/src/account/saga.ts
Owners: @cmcewen, @jmrossy

Fix floating promise in cli
  packages/cli/src/commands/account/unlock.ts
Owners: @mcortesi, @asaj

alliance affirmations
  packages/web/public/static/locales/en/alliance.json
  packages/web/src/alliance/Affirmations.tsx
  packages/web/src/alliance/images/index.ts
  packages/web/src/alliance/images/wfp-preview.jpg
  packages/web/src/alliance/images/wfp.jpg
  packages/web/src/logos/cLabs-logo.png
  packages/web/src/logos/laboratoria-dark.png
  packages/web/src/logos/wfp-logo.png
Owners: @cmcewen, @aaronmgdr

[WiP] centering the carousel
  packages/mobile/src/components/Carousel.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
Owners: @cmcewen, @jmrossy

get on my collective
  packages/web/public/static/locales/en/alliance.json
  packages/web/src/alliance/Main.tsx
  packages/web/src/alliance/SignupForm.tsx
  packages/web/src/forms/Form.tsx
  packages/web/src/shared/ConnectionFooter.tsx
Owners: @cmcewen, @aaronmgdr

dont require image import
  packages/web/src/shared/ConnectionFooter.tsx
Owners: @cmcewen, @aaronmgdr

Add year and Celo to license
  LICENSE
Owners: @timmoreton

Add types to cli geth.ts
  packages/celotool/src/lib/geth.ts
  packages/transaction-metrics-exporter/package.json
Owners: @timmoreton, @nambrot

MAKE IT optional
  packages/web/src/forms/FormComponents.tsx
  packages/web/src/shared/Button.3.tsx
Owners: @cmcewen, @aaronmgdr

make dark mode declaration optional
  packages/web/src/forms/FormComponents.tsx
Owners: @cmcewen, @aaronmgdr

use next js to only load part of page we dont have.
  packages/web/src/shared/Button.3.tsx
  packages/web/src/shared/Link.tsx
Owners: @cmcewen, @aaronmgdr

will need some indicator that things are loading
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/header/Header.3.tsx
Owners: @cmcewen, @aaronmgdr

[phone-number-privacy] add BlindBLS library request and add test
  packages/phone-number-privacy/.env.enc
  packages/phone-number-privacy/jest.config.js
  packages/phone-number-privacy/package.json
  packages/phone-number-privacy/src/config.ts
  packages/phone-number-privacy/src/index.ts
  packages/phone-number-privacy/test/index.test.ts
  scripts/key_placer.sh
  yarn.lock
Owners: @timmoreton

PR comments
  packages/docs/developer-resources/integrations/custody.md
Owners: @timmoreton, @cla-bel

Add custody docs (#2880)
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/integrations/custody.md
  packages/docs/developer-resources/integrations/general.md
  packages/docs/developer-resources/integrations/integrations.md
  packages/docs/developer-resources/walkthroughs/hellocontracts.md
Owners: @timmoreton, @cla-bel

Deploy/upgrade testnet with existing genesis file (#2962)
  packages/celotool/src/cmds/deploy/initial/testnet.ts
  packages/celotool/src/cmds/deploy/initial/vm-testnet.ts
  packages/celotool/src/cmds/deploy/migrate/blockscout.ts
  packages/celotool/src/cmds/deploy/upgrade/all.ts
  packages/celotool/src/cmds/deploy/upgrade/testnet.ts
  packages/celotool/src/cmds/deploy/upgrade/vm-testnet.ts
  packages/celotool/src/cmds/geth/run.ts
  packages/celotool/src/lib/attestation-service.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/load-test.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/testnet/scripts/create-network.sh
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/modules/full-node/startup.sh
Owners: @timmoreton, @nambrot, @tkporter

progressive indicator baby
  packages/web/pages/_app.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/shared/Progessive.tsx
Owners: @cmcewen, @aaronmgdr

Add e2e slashing_tests using contractkit and fixes
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @timmoreton

update final totals
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/LeaderBoard.tsx
  packages/web/src/dev/tgsco-final.json
Owners: @cmcewen, @aaronmgdr

remove button since its over,
  packages/web/public/static/locales/en/dev.json
  packages/web/src/dev/Cover.tsx
Owners: @cmcewen, @aaronmgdr

update
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Update contractkit docs for changed line numbers
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_doublesigningslasher_.doublesigningslasherwrapper.md
Owners: @timmoreton, @cla-bel

remove bls used for deriving non-blinded results for tests
  packages/phone-number-privacy/package.json
  packages/phone-number-privacy/src/config.ts
  packages/phone-number-privacy/src/index.ts
  packages/phone-number-privacy/test/index.test.ts
Owners: @timmoreton

TGSCO--Final board (#2995)
  packages/web/public/static/locales/en/dev.json
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/LeaderBoard.tsx
  packages/web/src/dev/tgsco-final.json
Owners: @cmcewen, @aaronmgdr

Give DoubleSigningSlasher.getBlockNumberFromHeader a consistent interface
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_doublesigningslasher_.doublesigningslasherwrapper.md
Owners: @timmoreton, @cla-bel

review comments
  packages/utils/src/collections.ts
Owners: @jmrossy

cleanup
  packages/cli/src/utils/command.ts
Owners: @mcortesi, @asaj

Refactor PIN entering strategy throughout the wallet app
  packages/mobile/__mocks__/src/navigator/NavigationService.ts
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/saga.test.ts
  packages/mobile/src/account/saga.ts
  packages/mobile/src/app/Background.test.tsx
  packages/mobile/src/app/Background.tsx
  packages/mobile/src/app/__snapshots__/Background.test.tsx.snap
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/backup/BackupIntroduction.test.tsx
  packages/mobile/src/backup/BackupIntroduction.tsx
  packages/mobile/src/backup/BackupSocialIntro.test.tsx
  packages/mobile/src/backup/BackupSocialIntro.tsx
  packages/mobile/src/backup/__snapshots__/BackupIntroduction.test.tsx.snap
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/pincode/PincodeConfirmation.tsx
  packages/mobile/src/send/saga.test.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Rename PincodeConfirmation.tsx to PincodeEnter.tsx
  packages/mobile/src/account/saga.ts
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/pincode/PincodeEnter.test.tsx
  packages/mobile/src/pincode/PincodeEnter.tsx
  packages/mobile/src/pincode/__snapshots__/PincodeEnter.test.tsx.snap
Owners: @cmcewen, @jmrossy

Use CurrencyDisplay in CeloGoldOverview
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
Owners: @cmcewen, @jmrossy

Use CurrencyDisplay in CeloDollarsOverview
  packages/mobile/locales/en-US/walletFlow5.json
  packages/mobile/locales/es-419/walletFlow5.json
  packages/mobile/src/components/CurrencyDisplay.tsx
  packages/mobile/src/exchange/CeloGoldOverview.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/CeloGoldOverview.test.tsx.snap
  packages/mobile/src/home/CeloDollarsOverview.tsx
  packages/mobile/src/home/__snapshots__/CeloDollarsOverview.test.tsx.snap
  packages/mobile/src/home/__snapshots__/WalletHome.test.tsx.snap
  packages/mobile/src/localCurrency/selectors.test.ts
  packages/mobile/src/localCurrency/selectors.ts
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Owners: @cmcewen, @jmrossy

fix app lock, when requesting permissions on Android
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/backup/BackupIntroduction.test.tsx
  packages/mobile/src/backup/BackupIntroduction.tsx
  packages/mobile/src/backup/__snapshots__/BackupIntroduction.test.tsx.snap
  packages/mobile/src/pincode/PincodeEnter.tsx
  packages/mobile/src/qrcode/QRScanner.tsx
  packages/mobile/src/utils/permissions.android.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Fix PIN lock in Forno mode
  packages/mobile/src/app/selectors.ts
Owners: @cmcewen, @jmrossy

Slashing fixes (#2988)
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_doublesigningslasher_.doublesigningslasherwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_lockedgold_.lockedgoldwrapper.md
  packages/protocol/test/common/integration.ts
  packages/utils/src/collections.ts
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan, @jmrossy

Fix protocol imports
  packages/protocol/migrations/08_reserve.ts
  packages/protocol/migrations/25_elect_validators.ts
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/release_gold.ts
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

use right event name
  packages/web/pages/_app.tsx
  packages/web/src/shared/Progessive.tsx
Owners: @cmcewen, @aaronmgdr

wip
  packages/web/pages/_app.tsx
Owners: @cmcewen, @aaronmgdr
