Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Update
  packages/contractkit/package.json
  packages/protocol/package.json
  packages/protocol/scripts/bash/ganache.sh
  yarn.lock
Owners: @timmoreton, @asaj, @m-chrzan

new yarn.lock
  yarn.lock
Owners: @timmoreton

[L04] Lack of indexed parameters in events (#3125)
  packages/protocol/contracts/common/Registry.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/SortedOracles.sol
Owners: @asaj, @m-chrzan

New version
  packages/contractkit/package.json
  packages/protocol/package.json
  yarn.lock
Owners: @timmoreton, @asaj, @m-chrzan

WIP deploying RG contracts
  packages/protocol/lib/proxy-utils.ts
  packages/protocol/lib/web3-utils.ts
  packages/protocol/scripts/bash/deploy_release_contracts.sh
  packages/protocol/scripts/migration_data/aProtocolRAU.json
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
  packages/protocol/truffle-config.js
Owners: @asaj, @m-chrzan

fix test for transfergold to have two signatories
  packages/cli/src/commands/reserve/transfergold.test.ts
  packages/cli/src/commands/reserve/transfergold.ts
Owners: @mcortesi, @asaj

Begin deploying ReleaseGold
  packages/celotool/src/e2e-tests/tracer_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

contractkit docs
  packages/contractkit/src/wrappers/Reserve.ts
Owners: @timmoreton

allow fields to not need ton have errors
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/alliance/SignupForm.tsx
  packages/web/src/forms/ErrorMessage.tsx
  packages/web/src/forms/LabeledInput.tsx
Owners: @cmcewen, @aaronmgdr

contract kit docs again
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reserve_.reservewrapper.md
Owners: @timmoreton, @cla-bel

Fix protocol test coverage (#3161)
  packages/contractkit/package.json
  packages/protocol/package.json
  packages/protocol/scripts/bash/ganache.sh
  yarn.lock
Owners: @timmoreton, @asaj, @m-chrzan

Urgent fix: coinlist text not rendering (#3157)
  packages/web/public/static/locales/en/home.json
Owners: @cmcewen, @aaronmgdr

add fellowship form test
  packages/web/__mocks__/cross-fetch.ts
  packages/web/src/community/connect/FellowshipForm.test.tsx
Owners: @cmcewen, @aaronmgdr

snapshot now includes human words
  packages/web/jest.config.js
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/index.test.tsx
  packages/web/src/utils/i18nForTests.ts
Owners: @cmcewen, @aaronmgdr

test that translations work
  packages/web/public/static/locales/en/applications.json
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/jobs.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/terms.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/_error.test.tsx
  packages/web/src/_page-tests/about.test.tsx
  packages/web/src/_page-tests/code-of-conduct.test.tsx
  packages/web/src/_page-tests/developers/Index.test.tsx
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/wallet.test.tsx.snap
  packages/web/src/_page-tests/developers/faucet.test.tsx
  packages/web/src/_page-tests/developers/wallet.test.tsx
  packages/web/src/_page-tests/faq.test.tsx
  packages/web/src/_page-tests/index.test.tsx
  packages/web/src/_page-tests/jobs.test.tsx
  packages/web/src/_page-tests/privacy.test.tsx
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
  packages/web/src/_page-tests/stake-off/terms.test.tsx
  packages/web/src/_page-tests/terms.test.tsx
  packages/web/src/_page-tests/test-utils.ts
  packages/web/src/_page-tests/test-utils.tsx
  packages/web/src/_page-tests/user-agreement.test.tsx
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/validators/explore.test.tsx
  packages/web/src/_page-tests/validators/index.test.tsx
  packages/web/src/utils/i18nForTests.ts
Owners: @cmcewen, @aaronmgdr

[web] Fetch more than just first 100 asset (Icons) (#3106)
  packages/web/pages/api/experience/assets/[asset].ts
  packages/web/server/AssetBase.ts
  packages/web/server/byMethod.ts
  packages/web/server/index.ts
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/KeyImagery.tsx
Owners: @cmcewen, @aaronmgdr

Improvements
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Exchange.test.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/protocol/contracts/stability/SortedOracles.sol
Owners: @timmoreton, @asaj, @m-chrzan

More frequent updates to exchange
  packages/dev-utils/src/migration-override.json
Owners: @timmoreton

Oops
  packages/contractkit/src/wrappers/SortedOracles.ts
Owners: @timmoreton

add pages which fetch
  packages/web/src/_page-tests/alliance.test.tsx
  packages/web/src/_page-tests/community.test.tsx
  packages/web/src/_page-tests/past-events.test.tsx
Owners: @cmcewen, @aaronmgdr

view
  packages/protocol/contracts/stability/SortedOracles.sol
Owners: @asaj, @m-chrzan

Update docs for authorize signer key methods in ReleaseGold
  packages/protocol/contracts/governance/ReleaseGold.sol
Owners: @asaj, @m-chrzan

Use more gas
  packages/contractkit/src/wrappers/Exchange.ts
Owners: @timmoreton

Unlocking multiple accounts on load-test pod
  packages/celotool/src/cmds/deploy/initial/load-test.ts
  packages/celotool/src/cmds/deploy/upgrade/load-test.ts
  packages/helm-charts/load-test/templates/load-test.statefulset.yaml
Owners: @timmoreton, @nambrot

[Docs] Typo
  packages/docs/celo-codebase/protocol/transactions/README.md
Owners: @timmoreton, @cla-bel

added interface method to MockLockedGold
  packages/protocol/contracts/governance/test/MockLockedGold.sol
Owners: @asaj, @m-chrzan

[ContractKit] Ledger Wallet
  packages/contractkit/package.json
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/provider-utils.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/wallets/default-wallet.test.ts
  packages/contractkit/src/wallets/default-wallet.ts
  packages/contractkit/src/wallets/ledger-types.d.ts
  packages/contractkit/src/wallets/ledger-wallet.ts
  packages/contractkit/src/wallets/wallet.ts
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
  packages/docs/developer-resources/contractkit/reference/classes/_providers_celo_provider_.celoprovider.md
  packages/docs/developer-resources/contractkit/reference/classes/_wallets_default_wallet_.defaultwallet.md
  packages/docs/developer-resources/contractkit/reference/classes/_wallets_ledger_wallet_.ledgerwallet.md
  packages/docs/developer-resources/contractkit/reference/globals.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_kit_.kitoptions.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_kit_.networkconfig.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_utils_signing_utils_.rlpencodedtx.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_utils_wallet_.wallet.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wallets_wallet_.wallet.md
  packages/docs/developer-resources/contractkit/reference/modules/_kit_.md
  packages/docs/developer-resources/contractkit/reference/modules/_utils_provider_utils_.md
  packages/docs/developer-resources/contractkit/reference/modules/_utils_signing_utils_.md
  packages/docs/developer-resources/contractkit/reference/modules/_utils_wallet_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wallets_default_wallet_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wallets_ledger_wallet_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wallets_wallet_.md
  yarn.lock
Owners: @timmoreton, @cla-bel

Fix codecov config (#3049)
  codecov.yml
Owners: @timmoreton

[Docs] Typo (#3163)
  packages/docs/celo-codebase/protocol/transactions/README.md
Owners: @timmoreton, @cla-bel

Work in progress
  packages/celotool/src/e2e-tests/tracer_tests.ts
  packages/protocol/scripts/truffle/releaseGoldDefaultContracts.json
Owners: @timmoreton, @asaj, @m-chrzan

testing
  packages/protocol/package.json
  yarn.lock
Owners: @asaj, @m-chrzan, @timmoreton

add rewards activate to timeline
  packages/web/public/static/locales/en/home.json
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/roadmap/milestones.ts
Owners: @cmcewen, @aaronmgdr

[celocli] add reserve spender cli tooling, update governance approver tooling to be usable with and without multisig (#3130)
  packages/cli/src/commands/governance/approve.test.ts
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/reserve/transfergold.test.ts
  packages/cli/src/commands/reserve/transfergold.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/docs/command-line-interface/governance.md
  packages/docs/command-line-interface/reserve.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reserve_.reservewrapper.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

More changes
  packages/contractkit/src/explorer/base.ts
  packages/contractkit/src/kit.ts
  packages/contractkit/src/wrappers/BaseWrapper.ts
  packages/contractkit/src/wrappers/Exchange.ts
Owners: @timmoreton

Cleanup
  packages/contractkit/src/wrappers/Exchange.test.ts
  packages/dev-utils/src/migration-override.json
  packages/protocol/contracts/stability/SortedOracles.sol
Owners: @timmoreton, @asaj, @m-chrzan

updating the crawler
  packages/metadata-crawler/src/crawler.ts
Owners: @timmoreton

queries
  packages/metadata-crawler/src/crawler.ts
Owners: @timmoreton

start of email form tests
  packages/web/src/forms/EmailForm.test.tsx
Owners: @cmcewen, @aaronmgdr

add jest dom matcher
  packages/web/jest.config.js
  packages/web/jestSetupAfter.ts
  packages/web/package.json
  packages/web/src/forms/LabeledInput.test.tsx
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Fixing script to allow for native transfers
  packages/protocol/lib/proxy-utils.ts
  packages/protocol/lib/web3-utils.ts
  packages/protocol/scripts/truffle/deploy_release_contracts.ts
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
