Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Handle promises
  packages/web/src/home/HomeSystems.tsx
  packages/web/src/join/Benefits.tsx
  packages/web/src/join/JoinPage.tsx
Owners: @cmcewen, @aaronmgdr

Add contributors id for about#contributors navigation Fixes https://github.com/celo-org/celo-labs/issues/215
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/about/About.test.tsx
  packages/web/src/about/Team.tsx
Owners: @cmcewen, @aaronmgdr

Add feeCurrency to base command flags
  packages/cli/src/base.ts
Owners: @mcortesi, @asaj

Typo
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

Use correct color and coin order on about page circle of coins Fixes https://github.com/celo-org/celo-labs/issues/216
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/community/connect/FullCircle.tsx
Owners: @cmcewen, @aaronmgdr

[Wallet] Rollback zeroSync toggle in case it was not successful (#2434)
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

some fixes
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

Cleanup code
  packages/blockchain-api/src/blockscout.ts
  packages/blockchain-api/src/schema.ts
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransactionsList.tsx
Owners: @jmrossy, @cmcewen

seems to work now
  packages/protocol/test/governance/downtime_slasher.ts
Owners: @asaj, @m-chrzan

fix+add some envvar references. fix bug in calculating weights
  .env
  packages/celotool/src/cmds/bots/auto-vote.ts
  packages/celotool/src/lib/voting-bot.ts
  packages/helm-charts/voting-bot/templates/voting-bot.cronjob.yaml
Owners: @timmoreton, @nambrot

Add 10.0.2.2 to domain-config -> cleartextTrafficPermitted
  packages/mobile/android/app/src/main/res/xml/network_security_config.xml
Owners: @cmcewen, @jmrossy

Fix tests
  packages/mobile/src/exchange/ExchangeConfirmationCard.test.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
  packages/mobile/src/send/TransferConfirmationCard.test.tsx
  packages/mobile/src/send/__snapshots__/TransferConfirmationCard.test.tsx.snap
  packages/mobile/src/transactions/ExchangeFeedItem.test.tsx
  packages/mobile/src/transactions/ExchangeFeedItem.tsx
  packages/mobile/src/transactions/TransactionFeed.tsx
  packages/mobile/src/transactions/TransferFeedItem.test.tsx
  packages/mobile/src/transactions/__snapshots__/ExchangeFeedItem.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionFeed.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransactionsList.test.tsx.snap
  packages/mobile/src/transactions/__snapshots__/TransferFeedItem.test.tsx.snap
Owners: @cmcewen, @jmrossy

Changing references to Baklava NETWORK_ID=200110
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Owners: @timmoreton, @cla-bel

removing unlock account flag
  scripts/run-docker-validator-network.sh
Owners: @timmoreton

improve handling of some edge-cases
  packages/celotool/src/cmds/bots/auto-vote.ts
Owners: @timmoreton

seems towork
  packages/cli/src/commands/slash/downtime.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/utils/src/collections.ts
Owners: @mcortesi, @asaj, @timmoreton, @jmrossy

fix voting bot balance for baklava
  .env.baklava
Owners: @timmoreton

cleanup
  packages/cli/src/commands/slash/downtime.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
Owners: @mcortesi, @asaj, @timmoreton

use celotool image with latest auto-vote command
  .env.baklava
  .env.baklavastaging
Owners: @timmoreton

Hardens asset allocation setting
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Slashing params for stake off phase 2 (#2418)
  packages/celotool/src/e2e-tests/slashing_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
  packages/dev-utils/src/migration-override.json
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
  packages/protocol/scripts/devchain.ts
Owners: @timmoreton, @asaj, @m-chrzan

packages/celotool/src/lib/migration-utils.ts
  packages/celotool/src/lib/migration-utils.ts
Owners: @timmoreton

Address comments
  packages/cli/src/commands/governance/list.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

WIP adding screen
  packages/mobile/.env
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Owners: @cmcewen, @jmrossy

Add fiat exchange
  packages/mobile/src/account/FiatExchange.tsx
Owners: @cmcewen, @jmrossy

Add tests for Events Remove reddit logo
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/community/connect/Events.test.tsx
  packages/web/src/icons/RedditLogo.tsx
  packages/web/src/shared/Spinner.tsx
Owners: @cmcewen, @aaronmgdr

Add event logging to displaySendTx
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/utils/cli.ts
Owners: @mcortesi, @asaj

Configure the time to wait for text messages
  packages/celotool/src/cmds/bots/auto-verify.ts
Owners: @timmoreton

Fix utils imports
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/viewhotfix.ts
Owners: @mcortesi, @asaj

Remove ternary
  packages/cli/src/commands/governance/viewhotfix.ts
Owners: @mcortesi, @asaj

Make governance CLI more usable (#2428)
  packages/cli/package.json
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/commands/governance/execute.ts
  packages/cli/src/commands/governance/executehotfix.ts
  packages/cli/src/commands/governance/list.ts
  packages/cli/src/commands/governance/preparehotfix.ts
  packages/cli/src/commands/governance/propose.ts
  packages/cli/src/commands/governance/upvote.ts
  packages/cli/src/commands/governance/view.ts
  packages/cli/src/commands/governance/viewhotfix.ts
  packages/cli/src/commands/governance/vote.ts
  packages/cli/src/commands/governance/whitelisthotfix.ts
  packages/cli/src/utils/cli.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/governance.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Fix color of rings on celo logo, should always have green logo on top.
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/animation/__snapshots__/rise.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/logos/Logo.tsx
Owners: @cmcewen, @aaronmgdr

Unfreeze rewards by default
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Fix coin colors (#2441)
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/community/connect/FullCircle.tsx
Owners: @cmcewen, @aaronmgdr

Update number of celo backers Fixes https://github.com/celo-org/celo-labs/issues/217
  packages/web/src/about/Backers.tsx
  packages/web/static/locales/en/about.json
Owners: @cmcewen, @aaronmgdr

Drop target down since we are not at 80 yet
  .codecov.yml
Owners: @timmoreton

Format
  .circleci/config.yml
Owners: @timmoreton

Baklava and baklavastaging deploys (#2421)
  .env.baklava
  .env.baklavastaging
  packages/celotool/src/lib/blockscout.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/docs/getting-started/reconnecting-to-network.md
  packages/docs/getting-started/running-a-full-node.md
  packages/docs/getting-started/running-a-validator.md
  packages/helm-charts/blockscout/templates/_helpers.tpl
  packages/protocol/truffle-config.js
  packages/terraform-modules-public/example/variables.tf
  scripts/run-docker-validator-network.sh
  scripts/validator-config.rc
Owners: @timmoreton, @cla-bel, @nambrot, @asaj, @m-chrzan

Unfreeze rewards by default (#2452)
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

Add minElectableValidators=1 to celotool/src/lib/migration-utils migrationOverrides
  packages/celotool/src/lib/migration-utils.ts
Owners: @timmoreton
