Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nambrot, @timmoreton, @jmrossy, @cmcewen, @mcortesi, @asaj, @annakaz, @m-chrzan, @ashishb, @yerdua, @tkporter, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/cli/ @mcortesi @asaj
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/walletkit/ @ashishb @yerdua
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/web/ @cmcewen @aaronmgdr

Massaging to get hermes working
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/react.gradle
  packages/mobile/android/gradle.properties
Owners: @cmcewen, @jmrossy

Fix unable to backup key on iOS
  packages/mobile/src/backup/BackupPhrase.tsx
Owners: @cmcewen, @jmrossy

flesh out the sorted oracles wrapper and tests
  packages/contractkit/package.json
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/protocol/migrations/08_stabletoken.ts
  packages/protocol/scripts/devchain.ts
Owners: @asaj, @m-chrzan

stop hardcoding oracles in stabletoken migration. make network config values accessible to tests
  packages/contractkit/src/test-utils/ganache.setup.ts
  packages/contractkit/src/test-utils/network-config.json
  packages/contractkit/src/wrappers/SortedOracles.test.ts
  packages/protocol/migrations/08_stabletoken.ts
Owners: @asaj, @m-chrzan

WIP, nothing should really work.
  packages/mobile/src/firebase/actions.ts
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/firebase/saga.ts
Owners: @cmcewen, @jmrossy

handlePaymentReceived now a saga
  packages/mobile/src/firebase/notifications.ts
Owners: @cmcewen, @jmrossy

test pass
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/notifications.ts
  packages/mobile/src/firebase/saga.ts
Owners: @cmcewen, @jmrossy

initializeCloudMessaging is now a saga (one channel yet TB created)
  packages/mobile/src/firebase/firebase.ts
Owners: @cmcewen, @jmrossy

notifications.ts doesn't have more thunk
  packages/mobile/src/firebase/notifications.ts
Owners: @cmcewen, @jmrossy

renamed saga functions
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/notifications.ts
Owners: @cmcewen, @jmrossy

lint
  packages/mobile/src/firebase/firebase.ts
Owners: @cmcewen, @jmrossy

build
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/saga.ts
Owners: @cmcewen, @jmrossy

fixed tests
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/saga.ts
Owners: @cmcewen, @jmrossy

Enable push notifications
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/ios/celo/Info.plist
Owners: @cmcewen, @jmrossy

yarn and builds without thunk dep
  packages/mobile/package.json
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/test/utils.ts
  yarn.lock
Owners: @cmcewen, @jmrossy

npm inter-repo dependencies instructions
  README-dev.md
Owners: none

Address PR comments, script to check pkgs
  README-dev.md
  package.json
  scripts/check-packages.js
Owners: none

lint
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/redux/reducers.ts
Owners: @cmcewen, @jmrossy

empty functions lint
  packages/mobile/src/firebase/firebase.test.ts
  packages/mobile/src/firebase/firebase.ts
Owners: @cmcewen, @jmrossy

Document npm inter-repo dependencies instructions (#1370)
  README-dev.md
  package.json
  scripts/check-packages.js
Owners: none

Social backup is feature complete
  packages/mobile/locales/en-US/backupKeyFlow6.json
  packages/mobile/locales/en-US/global.json
  packages/mobile/package.json
  packages/mobile/src/analytics/constants.ts
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/backup/BackupComplete.tsx
  packages/mobile/src/backup/BackupIntroduction.tsx
  packages/mobile/src/backup/BackupPhrase.tsx
  packages/mobile/src/backup/BackupPhraseContainer.tsx
  packages/mobile/src/backup/BackupQuiz.tsx
  packages/mobile/src/backup/BackupSocial.tsx
  packages/mobile/src/backup/BackupSocialIntro.tsx
  packages/mobile/src/backup/utils.ts
  packages/mobile/src/components/DevSkipButton.tsx
  packages/mobile/src/index.d.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/react-components/components/Link.tsx
  packages/react-components/components/SmallButton.tsx
Owners: @cmcewen, @jmrossy

Use proper yield call
  packages/mobile/src/exchange/saga.ts
Owners: @cmcewen, @jmrossy

some progress on tests
  packages/mobile/src/backup/BackupIntroduction.test.tsx
  packages/mobile/src/backup/BackupPhrase.test.tsx
  packages/mobile/src/backup/BackupPhraseContainer.test.tsx
  packages/mobile/src/backup/BackupQuiz.test.tsx
  packages/mobile/test/values.ts
Owners: @cmcewen, @jmrossy

Address PR comments
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/Proposals.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IGovernance.sol
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

Switch to generator fns in verification
  packages/mobile/src/identity/verification.ts
Owners: @cmcewen, @jmrossy

Remove superflous methods
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
Owners: @asaj, @m-chrzan

[Wallet] Add Celo Lite toggle (UI only, zeroSync on/off in other PR) (#1369)
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Analytics.test.tsx
  packages/mobile/src/account/CeloLite.test.tsx
  packages/mobile/src/account/CeloLite.tsx
  packages/mobile/src/account/EditProfile.tsx
  packages/mobile/src/account/Education.tsx
  packages/mobile/src/account/Invite.tsx
  packages/mobile/src/account/Licenses.test.tsx
  packages/mobile/src/account/Profile.tsx
  packages/mobile/src/account/__snapshots__/Analytics.test.tsx.snap
  packages/mobile/src/account/__snapshots__/CeloLite.test.tsx.snap
  packages/mobile/src/account/__snapshots__/Licenses.test.tsx.snap
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Field yield all
  packages/mobile/src/identity/verification.ts
Owners: @cmcewen, @jmrossy

Move invite to saga (working and tested on integration)
  packages/mobile/src/identity/verification.ts
  packages/mobile/src/invite/saga.ts
Owners: @cmcewen, @jmrossy

WIP turing send to generators, not working
  packages/mobile/src/transactions/send.ts
Owners: @cmcewen, @jmrossy

fix type bug in adding int to string and support transfers with sendTransactionWithPrivateKey
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/17_elect_validators.ts
Owners: @asaj, @m-chrzan

Java heap error
  .circleci/config.yml
Owners: none

Refactor to Accounts.solc
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/ILockedGold.sol
  packages/protocol/contracts/governance/test/MockLockedGold.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/interfaces/IAttestations.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/common/accounts.ts
  packages/protocol/test/governance/lockedgold.ts
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

Update snapshot
  packages/mobile/src/account/__snapshots__/Licenses.test.tsx.snap
Owners: @cmcewen, @jmrossy

Bump up resource class
  .circleci/config.yml
Owners: none

Finish switch to generators
  packages/mobile/src/transactions/send.ts
Owners: @cmcewen, @jmrossy

[Wallet] Enable push notifications on iOS (#1389)
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/ios/celo/Info.plist
Owners: @cmcewen, @jmrossy

Use zeroSync state throughout
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/transactions/send.ts
Owners: @cmcewen, @jmrossy

Finish switch over to only using state, excet in intialization web3
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Get e2e tests running
  SETUP.md
  packages/mobile/android/build.gradle
  packages/mobile/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy
