Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

updated comments again
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

add instagram icon
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/icons/instagram.png
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

fix slashing e2e tests (#3108)
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

Small adjustments to migrations config (#2972)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/dev-utils/src/migration-override.json
  packages/protocol/migrations/08_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
Owners: @timmoreton, @asaj, @m-chrzan

[Wallet] Fix splash screen green gap (#3105)
  packages/mobile/__mocks__/src/analytics/CeloAnalytics.ts
  packages/mobile/src/app/App.test.tsx
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/navigator/NavigationService.test.ts
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/NavigatorWrapper.tsx
  packages/mobile/src/navigator/Screens.tsx
Owners: @cmcewen, @jmrossy

Experience Brand kit updates (#3090)
  packages/web/public/normalize.css
  packages/web/public/static/locales/en/brand.json
  packages/web/public/static/normalize.css
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/common/CCLicense.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/shared/InlineAnchor.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Fix web build by changing literal to string (#3109)
  packages/web/src/styles.ts
Owners: @cmcewen, @aaronmgdr

Reducing boilerplate finished and adding better checks
  packages/cli/src/commands/releasegold/authorize.ts
  packages/cli/src/commands/releasegold/create-account.ts
  packages/cli/src/commands/releasegold/locked-gold.ts
  packages/cli/src/commands/releasegold/refund-and-finalize.ts
  packages/cli/src/commands/releasegold/release-gold.ts
  packages/cli/src/commands/releasegold/revoke-votes.ts
  packages/cli/src/commands/releasegold/revoke.ts
  packages/cli/src/commands/releasegold/set-account-wallet-address.ts
  packages/cli/src/commands/releasegold/set-account.ts
  packages/cli/src/commands/releasegold/set-beneficiary.ts
  packages/cli/src/commands/releasegold/set-liquidity-provision.ts
  packages/cli/src/commands/releasegold/set-max-distribution.ts
  packages/cli/src/commands/releasegold/show.ts
  packages/cli/src/commands/releasegold/transfer.ts
  packages/cli/src/commands/releasegold/withdraw.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
Owners: @mcortesi, @asaj, @timmoreton

improve mobile look for CL
  packages/web/src/home/CoinList.tsx
Owners: @cmcewen, @aaronmgdr

order
  packages/web/src/shared/Footer.tsx
Owners: @cmcewen, @aaronmgdr

fix lint
  packages/web/src/home/version3/HomeHero.tsx
Owners: @cmcewen, @aaronmgdr

updated tests, added getSpenders for reserve using events, use generic multisig contract wrapper
  packages/contractkit/src/base.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/GovernanceApproverMultiSig.ts
  packages/contractkit/src/wrappers/MultiSig.ts
  packages/contractkit/src/wrappers/Reserve.test.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/contractkit/src/wrappers/ReserveSpenderMultiSig.ts
  packages/dev-utils/src/migration-override.json
Owners: @timmoreton

doc updates
  packages/cli/src/commands/governance/approve.ts
Owners: @mcortesi, @asaj

docs updates and lint issue resolution
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/classes/_contract_cache_.wrappercache.md
  packages/docs/developer-resources/contractkit/reference/classes/_web3_contract_cache_.web3contractcache.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.basewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governanceapprovermultisig_.governanceapprovermultisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_multisig_.multisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reserve_.reservewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reservespendermultisig_.reservespendermultisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/enums/_base_.celocontract.md
  packages/docs/developer-resources/contractkit/reference/globals.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_reserve_.reserveconfig.md
  packages/docs/developer-resources/contractkit/reference/modules/_base_.md
  packages/docs/developer-resources/contractkit/reference/modules/_contract_cache_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_governanceapprovermultisig_.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_reservespendermultisig_.md
Owners: @timmoreton, @cla-bel

last docs hopefully
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_basewrapper_.basewrapper.md
Owners: @timmoreton, @cla-bel

Add trasnfer:trace cli command
  packages/cli/src/base.ts
  packages/cli/src/commands/transfer/trace.ts
  packages/contractkit/package.json
  packages/contractkit/src/utils/provider-utils.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/docs/command-line-interface/transfer.md
  yarn.lock
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

new getActiveVotesForGroupByAccount harness
  packages/protocol/specs/election.spec
  packages/protocol/specs/harnesses/ElectionHarness.sol
Owners: @asaj, @m-chrzan

lint and documentation
  packages/cli/src/commands/identity/test-domain-claim.ts
  packages/docs/command-line-interface/identity.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

adding README file to the new package
  packages/metadata-crawler/README.md
Owners: @timmoreton

enable istanbul hardfork
  packages/celotool/src/lib/genesis_constants.ts
Owners: @timmoreton

adapting for using a remote db
  packages/metadata-crawler/README.md
  packages/metadata-crawler/package.json
  packages/metadata-crawler/src/crawler.ts
Owners: @timmoreton

fixed imports
  packages/metadata-crawler/src/crawler.ts
Owners: @timmoreton

adding heap checks
  packages/protocol/contracts/common/libraries/Heap.sol
Owners: @asaj, @m-chrzan

adding more checks, adding tests
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

perhaps now tests are ok
  packages/protocol/test/governance/lockedgold.ts
Owners: @asaj, @m-chrzan

removed modifier
  packages/protocol/contracts/common/GoldToken.sol
Owners: @asaj, @m-chrzan

removed initializers from interfaces
  packages/protocol/contracts/common/interfaces/IFeeCurrencyWhitelist.sol
  packages/protocol/contracts/common/interfaces/IFreezer.sol
  packages/protocol/contracts/common/interfaces/IRegistry.sol
  packages/protocol/contracts/common/interfaces/IValidators.sol
  packages/protocol/contracts/identity/interfaces/IEscrow.sol
  packages/protocol/contracts/stability/interfaces/IExchange.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
Owners: @asaj, @m-chrzan

added more indexing to events
  packages/protocol/contracts/common/TransferWhitelist.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/SortedOracles.sol
Owners: @asaj, @m-chrzan

combined the two loops
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan

made the variable private
  packages/protocol/contracts/common/TransferWhitelist.sol
Owners: @asaj, @m-chrzan

update comment
  packages/protocol/contracts/common/Accounts.sol
Owners: @asaj, @m-chrzan

Update to master commit
  packages/mobile/package.json
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

RC0 deployment changes
  .env.rc0
  packages/celotool/genesis_rc0.json
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/03_freezer.ts
  packages/protocol/migrations/03_whitelist.ts
  packages/protocol/migrations/24_governance.ts
  packages/protocol/migrations/25_elect_validators.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/truffle-config.js
  scripts/key_placer.sh
Owners: @timmoreton, @asaj, @m-chrzan

updated helm package
  packages/helm-charts/chaos-mesh/README.md
  packages/helm-charts/chaos-mesh/manifests/crd.yaml
  packages/helm-charts/chaos-mesh/templates/chaos-daemon-daemonset.yaml
  packages/helm-charts/chaos-mesh/templates/collector-mysql.yaml
  packages/helm-charts/chaos-mesh/templates/collector-rbac.yaml
  packages/helm-charts/chaos-mesh/templates/controller-manager-deployment.yaml
  packages/helm-charts/chaos-mesh/templates/controller-manager-rbac.yaml
  packages/helm-charts/chaos-mesh/templates/post-install-create-cert-job.yaml
  packages/helm-charts/chaos-mesh/templates/post-install-webhook-job.yaml
  packages/helm-charts/chaos-mesh/templates/pre-delete-job.yaml
  packages/helm-charts/chaos-mesh/templates/webhook-configuration.yaml
  packages/helm-charts/chaos-mesh/values.yaml
Owners: @nambrot, @timmoreton

Get ready for check-in
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
  packages/protocol/lib/web3-utils.ts
  packages/protocol/migrations/03_freezer.ts
  packages/protocol/migrations/03_whitelist.ts
  packages/protocol/migrations/09_stabletoken.ts
  packages/protocol/migrations/24_governance.ts
  packages/protocol/migrations/25_elect_validators.ts
  packages/protocol/migrationsConfig.js
Owners: @nambrot, @timmoreton, @asaj, @m-chrzan

[web] Add Instagram + change Medium link + ignore error (#3115)
  packages/web/fullstack/sentry.ts
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/icons/instagram.png
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

timeline
  packages/web/public/static/locales/en/home.json
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/Home.tsx
  packages/web/src/home/roadmap/GoldStone.tsx
  packages/web/src/home/roadmap/Milestones.tsx
  packages/web/src/icons/value-of-gold-no-axis.png
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Begin sketching getCredits
  packages/contractkit/src/explorer/assets.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/StableTokenWrapper.ts
Owners: @timmoreton

[web] home with CL (#3116)
  packages/web/public/static/locales/en/home.json
  packages/web/server/Announcement.ts
  packages/web/server/geoip.ts
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/CoinList.tsx
  packages/web/src/home/Home.test.tsx
  packages/web/src/home/Home.tsx
  packages/web/src/home/logos/coinlist-glyph.png
  packages/web/src/home/logos/coinlist-logo.png
  packages/web/src/home/logos/image 6.png
  packages/web/src/home/merchant.jpg
  packages/web/src/home/version3/HomeHero.tsx
  packages/web/src/illustrations/03-Inclusive-money-(light-bg).png
  packages/web/src/press/Press.tsx
  packages/web/src/shared/EX.tsx
  packages/web/src/shared/menu-items.ts
  packages/web/src/utils/countries.test.ts
  packages/web/src/utils/countries.ts
Owners: @cmcewen, @aaronmgdr

no fly in
  packages/web/src/home/roadmap/GoldStone.tsx
Owners: @cmcewen, @aaronmgdr
