Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Community reward via governable fraction (#2328)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/migrations/15_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
Owners: @timmoreton, @asaj, @m-chrzan

Support issuer selection under key rotation (#2645)
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

[WalletKit] Fix using incorrect gcs bucket for downloading production artifacts (#2651)
  packages/walletkit/bin/build-sdk.js
  packages/walletkit/package.json
Owners: @ashishb, @yerdua

Cache built detox framewrok
  .circleci/config.yml
Owners: @timmoreton

Remove spurious `export` (#2712)
  packages/docs/operations-manual/node-upgrades.md
Owners: @timmoreton, @cla-bel

Remove spurious `export` (#2712)
  packages/docs/operations-manual/node-upgrades.md
Owners: @timmoreton, @cla-bel

Remove max-workers=1 option as it's too slow and runs out of memory on the CI
  packages/mobile/scripts/run_e2e.sh
Owners: @cmcewen, @jmrossy

Tweak echo
  packages/mobile/scripts/run_e2e.sh
Owners: @cmcewen, @jmrossy

Changing names, fixing bug and fixing nums
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/test/identity/random.ts
Owners: @asaj, @m-chrzan

Improvements from review
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Add snapshot test
  packages/mobile/src/account/__snapshots__/FiatExchange.test.tsx.snap
Owners: @cmcewen, @jmrossy

Add Walkthtrough: Deploy a contract
  packages/docs/developer-resources/walkthroughs/hellocontracts.md
Owners: @timmoreton, @cla-bel

initial docs skeleton
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/reference.md
  packages/docs/developer-resources/walkthroughs/README.md
  packages/docs/developer-resources/walkthroughs/hellocelo.md
  packages/docs/developer-resources/walkthroughs/hellocontracts.md
  packages/docs/developer-resources/walkthroughs/hellodapp.md
  packages/docs/developer-resources/walkthroughs/hellodeploy.md
Owners: @timmoreton, @cla-bel

merge
  packages/docs/SUMMARY.md
Owners: @timmoreton, @cla-bel

bump contractkit version once more to facilitate an additional publish
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy

Increment @celo/utils, @celo/contractkit, and @celo/celocli version numbers (#2709)
  packages/attestation-service/package.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/contractkit/package.json
  packages/dappkit/package.json
  packages/leaderboard/package.json
  packages/mobile/package.json
  packages/protocol/package.json
  packages/react-components/package.json
  packages/transaction-metrics-exporter/package.json
  packages/utils/package.json
  packages/verifier/package.json
  packages/walletkit/package.json
Owners: @timmoreton, @mcortesi, @asaj, @cmcewen, @jmrossy, @m-chrzan, @nambrot, @ashishb, @yerdua

Addressing review - remove registry entry, adjust liquidity provision and other booleans
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/test/governance/vesting.ts
Owners: @asaj, @m-chrzan

Fix minor verification typo (#2715)
  packages/mobile/locales/en-US/nuxVerification2.json
Owners: @cmcewen, @jmrossy

Add mock for RN secure key store to prevent jest hanging handles
  packages/mobile/__mocks__/react-native-secure-key-store.ts
Owners: @cmcewen, @jmrossy

Remove unnecessary file
  .env.lucas
Owners: @timmoreton

Paring certora commit down to just lockedgold and accounts
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/election.conf
  packages/protocol/specs/election.spec
  packages/protocol/specs/governance.spec
  packages/protocol/specs/harnesses/ElectionHarness.sol
  packages/protocol/specs/list_v1.spec
  packages/protocol/specs/signature_extraction_test.spec
Owners: @asaj, @m-chrzan

Remove test-utils docs
  packages/contractkit/typedoc.json
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/SUMMARY.md
  packages/docs/developer-resources/contractkit/reference/globals.md
  packages/docs/developer-resources/contractkit/reference/modules/_test_utils_ganache_setup_.md
  packages/docs/developer-resources/contractkit/reference/modules/_test_utils_ganache_teardown_.md
  packages/docs/developer-resources/contractkit/reference/modules/_test_utils_promieventstub_.md
Owners: @timmoreton, @cla-bel

[contractKit] use Tx instead of CeloTx
  packages/contractkit/package.json
  packages/contractkit/src/kit.ts
  packages/contractkit/src/providers/celo-provider.test.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/contractkit/src/utils/celo-tx.ts
  packages/contractkit/src/utils/missing-tx-params-populator.test.ts
  packages/contractkit/src/utils/missing-tx-params-populator.ts
  packages/contractkit/src/utils/sign-typed-data-utils.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/utils/tx-signing.test.ts
  packages/contractkit/src/utils/wallet.test.ts
  packages/contractkit/src/utils/wallet.ts
Owners: @timmoreton

[mobile] adding contractkit mock
  packages/mobile/__mocks__/@celo/contractkit/index.ts
Owners: @cmcewen, @jmrossy

Mock the WithPasteAware HOC to make jest happy
  packages/mobile/__mocks__/@celo/react-components/components/WithTextInputPasteAware.ts
  packages/mobile/src/backup/__snapshots__/BackupPhraseContainer.test.tsx.snap
  packages/mobile/src/components/__snapshots__/CodeRow.test.tsx.snap
  packages/mobile/src/import/__snapshots__/ImportWallet.test.tsx.snap
  packages/mobile/src/import/__snapshots__/ImportWalletSocial.test.tsx.snap
  packages/mobile/src/invite/__snapshots__/EnterInviteCode.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
Owners: @cmcewen, @jmrossy

Add yarn.lock for deploy
  packages/faucet/firebase.json
  packages/faucet/package.json
  packages/faucet/src/celo-adapter.ts
  packages/faucet/src/protocol/signing-utils.ts
  packages/faucet/yarn.lock
  yarn.lock
Owners: @timmoreton

Add back lint
  packages/faucet/firebase.json
Owners: @timmoreton

[Wallet] Improve clipboard watching (#2708)
  packages/faucet/src/database-helper.ts
  packages/mobile/.env
  packages/mobile/__mocks__/@celo/react-components/components/WithTextInputPasteAware.ts
  packages/mobile/__mocks__/react-native-secure-key-store.ts
  packages/mobile/src/backup/__snapshots__/BackupPhraseContainer.test.tsx.snap
  packages/mobile/src/components/__snapshots__/CodeRow.test.tsx.snap
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/import/__snapshots__/ImportWallet.test.tsx.snap
  packages/mobile/src/import/__snapshots__/ImportWalletSocial.test.tsx.snap
  packages/mobile/src/invite/__snapshots__/EnterInviteCode.test.tsx.snap
  packages/mobile/src/verify/__snapshots__/VerificationInputScreen.test.tsx.snap
  packages/react-components/components/WithTextInputPasteAware.tsx
Owners: @timmoreton, @cmcewen, @jmrossy

add the @baklava tag to npm install commands
  packages/contractkit/README.md
  packages/docs/command-line-interface/introduction.md
  packages/docs/developer-resources/contractkit/setup.md
Owners: @timmoreton, @cla-bel

update docs to account for baklava changes
  packages/docs/command-line-interface/governance.md
  packages/docs/developer-resources/contractkit/reference/README.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_accounts_.accountswrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/docs/developer-resources/contractkit/reference/enums/_wrappers_governance_.votevalue.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_governance_.hotfixrecord.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_governance_.proposalmetadata.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_governance_.proposalrecord.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_governance_.upvoterecord.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_governance_.votes.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_governance_.md
Owners: @timmoreton, @cla-bel

Addressing style issues and possibly fixing bugs
  packages/protocol/specs/harnesses/GoldTokenHarness.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

Make changes based on review
  packages/mobile/src/account/FiatExchange.tsx
Owners: @cmcewen, @jmrossy

Enumerate all governable functions
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/governanceConstitution.js
Owners: @asaj, @m-chrzan

add back some spot fixes from master
  packages/protocol/package.json
  packages/protocol/runTests.js
  packages/protocol/scripts/build.ts
  packages/protocol/scripts/devchain.ts
Owners: @asaj, @m-chrzan

Move the faucet to use ContractKit (#2722)
  packages/faucet/.gitignore
  packages/faucet/package.json
  packages/faucet/scripts/test-celo-adapter.ts
  packages/faucet/scripts/transfer-funds.ts
  packages/faucet/src/celo-adapter.ts
  packages/faucet/src/contracts/Escrow.ts
  packages/faucet/src/contracts/GoldToken.ts
  packages/faucet/src/contracts/StableToken.ts
  packages/faucet/src/contracts/types/Escrow.d.ts
  packages/faucet/src/contracts/types/GoldToken.d.ts
  packages/faucet/src/contracts/types/StableToken.d.ts
  packages/faucet/src/database-helper.ts
  packages/faucet/src/index.ts
  packages/faucet/src/protocol/signing-utils.ts
  packages/faucet/src/test-driver.ts
  packages/faucet/src/tx.ts
  packages/faucet/yarn.lock
  yarn.lock
Owners: @timmoreton

async component did mount
  packages/mobile/src/account/FiatExchange.tsx
Owners: @cmcewen, @jmrossy

First pass at actual values
  packages/protocol/governanceConstitution.js
Owners: @asaj, @m-chrzan

add flags to support Geth 1.9
  packages/celotool/src/lib/generate_utils.ts
  packages/celotool/src/lib/geth.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

added --allow-insecure-unlock flag for e2e tests
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

Fail if lockfile changed after running pod install / bundle install
  .circleci/config.yml
Owners: @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
