Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @asaj, @cmcewen, @timmoreton, @nambrot, @codyborn, @jmrossy, @mcortesi, @gastonponti, @mrsmkl, @aaitor, @annakaz, @nategraf, @aaronmgdr, @tkporter

Add Celo Foundation to the About Page
  packages/web/public/static/locales/en/about.json
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/about/About.tsx
Owners: @cmcewen, @aaronmgdr

Use truncated hash for salt generation
  packages/mobile/src/identity/privacy.test.ts
  packages/mobile/src/identity/privacy.ts
  packages/mobile/src/send/SendAmount.tsx
Owners: @cmcewen, @jmrossy

Increment build number
  packages/mobile/android/gradle.properties
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
Owners: @cmcewen, @jmrossy

Refactored calc mean and track on geth events.
  packages/mobile/src/analytics/constants.ts
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/utils/time.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Refactored calc mean and track on geth events.
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/utils/time.ts
Owners: @cmcewen, @jmrossy

redesign account key (Part 1 - Core Flow)
  packages/mobile/locales/en-US/backupKeyFlow6.json
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/backupKeyFlow6.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/backup/BackupComplete.tsx
  packages/mobile/src/backup/BackupIntroduction.test.tsx
  packages/mobile/src/backup/BackupIntroduction.tsx
  packages/mobile/src/backup/BackupPhrase.tsx
  packages/mobile/src/backup/BackupPhraseContainer.tsx
  packages/mobile/src/backup/BackupQuiz.tsx
  packages/mobile/src/backup/DelayButton.test.tsx
  packages/mobile/src/backup/DelayButton.tsx
  packages/mobile/src/backup/QuizzBottom.tsx
  packages/mobile/src/backup/__snapshots__/BackupComplete.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupIntroduction.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupPhrase.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupPhraseContainer.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupQuiz.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupSocial.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/DelayButton.test.tsx.snap
  packages/mobile/src/backup/utils.ts
  packages/mobile/src/components/CancelButton.v2.tsx
  packages/mobile/src/icons/Logo.v2.tsx
  packages/mobile/src/import/__snapshots__/ImportWallet.test.tsx.snap
  packages/mobile/src/import/__snapshots__/ImportWalletSocial.test.tsx.snap
  packages/react-components/components/Switch.v2.tsx
  packages/react-components/styles/styles.v2.ts
Owners: @cmcewen, @jmrossy, @aaronmgdr

PR feedback
  packages/celotool/src/cmds/deploy/upgrade/oracle.ts
  packages/celotool/src/lib/oracle.ts
Owners: @asaj

[ContractKit] CeloProvider delegates subscriptions
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/contractkit/src/providers/celo-provider.ts
  packages/docs/developer-resources/contractkit/reference/classes/_providers_celo_provider_.celoprovider.md
Owners: @asaj, @mcortesi, @gastonponti, @timmoreton

track and mean update also on web3.
  packages/mobile/src/geth/geth.ts
  packages/mobile/src/utils/time.ts
  packages/mobile/src/web3/saga.ts
Owners: @cmcewen, @jmrossy

Show app locked banner
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/NavigatorWrapper.tsx
Owners: @cmcewen, @jmrossy

[wallet/azure-hsm] fix bug when converting big number to a buffer
  packages/contractkit/src/utils/azure-key-vault-client.ts
  packages/contractkit/src/utils/signing-utils.ts
  packages/contractkit/src/wallets/azure-hsm-wallet.ts
Owners: @mcortesi, @gastonponti

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# default owners, overridden by package specific owners below
* @asaj @cmcewen @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @nambrot
/packages/azure/ @codyborn
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @asaj
/packages/cli/ @mcortesi @gastonponti
/packages/contractkit/ @mcortesi @gastonponti
/packages/dappkit/ @cmcewen
/packages/devutils/ @mcortesi
/packages/docs/ @timmoreton
/packages/faucet/ @jmrossy
/packages/helm-charts/ @nambrot @timmoreton
/packages/leaderboard/ @mrsmkl
/packages/metadata-crawler/ @aaitor
/packages/mobile/ @cmcewen @jmrossy
/packages/moonpay-auth/ @annakaz
/packages/notification-service/ @annakaz @cmcewen
/packages/phone-number-privacy/ @jmrossy
/packages/protocol/ @asaj @nategraf
/packages/react-components/ @jmrossy @aaronmgdr
/packages/terraform-modules-public/ @tkporter
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/web/ @cmcewen @aaronmgdr
