Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Will now auto public alliance page at 12 noon UTC
  packages/web/pages/alliance.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Revert "Will now auto public alliance page at 12 noon UTC"
  packages/web/pages/alliance.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/shared/Footer.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

fixes issue with menu rendering on two rows rather than one due to artifacts leftover by dynamic.
  packages/web/src/header/Header.3.tsx
Owners: @cmcewen, @aaronmgdr

make it common to fix it showing key
  packages/web/public/static/locales/en/common.json
  packages/web/src/forms/EmailForm.tsx
Owners: @cmcewen, @aaronmgdr

Use and style new icons in backup and import flows
  packages/mobile/locales/es-419/backupKeyFlow6.json
  packages/mobile/src/backup/BackupIntroduction.tsx
  packages/mobile/src/backup/BackupPhraseContainer.tsx
  packages/mobile/src/backup/BackupSocialIntro.tsx
  packages/mobile/src/backup/__snapshots__/BackupIntroduction.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupPhraseContainer.test.tsx.snap
  packages/mobile/src/backup/__snapshots__/BackupSocialIntro.test.tsx.snap
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/__snapshots__/NotificationBox.test.tsx.snap
  packages/mobile/src/icons/BackupIntroIcon.tsx
  packages/mobile/src/icons/BackupKeyIcon.tsx
  packages/mobile/src/icons/LockedPhoneIcon.tsx
  packages/mobile/src/icons/SafeguardsIcon.tsx
  packages/mobile/src/icons/SafeguardsPeopleIcon.tsx
  packages/mobile/src/import/ImportWallet.tsx
  packages/mobile/src/import/ImportWalletEmpty.tsx
  packages/mobile/src/import/ImportWalletSocial.tsx
  packages/mobile/src/import/__snapshots__/ImportWallet.test.tsx.snap
  packages/mobile/src/import/__snapshots__/ImportWalletEmpty.test.tsx.snap
  packages/mobile/src/import/__snapshots__/ImportWalletSocial.test.tsx.snap
  packages/mobile/src/notifications/SimpleNotification.test.tsx
  packages/mobile/src/notifications/SimpleNotification.tsx
  packages/mobile/src/notifications/__snapshots__/SimpleNotification.test.tsx.snap
  packages/mobile/src/pincode/PincodeEducation.tsx
Owners: @cmcewen, @jmrossy

Generate valid types for every contract
  packages/celotool/src/cmds/unfreeze_contracts.ts
  packages/contractkit/src/address-registry.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Attestations.ts
  packages/contractkit/src/wrappers/BlockchainParameters.ts
  packages/contractkit/src/wrappers/DoubleSigningSlasher.ts
  packages/contractkit/src/wrappers/DowntimeSlasher.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Escrow.ts
  packages/contractkit/src/wrappers/Exchange.ts
  packages/contractkit/src/wrappers/GasPriceMinimum.ts
  packages/contractkit/src/wrappers/GoldTokenWrapper.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/LockedGold.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/contractkit/src/wrappers/SortedOracles.ts
  packages/contractkit/src/wrappers/StableTokenWrapper.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/protocol/package.json
  packages/protocol/scripts/build.ts
  yarn.lock
Owners: @timmoreton, @asaj, @m-chrzan

pull out multisigwrapper reference from governance/reserve wrapers and require clients to request through the multisigwrapper
  packages/celotool/src/cmds/account/faucet.ts
  packages/cli/src/commands/governance/approve.ts
  packages/contractkit/src/contract-cache.ts
  packages/contractkit/src/web3-contract-cache.ts
  packages/contractkit/src/wrappers/Governance.test.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/GovernanceApproverMultiSig.ts
  packages/contractkit/src/wrappers/MultiSig.ts
  packages/contractkit/src/wrappers/Reserve.test.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/protocol/migrations/07_reserve_spender_multisig.ts
  packages/protocol/migrations/23_governance_approver_multisig.ts
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan

updates bls12377js
  packages/celotool/package.json
  packages/cli/package.json
  packages/protocol/package.json
  packages/utils/package.json
  yarn.lock
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan, @jmrossy

updates circleci dockerfile
  dockerfiles/circleci/Dockerfile
Owners: @timmoreton

docs and minor fixes
  packages/contractkit/src/wrappers/Governance.ts
  packages/contractkit/src/wrappers/MultiSig.ts
  packages/contractkit/src/wrappers/Reserve.ts
  packages/docs/developer-resources/contractkit/reference/classes/_contract_cache_.wrappercache.md
  packages/docs/developer-resources/contractkit/reference/classes/_web3_contract_cache_.web3contractcache.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governanceapprovermultisig_.governanceapprovermultisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_multisig_.multisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reserve_.reservewrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reservespendermultisig_.reservespendermultisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/interfaces/_wrappers_reserve_.reserveconfig.md
  packages/docs/developer-resources/contractkit/reference/modules/_wrappers_multisig_.md
  packages/protocol/migrations/23_governance_approver_multisig.ts
  packages/protocol/runTests.js
  packages/protocol/test/common/integration.ts
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

snap
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/validators/__snapshots__/index.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

more docs
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governanceapprovermultisig_.governanceapprovermultisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_multisig_.multisigwrapper.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_reservespendermultisig_.reservespendermultisigwrapper.md
Owners: @timmoreton, @cla-bel

Update contractkit docs
  packages/docs/developer-resources/contractkit/reference/classes/_address_registry_.addressregistry.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_goldtokenwrapper_.goldtokenwrapper.md
Owners: @timmoreton, @cla-bel

Adding transfer
  packages/cli/src/commands/releasegold/transfer.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
  packages/protocol/scripts/truffle/releaseGoldContracts.json
  packages/protocol/truffle-config.js
Owners: @mcortesi, @asaj, @timmoreton, @m-chrzan

Update quotes and ally categories
  packages/web/public/static/locales/en/alliance.json
  packages/web/src/alliance/CategoryEnum.ts
  packages/web/src/alliance/Main.tsx
Owners: @cmcewen, @aaronmgdr

add an form submitted state increase height as menu otherwise is hidden
  packages/web/public/static/locales/en/alliance.json
  packages/web/src/alliance/Members.tsx
  packages/web/src/alliance/SignupForm.tsx
Owners: @cmcewen, @aaronmgdr

lighten image to increase legibility of overlayed text
  packages/web/src/alliance/images/fences.jpg
Owners: @cmcewen, @aaronmgdr

oh doh
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

updates docker image
  .circleci/config.yml
Owners: @timmoreton

Update bls12377js to fix hash to G1 (#2977)
  .circleci/config.yml
  dockerfiles/circleci/Dockerfile
  packages/azure/mainTemplate.json
  packages/celotool/package.json
  packages/cli/package.json
  packages/protocol/package.json
  packages/utils/package.json
  yarn.lock
Owners: @timmoreton, @mcortesi, @asaj, @m-chrzan, @jmrossy

brings CI back to master
  .circleci/config.yml
Owners: @timmoreton

debug
  packages/celotool/bin/integration.sh
  packages/celotool/src/cmds/deploy/initial/contracts.ts
  packages/celotool/src/lib/port_forward.ts
Owners: @timmoreton

debug
  .circleci/config.yml
  packages/celotool/bin/integration.sh
Owners: @timmoreton

adding fetchState function
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @nambrot

commenting functionality not yet available in contractKit
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @nambrot

brings CI back to master (#3069)
  .circleci/config.yml
Owners: @timmoreton

moving to enum
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @nambrot

Adding block interval option allowing to configure the fetching frequency
  packages/transaction-metrics-exporter/README.md
  packages/transaction-metrics-exporter/src/blockchain.ts
  packages/transaction-metrics-exporter/src/index.ts
Owners: @nambrot

Update Send review screen to look like the new exchange flow
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/account/__snapshots__/InviteReview.test.tsx.snap
  packages/mobile/src/components/FeeIcon.tsx
  packages/mobile/src/components/LineItemRow.tsx
  packages/mobile/src/components/TotalLineItem.tsx
  packages/mobile/src/components/__snapshots__/FeeIcon.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationCard.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestConfirmation.test.tsx.snap
  packages/mobile/src/pincode/PincodeConfirmation.tsx
  packages/mobile/src/pincode/__snapshots__/PincodeConfirmation.test.tsx.snap
  packages/mobile/src/pincode/__snapshots__/PincodeSet.test.tsx.snap
  packages/mobile/src/send/TransferReviewCard.tsx
  packages/mobile/src/send/__snapshots__/SendConfirmation.test.tsx.snap
  packages/mobile/src/send/__snapshots__/TransferReviewCard.test.tsx.snap
  packages/react-components/components/HorizontalLine.tsx
  packages/react-components/components/ReviewFrame.tsx
Owners: @cmcewen, @jmrossy

debug
  packages/celotool/bin/integration.sh
  packages/celotool/src/cmds/deploy/initial/contracts.ts
Owners: @timmoreton

Update Reclaim payment and Payment request screens to look like the new exchange flow
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/components/TotalLineItem.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationCard.tsx
  packages/mobile/src/escrow/ReclaimPaymentConfirmationScreen.test.tsx
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationCard.test.tsx.snap
  packages/mobile/src/escrow/__snapshots__/ReclaimPaymentConfirmationScreen.test.tsx.snap
  packages/mobile/src/paymentRequest/PaymentRequestReviewCard.tsx
  packages/mobile/src/paymentRequest/__snapshots__/PaymentRequestConfirmation.test.tsx.snap
Owners: @cmcewen, @jmrossy

Remove currency code in main balance for non USD currencies
  packages/mobile/src/home/CeloDollarsOverview.tsx
Owners: @cmcewen, @jmrossy

Format amounts as fee in ExchangeReview
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
Owners: @cmcewen, @jmrossy

adding viewDefinition dto
  packages/contractkit/src/contract-cache.ts
  packages/transaction-metrics-exporter/package.json
  packages/transaction-metrics-exporter/src/blockchain.ts
  packages/transaction-metrics-exporter/src/view-definition.ts
  packages/utils/package.json
Owners: @timmoreton, @nambrot, @jmrossy

Use default money format style
  packages/mobile/src/escrow/EscrowedPaymentLineItem.tsx
  packages/mobile/src/escrow/EscrowedPaymentListItem.tsx
  packages/mobile/src/escrow/__snapshots__/EscrowedPaymentListItem.test.tsx.snap
  packages/mobile/src/paymentRequest/IncomingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/OutgoingPaymentRequestListItem.tsx
  packages/mobile/src/paymentRequest/PaymentRequestNotificationInner.tsx
  packages/mobile/src/paymentRequest/__snapshots__/IncomingPaymentRequestSummaryNotification.test.tsx.snap
  packages/mobile/src/paymentRequest/__snapshots__/OutgoingPaymentRequestSummaryNotification.test.tsx.snap
Owners: @cmcewen, @jmrossy

update latest dappkit version (#3057)
  packages/docs/developer-resources/dappkit/setup.md
Owners: @timmoreton, @cla-bel

Show fine print under exchange rate
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeConfirmationCard.test.tsx.snap
Owners: @cmcewen, @jmrossy

Log when SIGKILL required
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Update celostats frontend command
  packages/helm-charts/celostats/templates/celostats-frontend.deployment.yaml
Owners: @nambrot, @timmoreton
