Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Store userId and account in firebase
  packages/mobile/src/firebase/db-rules.json
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Owners: @cmcewen, @jmrossy

Fetch fig8 earned from firebase
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Owners: @cmcewen, @jmrossy

Fig8 earned sagas, display value on Earn screen
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
Owners: @cmcewen, @jmrossy

Add logout ability
  packages/mobile/src/account/Earn.tsx
Owners: @cmcewen, @jmrossy

Update db rules
  packages/mobile/src/firebase/db-rules.json
Owners: @cmcewen, @jmrossy

PR clean up
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/firebase/firebase.ts
Owners: @cmcewen, @jmrossy

Remove unneeded logging
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
Owners: @cmcewen, @jmrossy

Add todos
  packages/mobile/src/account/Earn.tsx
Owners: @cmcewen, @jmrossy

[Pilot] Add Earn screen skeleton to wallet (#2804)
  packages/mobile/.env
  packages/mobile/src/account/Account.tsx
  packages/mobile/src/account/Earn.tsx
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/app/actions.ts
  packages/mobile/src/app/reducers.ts
  packages/mobile/src/firebase/db-rules.json
  packages/mobile/src/firebase/firebase.ts
  packages/mobile/src/firebase/saga.ts
  packages/mobile/src/flags.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/Screens.tsx
Owners: @cmcewen, @jmrossy

fix features on tablet and mobile
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/Feature.tsx
  packages/web/src/dev/Features.tsx
Owners: @cmcewen, @aaronmgdr

add padding
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/Features.tsx
Owners: @cmcewen, @aaronmgdr

Fix “add padding”
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/Features.tsx
Owners: @cmcewen, @aaronmgdr

Revert "add padding"
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/dev/Features.tsx
Owners: @cmcewen, @aaronmgdr

Add earn pilot functions
  packages/earn-pilot-functions/.firebaserc
  packages/earn-pilot-functions/.gitignore
  packages/earn-pilot-functions/README.md
  packages/earn-pilot-functions/firebase.json
  packages/earn-pilot-functions/package.json
  packages/earn-pilot-functions/src/index.ts
  packages/earn-pilot-functions/tsconfig.json
  packages/earn-pilot-functions/tslint.json
  packages/earn-pilot-functions/yarn.lock
Owners: @timmoreton

transfer test
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

adding events
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

adding test to check that events are emitted
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

lint
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

Attemp fix sync-tests
  packages/celotool/src/e2e-tests/sync_tests.ts
Owners: @timmoreton

removed assignment
  packages/protocol/contracts/identity/Random.sol
Owners: @asaj, @m-chrzan

first fixes
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/governance/Governance.sol
Owners: @asaj, @m-chrzan

no allowance for 0x0
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

fixing tests
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

ContractKit 1st
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/README.md
  packages/docs/developer-resources/contractkit/local-signing.md
  packages/docs/developer-resources/contractkit/web3-with-contractkit.md
  packages/docs/developer-resources/contractkit/what-you-can-do.md
  packages/docs/developer-resources/walkthroughs/hellocelo.md
Owners: @timmoreton, @cla-bel

Try build:ts without --scope
  dockerfiles/celotool/Dockerfile
Owners: @timmoreton

Just touch an empty .env.alfajoresstaging and then remove it
  dockerfiles/celotool/Dockerfile
Owners: @timmoreton

Adding upstream changes
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/specs/harnesses/GoldTokenHarness.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

updates to lockedgold spec and clenaup
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
Owners: @asaj, @m-chrzan

link to goldtoken in a nicer way, update the totalpreserve rule
  .circleci/config.yml
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/lockedGold.conf
  packages/protocol/specs/LockedGoldExpected.json
  packages/protocol/specs/harnesses/GoldTokenHarness.sol
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
  packages/protocol/specs/lockedGold.spec
Owners: @timmoreton, @asaj, @m-chrzan

Fallback to isProduction=false if env missing in walletkit build
  dockerfiles/celotool/Dockerfile
  packages/walletkit/bin/build-sdk.js
Owners: @timmoreton, @ashishb, @yerdua

Fixing merge issue
  packages/protocol/specs/harnesses/LockedGoldHarness.sol
Owners: @asaj, @m-chrzan

Use SafeMath
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Address flaky docker builds (#2777)
  cloudbuild.yaml
  packages/walletkit/bin/build-sdk.js
Owners: @timmoreton, @ashishb, @yerdua

Use SafeMath always
  packages/protocol/contracts/stability/Reserve.sol
Owners: @asaj, @m-chrzan

Add require messages where it was missing
  packages/protocol/contracts/baklava/Freezable.sol
  packages/protocol/contracts/common/FixidityLib.sol
  packages/protocol/contracts/common/FractionUtil.sol
  packages/protocol/contracts/common/Initializable.sol
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

Fix C02
  packages/protocol/contracts/common/MultiSig.sol
Owners: @asaj, @m-chrzan

Remove unused event
  packages/protocol/contracts/governance/Validators.sol
Owners: @asaj, @m-chrzan

Fixing last block of epoch
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/test/identity/random.ts
Owners: @asaj, @m-chrzan

Fixing nits and renaming vesting test to release gold test
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Put back tests with added mulExp
  packages/protocol/test/stability/stabletoken.ts
Owners: @asaj, @m-chrzan
