Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @celo-org/default-owners, @celo-org/identity, @celo-org/devopsre, @celo-org/protocol-owners, @celo-org/applications, @celo-org/devrel, @celo-org/cap, @celo-org/flake-trackers, @celo-org/platform-economics

fix: remove genesis block from startup script
  packages/terraform-modules-public/aws/testnet/modules/startup-scripts/run-proxy-node.sh
  packages/terraform-modules-public/aws/testnet/modules/startup-scripts/run-validator-node.sh
Owners: @celo-org/devopsre

fix: adjust proxy startup params to match latest baklava docs
  packages/terraform-modules-public/aws/testnet/modules/startup-scripts/run-proxy-node.sh
Owners: @celo-org/devopsre

fix: packages/celotool/package.json to reduce vulnerabilities
  packages/celotool/package.json
Owners: @celo-org/protocol-owners

Fixed the branch (#9432)
  packages/helm-charts/blockscout/values-rc1.yaml
  packages/helm-charts/blockscout/values-rc1staging.yaml
Owners: @celo-org/devopsre

ASv2 Scaffolding (#9430)
  packages/protocol/contracts/identity/FederatedAttestations.sol
  packages/protocol/contracts/identity/interfaces/IFederatedAttestations.sol
  packages/protocol/contracts/identity/proxies/FederatedAttestationsProxy.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/lib/test-utils.ts
  packages/protocol/migrations/25_governance.ts
  packages/protocol/migrations/27_federated_attestations.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/scripts/bash/backupmigrations.sh
  packages/protocol/scripts/build.ts
  packages/protocol/test/identity/federatedattestations.ts
  packages/sdk/contractkit/src/base.ts
  packages/sdk/contractkit/src/contract-cache.ts
  packages/sdk/contractkit/src/kit.ts
  packages/sdk/contractkit/src/proxy.ts
  packages/sdk/contractkit/src/web3-contract-cache.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.test.ts
  packages/sdk/contractkit/src/wrappers/FederatedAttestations.ts
Owners: @celo-org/cap, @celo-org/protocol-owners, @celo-org/applications

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# default owners, overridden by package specific owners below
* @celo-org/default-owners

# directory and file-level owners. Feel free to add to this!

/packages/attestation-proxy/ @celo-org/identity
/packages/attestation-service/ @celo-org/identity
/packages/azure/ @celo-org/devopsre
/packages/celotool/ @celo-org/protocol-owners
/packages/cli/ @celo-org/applications
/packages/dev-utils/ @celo-org/applications
/packages/docs/ @celo-org/applications @celo-org/devrel
/packages/env-tests @celo-org/cap
/packages/faucet/ @celo-org/applications
/packages/flake-tracker @celo-org/flake-trackers
/packages/helm-charts/ @celo-org/devopsre
/packages/helm-charts/oracle/ @celo-org/platform-economics  @celo-org/devopsre
/packages/metadata-crawler/ @celo-org/identity
/packages/phone-number-privacy/ @celo-org/identity
/packages/protocol/ @celo-org/cap @celo-org/protocol-owners
/packages/sdk/ @celo-org/applications
/packages/sdk/identity/  @celo-org/identity @celo-org/applications
/packages/sdk/contractkit/ @celo-org/cap @celo-org/applications
/packages/terraform-modules-public/ @celo-org/devopsre
/packages/terraform-modules/ @celo-org/devopsre
/packages/typescript/ @celo-org/applications
