Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Install needed tools and use a different checkout
  .circleci/config.yml
Owners: @timmoreton

Build utils (required)
  .circleci/config.yml
Owners: @timmoreton

Define and use common yarn_install command
  .circleci/config.yml
Owners: @timmoreton

Use version 2.1 to be able to use custom commands
  .circleci/config.yml
Owners: @timmoreton

Remove generic fallback as it doesn't work between executors
  .circleci/config.yml
Owners: @timmoreton

gcmode=archive in txnodes to avoid pruning chain data
  packages/helm-charts/testnet/templates/txnode.statefulset.yaml
  packages/terraform-modules-public/testnet/modules/tx-node/startup.sh
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/full-node/variables.tf
Owners: @nambrot, @timmoreton, @tkporter

No need to create an empty watchman config
  .circleci/config.yml
Owners: @timmoreton

Switch to cocoapods cdn for faster install
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
Owners: @cmcewen, @jmrossy

Cache pods
  .circleci/config.yml
Owners: @timmoreton

support slash function is rules
  packages/protocol/specs/lockedGold.spec
Owners: @asaj, @m-chrzan

Add template for sentry config for CI builds
  packages/mobile/ios/sentry.properties.template
Owners: @cmcewen, @jmrossy

Skip uploading debug symbols for debug builds
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
Owners: @cmcewen, @jmrossy

Build all modile deps
  .circleci/config.yml
Owners: @timmoreton

Fix build command
  .circleci/config.yml
Owners: @timmoreton

Temp debug yarn cache not working
  .circleci/config.yml
Owners: @timmoreton

Workaround save_cache not supporting globbing paths
  .circleci/config.yml
Owners: @timmoreton

Bump cache version
  .circleci/config.yml
Owners: @timmoreton

Add instructions for docs
  packages/contractkit/DEVELOP.md
Owners: @timmoreton

Point CI back to celo blockchain master
  .circleci/config.yml
Owners: @timmoreton

[Wallet] Clean up forno mode (#2584)
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/README.md
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/config.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/geth/selectors.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/redux/selectors.ts
  packages/mobile/src/shared/DisconnectBanner.tsx
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.test.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
  packages/mobile/test/utils.ts
Owners: @cmcewen, @jmrossy

Some changes to opsec script
  packages/opsec-audit/opsec-audit.sh
Owners: @timmoreton

Remove deletion of node_modules/@celo
  .circleci/config.yml
Owners: @timmoreton

[Wallet] Upgrade version to 1.6.0 and cleanup redux store migrations
  packages/mobile/.env.integration
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/fastlane/README.md
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/package.json
  packages/mobile/src/redux/migrations.test.ts
  packages/mobile/src/redux/migrations.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Update sms hash code
  .env.alfajoresstaging
Owners: @timmoreton

Fix test failures from merge conflicts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

toggle strict check with an env variable
  packages/cli/src/utils/command.ts
Owners: @mcortesi, @asaj

add hints and callouts
  packages/docs/celo-codebase/protocol/identity/accounts.md
Owners: @timmoreton, @cla-bel

move the files around and make some edits
  packages/docs/SUMMARY.md
  packages/docs/developer-resources/contractkit/key-usage.md
  packages/docs/node-operations/key-management.md
Owners: @timmoreton, @cla-bel

Add docs for Accounts key/signer management (#2604)
  packages/docs/SUMMARY.md
  packages/docs/node-operations/key-management.md
Owners: @timmoreton, @cla-bel

Fix issue with notification count Remove incorrect Logger.showMessage call when sending payment
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/reducer.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/selectors.ts
  packages/mobile/src/send/saga.ts
Owners: @cmcewen, @jmrossy

Changes from deploy
  .env.alfajores
  packages/helm-charts/README.md
  packages/protocol/truffle-config.js
Owners: @timmoreton, @nambrot, @asaj, @m-chrzan

Update alfajores.enc
  .env.mnemonic.alfajores.enc
Owners: @timmoreton

Fix detox framework not present when restoring node_modules from cache
  .circleci/config.yml
Owners: @timmoreton

[Wallet] Upgrade version to 1.6.0 and cleanup redux store migrations (#2636)
  packages/mobile/.env.integration
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/fastlane/README.md
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/package.json
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/reducer.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/selectors.ts
  packages/mobile/src/redux/migrations.test.ts
  packages/mobile/src/redux/migrations.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/src/send/saga.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

[Wallet] Clean up forno mode (#2584)
  packages/mobile/.env
  packages/mobile/.env.alfajores
  packages/mobile/.env.integration
  packages/mobile/.env.pilot
  packages/mobile/.env.pilotstaging
  packages/mobile/.env.production
  packages/mobile/.env.staging
  packages/mobile/.env.test
  packages/mobile/README.md
  packages/mobile/locales/en-US/accountScreen10.json
  packages/mobile/locales/es-419/accountScreen10.json
  packages/mobile/src/account/DataSaver.tsx
  packages/mobile/src/account/__snapshots__/DataSaver.test.tsx.snap
  packages/mobile/src/account/actions.ts
  packages/mobile/src/account/reducer.ts
  packages/mobile/src/app/saga.test.ts
  packages/mobile/src/app/saga.ts
  packages/mobile/src/config.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/geth/actions.ts
  packages/mobile/src/geth/networkConfig.ts
  packages/mobile/src/geth/reducer.ts
  packages/mobile/src/geth/saga.ts
  packages/mobile/src/geth/selectors.ts
  packages/mobile/src/invite/JoinCelo.test.tsx
  packages/mobile/src/invite/JoinCelo.tsx
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/redux/selectors.ts
  packages/mobile/src/shared/DisconnectBanner.tsx
  packages/mobile/src/transactions/send.ts
  packages/mobile/src/web3/actions.ts
  packages/mobile/src/web3/contracts.ts
  packages/mobile/src/web3/reducer.ts
  packages/mobile/src/web3/saga.test.ts
  packages/mobile/src/web3/saga.ts
  packages/mobile/src/web3/selectors.ts
  packages/mobile/test/schemas.ts
  packages/mobile/test/utils.ts
Owners: @cmcewen, @jmrossy

Add isReserveLow function (#2395)
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Add docs for Accounts key/signer management (#2604)
  packages/docs/SUMMARY.md
  packages/docs/node-operations/key-management.md
Owners: @timmoreton, @cla-bel

Updating tests and adding canvote canvalidate flags
  packages/protocol/contracts/common/interfaces/IAccounts.sol
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

[Wallet] Upgrade version to 1.6.0 and cleanup redux store migrations (#2636)
  packages/mobile/.env.integration
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/fastlane/README.md
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/package.json
  packages/mobile/src/escrow/EscrowedPaymentListScreen.tsx
  packages/mobile/src/escrow/reducer.ts
  packages/mobile/src/escrow/saga.ts
  packages/mobile/src/home/NotificationBox.tsx
  packages/mobile/src/home/selectors.ts
  packages/mobile/src/redux/migrations.test.ts
  packages/mobile/src/redux/migrations.ts
  packages/mobile/src/redux/store.ts
  packages/mobile/src/send/saga.ts
  packages/mobile/test/schemas.ts
Owners: @cmcewen, @jmrossy

Remove only
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
