Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

fix tests
  packages/mobile/__mocks__/react-native-firebase.ts
  packages/mobile/__mocks__/react-native-install-referrer.ts
  packages/mobile/__mocks__/react-native-version-check.ts
  packages/mobile/ios/celo/AppDelegate.m
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celo/celo.entitlements
  packages/mobile/package.json
  packages/mobile/src/firebase/dynamicLinks.test.ts
  packages/mobile/src/firebase/dynamicLinks.ts
  packages/mobile/src/invite/EnterInviteCode.test.tsx
  packages/mobile/src/invite/EnterInviteCode.tsx
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.test.ts
  packages/mobile/src/utils/appstore.ts
  yarn.lock
Owners: @cmcewen, @jmrossy, @timmoreton

cleanup
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

[Wallet] Upgrade version to 1.6.1
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/package.json
Owners: @cmcewen, @jmrossy

cleanup
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Allow private ips for proxy public enode ip (--proxy.allowprivateip)
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @nambrot, @timmoreton

forgot this
  packages/protocol/runTests.js
Owners: @asaj, @m-chrzan

ok
  packages/web/src/about/Team.tsx
Owners: @cmcewen, @aaronmgdr

[Wallet] Make iOS block out view less aggressive
  packages/mobile/ios/celo/AppDelegate.m
Owners: @cmcewen, @jmrossy

changed to not use storage
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

Update packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/helm_deploy.ts
Owners: @timmoreton

[Wallet] Upgrade version to 1.6.1 (#2941)
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/assets/custom/LicenseDisclaimer.txt
  packages/mobile/android/gradle.properties
  packages/mobile/ios/celo-tvOS/Info.plist
  packages/mobile/ios/celo-tvOSTests/Info.plist
  packages/mobile/ios/celo.xcodeproj/project.pbxproj
  packages/mobile/ios/celo/Info.plist
  packages/mobile/ios/celoTests/Info.plist
  packages/mobile/package.json
Owners: @cmcewen, @jmrossy

Update .env.alfajores
  .env.alfajores
Owners: @timmoreton

Update .env.baklava
  .env.baklava
Owners: @timmoreton

[Wallet] Fix errors when phone doesn't support invite messaging apps Update SMS invite code text A bit of cleanup around invite saga
  packages/mobile/__mocks__/src/navigator/NavigationService.ts
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/alert/__snapshots__/AlertBanner.test.tsx.snap
  packages/mobile/src/alert/actions.ts
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/reducer.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/pincode/PincodeSet.tsx
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/saga.ts
  packages/react-components/components/SmartTopAlert.tsx
Owners: @cmcewen, @jmrossy

Removing old files
  packages/protocol/contracts/governance/ReleaseGoldFactory.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldFactory.sol
  packages/protocol/contracts/governance/interfaces/IReleaseGoldInstance.sol
Owners: @asaj, @m-chrzan

some fixes
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/stability/StableToken.sol
Owners: @timmoreton, @asaj, @m-chrzan

updated comments
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

Fix geth1.9 master deployment. Fix tests
  packages/celotool/src/lib/generate_utils.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

Add asset allocations to Reserve.initialize
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/migrations/07_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Adding event
  packages/protocol/contracts/governance/ReleaseGold.sol
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Remove safe cast tests
  packages/protocol/contracts/common/SafeCastTest.sol
  packages/protocol/test/common/safecast.ts
Owners: @asaj, @m-chrzan

remove unnecessary mapping
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

Prettify
  packages/protocol/contracts/common/MultiSig.sol
Owners: @asaj, @m-chrzan

Remove codecov for protocol until coverage working again
  .codecov.yml
Owners: @timmoreton

Add --yes when registering group
  packages/cli/src/commands/validatorgroup/commission.test.ts
Owners: @mcortesi, @asaj

Remove dev settings
  packages/mobile/src/app/saga.ts
  packages/mobile/src/components/Carousel.tsx
  packages/mobile/src/verify/VerificationLoadingScreen.tsx
Owners: @cmcewen, @jmrossy

Revert
  packages/mobile/src/app/saga.ts
Owners: @cmcewen, @jmrossy

changes to get kubernetes testnets to work
  packages/celotool/src/lib/helm_deploy.ts
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

removed redundant cmd line option
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @nambrot, @timmoreton

add blured fade in for portraits
  packages/web/server/getContributors.ts
  packages/web/src/about/Contributor.ts
  packages/web/src/about/Team.tsx
Owners: @cmcewen, @aaronmgdr

[Wallet] Fix errors with invite flow when messaging app is unsupported (#2944)
  packages/mobile/__mocks__/src/navigator/NavigationService.ts
  packages/mobile/locales/en-US/global.json
  packages/mobile/locales/en-US/sendFlow7.json
  packages/mobile/locales/es-419/global.json
  packages/mobile/locales/es-419/sendFlow7.json
  packages/mobile/src/alert/__snapshots__/AlertBanner.test.tsx.snap
  packages/mobile/src/alert/actions.ts
  packages/mobile/src/app/ErrorMessages.ts
  packages/mobile/src/home/WalletHome.test.tsx
  packages/mobile/src/home/WalletHome.tsx
  packages/mobile/src/invite/actions.ts
  packages/mobile/src/invite/reducer.ts
  packages/mobile/src/invite/saga.test.ts
  packages/mobile/src/invite/saga.ts
  packages/mobile/src/invite/utils.ts
  packages/mobile/src/pincode/PincodeSet.tsx
  packages/mobile/src/redux/sagas.ts
  packages/mobile/src/send/SendAmount.tsx
  packages/mobile/src/send/saga.ts
  packages/react-components/components/SmartTopAlert.tsx
Owners: @cmcewen, @jmrossy

update tests now that components take an array rather than an random seed
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/about.test.tsx
  packages/web/src/about/About.test.tsx
  packages/web/src/about/Team.test.tsx
Owners: @cmcewen, @aaronmgdr

Fix test
  packages/protocol/test/governance/release_gold.ts
Owners: @asaj, @m-chrzan

Update packages/contractkit/src/wrappers/Accounts.ts
  packages/contractkit/src/wrappers/Accounts.ts
Owners: @timmoreton

adds GoldWhitelist
  packages/protocol/contracts/common/Freezer.sol
  packages/protocol/contracts/common/GoldWhitelist.sol
  packages/protocol/contracts/governance/LockedGold.sol
  packages/protocol/contracts/governance/ReleaseGoldInstance.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/migrations/03_goldwhitelist.ts
  packages/protocol/test/common/goldwhitelist.ts
Owners: @asaj, @m-chrzan

Add additional test
  packages/contractkit/src/wrappers/Accounts.test.ts
Owners: @timmoreton

[Wallet] Fix iOS blocking view (#2949)
  packages/mobile/ios/celo/AppDelegate.m
Owners: @cmcewen, @jmrossy

Backer nav fix + Contributors loading change (#2950)
  packages/web/server/getContributors.ts
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/about.test.tsx
  packages/web/src/about/About.test.tsx
  packages/web/src/about/About.tsx
  packages/web/src/about/Backers.tsx
  packages/web/src/about/Contributor.ts
  packages/web/src/about/Team.test.tsx
  packages/web/src/about/Team.tsx
Owners: @cmcewen, @aaronmgdr

Addressing resource naming issues.
  packages/azure/components/main.json
  packages/azure/template.json
Owners: @timmoreton

Correct stableTokenTransferGasCost after merge
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
