Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

Update comments
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

avoid overflows and add messages to asserts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
  packages/protocol/test/governance/epochrewards.ts
  packages/protocol/test/governance/validators.ts
Owners: @timmoreton, @asaj, @m-chrzan

Clean values
  packages/helm-charts/leaderboard/values.yaml
Owners: @nambrot, @timmoreton

Fix cropped icon on email form
  packages/web/src/shared/ConnectionFooter.tsx
Owners: @cmcewen, @aaronmgdr

Better typing of screenSize HOC so that it doesn’t expect screen to be passed in when props are not explicitly set.
  packages/web/src/layout/ScreenSize.tsx
Owners: @cmcewen, @aaronmgdr

Fixes celo-org/celo-labs##195
  packages/web/src/community/connect/ConnectPage.tsx
Owners: @cmcewen, @aaronmgdr

make time travel more reliant
  packages/protocol/lib/test-utils.ts
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Fix https://github.com/celo-org/celo-labs/issues/196
  packages/web/src/dev/BuildPage.tsx
  packages/web/src/dev/opengraph.jpg
  packages/web/src/header/OpenGraph.tsx
Owners: @cmcewen, @aaronmgdr

Lint
  packages/web/src/dev/BuildPage.tsx
Owners: @cmcewen, @aaronmgdr

Fix typo
  packages/docs/getting-started/baklava-testnet.md
Owners: @timmoreton, @cla-bel

Update tests
  packages/mobile/src/components/__snapshots__/Field.test.tsx.snap
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.test.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeTradeScreen.test.tsx.snap
  packages/mobile/src/utils/currencyExchange.ts
  packages/mobile/test/utils.ts
Owners: @cmcewen, @jmrossy

PR clean up
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/test/utils.ts
Owners: @cmcewen, @jmrossy

Updated leaderboard variables (#2156)
  .env
  .env.mnemonic.baklava.enc
  packages/helm-charts/leaderboard/values.yaml
Owners: @timmoreton, @nambrot

Add promisedProperties()
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/utils/async-utils.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Rename validator to validator signer when appropriate
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/governance/test/GovernanceTest.sol
  packages/protocol/contracts/identity/Attestations.sol
  packages/protocol/contracts/identity/test/TestAttestations.sol
Owners: @asaj, @m-chrzan

Allow the validator account to whitelist hotfixes
  packages/protocol/contracts/governance/Governance.sol
Owners: @asaj, @m-chrzan

Fix typo of "Celo" in docs (#2163)
  packages/docs/getting-started/baklava-testnet.md
Owners: @timmoreton, @cla-bel

Fix lints
  packages/cli/src/commands/rewards/show.ts
  packages/contractkit/src/utils/async-utils.ts
  packages/contractkit/src/utils/web3-utils.ts
  packages/contractkit/src/wrappers/Election.ts
  packages/contractkit/src/wrappers/Validators.ts
Owners: @mcortesi, @asaj, @timmoreton

Fix lint
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Owners: @cmcewen, @jmrossy

Removing whitespace that is causing gcloud builds to fail.
  cloudbuild.yaml
Owners: @timmoreton

fix lookback field name in genesis block
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Bigger VMs, monitoring agent, disks for full nodes
  packages/celotool/src/lib/terraform.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/terraform-modules/testnet/modules/bootnode/main.tf
  packages/terraform-modules/testnet/modules/bootnode/startup.sh
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/startup.sh
  packages/terraform-modules/testnet/modules/validator/main.tf
  packages/terraform-modules/testnet/modules/validator/startup.sh
Owners: @timmoreton, @tkporter

Add docs for rewards:show
  packages/cli/src/commands/rewards/show.ts
  packages/docs/command-line-interface/rewards.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Fixing bug in leaderboard celotool command
  packages/celotool/src/lib/leaderboard.ts
Owners: @timmoreton

Fix alignment
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Owners: @cmcewen, @jmrossy

Quickload for Homepage on low connectivity (#1707)
  packages/web/package.json
  packages/web/src/about/VideoCover.tsx
  packages/web/src/header/BlueBanner.tsx
  packages/web/src/header/Header.3.tsx
  packages/web/src/home/HomeAnimation.tsx
  packages/web/src/home/HomeOracle.tsx
  packages/web/src/home/TextAnimation.tsx
  packages/web/src/home/version3/HomeCover.tsx
  packages/web/src/shared/Styles.tsx
  packages/web/src/utils/utils.ts
  yarn.lock
Owners: @cmcewen, @aaronmgdr, @timmoreton

Add tests
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.test.tsx
Owners: @cmcewen, @jmrossy

Add Review test
  packages/mobile/src/exchange/ExchangeReview.test.tsx
  packages/mobile/src/exchange/__snapshots__/ExchangeReview.test.tsx.snap
Owners: @cmcewen, @jmrossy

Do not open RPC port to public (#2159)
  packages/docs/getting-started/running-a-validator.md
Owners: @timmoreton, @cla-bel

Adding removeSlashedMember fn (wrapper of _deaffiliate) and copying deaffiliate tests.
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Addressing review and adding cli command for stake off
  packages/cli/src/commands/validator/forceDeaffiliate.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/command-line-interface/validator.md
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/lib/registry-utils.ts
  packages/protocol/test/governance/validators.ts
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel, @m-chrzan

Tested cli commands locally, updating to reflect tests
  packages/cli/src/commands/validator/forceDeaffiliate.ts
  packages/protocol/contracts/common/UsingRegistry.sol
Owners: @mcortesi, @asaj, @m-chrzan

Addressing review, added new more general modifier to registry.
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Updating cli command name to reflect precedent
  packages/cli/src/commands/validator/force-deaffiliate.ts
  packages/docs/command-line-interface/validator.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Adding more tests and addressing reviews
  packages/cli/src/commands/validator/forceDeaffiliate.ts
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/test/governance/validators.ts
Owners: @mcortesi, @asaj, @m-chrzan

Fixing tests bug
  packages/protocol/lib/registry-utils.ts
Owners: @asaj, @m-chrzan

Split display and filtering of Validator and Validator Group rewards
  packages/cli/src/commands/rewards/show.ts
Owners: @mcortesi, @asaj

[cli] Exchange cleanup (#2148)
  packages/cli/src/commands/account/set-name.ts
  packages/cli/src/commands/exchange/dollars.ts
  packages/cli/src/commands/exchange/gold.ts
  packages/docs/command-line-interface/account.md
  packages/docs/command-line-interface/exchange.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Remove ref to script, dont expose port on ext interface in docker cmd lines, add back security reminder about this. Remove ref to office hours
  dockerfiles/cli/Dockerfile
  packages/docs/README.md
  packages/docs/getting-started/running-a-validator.md
  scripts/run-docker-validator-network.sh
Owners: @timmoreton, @cla-bel

fix assert almost equal and add a couple more asserts
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
