Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

Expect proper governance amount
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Fixes expected infra reward calculation
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Start of updating governance e2e test
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Adds community fraction to epoch rewards
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/migrations/14_epoch_rewards.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Fixes getRewardMultiplier to include community reward
  packages/protocol/contracts/governance/EpochRewards.sol
Owners: @asaj, @m-chrzan

Test against community_rewards blockchain
  .circleci/config.yml
Owners: @timmoreton

Adds almost equal with a percent deviation
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

Adds test for community reward fraction getter/setter
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

Fixes governance e2e test
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Switch assertBalanceChanged to pct almost equal
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Gives governance balance a larger almost equal range
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

More debug info on e2e test
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Implement retroactive inflation on parameter updates
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

fixing
  .circleci/config.yml
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

Revert getUpdatedInflationFactor changes and fix partialRate calculation
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

Fix unit tests
  packages/protocol/test/stability/stabletoken.ts
Owners: @asaj, @m-chrzan

Fixes contract unit tests for community reward
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/test/governance/epochrewards.ts
Owners: @asaj, @m-chrzan

e2e test passing
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Removes debug logging
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

WIP, working out bugs in election interface
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

function complete, still need to add more tests and clean style
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Fixing bugs, adding tests but still fixing tests
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Addressing review, adding more tests and adding registry constraint
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Fixing tests
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Changing names and changing votes counter to public
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/test/governance/election.ts
Owners: @asaj, @m-chrzan

Adding descriptions and minor opimitizations.
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan

Switches almost equal to percent based
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/celotool/src/e2e-tests/utils.ts
Owners: @timmoreton

typo
  packages/protocol/contracts/governance/Election.sol
Owners: @asaj, @m-chrzan

Fixes governance e2e test
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Refactored the fraction multiplier method out of assembly
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

1666 precompiles assembly rewrite (#2324)
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @asaj, @m-chrzan

Use newer target voting yield
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Uses actual community reward fraction
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Fixes solidity call
  packages/celotool/src/e2e-tests/governance_tests.ts
Owners: @timmoreton

Add tests
  packages/protocol/test/stability/stabletoken.ts
Owners: @asaj, @m-chrzan

changed max time from year to day
  packages/protocol/contracts/stability/SortedOracles.sol
Owners: @asaj, @m-chrzan

Revert governance tally changes
  packages/protocol/contracts/governance/Governance.sol
Owners: @asaj, @m-chrzan

Make tally get accounts once
  packages/protocol/contracts/governance/Governance.sol
Owners: @asaj, @m-chrzan

Fix unit tests
  packages/protocol/test/governance/governance.ts
Owners: @asaj, @m-chrzan

Add initial governance cli checks (approve)
  packages/cli/src/commands/governance/approve.ts
  packages/cli/src/commands/governance/approvehotfix.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Accounts.ts
Owners: @mcortesi, @asaj, @timmoreton
