Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

50 val genesis block
  packages/celotool/genesis_rc0.json
Owners: @timmoreton

Fix splash screen gap by hiding only after navigating away from AppLoading
  packages/mobile/__mocks__/src/analytics/CeloAnalytics.ts
  packages/mobile/src/app/App.test.tsx
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/navigator/NavigationService.test.ts
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/NavigatorWrapper.tsx
  packages/mobile/src/navigator/Screens.tsx
Owners: @cmcewen, @jmrossy

Adding genesis block accounts (#3098)
  .env.mnemonic.rc0.enc
  .env.rc0
  packages/celotool/genesis_rc0.json
Owners: @timmoreton

avoid boilerlplate of handling errors in every response handler that is written
  packages/web/pages/api/experience/assets/[asset].ts
  packages/web/server/byMethod.ts
Owners: @cmcewen, @aaronmgdr

add more gas for e2e transfer tests that delete whitelist array
  packages/celotool/src/e2e-tests/transfer_tests.ts
Owners: @timmoreton

few more tweeks to migration config
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

fixed variable name MINUTE in config
  packages/protocol/migrationsConfig.js
Owners: @asaj, @m-chrzan

wip
  packages/cli/src/commands/releasegold/create-account.ts
  packages/contractkit/src/wrappers/ReleaseGold.ts
Owners: @mcortesi, @asaj, @timmoreton

Small adjustments to migrations config (#2972)
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/dev-utils/src/migration-override.json
  packages/protocol/migrations/08_reserve.ts
  packages/protocol/migrationsConfig.js
  packages/protocol/runTests.js
Owners: @timmoreton, @asaj, @m-chrzan

[Wallet] Fix splash screen green gap (#3105)
  packages/mobile/__mocks__/src/analytics/CeloAnalytics.ts
  packages/mobile/src/app/App.test.tsx
  packages/mobile/src/app/App.tsx
  packages/mobile/src/app/saga.ts
  packages/mobile/src/navigator/NavigationService.test.ts
  packages/mobile/src/navigator/NavigationService.ts
  packages/mobile/src/navigator/Navigator.tsx
  packages/mobile/src/navigator/NavigatorWrapper.tsx
  packages/mobile/src/navigator/Screens.tsx
Owners: @cmcewen, @jmrossy

fix slashing e2e tests
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton

replace merchant image with image of claire and video
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/merchant.jpg
  packages/web/src/home/version3/HomeHero.tsx
  packages/web/src/illustrations/03-Inclusive-money-(light-bg).png
  packages/web/src/press/Press.tsx
Owners: @cmcewen, @aaronmgdr

Change literal to string
  packages/web/src/styles.ts
Owners: @cmcewen, @aaronmgdr

Changes
  .env.rc0
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot

Fix web build by changing literal to string (#3109)
  packages/web/src/styles.ts
Owners: @cmcewen, @aaronmgdr

mobile needs refinement but here is the coinlist section
  packages/web/public/static/locales/en/home.json
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/CoinList.tsx
  packages/web/src/home/Home.tsx
  packages/web/src/home/logos/coinlist-glyph.png
  packages/web/src/home/logos/coinlist-logo.png
  packages/web/src/home/logos/image 6.png
  packages/web/src/shared/EX.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

prevent coinlist from showing in restricted countries
  packages/web/server/Announcement.ts
  packages/web/server/geoip.ts
  packages/web/src/_page-tests/__snapshots__/index.test.tsx.snap
  packages/web/src/home/CoinList.tsx
  packages/web/src/home/Home.test.tsx
  packages/web/src/home/Home.tsx
  packages/web/src/utils/countries.test.ts
  packages/web/src/utils/countries.ts
Owners: @cmcewen, @aaronmgdr

election spec - work in progress
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/specs/election.spec
  packages/protocol/specs/harnesses/ElectionHarness.sol
Owners: @asaj, @m-chrzan

election spec - work in progress
  packages/protocol/specs/harnesses/ElectionHarness.sol
Owners: @asaj, @m-chrzan

fixing ineligibleGroupCannotBeElected
  packages/protocol/specs/election.spec
  packages/protocol/specs/harnesses/ElectionHarness.sol
Owners: @asaj, @m-chrzan

harness for referencing accounts
  packages/protocol/specs/harnesses/ElectionHarness.sol
Owners: @asaj, @m-chrzan

updating harness
  packages/protocol/specs/harnesses/ElectionHarness.sol
Owners: @asaj, @m-chrzan

Change paths structure
  codecov.yml
Owners: @timmoreton

fix broken
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @nambrot

fix broken build
  dockerfiles/transaction-metrics-exporter/Dockerfile
  packages/transaction-metrics-exporter/package.json
Owners: @timmoreton, @nambrot

the CLI claim:domain command prints the domain TXT header to add
  packages/cli/src/commands/account/claim-domain.ts
Owners: @mcortesi, @asaj

add dev-utils
  dockerfiles/transaction-metrics-exporter/Dockerfile
  packages/transaction-metrics-exporter/package.json
Owners: @timmoreton, @nambrot

configuration file for running certora
  packages/protocol/election.conf
Owners: @asaj, @m-chrzan

Change flags structure
  codecov.yml
Owners: @timmoreton

removing comment
  packages/cli/src/commands/identity/test-domain-claim.ts
Owners: @mcortesi, @asaj

suppress Freeze address error
  dockerfiles/transaction-metrics-exporter/Dockerfile
  packages/contractkit/src/address-registry.ts
Owners: @timmoreton

Try disabling patch status
  codecov.yml
Owners: @timmoreton

toString and error handling
  packages/cli/src/commands/account/claim-domain.ts
  packages/cli/src/commands/identity/test-domain-claim.ts
Owners: @mcortesi, @asaj

finish test
  packages/web/src/home/Home.test.tsx
Owners: @cmcewen, @aaronmgdr

Workaround CeloProvider to be able to use subscriptions
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @nambrot

Try disabling patch status take 2
  codecov.yml
Owners: @timmoreton

Allow subscriptions from CeloProvider
  packages/contractkit/src/providers/celo-provider.ts
  packages/transaction-metrics-exporter/src/blockchain.ts
Owners: @timmoreton, @nambrot

update medium user name and ignore google trans error
  packages/web/fullstack/sentry.ts
  packages/web/src/_page-tests/__snapshots__/alliance.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Experience Brand kit updates (#3090)
  packages/web/public/normalize.css
  packages/web/public/static/locales/en/brand.json
  packages/web/public/static/normalize.css
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/common/CCLicense.tsx
  packages/web/src/brandkit/common/Page.tsx
  packages/web/src/shared/InlineAnchor.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

update comments
  packages/celotool/src/e2e-tests/slashing_tests.ts
Owners: @timmoreton
