Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr

updating docs
  packages/docs/developer-resources/contractkit/reference/classes/_identity_metadata_.identitymetadatawrapper.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_claims_verify_.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_metadata_.md
Owners: @timmoreton, @cla-bel

Sets governance thresholds during migration
  packages/protocol/governanceConstitution.js
  packages/protocol/migrations/23_governance.ts
Owners: @asaj, @m-chrzan

Reserve spender can only transfer gold to specified addresses (#2769)
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/stability/Exchange.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/contracts/stability/interfaces/IReserve.sol
  packages/protocol/contracts/stability/test/MockReserve.sol
  packages/protocol/migrations/09_exchange.ts
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

Fixing address comparison when getting affiliates (#2755)
  packages/cli/src/commands/validator/status.ts
  packages/contractkit/src/identity/claims/verify.ts
  packages/contractkit/src/identity/metadata.ts
  packages/contractkit/src/wrappers/Validators.ts
  packages/docs/developer-resources/contractkit/reference/classes/_identity_metadata_.identitymetadatawrapper.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_claims_verify_.md
  packages/docs/developer-resources/contractkit/reference/modules/_identity_metadata_.md
Owners: @mcortesi, @asaj, @timmoreton, @cla-bel

Fixing migration change
  packages/cli/package.json
  packages/contractkit/package.json
Owners: @mcortesi, @asaj, @timmoreton

Update backend
  packages/earn-pilot-functions/src/index.ts
Owners: @timmoreton

[C01] Funds of the Escrow contract can be locked by anyone (#2797)
  packages/protocol/contracts/identity/Escrow.sol
Owners: @asaj, @m-chrzan

[M08] The reveal process can get stuck for a proposer (#2795)
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/contracts/identity/test/TestRandom.sol
  packages/protocol/test/identity/random.ts
Owners: @asaj, @m-chrzan

add link to list of contributors to docs (#2576)
  packages/docs/community/contributing.md
Owners: @timmoreton, @cla-bel

Fix graphic not showing and links incorrectly having an underline Fix #2833 Fix #2834
  packages/web/public/static/normalize.css
  packages/web/src/dev/Engage.tsx
  packages/web/src/shared/Button.3.tsx
Owners: @cmcewen, @aaronmgdr

📸
  packages/web/src/_page-tests/__snapshots__/about.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/code-of-conduct.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/community.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/faq.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/past-events.test.tsx.snap
  packages/web/src/_page-tests/__snapshots__/user-agreement.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/faucet.test.tsx.snap
  packages/web/src/_page-tests/build/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/developers/__snapshots__/Index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/color.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/composition.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/icons.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/index.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/key-imagery.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/logo.test.tsx.snap
  packages/web/src/_page-tests/experience/__snapshots__/typography.test.tsx.snap
  packages/web/src/_page-tests/stake-off/__snapshots__/terms.test.tsx.snap
Owners: @cmcewen, @aaronmgdr

Use the last address attested
  packages/mobile/src/identity/contactMapping.ts
Owners: @cmcewen, @jmrossy

Update payment request handling
  packages/earn-pilot-functions/package.json
  packages/earn-pilot-functions/src/index.ts
Owners: @timmoreton

[N01] Unnecessary variable assignment (#2806)
  packages/protocol/contracts/identity/Random.sol
  packages/protocol/test/identity/attestations.ts
Owners: @asaj, @m-chrzan

updating docs
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
Owners: @timmoreton, @cla-bel

[M06] Lack of input validations (#2807)
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/common/GoldToken.sol
  packages/protocol/contracts/common/Proxy.sol
  packages/protocol/contracts/governance/Governance.sol
  packages/protocol/contracts/stability/StableToken.sol
Owners: @asaj, @m-chrzan

Update config.yml
  .circleci/config.yml
Owners: @timmoreton

Fix crash at runtime when running universal APK
  packages/mobile/android/app/build.gradle
Owners: @cmcewen, @jmrossy

changed name
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/protocol/contracts/common/UsingPrecompiles.sol
  packages/protocol/contracts/governance/Governance.sol
Owners: @timmoreton, @asaj, @m-chrzan

fixing
  packages/celotool/src/e2e-tests/transfer_tests.ts
  packages/contractkit/src/wrappers/Governance.ts
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
  packages/protocol/contracts/common/UsingPrecompiles.sol
Owners: @timmoreton, @cla-bel, @asaj, @m-chrzan

fixing
  packages/cli/src/commands/governance/viewhotfix.ts
Owners: @mcortesi, @asaj

Atomic validator key update (#2771)
  packages/celotool/src/e2e-tests/governance_tests.ts
  packages/cli/src/commands/account/authorize.test.ts
  packages/cli/src/commands/account/authorize.ts
  packages/contractkit/src/wrappers/Accounts.test.ts
  packages/contractkit/src/wrappers/Accounts.ts
  packages/docs/command-line-interface/account.md
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_accounts_.accountswrapper.md
  packages/protocol/contracts/common/Accounts.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/validators.ts
Owners: @timmoreton, @mcortesi, @asaj, @cla-bel, @m-chrzan

unlock: adding a check whether account is voting
  packages/cli/src/commands/lockedgold/unlock.ts
  packages/cli/src/utils/checks.ts
  packages/contractkit/src/wrappers/Governance.ts
Owners: @mcortesi, @asaj, @timmoreton

Use vote rewards data on validators list
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
Owners: @cmcewen, @aaronmgdr

Use vote rewards data on validators list (#2821)
  packages/web/src/dev/ValidatorsList.tsx
  packages/web/src/dev/ValidatorsListApp.tsx
Owners: @cmcewen, @aaronmgdr

updating docs
  packages/docs/developer-resources/contractkit/reference/classes/_wrappers_governance_.governancewrapper.md
Owners: @timmoreton, @cla-bel

Make detox e2e test work with split APKs
  packages/mobile/android/app/build.gradle
  packages/mobile/package.json
Owners: @cmcewen, @jmrossy

Fix ios release path
  packages/mobile/package.json
Owners: @cmcewen, @jmrossy

Allow ENVFILE to be specified outside of the build config, but still defaults to .env.test
  packages/mobile/package.json
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
Owners: @cmcewen, @jmrossy

remove random extra logging
  .env.baklava
  packages/celotool/src/cmds/bots/auto-vote.ts
Owners: @timmoreton

[contractKit] hide tmp folder
  packages/cli/.gitignore
  packages/cli/.npmignore
  packages/cli/package.json
  packages/cli/src/test-utils/ganache.setup.ts
  packages/contractkit/.gitignore
  packages/contractkit/.npmignore
  packages/contractkit/package.json
  packages/contractkit/src/test-utils/ganache.setup.ts
Owners: @mcortesi, @asaj, @timmoreton

Upgrade codedov to address security vulnerability
  package.json
  yarn.lock
Owners: @timmoreton

[Wallet] Fix android e2e test (#2844)
  packages/mobile/android/app/build.gradle
  packages/mobile/package.json
  packages/mobile/scripts/run_app.sh
  packages/mobile/scripts/run_e2e.sh
Owners: @cmcewen, @jmrossy

Reading data to leaderboard sheet (#2399)
  .env.baklavastaging
  .env.mnemonic.baklavastaging.enc
  dockerfiles/leaderboard/Dockerfile
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/leaderboard.ts
  packages/contractkit/src/kit.ts
  packages/docs/developer-resources/contractkit/reference/classes/_kit_.contractkit.md
  packages/helm-charts/leaderboard/templates/leaderboard.cronjob.yaml
  packages/helm-charts/leaderboard/templates/leaderboard.secret.yaml
  packages/helm-charts/leaderboard/values.yaml
  packages/leaderboard/package.json
  packages/leaderboard/src/board.ts
  packages/leaderboard/src/upload.ts
  yarn.lock
Owners: @timmoreton, @cla-bel, @nambrot

Seems to be working
  packages/celotool/src/cmds/gcp/remove-leaked-forwarding-rules.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/proxy.service.yaml
  packages/helm-charts/testnet/templates/txnode-private.service.yaml
  packages/helm-charts/testnet/templates/txnode-private.statefulset.yaml
  packages/helm-charts/testnet/templates/txnode.service.yaml
  packages/helm-charts/testnet/templates/validators.service.yaml
  packages/terraform-modules/testnet/main.tf
  packages/terraform-modules/testnet/modules/full-node/main.tf
  packages/terraform-modules/testnet/modules/full-node/variables.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/main.tf
  packages/terraform-modules/testnet/modules/tx-node-load-balancer/variables.tf
  packages/terraform-modules/testnet/variables.tf
Owners: @timmoreton, @nambrot, @tkporter

Update codecov (#2845)
  package.json
  yarn.lock
Owners: @timmoreton

Clean up
  packages/celotool/src/cmds/gcp/remove-leaked-forwarding-rules.ts
  packages/celotool/src/lib/geth.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/oracle.ts
  packages/celotool/src/lib/testnet-utils.ts
  packages/helm-charts/blockscout/values.yaml
  packages/helm-charts/testnet/templates/txnode-private.service.yaml
  packages/helm-charts/testnet/templates/txnode-private.statefulset.yaml
Owners: @timmoreton, @nambrot

Removing registry entry
  packages/protocol/contracts/governance/proxies/ReleaseGoldFactoryProxy.sol
  packages/protocol/lib/registry-utils.ts
Owners: @asaj, @m-chrzan

Update .env files
  .env
  .env.alfajores
  .env.alfajoresstaging
  .env.baklava
  .env.baklavastaging
  .env.integration
  .env.integrationtesting
  .env.pilot
  .env.pilotstaging
Owners: @timmoreton

Add .env vars for geth&migration options differing on developer/production testnets (#2613)
  .env
  .env.baklava
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/helm_deploy.ts
  packages/celotool/src/lib/migration-utils.ts
  packages/helm-charts/testnet/templates/_helpers.tpl
  packages/helm-charts/testnet/templates/validators.statefulset.yaml
Owners: @timmoreton, @nambrot
