Repository celo-org/celo-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timmoreton, @nambrot, @jmrossy, @cmcewen, @mcortesi, @asaj, @cla-bel, @annakaz, @m-chrzan, @tkporter, @ashishb, @yerdua, @aaronmgdr

More merge fixes
  packages/contractkit/src/wrappers/Election.ts
  packages/protocol/migrations/08_stabletoken.ts
Owners: @timmoreton, @asaj, @m-chrzan

return fixidity number instead of numerator and denominator
  packages/protocol/contracts/governance/Election.sol
  packages/protocol/contracts/governance/Validators.sol
  packages/protocol/contracts/governance/interfaces/IValidators.sol
  packages/protocol/contracts/governance/test/MockValidators.sol
  packages/protocol/test/governance/validators.ts
Owners: @asaj, @m-chrzan

Fix ci test check script
  scripts/ci_check_if_test_should_run_v2.sh
Owners: @timmoreton

Add leaderboard anchor
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/LeaderBoard.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

Update disclaimers (#2121)
  packages/docs/important-information/alfajores-testnet-disclaimer.md
  packages/docs/important-information/baklava-testnet-disclaimer.md
Owners: @timmoreton, @cla-bel

Get exchange direction rate correct
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/utils/currencyExchange.ts
Owners: @cmcewen, @jmrossy

Fix failing typescript
  packages/celotool/src/lib/geth.ts
Owners: @timmoreton

Revert "Fix ci test check script"
  scripts/ci_check_if_test_should_run_v2.sh
Owners: @timmoreton

Clean up exchange review
  packages/mobile/src/exchange/ExchangeReview.tsx
Owners: @cmcewen, @jmrossy

Remove logging statements
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Owners: @cmcewen, @jmrossy

Adjust blockscout indexer memory and CPU (#2137)
  packages/helm-charts/blockscout/templates/blockscout-indexer.deployment.yaml
Owners: @nambrot, @timmoreton

Should Fix issue Connor saw where coin was not at the end of the line
  packages/web/src/dev/Racer.tsx
Owners: @cmcewen, @aaronmgdr

Clean up saga
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/saga.ts
Owners: @cmcewen, @jmrossy

Remove unused state
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
Owners: @cmcewen, @jmrossy

Deinline style
  packages/web/src/dev/Racer.tsx
Owners: @cmcewen, @aaronmgdr

Heading Style Fixes (#2109)
  packages/web/src/about/Team.tsx
  packages/web/src/brandkit/Color.tsx
  packages/web/src/brandkit/IconsPage.tsx
  packages/web/src/brandkit/Intro.tsx
  packages/web/src/brandkit/Logo.tsx
  packages/web/src/brandkit/Typography.tsx
  packages/web/src/brandkit/color/Palette.tsx
  packages/web/src/brandkit/common/MobileMenu.tsx
  packages/web/src/brandkit/typography/UseageExample.tsx
  packages/web/src/community/EcoFund.tsx
  packages/web/src/community/connect/EventRow.tsx
  packages/web/src/community/connect/Events.tsx
  packages/web/src/community/connect/Fellow.tsx
  packages/web/src/dev/Engage.tsx
  packages/web/src/dev/Feature.tsx
  packages/web/src/dev/StackSection.tsx
  packages/web/src/fauceting/MicroComponents.tsx
  packages/web/src/fauceting/RequestFunds.tsx
  packages/web/src/forms/EmailForm.tsx
  packages/web/src/forms/FormComponents.tsx
  packages/web/src/home/version3/HomeCover.tsx
  packages/web/src/home/version3/HomeEmail.tsx
  packages/web/src/jobs/version3/JobRows.tsx
  packages/web/src/jobs/version3/Jobs.tsx
  packages/web/src/privacy/Privacy.tsx
  packages/web/src/shared/Card.tsx
  packages/web/src/shared/SocialChannels.tsx
  packages/web/src/styles.ts
  packages/web/src/terms/Agreement.tsx
  packages/web/src/terms/StakeOffTerms.tsx
Owners: @cmcewen, @aaronmgdr

Separate exchange header
  packages/mobile/src/exchange/ExchangeHeader.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Owners: @cmcewen, @jmrossy

Update translations
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeHeader.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
Owners: @cmcewen, @jmrossy

Redirect for stake off (#2134)
  packages/web/server/index.ts
Owners: @cmcewen, @aaronmgdr

Update translations
  packages/mobile/locales/en-US/exchangeFlow9.json
  packages/mobile/locales/es-419/exchangeFlow9.json
  packages/mobile/src/exchange/ExchangeHeader.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/ExchangeTradeScreen.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/utils/currencyExchange.ts
Owners: @cmcewen, @jmrossy

Clean up css, fix conversion
  packages/mobile/src/exchange/ExchangeReview.tsx
Owners: @cmcewen, @jmrossy

Add fee icon, fix confirmation card missing fee
  packages/mobile/src/exchange/ExchangeConfirmationCard.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
Owners: @cmcewen, @jmrossy

Use currency enum not token
  packages/mobile/src/exchange/ExchangeHomeScreen.tsx
  packages/mobile/src/exchange/ExchangeReview.tsx
Owners: @cmcewen, @jmrossy

Remove keyboard scrollview
  packages/mobile/src/exchange/ExchangeReview.tsx
Owners: @cmcewen, @jmrossy

Improvements from review
  packages/protocol/contracts/common/UsingRegistry.sol
  packages/protocol/contracts/governance/EpochRewards.sol
  packages/protocol/contracts/stability/Reserve.sol
  packages/protocol/test/stability/reserve.ts
Owners: @asaj, @m-chrzan

More fixes + additional CK methods
  packages/cli/src/utils/command.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/wrappers/Governance.ts
Owners: @mcortesi, @asaj, @timmoreton

Add celotool command to deploy a hotfix
  packages/celotool/src/cmds/deploy/upgrade/hotfix.ts
  packages/contractkit/src/governance/proposals.ts
  packages/contractkit/src/governance/proxy.ts
Owners: @timmoreton

Make validator-exec work for different node types
  packages/celotool/src/cmds/ssh-vm-node.ts
  packages/celotool/src/cmds/validators-exec.ts
  packages/celotool/src/cmds/vm-exec.ts
  packages/celotool/src/lib/env-utils.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Owners: @timmoreton

Allow the validator account to whitelist hotfixes
  packages/protocol/contracts/governance/Governance.sol
Owners: @asaj, @m-chrzan

Update convert to contract decimals
  packages/mobile/src/exchange/ExchangeReview.tsx
  packages/mobile/src/exchange/FeeExchangeIcon.tsx
  packages/mobile/src/exchange/saga.ts
  packages/mobile/src/icons/InfoIcon.tsx
  packages/mobile/src/tokens/saga.ts
Owners: @cmcewen, @jmrossy

Add grey icon
  packages/mobile/src/images/info-grey.png
Owners: @cmcewen, @jmrossy

Make exec be parallel for tx-nodes and proxies
  packages/celotool/src/cmds/vm-exec.ts
  packages/celotool/src/lib/vm-testnet-utils.ts
Owners: @timmoreton

Testing sync again (#2125)
  packages/cli/src/utils/helpers.ts
Owners: @mcortesi, @asaj

Print out if only or not
  packages/celotool/src/cmds/vm-exec.ts
Owners: @timmoreton

Leaderboard Improvements (#2138)
  packages/web/src/dev/Cover.tsx
  packages/web/src/dev/LeaderBoard.tsx
  packages/web/src/dev/LeaderBoardApp.tsx
  packages/web/src/dev/Racer.tsx
  packages/web/src/shared/menu-items.ts
Owners: @cmcewen, @aaronmgdr

updated leaderboard script
  packages/leaderboard/src/board.ts
Owners: @timmoreton

updating contractkit version
  packages/leaderboard/package.json
Owners: @timmoreton

remove duplicate claims
  packages/leaderboard/src/upload.ts
Owners: @timmoreton

remove duplicates
  packages/leaderboard/src/board.ts
Owners: @timmoreton

ignoring duplicate claims
  packages/cli/src/commands/account/show-claimed-accounts.ts
Owners: @mcortesi, @asaj

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @XXXX will be requested for
# review when someone opens a pull request.
* @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/analytics/ @nambrot @timmoreton
/packages/attestation-service/ @timmoreton
/packages/blockchain-api/ @jmrossy @cmcewen
/packages/celotool/ @timmoreton
/packages/cli/ @mcortesi @asaj
/packages/contractkit/ @timmoreton
/packages/dappkit/ @timmoreton
/packages/dev-utils/ @timmoreton
/packages/docs/ @timmoreton @cla-bel
/packages/faucet/ @timmoreton
/packages/helm-charts/ @nambrot @timmoreton
/packages/mobile/ @cmcewen @jmrossy
/packages/notification-service/ @annakaz @cmcewen
/packages/protocol/ @asaj @m-chrzan
/packages/react-components/ @cmcewen @jmrossy
/packages/terraform-modules/ @tkporter
/packages/transaction-metrics-exporter @nambrot
/packages/typescript/ @cmcewen
/packages/utils/ @jmrossy
/packages/verification-pool-api/ @jmrossy @nambrot
/packages/verifier/ @jmrossy @cmcewen
/packages/walletkit/ @ashishb @yerdua
/packages/web/ @cmcewen @aaronmgdr
